<sinch-tabs
  *ngIf="example == 'single-icon'"
  [value]="value"
  (-change)="onChange($event)"
  aria-label="Tabs"
>
  <sinch-tabs-icon-option aria-label="Tab" [value]="1" [disabled]="isDisabled">
    <sinch-icon name="fa-arrow-up-right-from-square"
      slot="icon"
    ></sinch-icon>
  </sinch-tabs-icon-option>
</sinch-tabs>
<sinch-tabs
  *ngIf="example == 'single'"
  [value]="value"
  (-change)="onChange($event)"
  aria-label="Tabs"
>
  <sinch-tabs-option
    aria-label="Tab"
    text="Tab label"
    [value]="1"
    [disabled]="isDisabled"
  >
    <sinch-icon name="fa-arrow-up-right-from-square"
      slot="icon"
    ></sinch-icon>
  </sinch-tabs-option>
</sinch-tabs>
<sinch-tabs
  *ngIf="example == 'icons'"
  [value]="value"
  (-change)="onChange($event)"
  aria-label="Tabs"
>
  <sinch-tabs-icon-option value="1">
    <sinch-icon name="fa-arrow-up-right-from-square"
      slot="icon"
    ></sinch-icon>
  </sinch-tabs-icon-option>
  <sinch-tabs-icon-option value="2" disabled>
    <sinch-icon name="fa-arrow-up-right-from-square"
      slot="icon"
    ></sinch-icon>
  </sinch-tabs-icon-option>
  <sinch-tabs-icon-option value="3">
    <sinch-icon name="fa-arrow-up-right-from-square"
      slot="icon"
    ></sinch-icon>
  </sinch-tabs-icon-option>
  <sinch-tabs-icon-option value="4">
    <sinch-icon name="fa-arrow-up-right-from-square"
      slot="icon"
    ></sinch-icon>
  </sinch-tabs-icon-option>
</sinch-tabs>
<sinch-tabs
  *ngIf="example == null"
  [value]="value"
  (-change)="onChange($event)"
  aria-label="Tabs"
>
  <sinch-tabs-option value="1" text="Short">
    <sinch-icon name="fa-arrow-up-right-from-square"
      slot="icon"
    ></sinch-icon>
  </sinch-tabs-option>
  <sinch-tabs-option value="2" text="Option value 2" disabled>
    <sinch-icon name="fa-arrow-up-right-from-square"
      slot="icon"
    ></sinch-icon>
  </sinch-tabs-option>
  <sinch-tabs-option value="3" text="Long option text text"></sinch-tabs-option>
  <sinch-tabs-option value="4" text="Option value 4"></sinch-tabs-option>
</sinch-tabs>
