<sinch-rich-textarea
  [attr.placeholder]="placeholderText"
  (-focus)="onFocus()"
  (-blur)="onBlur()"
  [value]="value"
  (-change)="onChange($event)"
>
  <ng-container *ngIf="hasTop; then top"></ng-container>
  <ng-container *ngIf="hasBottom; then bottom"></ng-container>
  <ng-template #top>
    <sinch-button
      slot="top"
      size="s"
      id="format-italic"
      aria-label="Format italic"
      (-click)="onFormatItalic()"
    >
      <sinch-icon name="fa-italic" slot="icon" name="format_italic"></sinch-icon>
    </sinch-button>
    <sinch-button
      slot="top"
      size="s"
      id="format-bold"
      aria-label="Format bold"
      (-click)="onFormatBold()"
    >
      <sinch-icon name="fa-bold" slot="icon" name="format_bold"></sinch-icon>
    </sinch-button>
    <sinch-button
      slot="top"
      size="s"
      id="format-strikethrough"
      aria-label="Format strikethrough"
      (-click)="onFormatStrikethrough()"
    >
      <sinch-icon name="fa-strikethrough" slot="icon" name="format_strikethrough"></sinch-icon>
    </sinch-button>
    <sinch-button
      slot="top"
      size="s"
      id="format-code-tag"
      aria-label="Format code tag"
      (-click)="onFormatCodeTag()"
    >
      <sinch-icon name="fa-code" slot="icon" name="code"></sinch-icon>
    </sinch-button>
    <sinch-button
      slot="top"
      size="s"
      id="format-ulist"
      aria-label="Format list bulleted"
      (-click)="onFormatListBulleted()"
    >
      <sinch-icon name="fa-list-ul"  slot="icon" name="format_list_bulleted"></sinch-icon >
    </sinch-button>
    <sinch-button
      slot="top"
      size="s"
      id="format-olist"
      aria-label="Format list numbered"
      (-click)="onFormatListNumbered()"
    >
      <sinch-icon name="fa-list-ol" slot="icon" name="format_list_numbered"></sinch-icon>
    </sinch-button>
  </ng-template>
  <ng-template #bottom>
    <sinch-button slot="bottom" size="s" aria-label="Attach files">
      <sinch-icon name="fa-folder" slot="icon"></sinch-icon>
    </sinch-button>
    <sinch-button slot="bottom" size="s" aria-label="Variables">
      <sinch-icon name="fa-brackets-curly" slot="icon"></sinch-icon>
    </sinch-button>
    <sinch-button slot="bottom" size="s" aria-label="Options">
      <sinch-icon name="fa-ellipsis" slot="icon" name="more_horiz"></sinch-icon>
    </sinch-button>
    <sinch-button
      slot="bottom"
      type="primary"
      size="s"
      aria-label="Send"
      text="Send"
      style="margin-left: auto;"
    >
      <sinch-icon name="fa-paper-plane-top"
        slot="right-icon"
      ></sinch-icon>
    </sinch-button>
  </ng-template>
</sinch-rich-textarea>
