.sidebar-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 26px;
  box-sizing: border-box;
  user-select: none;
}

.sidebar-title-version {
  display: flex;
  height: 48px;
  align-self: stretch;
  align-items: center;
  padding: 0 8px 0 16px;
  color: var(--sinch-sys-color-text-default);
}

.sidebar-title-version-text {
  flex: 1;
  min-width: 0;
  color: var(--sinch-sys-color-text-default);
}
