.sidebar-title {
}

.sidebar-title-link {
  all: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 26px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-title-version {
  display: flex;
  height: 48px;
  align-self: stretch;
  align-items: center;
  padding: 0 8px 0 16px;
  color: var(--sinch-color-stormy-500);
  border-radius: var(--sinch-shape-radius-m);
}

.sidebar-title-version:hover {
  background-color: var(--sinch-color-bg-hover);
}

.sidebar-title-version:active {
  background-color: var(--sinch-color-bg-active);
}

.sidebar-title-version.selected {
  background-color: var(--sinch-color-honey-200);
}

.sidebar-title-version.selected:hover {
  background-color: var(--sinch-color-honey-300);
}

.sidebar-title-version-text {
  flex: 1;
  min-width: 0;
  color: var(--sinch-color-stormy-500);
}
