<style>
:host {
  display: inline-block;
  position: relative;
  height: 96px;
  max-width: 300px;
  outline: none;
}

#button {
  all: initial;
  display: flex;
  align-items: center;
  border: 1px solid var(--sinch-color-stormy-200);
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  height: 48px;
  margin: 2px 0;
  padding: 8px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: var(--sinch-font-body);
  color: var(--sinch-color-text-default);
  fill: var(--sinch-color-stormy-500);
}

#button > * {
  pointer-events: none;
}

#button[data-unselected] {
  color: var(--sinch-color-text-muted);
}

#button:disabled {
  border-color: var(--sinch-color-snow-500);
  color: var(--sinch-color-stormy-100);
  fill: var(--sinch-color-stormy-100);
}

#button:focus {
  border-color: var(--sinch-color-stormy-300);
}

:host([invalidtext]) #button:not(:disabled) {
  border-color: var(--sinch-color-text-invalid);
}

#button > :not(:first-child) {
  margin-left: 8px;
}

#top,
#bottom {
  display: flex;
  align-items: baseline;
}

#top {
  line-height: 24px;
}

#bottom {
  line-height: 20px;
}

#label,
#optional,
#additional,
#invalid {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50%;
}

#label {
  font: var(--sinch-font-title-4);
  color: var(--sinch-color-text-default);
}

#optional {
  margin-left: auto;
  font: var(--sinch-font-small-text);
  color: var(--sinch-color-text-muted);
}

#additional {
  margin-left: auto;
  font: var(--sinch-font-extra-small-text);
  color: var(--sinch-color-text-muted);
}

#invalid {
  font: var(--sinch-font-extra-small-text);
  color: var(--sinch-color-text-invalid);
}

::slotted(sinch-input-tooltip) {
  align-self: center;
  margin: 0 8px;
}

#listbox {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 74px;
  width: 100%;
  display: none;
  list-style: none;
  outline: none;
}

#listbox > div {
  width: 100%;
  font: var(--sinch-font-body);
  background-color: var(--sinch-color-snow-100);
  border: 1px solid var(--sinch-color-stormy-500);
  border-top-width: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 15%);
}

:host([disabled]) #label,
:host([disabled]) #additional,
:host([disabled]) #optional,
:host([disabled]) #invalid,
:host([disabled]) ::slotted(sinch-input-tooltip) {
  color: var(--sinch-color-stormy-100);
  fill: var(--sinch-color-stormy-100);
}

#button[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#button[aria-expanded="true"] ~ #listbox {
  display: block;
}
</style>

<div id="top">
  <label id="label" for="button"></label>
  <slot name="tooltip"></slot>
  <span id="optional"></span>
</div>
<button
  id="button"
  aria-haspopup="listbox"
  aria-expanded="false"
  aria-labelledby="label button"
>
  <span id="content"></span>
  <svg id="dropdown-icon" width="12" height="8">
    <path d="M1.41.59 6 5.17 10.59.59 12 2 6 8 0 2 1.41.59Z"/>
  </svg>
</button>
<div id="bottom">
  <span id="invalid"></span>
  <span id="additional"></span>
</div>
<div
  id="listbox"
  tabindex="-1"
>
  <div>
    <slot name="select"></slot>
  </div>
</div>