<style>
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

#wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

#button {
  all: initial;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--sinch-color-stormy-200);
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin: 2px 0;
  padding: 8px 12px;
  font: var(--sinch-font-body);
  color: var(--sinch-color-text-default);
  background-color: var(--sinch-color-snow-100);
}

#dropdown-icon {
  fill: var(--sinch-color-stormy-500);
}

#button > * {
  pointer-events: none;
}

/* Placeholder */
#button[data-unselected] {
  color: var(--sinch-color-text-muted);
}

#button:disabled {
  border-color: var(--sinch-color-snow-500);
  color: var(--sinch-color-stormy-100);
}

#button:disabled #dropdown-icon {
  fill: var(--sinch-color-stormy-100);
}

#button:focus {
  border-color: var(--sinch-color-stormy-300);
}

:host([invalidtext]:not([invalidtext=""])) #button:not(:disabled) {
  border-color: var(--sinch-color-text-invalid);
}

#content {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#top,
#bottom {
  display: flex;
  align-items: baseline;
}

#top {
  height: 24px;
}

#bottom {
  height: 20px;
}

#label,
#optional,
#additional,
#invalid {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#label {
  font: var(--sinch-font-title-4);
  color: var(--sinch-color-text-default);
}

#optional {
  flex: 1;
  text-align: right;
  font: var(--sinch-font-small-text);
  color: var(--sinch-color-text-muted);
}

#additional {
  flex: 1;
  text-align: right;
  font: var(--sinch-font-extra-small-text);
  color: var(--sinch-color-text-muted);
}

#invalid {
  font: var(--sinch-font-extra-small-text);
  color: var(--sinch-color-text-invalid);
}

::slotted(sinch-help-tooltip) {
  align-self: center;
  margin: 0 8px;
}

:host([disabled]:not([disabled="false"])) :is(#label, #additional, #optional, #invalid) {
  color: var(--sinch-color-stormy-100);
}

/* stylelint-disable-next-line no-descending-specificity */
:host([disabled]:not([disabled="false"])) {
  --sinch-color-icon: var(--sinch-color-stormy-100);
}

#listbox {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 74px;
  width: 100%;
  display: none;
  list-style: none;
  outline: none;
  z-index: 1;
}

#listbox-body {
  font: var(--sinch-font-body);
  color: var(--sinch-color-text-default);
  background-color: var(--sinch-color-snow-100);
  border: 1px solid var(--sinch-color-stormy-500);
  border-top-width: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 15%);
  overflow-y: auto;
}

#button[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#button[aria-expanded="true"] ~ #listbox {
  display: block;
}
</style>

<div id="wrapper">
  <div id="top">
    <label id="label" for="button"></label>
    <slot name="tooltip"></slot>
    <span id="optional"></span>
  </div>
  <button
    id="button"
    aria-haspopup="listbox"
    aria-expanded="false"
    aria-labelledby="button"
  >
    <span id="content"></span>
    <svg id="dropdown-icon" width="12" height="8" aria-hidden="true">
      <path d="M1.41.59 6 5.17 10.59.59 12 2 6 8 0 2 1.41.59Z"/>
    </svg>
  </button>
  <div id="bottom">
    <span id="invalid"></span>
    <span id="additional"></span>
  </div>
  <div id="listbox" tabindex="-1">
    <div id="listbox-body">
      <slot name="select"></slot>
    </div>
  </div>
</div>
