#page-container-title {
  font: var(--sinch-comp-code-tag-font-text);
  font-size: 1.5rem;
  line-height: inherit;
  color: var(--sinch-comp-code-tag-color-default-text-initial);
  border: 1px solid var(--sinch-comp-code-tag-color-default-border-initial);
  background-color: var(--sinch-comp-code-tag-color-default-background-initial);
  white-space: var(--sinch-global-text-white-space, normal);
  display: inline-flex;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
