<style>
:host {
  display: block;
  outline: none;
}

#button {
  all: initial;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 16px 0;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--sinch-comp-tab-color-default-background-initial);
  border-top-left-radius: var(--sinch-comp-tab-shape-radius);
  border-top-right-radius: var(--sinch-comp-tab-shape-radius);
  height: 39px;

  --sinch-global-color-icon: var(--sinch-comp-tab-color-default-icon-initial);
  --sinch-global-size-icon: var(--sinch-comp-tab-size-icon);
}

#button:hover {
  background-color: var(--sinch-comp-tab-color-default-background-hover);
}

/* Outline */
#button:focus-visible::after {
  content: "";
  position: absolute;
  inset: 0;
  bottom: -3px;
  border: 2px solid var(--sinch-comp-tab-color-default-outline-focus);
  border-top-left-radius: var(--sinch-comp-tab-shape-radius);
  border-top-right-radius: var(--sinch-comp-tab-shape-radius);
  pointer-events: none;
}

#button:disabled {
  cursor: unset;
  pointer-events: none;

  --sinch-global-color-icon: var(--sinch-comp-tab-color-disabled-icon-initial);
}

:host([data-checked]) #button {
  --sinch-global-color-icon: var(--sinch-comp-tab-color-checked-icon-initial);
}

/* Underline */
:host([data-checked]) #button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  pointer-events: none;
  border-top: 2px solid var(--sinch-comp-tab-color-checked-border-initial);
}

::slotted(*) {
  display: block;
}
</style>

<sinch-tooltip id="tooltip">
  <button id="button" tabindex="0">
    <slot name="icon"></slot>
  </button>
</sinch-tooltip>
