<ng-template #checkboxTemplate>
  <sinch-dropdown-checkbox-option value="1" text="Option 1 value long long long" slot="option" aria-label="Option 1"></sinch-dropdown-checkbox-option>
  <sinch-dropdown-checkbox-option disabled value="2" text="Option 2" slot="option" aria-label="Option 2"></sinch-dropdown-checkbox-option>
  <sinch-dropdown-checkbox-option value="3" text="Option 3" slot="option" aria-label="Option 3"></sinch-dropdown-checkbox-option>
  <sinch-dropdown-checkbox-option value="4" text="Option 4" slot="option" aria-label="Option 4"></sinch-dropdown-checkbox-option>
</ng-template>
<ng-template #radioTemplate>
  <sinch-dropdown-radio-option value="1" text="Option 1 value long long long" slot="option" aria-label="Option 1"></sinch-dropdown-radio-option>
  <sinch-dropdown-radio-option disabled value="2" text="Option 2" slot="option" aria-label="Option 2"></sinch-dropdown-radio-option>
  <sinch-dropdown-radio-option value="3" text="Option 3" slot="option" aria-label="Option 3"></sinch-dropdown-radio-option>
  <sinch-dropdown-radio-option value="4" text="Option 4" slot="option" aria-label="Option 4"></sinch-dropdown-radio-option>
</ng-template>
<ng-template #selectTemplate>
  <sinch-dropdown-text-option value="1" text="Option 1 value long long long" slot="option">
    <sinch-icon-open-in-new slot="icon"></sinch-icon-open-in-new>
  </sinch-dropdown-text-option>
  <sinch-dropdown-text-option value="2" text="Option 2 value" slot="option" disabled>
    <sinch-icon-open-in-new slot="icon"></sinch-icon-open-in-new>
  </sinch-dropdown-text-option>
  <sinch-dropdown-text-option value="3" text="Option 3 value" slot="option"></sinch-dropdown-text-option>
  <sinch-dropdown-text-option value="4" text="Option 4 value" slot="option"></sinch-dropdown-text-option>
</ng-template>
<sinch-dropdown
  [attr.open]="isOpen"
  [attr.multiple]="isMultiple"
  [attr.maxvisibleitems]="maxVisibleItems"
  [attr.orientation]="orientation"
  [value]="value"
  (-close)="onClose()"
  (-change)="onChange($event)">
  <sinch-button
    slot="target"
    type="cta-secondary"
    text="Some content"
    aria-label="Button"
    (click)="onOpen()"
    (-focus)="onFocus()"
    (-blur)="onBlur()"
  ></sinch-button>
  <ng-container *ngIf="isCheckbox; then checkboxTemplate"></ng-container>
  <ng-container *ngIf="isRadio; then radioTemplate"></ng-container>
  <ng-container *ngIf="isSelect; then selectTemplate"></ng-container>
</sinch-dropdown>
