:root,
:host {
  --sinch-comp-action-menu-color-default-background-hover: var(--sinch-sys-color-container-transparent-hover);
  --sinch-comp-action-menu-color-default-background-initial: var(--sinch-sys-color-container-transparent-default);
  --sinch-comp-action-menu-color-default-background-selected: var(--sinch-sys-color-container-transparent-hover);
  --sinch-comp-action-menu-color-default-icon-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-action-menu-color-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-action-menu-color-disabled-background-initial: var(--sinch-sys-color-container-transparent-disabled);
  --sinch-comp-action-menu-color-disabled-icon-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-action-menu-color-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-action-menu-font-option: var(--sinch-sys-font-body-m);
  --sinch-comp-action-menu-size-icon: var(--sinch-sys-size-xs);
}
