.nectary-theme-base {
  --sinch-comp-avatar-border-color-default-initial: var(--sinch-sys-color-border-light);
  --sinch-comp-avatar-container-color-blue-background: var(--sinch-ref-color-complementary-night-400);
  --sinch-comp-avatar-container-color-blue-foreground: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-avatar-container-color-brown-background: var(--sinch-ref-color-complementary-mud-400);
  --sinch-comp-avatar-container-color-brown-foreground: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-avatar-container-color-celtic-background: var(--sinch-sys-color-feedback-info-background);
  --sinch-comp-avatar-container-color-celtic-foreground: var(--sinch-sys-color-feedback-info-foreground);
  --sinch-comp-avatar-container-color-dark-blue-background: var(--sinch-ref-color-complementary-night-700);
  --sinch-comp-avatar-container-color-dark-blue-foreground: var(--sinch-ref-color-complementary-night-200);
  --sinch-comp-avatar-container-color-dark-brown-background: var(--sinch-ref-color-complementary-mud-700);
  --sinch-comp-avatar-container-color-dark-brown-foreground: var(--sinch-ref-color-complementary-mud-200);
  --sinch-comp-avatar-container-color-dark-gray-background: var(--sinch-ref-color-complementary-dirt-700);
  --sinch-comp-avatar-container-color-dark-gray-foreground: var(--sinch-ref-color-complementary-dirt-200);
  --sinch-comp-avatar-container-color-dark-green-background: var(--sinch-ref-color-complementary-grass-700);
  --sinch-comp-avatar-container-color-dark-green-foreground: var(--sinch-ref-color-complementary-grass-200);
  --sinch-comp-avatar-container-color-dark-orange-background: var(--sinch-ref-color-complementary-orange-700);
  --sinch-comp-avatar-container-color-dark-orange-foreground: var(--sinch-ref-color-complementary-orange-200);
  --sinch-comp-avatar-container-color-dark-pink-background: var(--sinch-ref-color-complementary-candy-700);
  --sinch-comp-avatar-container-color-dark-pink-foreground: var(--sinch-ref-color-complementary-candy-200);
  --sinch-comp-avatar-container-color-dark-violet-background: var(--sinch-ref-color-complementary-violet-700);
  --sinch-comp-avatar-container-color-dark-violet-foreground: var(--sinch-ref-color-complementary-violet-200);
  --sinch-comp-avatar-container-color-dark-yellow-background: var(--sinch-ref-color-complementary-bolt-700);
  --sinch-comp-avatar-container-color-dark-yellow-foreground: var(--sinch-ref-color-complementary-bolt-200);
  --sinch-comp-avatar-container-color-default-background: var(--sinch-ref-color-main-snow-500);
  --sinch-comp-avatar-container-color-default-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-avatar-container-color-gray-background: var(--sinch-ref-color-complementary-dirt-400);
  --sinch-comp-avatar-container-color-gray-foreground: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-avatar-container-color-green-background: var(--sinch-ref-color-complementary-grass-400);
  --sinch-comp-avatar-container-color-green-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-avatar-container-color-jasper-background: var(--sinch-sys-color-feedback-invalid-background);
  --sinch-comp-avatar-container-color-jasper-foreground: var(--sinch-sys-color-feedback-invalid-foreground);
  --sinch-comp-avatar-container-color-light-blue-background: var(--sinch-ref-color-complementary-night-200);
  --sinch-comp-avatar-container-color-light-blue-foreground: var(--sinch-ref-color-complementary-night-700);
  --sinch-comp-avatar-container-color-light-brown-background: var(--sinch-ref-color-complementary-mud-200);
  --sinch-comp-avatar-container-color-light-brown-foreground: var(--sinch-ref-color-complementary-mud-700);
  --sinch-comp-avatar-container-color-light-gray-background: var(--sinch-ref-color-complementary-dirt-200);
  --sinch-comp-avatar-container-color-light-gray-foreground: var(--sinch-ref-color-complementary-dirt-700);
  --sinch-comp-avatar-container-color-light-green-background: var(--sinch-ref-color-complementary-grass-200);
  --sinch-comp-avatar-container-color-light-green-foreground: var(--sinch-ref-color-complementary-grass-700);
  --sinch-comp-avatar-container-color-light-orange-background: var(--sinch-ref-color-complementary-orange-200);
  --sinch-comp-avatar-container-color-light-orange-foreground: var(--sinch-ref-color-complementary-orange-700);
  --sinch-comp-avatar-container-color-light-pink-background: var(--sinch-ref-color-complementary-candy-200);
  --sinch-comp-avatar-container-color-light-pink-foreground: var(--sinch-ref-color-complementary-candy-700);
  --sinch-comp-avatar-container-color-light-violet-background: var(--sinch-ref-color-complementary-violet-200);
  --sinch-comp-avatar-container-color-light-violet-foreground: var(--sinch-ref-color-complementary-violet-700);
  --sinch-comp-avatar-container-color-light-yellow-background: var(--sinch-ref-color-complementary-bolt-200);
  --sinch-comp-avatar-container-color-light-yellow-foreground: var(--sinch-ref-color-complementary-bolt-700);
  --sinch-comp-avatar-container-color-olive-background: var(--sinch-sys-color-feedback-success-background);
  --sinch-comp-avatar-container-color-olive-foreground: var(--sinch-sys-color-feedback-success-foreground);
  --sinch-comp-avatar-container-color-orange-background: var(--sinch-ref-color-complementary-orange-400);
  --sinch-comp-avatar-container-color-orange-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-avatar-container-color-pink-background: var(--sinch-ref-color-complementary-candy-400);
  --sinch-comp-avatar-container-color-pink-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-avatar-container-color-pumpkin-background: var(--sinch-sys-color-feedback-warning-background);
  --sinch-comp-avatar-container-color-pumpkin-foreground: var(--sinch-sys-color-feedback-warning-foreground);
  --sinch-comp-avatar-container-color-violet-background: var(--sinch-ref-color-complementary-violet-400);
  --sinch-comp-avatar-container-color-violet-foreground: var(--sinch-ref-color-main-stormy-900);
  --sinch-comp-avatar-container-color-yellow-background: var(--sinch-ref-color-complementary-bolt-400);
  --sinch-comp-avatar-container-color-yellow-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-avatar-container-font-size-l-text: var(--sinch-sys-font-desktop-title-m);
  --sinch-comp-avatar-container-font-size-m-text: var(--sinch-sys-font-desktop-title-s);
  --sinch-comp-avatar-container-font-size-s-text: var(--sinch-sys-font-body-xxs);
  --sinch-comp-avatar-shape-radius: var(--sinch-sys-shape-radius-full);
  --sinch-comp-avatar-size-l: 56px;
  --sinch-comp-avatar-size-m: 40px;
  --sinch-comp-avatar-size-s: 24px;
  --sinch-comp-avatar-status-color-away-default-background: var(--sinch-sys-color-status-away-contrast);
  --sinch-comp-avatar-status-color-busy-default-background: var(--sinch-sys-color-status-busy-contrast);
  --sinch-comp-avatar-status-color-offline-default-background: var(--sinch-sys-color-status-offline-contrast);
  --sinch-comp-avatar-status-color-online-default-background: var(--sinch-sys-color-status-online-contrast);
}
