.nectary-theme-base {
  --sinch-comp-avatar-border-color-default-initial: var(--sinch-sys-color-border-subtle);
  --sinch-comp-avatar-container-color-blue-background: var(--sinch-ref-color-ocean-700);
  --sinch-comp-avatar-container-color-blue-foreground: var(--sinch-sys-color-basic-pure);
  --sinch-comp-avatar-container-color-dark-blue-background: var(--sinch-ref-color-ocean-800);
  --sinch-comp-avatar-container-color-dark-blue-foreground: var(--sinch-ref-color-ocean-100);
  --sinch-comp-avatar-container-color-dark-gray-background: var(--sinch-ref-color-neutral-800);
  --sinch-comp-avatar-container-color-dark-gray-foreground: var(--sinch-ref-color-neutral-200);
  --sinch-comp-avatar-container-color-dark-green-background: var(--sinch-ref-color-grass-700);
  --sinch-comp-avatar-container-color-dark-green-foreground: var(--sinch-ref-color-grass-200);
  --sinch-comp-avatar-container-color-dark-orange-background: var(--sinch-ref-color-pumpkin-700);
  --sinch-comp-avatar-container-color-dark-orange-foreground: var(--sinch-ref-color-pumpkin-200);
  --sinch-comp-avatar-container-color-dark-pink-background: var(--sinch-ref-color-candy-700);
  --sinch-comp-avatar-container-color-dark-pink-foreground: var(--sinch-ref-color-candy-200);
  --sinch-comp-avatar-container-color-dark-red-background: var(--sinch-ref-color-raspberry-700);
  --sinch-comp-avatar-container-color-dark-red-foreground: var(--sinch-ref-color-raspberry-200);
  --sinch-comp-avatar-container-color-dark-violet-background: var(--sinch-ref-color-violet-700);
  --sinch-comp-avatar-container-color-dark-violet-foreground: var(--sinch-ref-color-violet-200);
  --sinch-comp-avatar-container-color-dark-yellow-background: var(--sinch-ref-color-honey-700);
  --sinch-comp-avatar-container-color-dark-yellow-foreground: var(--sinch-ref-color-honey-200);
  --sinch-comp-avatar-container-color-default-background: var(--sinch-ref-color-neutral-200);
  --sinch-comp-avatar-container-color-default-foreground: var(--sinch-ref-color-neutral-900);
  --sinch-comp-avatar-container-color-gray-background: var(--sinch-ref-color-neutral-500);
  --sinch-comp-avatar-container-color-gray-foreground: var(--sinch-sys-color-basic-pure);
  --sinch-comp-avatar-container-color-green-background: var(--sinch-ref-color-grass-400);
  --sinch-comp-avatar-container-color-green-foreground: var(--sinch-ref-color-neutral-900);
  --sinch-comp-avatar-container-color-light-blue-background: var(--sinch-ref-color-ocean-100);
  --sinch-comp-avatar-container-color-light-blue-foreground: var(--sinch-ref-color-ocean-800);
  --sinch-comp-avatar-container-color-light-gray-background: var(--sinch-ref-color-neutral-200);
  --sinch-comp-avatar-container-color-light-gray-foreground: var(--sinch-ref-color-neutral-800);
  --sinch-comp-avatar-container-color-light-green-background: var(--sinch-ref-color-grass-200);
  --sinch-comp-avatar-container-color-light-green-foreground: var(--sinch-ref-color-grass-700);
  --sinch-comp-avatar-container-color-light-orange-background: var(--sinch-ref-color-pumpkin-200);
  --sinch-comp-avatar-container-color-light-orange-foreground: var(--sinch-ref-color-pumpkin-700);
  --sinch-comp-avatar-container-color-light-pink-background: var(--sinch-ref-color-candy-200);
  --sinch-comp-avatar-container-color-light-pink-foreground: var(--sinch-ref-color-candy-700);
  --sinch-comp-avatar-container-color-light-red-background: var(--sinch-ref-color-raspberry-200);
  --sinch-comp-avatar-container-color-light-red-foreground: var(--sinch-ref-color-raspberry-700);
  --sinch-comp-avatar-container-color-light-violet-background: var(--sinch-ref-color-violet-200);
  --sinch-comp-avatar-container-color-light-violet-foreground: var(--sinch-ref-color-violet-700);
  --sinch-comp-avatar-container-color-light-yellow-background: var(--sinch-ref-color-honey-200);
  --sinch-comp-avatar-container-color-light-yellow-foreground: var(--sinch-ref-color-honey-700);
  --sinch-comp-avatar-container-color-orange-background: var(--sinch-ref-color-pumpkin-400);
  --sinch-comp-avatar-container-color-orange-foreground: var(--sinch-ref-color-neutral-900);
  --sinch-comp-avatar-container-color-pink-background: var(--sinch-ref-color-candy-400);
  --sinch-comp-avatar-container-color-pink-foreground: var(--sinch-ref-color-neutral-900);
  --sinch-comp-avatar-container-color-red-background: var(--sinch-ref-color-raspberry-400);
  --sinch-comp-avatar-container-color-red-foreground: var(--sinch-ref-color-raspberry-900);
  --sinch-comp-avatar-container-color-violet-background: var(--sinch-ref-color-violet-400);
  --sinch-comp-avatar-container-color-violet-foreground: var(--sinch-sys-color-basic-pure-inverted);
  --sinch-comp-avatar-container-color-yellow-background: var(--sinch-ref-color-honey-400);
  --sinch-comp-avatar-container-color-yellow-foreground: var(--sinch-ref-color-neutral-900);
  --sinch-comp-avatar-container-font-size-l-text: var(--sinch-sys-font-desktop-title-m);
  --sinch-comp-avatar-container-font-size-m-text: var(--sinch-sys-font-desktop-title-s);
  --sinch-comp-avatar-container-font-size-s-text: var(--sinch-sys-font-body-xxs);
  --sinch-comp-avatar-shape-radius: var(--sinch-sys-shape-radius-full);
  --sinch-comp-avatar-size-l: 56px;
  --sinch-comp-avatar-size-m: 40px;
  --sinch-comp-avatar-size-s: 24px;
  --sinch-comp-avatar-status-color-away-default-background: var(--sinch-sys-color-feedback-warning-default);
  --sinch-comp-avatar-status-color-busy-default-background: var(--sinch-sys-color-feedback-danger-default);
  --sinch-comp-avatar-status-color-offline-default-background: var(--sinch-sys-color-feedback-neutral-default);
  --sinch-comp-avatar-status-color-online-default-background: var(--sinch-sys-color-feedback-success-default);
}
