:root,
:host {
  --sinch-comp-badge-shape-radius: var(--sinch-sys-shape-radius-full);
  --sinch-comp-badge-color-background: var(--sinch-sys-color-status-busy-contrast);
  --sinch-comp-badge-color-text: var(--sinch-sys-color-text-inverted);
  --sinch-comp-badge-color-border: var(--sinch-sys-color-border-light);
  --sinch-comp-badge-font-size-l: var(--sinch-sys-font-body-monospace-s);
  --sinch-comp-badge-font-size-m: var(--sinch-sys-font-body-monospace-xs);
}
