.nectary-theme-base {
  --sinch-comp-button-color-cta-primary-default-background-active: var(--sinch-sys-color-cta-active);
  --sinch-comp-button-color-cta-primary-default-background-hover: var(--sinch-sys-color-cta-hover);
  --sinch-comp-button-color-cta-primary-default-background-initial: var(--sinch-sys-color-cta-default);
  --sinch-comp-button-color-cta-primary-default-border-initial: transparent;
  --sinch-comp-button-color-cta-primary-default-icon-initial: var(--sinch-sys-color-cta-foreground);
  --sinch-comp-button-color-cta-primary-default-outline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-button-color-cta-primary-default-text-initial: var(--sinch-sys-color-cta-foreground);
  --sinch-comp-button-color-cta-primary-disabled-background-initial: var(--sinch-sys-color-cta-disabled);
  --sinch-comp-button-color-cta-primary-disabled-border-initial: transparent;
  --sinch-comp-button-color-cta-primary-disabled-icon-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-button-color-cta-primary-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-button-color-cta-secondary-default-background-active: var(--sinch-sys-color-container-main-active);
  --sinch-comp-button-color-cta-secondary-default-background-hover: var(--sinch-sys-color-container-main-hover);
  --sinch-comp-button-color-cta-secondary-default-background-initial: var(--sinch-sys-color-container-main-default);
  --sinch-comp-button-color-cta-secondary-default-border-initial: var(--sinch-sys-color-container-main-foreground);
  --sinch-comp-button-color-cta-secondary-default-icon-initial: var(--sinch-sys-color-container-main-foreground);
  --sinch-comp-button-color-cta-secondary-default-outline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-button-color-cta-secondary-default-text-initial: var(--sinch-sys-color-container-main-foreground);
  --sinch-comp-button-color-cta-secondary-disabled-background-initial: var(--sinch-sys-color-container-main-disabled);
  --sinch-comp-button-color-cta-secondary-disabled-border-initial: var(--sinch-sys-color-border-disabled);
  --sinch-comp-button-color-cta-secondary-disabled-icon-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-button-color-cta-secondary-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-button-color-danger-default-background-active: var(--sinch-sys-color-container-main-active);
  --sinch-comp-button-color-danger-default-background-hover: var(--sinch-sys-color-container-main-hover);
  --sinch-comp-button-color-danger-default-background-initial: var(--sinch-sys-color-container-main-default);
  --sinch-comp-button-color-danger-default-border-initial: var(--sinch-sys-color-border-invalid);
  --sinch-comp-button-color-danger-default-icon-initial: var(--sinch-sys-color-text-invalid);
  --sinch-comp-button-color-danger-default-outline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-button-color-danger-default-text-initial: var(--sinch-sys-color-text-invalid);
  --sinch-comp-button-color-danger-disabled-background-initial: var(--sinch-sys-color-container-main-disabled);
  --sinch-comp-button-color-danger-disabled-border-initial: var(--sinch-sys-color-border-disabled);
  --sinch-comp-button-color-danger-disabled-icon-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-button-color-danger-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-button-color-primary-default-background-active: var(--sinch-sys-color-primary-active);
  --sinch-comp-button-color-primary-default-background-hover: var(--sinch-sys-color-primary-hover);
  --sinch-comp-button-color-primary-default-background-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-button-color-primary-default-border-initial: transparent;
  --sinch-comp-button-color-primary-default-icon-initial: var(--sinch-sys-color-primary-foreground);
  --sinch-comp-button-color-primary-default-outilne-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-button-color-primary-default-text-initial: var(--sinch-sys-color-primary-foreground);
  --sinch-comp-button-color-primary-disabled-background-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-button-color-primary-disabled-border-initial: transparent;
  --sinch-comp-button-color-primary-disabled-icon-initial: var(--sinch-sys-color-primary-foreground);
  --sinch-comp-button-color-primary-disabled-text-initial: var(--sinch-sys-color-primary-foreground);
  --sinch-comp-button-color-secondary-default-background-active: var(--sinch-sys-color-container-main-active);
  --sinch-comp-button-color-secondary-default-background-hover: var(--sinch-sys-color-container-main-hover);
  --sinch-comp-button-color-secondary-default-background-initial: var(--sinch-sys-color-container-main-default);
  --sinch-comp-button-color-secondary-default-border-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-button-color-secondary-default-icon-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-button-color-secondary-default-outline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-button-color-secondary-default-text-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-button-color-secondary-disabled-background-initial: var(--sinch-sys-color-container-main-disabled);
  --sinch-comp-button-color-secondary-disabled-border-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-button-color-secondary-disabled-icon-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-button-color-secondary-disabled-text-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-button-color-tertiary-default-background-active: var(--sinch-sys-color-container-transparent-active);
  --sinch-comp-button-color-tertiary-default-background-hover: var(--sinch-sys-color-container-transparent-hover);
  --sinch-comp-button-color-tertiary-default-background-initial: var(--sinch-sys-color-container-transparent-default);
  --sinch-comp-button-color-tertiary-default-border-initial: transparent;
  --sinch-comp-button-color-tertiary-default-icon-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-button-color-tertiary-default-outline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-button-color-tertiary-default-text-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-button-color-tertiary-disabled-background-initial: var(--sinch-sys-color-container-transparent-disabled);
  --sinch-comp-button-color-tertiary-disabled-border-initial: transparent;
  --sinch-comp-button-color-tertiary-disabled-icon-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-button-color-tertiary-disabled-text-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-button-font-size-l-text: var(--sinch-sys-font-body-emphasize);
  --sinch-comp-button-font-size-m-text: var(--sinch-sys-font-body-emphasize);
  --sinch-comp-button-font-size-s-text: var(--sinch-sys-font-body-emphasize-s);
  --sinch-comp-button-shadow-cta-primary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-primary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-primary-focus: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-cta-primary-hover: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-cta-primary-initial: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-cta-secondary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-secondary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-secondary-focus: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-cta-secondary-hover: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-cta-secondary-initial: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-danger-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-danger-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-danger-focus: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-danger-hover: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-danger-initial: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-primary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-primary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-primary-focus: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-primary-hover: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-primary-initial: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-secondary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-secondary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-secondary-focus: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-secondary-hover: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-secondary-initial: var(--sinch-ref-shadow-level-1);
  --sinch-comp-button-shadow-tertiary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-focus: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-hover: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-initial: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shape-radius-size-l: var(--sinch-sys-shape-radius-l);
  --sinch-comp-button-shape-radius-size-m: var(--sinch-sys-shape-radius-m);
  --sinch-comp-button-shape-radius-size-s: var(--sinch-sys-shape-radius-s);
  --sinch-comp-button-size-container-l: var(--sinch-sys-size-l);
  --sinch-comp-button-size-container-m: var(--sinch-sys-size-m);
  --sinch-comp-button-size-container-s: var(--sinch-sys-size-s);
  --sinch-comp-button-size-icon-l: 24px;
  --sinch-comp-button-size-icon-m: 24px;
  --sinch-comp-button-size-icon-s: 16px;
}
