.nectary-theme-base {
  --sinch-comp-card-color-default-background-initial: var(--sinch-sys-color-surface-primary-default);
  --sinch-comp-card-color-default-border-initial: var(--sinch-sys-color-border-default);
  --sinch-comp-card-color-default-description-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-card-color-default-title-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-card-font-description: var(--sinch-sys-font-body-m);
  --sinch-comp-card-font-label: var(--sinch-sys-font-desktop-title-xs);
  --sinch-comp-card-font-title: var(--sinch-sys-font-desktop-title-m);
  --sinch-comp-card-shadow-hover: var(--sinch-ref-shadow-level-1);
  --sinch-comp-card-shadow-initial: var(--sinch-ref-shadow-level-0);
  --sinch-comp-card-shape-radius: var(--sinch-sys-shape-radius-l);
  --sinch-comp-card-size-icon: 48px;
}
