.nectary-theme-base {
  --sinch-comp-checkbox-color-checked-background-active: var(--sinch-sys-color-primary-active);
  --sinch-comp-checkbox-color-checked-background-hover: var(--sinch-sys-color-primary-hover);
  --sinch-comp-checkbox-color-checked-background-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-checkbox-color-checked-border-active: var(--sinch-sys-color-primary-active);
  --sinch-comp-checkbox-color-checked-border-hover: var(--sinch-sys-color-primary-hover);
  --sinch-comp-checkbox-color-checked-border-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-checkbox-color-checked-disabled-background-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-checkbox-color-checked-disabled-border-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-checkbox-color-default-background-active: var(--sinch-sys-color-surface-primary-active);
  --sinch-comp-checkbox-color-default-background-hover: var(--sinch-sys-color-surface-primary-hover);
  --sinch-comp-checkbox-color-default-background-initial: var(--sinch-sys-color-surface-primary-default);
  --sinch-comp-checkbox-color-default-border-active: var(--sinch-sys-color-border-strong);
  --sinch-comp-checkbox-color-default-border-hover: var(--sinch-sys-color-border-strong);
  --sinch-comp-checkbox-color-default-border-initial: var(--sinch-sys-color-border-strong);
  --sinch-comp-checkbox-color-default-outline-focus: var(--sinch-sys-color-focus);
  --sinch-comp-checkbox-color-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-checkbox-color-disabled-background-initial: var(--sinch-sys-color-surface-primary-default);
  --sinch-comp-checkbox-color-disabled-border-initial: var(--sinch-sys-color-border-disabled);
  --sinch-comp-checkbox-color-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-checkbox-color-invalid-background-active: var(--sinch-sys-color-surface-primary-active);
  --sinch-comp-checkbox-color-invalid-background-hover: var(--sinch-sys-color-surface-primary-hover);
  --sinch-comp-checkbox-color-invalid-background-initial: var(--sinch-sys-color-surface-primary-default);
  --sinch-comp-checkbox-color-invalid-border-active: var(--sinch-sys-color-feedback-danger-default);
  --sinch-comp-checkbox-color-invalid-border-hover: var(--sinch-sys-color-feedback-danger-default);
  --sinch-comp-checkbox-color-invalid-border-initial: var(--sinch-sys-color-feedback-danger-default);
  --sinch-comp-checkbox-color-invalid-text-initial: var(--sinch-sys-color-feedback-danger-default);
  --sinch-comp-checkbox-font-label: var(--sinch-sys-font-body-m);
  --sinch-comp-checkbox-shape-radius: var(--sinch-sys-shape-radius-s);
}
