.nectary-theme-base {
  --sinch-comp-chip-color-blue-default-background-initial: var(--sinch-ref-color-ocean-700);
  --sinch-comp-chip-color-blue-default-foreground-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-chip-color-danger-default-background-initial: var(--sinch-sys-color-feedback-danger-subtle);
  --sinch-comp-chip-color-danger-default-foreground-initial: var(--sinch-sys-color-feedback-danger-strong);
  --sinch-comp-chip-color-dark-blue-default-background-initial: var(--sinch-ref-color-ocean-800);
  --sinch-comp-chip-color-dark-blue-default-foreground-initial: var(--sinch-ref-color-ocean-100);
  --sinch-comp-chip-color-dark-gray-default-background-initial: var(--sinch-ref-color-neutral-800);
  --sinch-comp-chip-color-dark-gray-default-foreground-initial: var(--sinch-ref-color-neutral-200);
  --sinch-comp-chip-color-dark-green-default-background-initial: var(--sinch-ref-color-grass-700);
  --sinch-comp-chip-color-dark-green-default-foreground-initial: var(--sinch-ref-color-grass-200);
  --sinch-comp-chip-color-dark-orange-default-background-initial: var(--sinch-ref-color-pumpkin-700);
  --sinch-comp-chip-color-dark-orange-default-foreground-initial: var(--sinch-ref-color-pumpkin-200);
  --sinch-comp-chip-color-dark-pink-default-background-initial: var(--sinch-ref-color-candy-700);
  --sinch-comp-chip-color-dark-pink-default-foreground-initial: var(--sinch-ref-color-candy-200);
  --sinch-comp-chip-color-dark-red-default-background-initial: var(--sinch-ref-color-raspberry-700);
  --sinch-comp-chip-color-dark-red-default-foreground-initial: var(--sinch-ref-color-raspberry-200);
  --sinch-comp-chip-color-dark-violet-default-background-initial: var(--sinch-ref-color-violet-700);
  --sinch-comp-chip-color-dark-violet-default-foreground-initial: var(--sinch-ref-color-violet-200);
  --sinch-comp-chip-color-dark-yellow-default-background-initial: var(--sinch-ref-color-honey-700);
  --sinch-comp-chip-color-dark-yellow-default-foreground-initial: var(--sinch-ref-color-honey-200);
  --sinch-comp-chip-color-gray-default-background-initial: var(--sinch-ref-color-neutral-600);
  --sinch-comp-chip-color-gray-default-foreground-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-chip-color-green-default-background-initial: var(--sinch-ref-color-grass-400);
  --sinch-comp-chip-color-green-default-foreground-initial: var(--sinch-ref-color-neutral-900);
  --sinch-comp-chip-color-info-default-background-initial: var(--sinch-sys-color-feedback-info-subtle);
  --sinch-comp-chip-color-info-default-foreground-initial: var(--sinch-sys-color-feedback-info-strong);
  --sinch-comp-chip-color-light-blue-default-background-initial: var(--sinch-ref-color-ocean-100);
  --sinch-comp-chip-color-light-blue-default-foreground-initial: var(--sinch-ref-color-ocean-800);
  --sinch-comp-chip-color-light-gray-default-background-initial: var(--sinch-ref-color-neutral-200);
  --sinch-comp-chip-color-light-gray-default-foreground-initial: var(--sinch-ref-color-neutral-800);
  --sinch-comp-chip-color-light-green-default-background-initial: var(--sinch-ref-color-grass-200);
  --sinch-comp-chip-color-light-green-default-foreground-initial: var(--sinch-ref-color-grass-700);
  --sinch-comp-chip-color-light-orange-default-background-initial: var(--sinch-ref-color-pumpkin-200);
  --sinch-comp-chip-color-light-orange-default-foreground-initial: var(--sinch-ref-color-pumpkin-700);
  --sinch-comp-chip-color-light-pink-default-background-initial: var(--sinch-ref-color-candy-200);
  --sinch-comp-chip-color-light-pink-default-foreground-initial: var(--sinch-ref-color-candy-700);
  --sinch-comp-chip-color-light-red-default-background-initial: var(--sinch-ref-color-raspberry-200);
  --sinch-comp-chip-color-light-red-default-foreground-initial: var(--sinch-ref-color-raspberry-700);
  --sinch-comp-chip-color-light-violet-default-background-initial: var(--sinch-ref-color-violet-200);
  --sinch-comp-chip-color-light-violet-default-foreground-initial: var(--sinch-ref-color-violet-700);
  --sinch-comp-chip-color-light-yellow-default-background-initial: var(--sinch-ref-color-honey-200);
  --sinch-comp-chip-color-light-yellow-default-foreground-initial: var(--sinch-ref-color-honey-700);
  --sinch-comp-chip-color-neutral-default-background-initial: var(--sinch-ref-color-neutral-200);
  --sinch-comp-chip-color-neutral-default-foreground-initial: var(--sinch-ref-color-neutral-900);
  --sinch-comp-chip-color-orange-default-background-initial: var(--sinch-ref-color-pumpkin-400);
  --sinch-comp-chip-color-orange-default-foreground-initial: var(--sinch-ref-color-neutral-900);
  --sinch-comp-chip-color-outiline-focus: var(--sinch-sys-color-focus);
  --sinch-comp-chip-color-pink-default-background-initial: var(--sinch-ref-color-candy-400);
  --sinch-comp-chip-color-pink-default-foreground-initial: var(--sinch-ref-color-neutral-900);
  --sinch-comp-chip-color-red-default-background-initial: var(--sinch-ref-color-raspberry-500);
  --sinch-comp-chip-color-red-default-foreground-initial: var(--sinch-ref-color-neutral-950);
  --sinch-comp-chip-color-success-default-background-initial: var(--sinch-sys-color-feedback-success-subtle);
  --sinch-comp-chip-color-success-default-foreground-initial: var(--sinch-sys-color-feedback-success-strong);
  --sinch-comp-chip-color-violet-default-background-initial: var(--sinch-ref-color-violet-400);
  --sinch-comp-chip-color-violet-default-foreground-initial: var(--sinch-sys-color-basic-pure-inverted);
  --sinch-comp-chip-color-warning-default-background-initial: var(--sinch-sys-color-feedback-warning-subtle);
  --sinch-comp-chip-color-warning-default-foreground-initial: var(--sinch-sys-color-feedback-warning-strong);
  --sinch-comp-chip-color-yellow-default-background-initial: var(--sinch-ref-color-honey-400);
  --sinch-comp-chip-color-yellow-default-foreground-initial: var(--sinch-ref-color-neutral-900);
  --sinch-comp-chip-font-size-m-label: var(--sinch-sys-font-body-xs);
  --sinch-comp-chip-font-size-s-label: var(--sinch-sys-font-body-xs);
  --sinch-comp-chip-shape-radius: var(--sinch-sys-shape-radius-full);
  --sinch-comp-chip-size-container-m: 24px;
  --sinch-comp-chip-size-container-s: 20px;
  --sinch-comp-chip-size-icon-m: 16px;
  --sinch-comp-chip-size-icon-s: 16px;
}
