.nectary-theme-base {
  --sinch-comp-chip-color-blue-default-background-initial: var(--sinch-ref-color-complementary-night-400);
  --sinch-comp-chip-color-blue-default-foreground-initial: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-chip-color-brown-default-background-initial: var(--sinch-ref-color-complementary-mud-400);
  --sinch-comp-chip-color-brown-default-foreground-initial: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-chip-color-celtic-default-background-initial: var(--sinch-sys-color-feedback-info-background);
  --sinch-comp-chip-color-celtic-default-foreground-initial: var(--sinch-sys-color-feedback-info-foreground);
  --sinch-comp-chip-color-dark-blue-default-background-initial: var(--sinch-ref-color-complementary-night-700);
  --sinch-comp-chip-color-dark-blue-default-foreground-initial: var(--sinch-ref-color-complementary-night-200);
  --sinch-comp-chip-color-dark-brown-default-background-initial: var(--sinch-ref-color-complementary-mud-700);
  --sinch-comp-chip-color-dark-brown-default-foreground-initial: var(--sinch-ref-color-complementary-mud-200);
  --sinch-comp-chip-color-dark-gray-default-background-initial: var(--sinch-ref-color-complementary-dirt-700);
  --sinch-comp-chip-color-dark-gray-default-foreground-initial: var(--sinch-ref-color-complementary-dirt-200);
  --sinch-comp-chip-color-dark-green-default-background-initial: var(--sinch-ref-color-complementary-grass-700);
  --sinch-comp-chip-color-dark-green-default-foreground-initial: var(--sinch-ref-color-complementary-grass-200);
  --sinch-comp-chip-color-dark-orange-default-background-initial: var(--sinch-ref-color-complementary-orange-700);
  --sinch-comp-chip-color-dark-orange-default-foreground-initial: var(--sinch-ref-color-complementary-orange-200);
  --sinch-comp-chip-color-dark-pink-default-background-initial: var(--sinch-ref-color-complementary-candy-700);
  --sinch-comp-chip-color-dark-pink-default-foreground-initial: var(--sinch-ref-color-complementary-candy-200);
  --sinch-comp-chip-color-dark-red-default-background-initial: var(--sinch-ref-color-main-raspberry-700);
  --sinch-comp-chip-color-dark-red-default-foreground-initial: var(--sinch-ref-color-main-raspberry-200);
  --sinch-comp-chip-color-dark-violet-default-background-initial: var(--sinch-ref-color-complementary-violet-700);
  --sinch-comp-chip-color-dark-violet-default-foreground-initial: var(--sinch-ref-color-complementary-violet-200);
  --sinch-comp-chip-color-dark-yellow-default-background-initial: var(--sinch-ref-color-complementary-bolt-700);
  --sinch-comp-chip-color-dark-yellow-default-foreground-initial: var(--sinch-ref-color-complementary-bolt-200);
  --sinch-comp-chip-color-gray-default-background-initial: var(--sinch-ref-color-complementary-dirt-400);
  --sinch-comp-chip-color-gray-default-foreground-initial: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-chip-color-green-default-background-initial: var(--sinch-ref-color-complementary-grass-400);
  --sinch-comp-chip-color-green-default-foreground-initial: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-chip-color-jasper-default-background-initial: var(--sinch-sys-color-feedback-invalid-background);
  --sinch-comp-chip-color-jasper-default-foreground-initial: var(--sinch-sys-color-feedback-invalid-foreground);
  --sinch-comp-chip-color-light-blue-default-background-initial: var(--sinch-ref-color-complementary-night-200);
  --sinch-comp-chip-color-light-blue-default-foreground-initial: var(--sinch-ref-color-complementary-night-700);
  --sinch-comp-chip-color-light-brown-default-background-initial: var(--sinch-ref-color-complementary-mud-200);
  --sinch-comp-chip-color-light-brown-default-foreground-initial: var(--sinch-ref-color-complementary-mud-700);
  --sinch-comp-chip-color-light-gray-default-background-initial: var(--sinch-ref-color-complementary-dirt-200);
  --sinch-comp-chip-color-light-gray-default-foreground-initial: var(--sinch-ref-color-complementary-dirt-700);
  --sinch-comp-chip-color-light-green-default-background-initial: var(--sinch-ref-color-complementary-grass-200);
  --sinch-comp-chip-color-light-green-default-foreground-initial: var(--sinch-ref-color-complementary-grass-700);
  --sinch-comp-chip-color-light-orange-default-background-initial: var(--sinch-ref-color-complementary-orange-200);
  --sinch-comp-chip-color-light-orange-default-foreground-initial: var(--sinch-ref-color-complementary-orange-700);
  --sinch-comp-chip-color-light-pink-default-background-initial: var(--sinch-ref-color-complementary-candy-200);
  --sinch-comp-chip-color-light-pink-default-foreground-initial: var(--sinch-ref-color-complementary-candy-700);
  --sinch-comp-chip-color-light-red-default-background-initial: var(--sinch-ref-color-main-raspberry-200);
  --sinch-comp-chip-color-light-red-default-foreground-initial: var(--sinch-ref-color-main-raspberry-700);
  --sinch-comp-chip-color-light-violet-default-background-initial: var(--sinch-ref-color-complementary-violet-200);
  --sinch-comp-chip-color-light-violet-default-foreground-initial: var(--sinch-ref-color-complementary-violet-700);
  --sinch-comp-chip-color-light-yellow-default-background-initial: var(--sinch-ref-color-complementary-bolt-200);
  --sinch-comp-chip-color-light-yellow-default-foreground-initial: var(--sinch-ref-color-complementary-bolt-700);
  --sinch-comp-chip-color-neutral-default-background-initial: var(--sinch-ref-color-main-snow-500);
  --sinch-comp-chip-color-neutral-default-foreground-initial: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-chip-color-olive-default-background-initial: var(--sinch-sys-color-feedback-success-background);
  --sinch-comp-chip-color-olive-default-foreground-initial: var(--sinch-sys-color-feedback-success-foreground);
  --sinch-comp-chip-color-orange-default-background-initial: var(--sinch-ref-color-complementary-orange-400);
  --sinch-comp-chip-color-orange-default-foreground-initial: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-chip-color-outiline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-chip-color-pink-default-background-initial: var(--sinch-ref-color-complementary-candy-400);
  --sinch-comp-chip-color-pink-default-foreground-initial: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-chip-color-pumpkin-default-background-initial: var(--sinch-sys-color-feedback-warning-background);
  --sinch-comp-chip-color-pumpkin-default-foreground-initial: var(--sinch-sys-color-feedback-warning-foreground);
  --sinch-comp-chip-color-red-default-background-initial: var(--sinch-ref-color-main-raspberry-500);
  --sinch-comp-chip-color-red-default-foreground-initial: var(--sinch-ref-color-main-stormy-800);
  --sinch-comp-chip-color-violet-default-background-initial: var(--sinch-ref-color-complementary-violet-400);
  --sinch-comp-chip-color-violet-default-foreground-initial: var(--sinch-ref-color-main-stormy-900);
  --sinch-comp-chip-color-yellow-default-background-initial: var(--sinch-ref-color-complementary-bolt-400);
  --sinch-comp-chip-color-yellow-default-foreground-initial: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-chip-font-size-m-label: var(--sinch-sys-font-body-xs);
  --sinch-comp-chip-font-size-s-label: var(--sinch-sys-font-body-xs);
  --sinch-comp-chip-shape-radius: var(--sinch-sys-shape-radius-full);
  --sinch-comp-chip-size-container-m: 24px;
  --sinch-comp-chip-size-container-s: 20px;
  --sinch-comp-chip-size-icon-m: 16px;
  --sinch-comp-chip-size-icon-s: 16px;
}
