:root,
:host {
  --sinch-comp-code-tag-color-default-background-initial: var(--sinch-sys-color-container-contrast-secondary-default);
  --sinch-comp-code-tag-color-default-border-initial: var(--sinch-sys-color-border-light);
  --sinch-comp-code-tag-color-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-code-tag-font-text: var(--sinch-sys-font-body-monospace-m);
  --sinch-comp-code-tag-shape-radius: var(--sinch-sys-shape-radius-xs);
}
