.nectary-theme-base {
  --sinch-comp-color-menu-option-color-default-border-active: var(--sinch-ref-color-neutral-700);
  --sinch-comp-color-menu-option-color-default-border-focus: var(--sinch-sys-color-focus);
  --sinch-comp-color-menu-option-color-default-border-hover: var(--sinch-ref-color-neutral-500);
  --sinch-comp-color-menu-option-color-default-border-initial: transparent;
  --sinch-comp-color-menu-option-color-default-border-selected: var(--sinch-sys-color-basic-pure-inverted);
}
