.nectary-theme-base {
  --sinch-comp-color-swatch-color-blue-background: var(--sinch-ref-color-ocean-700);
  --sinch-comp-color-swatch-color-dark-blue-background: var(--sinch-ref-color-ocean-800);
  --sinch-comp-color-swatch-color-dark-gray-background: var(--sinch-ref-color-neutral-800);
  --sinch-comp-color-swatch-color-dark-green-background: var(--sinch-ref-color-grass-700);
  --sinch-comp-color-swatch-color-dark-orange-background: var(--sinch-ref-color-pumpkin-700);
  --sinch-comp-color-swatch-color-dark-pink-background: var(--sinch-ref-color-candy-700);
  --sinch-comp-color-swatch-color-dark-red-background: var(--sinch-ref-color-raspberry-700);
  --sinch-comp-color-swatch-color-dark-violet-background: var(--sinch-ref-color-violet-700);
  --sinch-comp-color-swatch-color-dark-yellow-background: var(--sinch-ref-color-honey-700);
  --sinch-comp-color-swatch-color-default-background: var(--sinch-ref-color-neutral-200);
  --sinch-comp-color-swatch-color-gray-background: var(--sinch-ref-color-neutral-500);
  --sinch-comp-color-swatch-color-green-background: var(--sinch-ref-color-grass-400);
  --sinch-comp-color-swatch-color-light-blue-background: var(--sinch-ref-color-ocean-100);
  --sinch-comp-color-swatch-color-light-gray-background: var(--sinch-ref-color-neutral-200);
  --sinch-comp-color-swatch-color-light-green-background: var(--sinch-ref-color-grass-200);
  --sinch-comp-color-swatch-color-light-orange-background: var(--sinch-ref-color-pumpkin-200);
  --sinch-comp-color-swatch-color-light-pink-background: var(--sinch-ref-color-candy-200);
  --sinch-comp-color-swatch-color-light-red-background: var(--sinch-ref-color-raspberry-200);
  --sinch-comp-color-swatch-color-light-violet-background: var(--sinch-ref-color-violet-200);
  --sinch-comp-color-swatch-color-light-yellow-background: var(--sinch-ref-color-honey-200);
  --sinch-comp-color-swatch-color-orange-background: var(--sinch-ref-color-pumpkin-400);
  --sinch-comp-color-swatch-color-outline-focus: var(--sinch-sys-color-focus);
  --sinch-comp-color-swatch-color-pink-background: var(--sinch-ref-color-candy-400);
  --sinch-comp-color-swatch-color-red-background: var(--sinch-ref-color-raspberry-500);
  --sinch-comp-color-swatch-color-skintone-dark-background: #7C533E;
  --sinch-comp-color-swatch-color-skintone-default-background: #FFCC4D;
  --sinch-comp-color-swatch-color-skintone-light-background: #F7DECE;
  --sinch-comp-color-swatch-color-skintone-light-medium-background: #F3D2A2;
  --sinch-comp-color-swatch-color-skintone-medium-background: #D4AB88;
  --sinch-comp-color-swatch-color-skintone-medium-dark-background: #AF7E57;
  --sinch-comp-color-swatch-color-violet-background: var(--sinch-ref-color-violet-400);
  --sinch-comp-color-swatch-color-yellow-background: var(--sinch-ref-color-honey-400);
}
