.nectary-theme-base {
  --sinch-comp-date-picker-day-color-checked-background-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-date-picker-day-color-checked-border-initial: var(--sinch-sys-color-basic-transparent);
  --sinch-comp-date-picker-day-color-checked-text-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-date-picker-day-color-default-background-hover: #0060631A;
  --sinch-comp-date-picker-day-color-default-background-initial: var(--sinch-sys-color-surface-transparent-default);
  --sinch-comp-date-picker-day-color-default-border-initial: var(--sinch-sys-color-basic-transparent);
  --sinch-comp-date-picker-day-color-default-outline-focus: var(--sinch-sys-color-focus);
  --sinch-comp-date-picker-day-color-default-range-background: #0060631A;
  --sinch-comp-date-picker-day-color-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-date-picker-day-color-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-date-picker-day-shape-radius: var(--sinch-comp-button-shape-radius-size-s);
  --sinch-comp-date-picker-font-day: var(--sinch-sys-font-body-xs);
  --sinch-comp-date-picker-font-header: var(--sinch-sys-font-body-emphasize);
  --sinch-comp-date-picker-font-today: var(--sinch-sys-font-body-xs);
  --sinch-comp-date-picker-font-weekday: var(--sinch-sys-font-body-emphasize-xs);
  --sinch-comp-date-picker-header-color-default-icon-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-date-picker-header-color-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-date-picker-today-color-checked-background-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-date-picker-today-color-checked-border-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-date-picker-today-color-checked-text-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-date-picker-today-color-default-background-hover: #0060631A;
  --sinch-comp-date-picker-today-color-default-background-initial: var(--sinch-sys-color-surface-transparent-default);
  --sinch-comp-date-picker-today-color-default-border-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-date-picker-today-color-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-date-picker-today-color-disabled-border-initial: var(--sinch-sys-color-border-subtle);
  --sinch-comp-date-picker-today-color-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-date-picker-weekday-color-default-text-initial: var(--sinch-sys-color-text-default);
}
