.nectary-theme-base {
  --sinch-comp-field-color-default-additional-initial: var(--sinch-sys-color-text-muted);
  --sinch-comp-field-color-default-label-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-field-color-default-optional-initial: var(--sinch-sys-color-text-muted);
  --sinch-comp-field-color-disabled-additional-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-field-color-disabled-label-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-field-color-disabled-optional-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-field-color-invalid-text-initial: var(--sinch-sys-color-feedback-danger-default);
  --sinch-comp-field-font-additional: var(--sinch-sys-font-body-xs);
  --sinch-comp-field-font-invalid: var(--sinch-sys-font-body-xs);
  --sinch-comp-field-font-label: var(--sinch-sys-font-desktop-title-s);
  --sinch-comp-field-font-optional: var(--sinch-sys-font-body-s);
}
