:root,
:host {
  --sinch-comp-horizontal-stepper-color-background-default: var(--sinch-sys-color-container-contrast-default);
  --sinch-comp-horizontal-stepper-color-background-visited-skip: var(--sinch-sys-color-container-contrast-default);
  --sinch-comp-horizontal-stepper-color-background-active: var(--sinch-ref-color-main-stormy-400);
  --sinch-comp-horizontal-stepper-color-background-visited: var(--sinch-ref-color-main-snow-700);
  --sinch-comp-horizontal-stepper-color-background-visited-error: var(--sinch-sys-color-feedback-invalid-background);
  --sinch-comp-horizontal-stepper-color-border-default: transparent;
  --sinch-comp-horizontal-stepper-color-border-visited-skip: var(--sinch-ref-color-main-stormy-400);
  --sinch-comp-horizontal-stepper-color-border-active: transparent;
  --sinch-comp-horizontal-stepper-color-border-visited: var(--sinch-ref-color-main-stormy-400);
  --sinch-comp-horizontal-stepper-color-border-visited-error: var(--sinch-ref-color-main-stormy-400);
  --sinch-comp-horizontal-stepper-color-icon-default: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-horizontal-stepper-color-icon-visited-skip: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-horizontal-stepper-color-icon-active: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-horizontal-stepper-color-icon-visited: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-horizontal-stepper-color-icon-visited-error: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-horizontal-stepper-color-label: var(--sinch-sys-color-text-default);
  --sinch-comp-horizontal-stepper-color-description: var(--sinch-sys-color-text-muted);
  --sinch-comp-horizontal-stepper-color-progress: var(--sinch-ref-color-main-snow-700);
  --sinch-comp-horizontal-stepper-color-progress-visited: var(--sinch-ref-color-main-stormy-400);
}
