.nectary-theme-base {
  --sinch-comp-icon-channel-color-apple-business-chat-bg: linear-gradient(0deg, #0CBD2A 0%, #5BF675 100%);
  --sinch-comp-icon-channel-color-apple-business-chat-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-facebook-bg: linear-gradient(180deg, #1877F2 0%, #1877F2 100%);
  --sinch-comp-icon-channel-color-facebook-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-facebook-messenger-bg: linear-gradient(45deg, #09F 0%, #A033FF 45%, #FF5280 82%, #FF7061 100%);
  --sinch-comp-icon-channel-color-facebook-messenger-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-google-business-bg: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  --sinch-comp-icon-channel-color-google-business-layera: #EA4335;
  --sinch-comp-icon-channel-color-google-business-layerb: #FBBC05;
  --sinch-comp-icon-channel-color-google-business-layerc: #34A853;
  --sinch-comp-icon-channel-color-google-business-layerd: #4285F4;
  --sinch-comp-icon-channel-color-instagram-bg: linear-gradient(225deg, #4F3EB7 0%, #9132AE 19%, #CF288B 53%, #FFD43C 100%);
  --sinch-comp-icon-channel-color-instagram-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-line-bg: linear-gradient(180deg, #06C755 0%, #06C755 100%);
  --sinch-comp-icon-channel-color-line-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-mms-bg: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  --sinch-comp-icon-channel-color-mms-layera: #242424;
  --sinch-comp-icon-channel-color-notify-bg: linear-gradient(180deg, #A7D7F7 0%, #A7D7F7 100%);
  --sinch-comp-icon-channel-color-notify-layera: #E44436;
  --sinch-comp-icon-channel-color-notify-layerb: #FFFFFF;
  --sinch-comp-icon-channel-color-notify-layerc: #0076BA;
  --sinch-comp-icon-channel-color-phone-bg: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  --sinch-comp-icon-channel-color-phone-layera: #242424;
  --sinch-comp-icon-channel-color-push-bg: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  --sinch-comp-icon-channel-color-push-layera: #242424;
  --sinch-comp-icon-channel-color-rcs-bg: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  --sinch-comp-icon-channel-color-rcs-layera: #242424;
  --sinch-comp-icon-channel-color-sms-bg: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  --sinch-comp-icon-channel-color-sms-layera: #242424;
  --sinch-comp-icon-channel-color-talk-bg: linear-gradient(180deg, #FFE812 0%, #FFE812 100%);
  --sinch-comp-icon-channel-color-talk-layera: #000000;
  --sinch-comp-icon-channel-color-telegram-bg: linear-gradient(180deg, #25A2E0 0%, #25A2E0 100%);
  --sinch-comp-icon-channel-color-telegram-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-twitter-bg: linear-gradient(180deg, #1D9BF0 0%, #1D9BF0 100%);
  --sinch-comp-icon-channel-color-twitter-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-viber-bg: linear-gradient(180deg, #7360F2 0%, #7360F2 100%);
  --sinch-comp-icon-channel-color-viber-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-webchat-bg: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  --sinch-comp-icon-channel-color-webchat-layera: #242424;
  --sinch-comp-icon-channel-color-wechat-bg: linear-gradient(180deg, #2DC100 0%, #2DC100 100%);
  --sinch-comp-icon-channel-color-wechat-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-whatsapp-bg: linear-gradient(180deg, #25D366 0%, #25D366 100%);
  --sinch-comp-icon-channel-color-whatsapp-layera: #FFFFFF;
  --sinch-comp-icon-channel-color-x-bg: linear-gradient(180deg, #000000 0%, #000000 100%);
  --sinch-comp-icon-channel-color-x-layera: #FFFFFF;
  --sinch-comp-icon-channel-shape-radius-default: var(--sinch-sys-shape-radius-m);
  --sinch-comp-icon-channel-shape-radius-round: var(--sinch-sys-shape-radius-full);
}
