.nectary-theme-base {
  --sinch-comp-icon-button-color-primary-default-background-active: var(--sinch-sys-color-primary-active);
  --sinch-comp-icon-button-color-primary-default-background-hover: var(--sinch-sys-color-primary-hover);
  --sinch-comp-icon-button-color-primary-default-background-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-icon-button-color-primary-default-border-initial: transparent;
  --sinch-comp-icon-button-color-primary-default-icon-initial: var(--sinch-sys-color-primary-foreground);
  --sinch-comp-icon-button-color-primary-default-outline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-icon-button-color-primary-disabled-background-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-icon-button-color-primary-disabled-border-initial: transparent;
  --sinch-comp-icon-button-color-primary-disabled-icon-initial: var(--sinch-sys-color-primary-foreground);
  --sinch-comp-icon-button-color-secondary-default-background-active: var(--sinch-sys-color-container-main-active);
  --sinch-comp-icon-button-color-secondary-default-background-hover: var(--sinch-sys-color-container-main-hover);
  --sinch-comp-icon-button-color-secondary-default-background-initial: var(--sinch-sys-color-container-main-default);
  --sinch-comp-icon-button-color-secondary-default-border-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-icon-button-color-secondary-default-icon-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-icon-button-color-secondary-default-outline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-icon-button-color-secondary-disabled-background-initial: var(--sinch-sys-color-container-main-disabled);
  --sinch-comp-icon-button-color-secondary-disabled-border-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-icon-button-color-secondary-disabled-icon-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-icon-button-color-tertiary-default-background-active: var(--sinch-sys-color-container-transparent-active);
  --sinch-comp-icon-button-color-tertiary-default-background-hover: var(--sinch-sys-color-container-transparent-hover);
  --sinch-comp-icon-button-color-tertiary-default-background-initial: var(--sinch-sys-color-container-transparent-default);
  --sinch-comp-icon-button-color-tertiary-default-border-initial: transparent;
  --sinch-comp-icon-button-color-tertiary-default-icon-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-icon-button-color-tertiary-default-outline-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-icon-button-color-tertiary-disabled-background-initial: var(--sinch-sys-color-container-transparent-disabled);
  --sinch-comp-icon-button-color-tertiary-disabled-border-initial: transparent;
  --sinch-comp-icon-button-color-tertiary-disabled-icon-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-icon-button-shadow-primary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shadow-primary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shadow-primary-focus: var(--sinch-ref-shadow-level-1);
  --sinch-comp-icon-button-shadow-primary-hover: var(--sinch-ref-shadow-level-1);
  --sinch-comp-icon-button-shadow-primary-initial: var(--sinch-ref-shadow-level-1);
  --sinch-comp-icon-button-shadow-secondary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shadow-secondary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shadow-secondary-focus: var(--sinch-ref-shadow-level-1);
  --sinch-comp-icon-button-shadow-secondary-hover: var(--sinch-ref-shadow-level-1);
  --sinch-comp-icon-button-shadow-secondary-initial: var(--sinch-ref-shadow-level-1);
  --sinch-comp-icon-button-shadow-tertiary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shadow-tertiary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shadow-tertiary-focus: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shadow-tertiary-hover: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shadow-tertiary-initial: var(--sinch-ref-shadow-level-0);
  --sinch-comp-icon-button-shape-radius-size-l: var(--sinch-sys-shape-radius-l);
  --sinch-comp-icon-button-shape-radius-size-m: var(--sinch-sys-shape-radius-m);
  --sinch-comp-icon-button-shape-radius-size-s: var(--sinch-sys-shape-radius-s);
  --sinch-comp-icon-button-shape-radius-size-xs: var(--sinch-sys-shape-radius-xs);
  --sinch-comp-icon-button-size-container-l: var(--sinch-sys-size-l);
  --sinch-comp-icon-button-size-container-m: var(--sinch-sys-size-m);
  --sinch-comp-icon-button-size-container-s: var(--sinch-sys-size-s);
  --sinch-comp-icon-button-size-container-xs: var(--sinch-sys-size-xs);
  --sinch-comp-icon-button-size-icon-l: 32px;
  --sinch-comp-icon-button-size-icon-m: 24px;
  --sinch-comp-icon-button-size-icon-s: 24px;
  --sinch-comp-icon-button-size-icon-xs: 16px;
}
