:root,
:host {
  /* Font */
  --sinch-comp-icon-font-family: "Material Icons";
  --sinch-comp-icon-font-variation-settings: "FILL" 1;
  --sinch-comp-icon-font-feature-settings: "liga";
  --sinch-comp-icon-font-weight: 400;
}
