.nectary-theme-base {
  --sinch-comp-inline-alert-color-error-default-background: var(--sinch-sys-color-feedback-invalid-background);
  --sinch-comp-inline-alert-color-error-default-icon: var(--sinch-sys-color-feedback-invalid-contrast);
  --sinch-comp-inline-alert-color-error-default-text: var(--sinch-sys-color-text-default);
  --sinch-comp-inline-alert-color-info-default-background: var(--sinch-sys-color-feedback-info-background);
  --sinch-comp-inline-alert-color-info-default-icon: var(--sinch-sys-color-feedback-info-contrast);
  --sinch-comp-inline-alert-color-info-default-text: var(--sinch-sys-color-text-default);
  --sinch-comp-inline-alert-color-success-default-background: var(--sinch-sys-color-feedback-success-background);
  --sinch-comp-inline-alert-color-success-default-icon: var(--sinch-sys-color-feedback-success-contrast);
  --sinch-comp-inline-alert-color-success-default-text: var(--sinch-sys-color-text-default);
  --sinch-comp-inline-alert-color-warning-default-background: var(--sinch-sys-color-feedback-warning-background);
  --sinch-comp-inline-alert-color-warning-default-icon: var(--sinch-sys-color-feedback-warning-contrast);
  --sinch-comp-inline-alert-color-warning-default-text: var(--sinch-sys-color-text-default);
  --sinch-comp-inline-alert-font-body: var(--sinch-sys-font-body-m);
  --sinch-comp-inline-alert-font-title: var(--sinch-sys-font-desktop-title-s);
  --sinch-comp-inline-alert-shape-radius: var(--sinch-sys-shape-radius-l);
}
