.nectary-theme-base {
  --sinch-comp-link-color-default-icon-hover: var(--sinch-sys-color-primary-hover);
  --sinch-comp-link-color-default-icon-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-link-color-default-outline-focus: var(--sinch-sys-color-focus);
  --sinch-comp-link-color-default-text-hover: var(--sinch-sys-color-primary-hover);
  --sinch-comp-link-color-default-text-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-link-color-disabled-icon-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-link-color-disabled-text-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-link-default-font-initial: var(--sinch-sys-font-body-link);
  --sinch-comp-link-default-text-decoration-disabled: none;
  --sinch-comp-link-default-text-decoration-hover: none;
  --sinch-comp-link-default-text-decoration-initial: var(--sinch-ref-typography-text-decoration-underline);
  --sinch-comp-link-standalone-font-initial: var(--sinch-sys-font-body-emphasize);
}
