:root,
:host {
  --sinch-comp-list-color-default-background-initial: var(--sinch-sys-color-container-transparent-default);
  --sinch-comp-list-color-default-background-hover: var(--sinch-sys-color-container-transparent-hover);
  --sinch-comp-list-color-default-border-initial: var(--sinch-sys-color-border-light);
}
