.nectary-theme-base {
  --sinch-comp-progress-color-default-background-initial: #00606333;
  --sinch-comp-progress-color-default-bar-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-progress-color-default-text-initial: var(--sinch-sys-color-text-default);
}
