:root,
:host {
  --sinch-comp-select-button-shape-radius-size-l: var(--sinch-sys-shape-radius-l);
  --sinch-comp-select-button-shape-radius-size-m: var(--sinch-sys-shape-radius-m);
  --sinch-comp-select-button-shape-radius-size-s: var(--sinch-sys-shape-radius-s);
  --sinch-comp-select-button-color-default-background-initial: var(--sinch-sys-color-container-main-default);
  --sinch-comp-select-button-color-default-border-initial: var(--sinch-sys-color-border-dark);
  --sinch-comp-select-button-color-default-border-focus: var(--sinch-sys-color-border-focus);
  --sinch-comp-select-button-color-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-select-button-color-default-placeholder-initial: var(--sinch-sys-color-text-muted);
  --sinch-comp-select-button-color-default-icon-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-select-button-color-disabled-border-initial: var(--sinch-sys-color-border-disabled);
  --sinch-comp-select-button-color-disabled-icon-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-select-button-color-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-select-button-color-disabled-placeholder-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-select-button-color-invalid-border-initial: var(--sinch-sys-color-border-invalid);
  --sinch-comp-select-button-size-container-l: var(--sinch-sys-size-l);
  --sinch-comp-select-button-size-container-m: var(--sinch-sys-size-m);
  --sinch-comp-select-button-size-container-s: var(--sinch-sys-size-s);
  --sinch-comp-select-button-size-icon-l: 24px;
  --sinch-comp-select-button-size-icon-m: 24px;
  --sinch-comp-select-button-size-icon-s: 24px;
  --sinch-comp-select-button-font-input: var(--sinch-sys-font-body-m);
  --sinch-comp-select-button-font-placeholder: var(--sinch-sys-font-body-m);
}
