.nectary-theme-base {
  --sinch-comp-tag-border: var(--sinch-sys-color-basic-pure);
  --sinch-comp-tag-color-blue-background: var(--sinch-ref-color-ocean-700);
  --sinch-comp-tag-color-blue-foreground: var(--sinch-ref-color-ocean-50);
  --sinch-comp-tag-color-danger-background: var(--sinch-sys-color-feedback-danger-subtle);
  --sinch-comp-tag-color-danger-foreground: var(--sinch-sys-color-feedback-danger-strong);
  --sinch-comp-tag-color-dark-blue-background: var(--sinch-ref-color-ocean-800);
  --sinch-comp-tag-color-dark-blue-foreground: var(--sinch-ref-color-ocean-100);
  --sinch-comp-tag-color-dark-gray-background: var(--sinch-ref-color-neutral-800);
  --sinch-comp-tag-color-dark-gray-foreground: var(--sinch-ref-color-neutral-200);
  --sinch-comp-tag-color-dark-green-background: var(--sinch-ref-color-grass-700);
  --sinch-comp-tag-color-dark-green-foreground: var(--sinch-ref-color-grass-100);
  --sinch-comp-tag-color-dark-orange-background: var(--sinch-ref-color-pumpkin-700);
  --sinch-comp-tag-color-dark-orange-foreground: var(--sinch-ref-color-pumpkin-100);
  --sinch-comp-tag-color-dark-pink-background: var(--sinch-ref-color-candy-700);
  --sinch-comp-tag-color-dark-pink-foreground: var(--sinch-ref-color-candy-100);
  --sinch-comp-tag-color-dark-red-background: var(--sinch-ref-color-raspberry-800);
  --sinch-comp-tag-color-dark-red-foreground: var(--sinch-ref-color-raspberry-100);
  --sinch-comp-tag-color-dark-violet-background: var(--sinch-ref-color-violet-700);
  --sinch-comp-tag-color-dark-violet-foreground: var(--sinch-ref-color-violet-100);
  --sinch-comp-tag-color-dark-yellow-background: var(--sinch-ref-color-honey-600);
  --sinch-comp-tag-color-dark-yellow-foreground: var(--sinch-ref-color-honey-100);
  --sinch-comp-tag-color-default-background: var(--sinch-ref-color-neutral-200);
  --sinch-comp-tag-color-default-foreground: var(--sinch-ref-color-neutral-900);
  --sinch-comp-tag-color-gray-background: var(--sinch-ref-color-neutral-700);
  --sinch-comp-tag-color-gray-foreground: var(--sinch-ref-color-neutral-100);
  --sinch-comp-tag-color-green-background: var(--sinch-ref-color-grass-500);
  --sinch-comp-tag-color-green-foreground: var(--sinch-ref-color-grass-50);
  --sinch-comp-tag-color-info-background: var(--sinch-sys-color-feedback-info-subtle);
  --sinch-comp-tag-color-info-foreground: var(--sinch-sys-color-feedback-info-strong);
  --sinch-comp-tag-color-light-blue-background: var(--sinch-ref-color-ocean-100);
  --sinch-comp-tag-color-light-blue-foreground: var(--sinch-ref-color-ocean-800);
  --sinch-comp-tag-color-light-gray-background: var(--sinch-ref-color-neutral-200);
  --sinch-comp-tag-color-light-gray-foreground: var(--sinch-ref-color-neutral-800);
  --sinch-comp-tag-color-light-green-background: var(--sinch-ref-color-grass-200);
  --sinch-comp-tag-color-light-green-foreground: var(--sinch-ref-color-grass-700);
  --sinch-comp-tag-color-light-orange-background: var(--sinch-ref-color-pumpkin-200);
  --sinch-comp-tag-color-light-orange-foreground: var(--sinch-ref-color-pumpkin-700);
  --sinch-comp-tag-color-light-pink-background: var(--sinch-ref-color-candy-200);
  --sinch-comp-tag-color-light-pink-foreground: var(--sinch-ref-color-candy-700);
  --sinch-comp-tag-color-light-red-background: var(--sinch-ref-color-raspberry-200);
  --sinch-comp-tag-color-light-red-foreground: var(--sinch-ref-color-raspberry-700);
  --sinch-comp-tag-color-light-violet-background: var(--sinch-ref-color-violet-200);
  --sinch-comp-tag-color-light-violet-foreground: var(--sinch-ref-color-violet-700);
  --sinch-comp-tag-color-light-yellow-background: var(--sinch-ref-color-honey-200);
  --sinch-comp-tag-color-light-yellow-foreground: var(--sinch-ref-color-honey-700);
  --sinch-comp-tag-color-orange-background: var(--sinch-ref-color-pumpkin-500);
  --sinch-comp-tag-color-orange-foreground: var(--sinch-ref-color-pumpkin-50);
  --sinch-comp-tag-color-pink-background: var(--sinch-ref-color-candy-500);
  --sinch-comp-tag-color-pink-foreground: var(--sinch-ref-color-candy-50);
  --sinch-comp-tag-color-red-background: var(--sinch-ref-color-raspberry-600);
  --sinch-comp-tag-color-red-foreground: var(--sinch-ref-color-raspberry-50);
  --sinch-comp-tag-color-success-background: var(--sinch-sys-color-feedback-success-subtle);
  --sinch-comp-tag-color-success-foreground: var(--sinch-sys-color-feedback-success-strong);
  --sinch-comp-tag-color-violet-background: var(--sinch-ref-color-violet-500);
  --sinch-comp-tag-color-violet-foreground: var(--sinch-ref-color-violet-50);
  --sinch-comp-tag-color-warning-background: var(--sinch-sys-color-feedback-warning-subtle);
  --sinch-comp-tag-color-warning-foreground: var(--sinch-sys-color-feedback-warning-strong);
  --sinch-comp-tag-color-yellow-background: var(--sinch-ref-color-honey-350);
  --sinch-comp-tag-color-yellow-foreground: var(--sinch-ref-color-honey-900);
  --sinch-comp-tag-font-size-m-label: var(--sinch-ref-typography-font-weight-700) var(--sinch-ref-typography-font-size-12)/var(--sinch-ref-typography-line-height-20) var(--sinch-ref-typography-font-family-main);
  --sinch-comp-tag-font-size-s-label: var(--sinch-ref-typography-font-weight-700) var(--sinch-ref-typography-font-size-10)/var(--sinch-ref-typography-line-height-20) var(--sinch-ref-typography-font-family-main);
  --sinch-comp-tag-shape-radius: var(--sinch-sys-shape-radius-full);
  --sinch-comp-tag-size-container-m: 24px;
  --sinch-comp-tag-size-container-s: 20px;
  --sinch-comp-tag-size-icon-m: 16px;
  --sinch-comp-tag-size-icon-s: 14px;
}
