.nectary-theme-base {
  --sinch-comp-tag-color-blue-background: var(--sinch-ref-color-complementary-night-400);
  --sinch-comp-tag-color-blue-foreground: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-tag-color-brown-background: var(--sinch-ref-color-complementary-mud-400);
  --sinch-comp-tag-color-brown-foreground: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-tag-color-celtic-background: var(--sinch-sys-color-feedback-info-background);
  --sinch-comp-tag-color-celtic-foreground: var(--sinch-sys-color-feedback-info-foreground);
  --sinch-comp-tag-color-dark-blue-background: var(--sinch-ref-color-complementary-night-700);
  --sinch-comp-tag-color-dark-blue-foreground: var(--sinch-ref-color-complementary-night-200);
  --sinch-comp-tag-color-dark-brown-background: var(--sinch-ref-color-complementary-mud-700);
  --sinch-comp-tag-color-dark-brown-foreground: var(--sinch-ref-color-complementary-mud-200);
  --sinch-comp-tag-color-dark-gray-background: var(--sinch-ref-color-complementary-dirt-700);
  --sinch-comp-tag-color-dark-gray-foreground: var(--sinch-ref-color-complementary-dirt-200);
  --sinch-comp-tag-color-dark-green-background: var(--sinch-ref-color-complementary-grass-700);
  --sinch-comp-tag-color-dark-green-foreground: var(--sinch-ref-color-complementary-grass-200);
  --sinch-comp-tag-color-dark-pink-background: var(--sinch-ref-color-complementary-candy-700);
  --sinch-comp-tag-color-dark-pink-foreground: var(--sinch-ref-color-complementary-candy-200);
  --sinch-comp-tag-color-dark-red-background: var(--sinch-ref-color-main-raspberry-700);
  --sinch-comp-tag-color-dark-red-foreground: var(--sinch-ref-color-main-raspberry-200);
  --sinch-comp-tag-color-dark-violet-background: var(--sinch-ref-color-complementary-violet-700);
  --sinch-comp-tag-color-dark-violet-foreground: var(--sinch-ref-color-complementary-violet-200);
  --sinch-comp-tag-color-dark-yellow-background: var(--sinch-ref-color-complementary-bolt-700);
  --sinch-comp-tag-color-dark-yellow-foreground: var(--sinch-ref-color-complementary-bolt-200);
  --sinch-comp-tag-color-dark-orange-background: var(--sinch-ref-color-complementary-orange-700);
  --sinch-comp-tag-color-dark-orange-foreground: var(--sinch-ref-color-complementary-orange-200);
  --sinch-comp-tag-color-default-background: var(--sinch-ref-color-main-snow-500);
  --sinch-comp-tag-color-default-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-tag-color-gray-background: var(--sinch-ref-color-complementary-dirt-400);
  --sinch-comp-tag-color-gray-foreground: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-tag-color-green-background: var(--sinch-ref-color-complementary-grass-400);
  --sinch-comp-tag-color-green-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-tag-color-jasper-background: var(--sinch-sys-color-feedback-invalid-background);
  --sinch-comp-tag-color-jasper-foreground: var(--sinch-sys-color-feedback-invalid-foreground);
  --sinch-comp-tag-color-light-blue-background: var(--sinch-ref-color-complementary-night-200);
  --sinch-comp-tag-color-light-blue-foreground: var(--sinch-ref-color-complementary-night-700);
  --sinch-comp-tag-color-light-brown-background: var(--sinch-ref-color-complementary-mud-200);
  --sinch-comp-tag-color-light-brown-foreground: var(--sinch-ref-color-complementary-mud-700);
  --sinch-comp-tag-color-light-gray-background: var(--sinch-ref-color-complementary-dirt-200);
  --sinch-comp-tag-color-light-gray-foreground: var(--sinch-ref-color-complementary-dirt-700);
  --sinch-comp-tag-color-light-green-background: var(--sinch-ref-color-complementary-grass-200);
  --sinch-comp-tag-color-light-green-foreground: var(--sinch-ref-color-complementary-grass-700);
  --sinch-comp-tag-color-light-orange-background: var(--sinch-ref-color-complementary-orange-200);
  --sinch-comp-tag-color-light-orange-foreground: var(--sinch-ref-color-complementary-orange-700);
  --sinch-comp-tag-color-light-pink-background: var(--sinch-ref-color-complementary-candy-200);
  --sinch-comp-tag-color-light-pink-foreground: var(--sinch-ref-color-complementary-candy-700);
  --sinch-comp-tag-color-light-red-background: var(--sinch-ref-color-main-raspberry-200);
  --sinch-comp-tag-color-light-red-foreground: var(--sinch-ref-color-main-raspberry-700);
  --sinch-comp-tag-color-light-violet-background: var(--sinch-ref-color-complementary-violet-200);
  --sinch-comp-tag-color-light-violet-foreground: var(--sinch-ref-color-complementary-violet-700);
  --sinch-comp-tag-color-light-yellow-background: var(--sinch-ref-color-complementary-bolt-200);
  --sinch-comp-tag-color-light-yellow-foreground: var(--sinch-ref-color-complementary-bolt-700);
  --sinch-comp-tag-color-olive-background: var(--sinch-sys-color-feedback-success-background);
  --sinch-comp-tag-color-olive-foreground: var(--sinch-sys-color-feedback-success-foreground);
  --sinch-comp-tag-color-orange-background: var(--sinch-ref-color-complementary-orange-400);
  --sinch-comp-tag-color-orange-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-tag-color-pink-background: var(--sinch-ref-color-complementary-candy-400);
  --sinch-comp-tag-color-pink-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-tag-color-pumpkin-background: var(--sinch-sys-color-feedback-warning-background);
  --sinch-comp-tag-color-pumpkin-foreground: var(--sinch-sys-color-feedback-warning-foreground);
  --sinch-comp-tag-color-red-background: var(--sinch-ref-color-main-raspberry-500);
  --sinch-comp-tag-color-red-foreground: var(--sinch-ref-color-main-stormy-800);
  --sinch-comp-tag-color-violet-background: var(--sinch-ref-color-complementary-violet-400);
  --sinch-comp-tag-color-violet-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-tag-color-yellow-background: var(--sinch-ref-color-complementary-bolt-400);
  --sinch-comp-tag-color-yellow-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-tag-font-size-m-label: var(--sinch-sys-font-body-xs);
  --sinch-comp-tag-font-size-s-label: var(--sinch-sys-font-body-xs);
  --sinch-comp-tag-shape-radius: var(--sinch-sys-shape-radius-full);
  --sinch-comp-tag-size-container-m: 24px;
  --sinch-comp-tag-size-container-s: 20px;
  --sinch-comp-tag-size-icon-m: 16px;
  --sinch-comp-tag-size-icon-s: 16px;
}
