.nectary-theme-base {
  --sinch-comp-textarea-color-default-background-initial: var(--sinch-sys-color-surface-primary-default);
  --sinch-comp-textarea-color-default-border-focus: var(--sinch-sys-color-focus);
  --sinch-comp-textarea-color-default-border-initial: var(--sinch-sys-color-border-strong);
  --sinch-comp-textarea-color-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-textarea-color-default-text-placeholder: var(--sinch-sys-color-text-muted);
  --sinch-comp-textarea-color-disabled-border-initial: var(--sinch-sys-color-border-disabled);
  --sinch-comp-textarea-color-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-textarea-color-invalid-border-initial: var(--sinch-sys-color-feedback-danger-default);
  --sinch-comp-textarea-font-input: var(--sinch-sys-font-body-m);
  --sinch-comp-textarea-shape-radius: var(--sinch-comp-button-shape-radius-size-m);
  --sinch-comp-textarea-size-resize-handle: 20px;
}
