.nectary-theme-base {
  --sinch-comp-toast-color-error-default-background: var(--sinch-sys-color-feedback-danger-subtle);
  --sinch-comp-toast-color-error-default-icon: var(--sinch-sys-color-feedback-danger-default);
  --sinch-comp-toast-color-error-default-text: var(--sinch-sys-color-text-default);
  --sinch-comp-toast-color-info-default-background: var(--sinch-sys-color-feedback-info-subtle);
  --sinch-comp-toast-color-info-default-icon: var(--sinch-sys-color-feedback-info-default);
  --sinch-comp-toast-color-info-default-text: var(--sinch-sys-color-text-default);
  --sinch-comp-toast-color-success-default-background: var(--sinch-sys-color-feedback-success-subtle);
  --sinch-comp-toast-color-success-default-icon: var(--sinch-sys-color-feedback-success-default);
  --sinch-comp-toast-color-success-default-text: var(--sinch-sys-color-text-default);
  --sinch-comp-toast-color-warning-default-background: var(--sinch-sys-color-feedback-warning-subtle);
  --sinch-comp-toast-color-warning-default-icon: var(--sinch-sys-color-feedback-warning-default);
  --sinch-comp-toast-color-warning-default-text: var(--sinch-sys-color-text-default);
  --sinch-comp-toast-font-body: var(--sinch-sys-font-body-m);
  --sinch-comp-toast-shadow: var(--sinch-ref-shadow-level-2);
  --sinch-comp-toast-shape-radius: var(--sinch-sys-shape-radius-l);
}
