.nectary-theme-base {
  --sinch-comp-toggle-color-checked-background-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-toggle-color-checked-disabled-background-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-toggle-color-default-background-initial: var(--sinch-ref-color-neutral-300);
  --sinch-comp-toggle-color-default-knob-background-initial: var(--sinch-sys-color-surface-primary-default);
  --sinch-comp-toggle-color-default-label-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-toggle-color-default-outline-focus: var(--sinch-sys-color-focus);
  --sinch-comp-toggle-color-default-text-inside-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-toggle-color-disabled-background-initial: var(--sinch-ref-color-neutral-100);
  --sinch-comp-toggle-color-disabled-label-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-toggle-font-size-m-inside-text: var(--sinch-sys-font-body-xxs);
  --sinch-comp-toggle-font-size-m-label: var(--sinch-sys-font-body-m);
  --sinch-comp-toggle-font-size-s-label: var(--sinch-sys-font-body-s);
  --sinch-comp-toggle-shadow-knob-default: var(--sinch-ref-shadow-level-1);
  --sinch-comp-toggle-shadow-knob-disabled: var(--sinch-ref-shadow-level-0);
}
