<style>
:host {
  display: block;
  height: var(--sinch-sys-size-m);

  --sinch-local-shape-radius: var(--sinch-sys-shape-radius-m);
}

:host([size="xs"]) {
  height: var(--sinch-sys-size-xs);

  --sinch-local-shape-radius: var(--sinch-sys-shape-radius-xs);
}

:host([size="s"]) {
  height: var(--sinch-sys-size-s);

  --sinch-local-shape-radius: var(--sinch-sys-shape-radius-s);
}

:host([size="m"]) {
  height: var(--sinch-sys-size-m);

  --sinch-local-shape-radius: var(--sinch-sys-shape-radius-m);
}

:host([size="l"]) {
  height: var(--sinch-sys-size-l);

  --sinch-local-shape-radius: var(--sinch-sys-shape-radius-l);
}

#content {
  height: 100%;
  background-color: var(--sinch-sys-color-border-light);
  border-radius: var(--sinch-local-shape-radius);
}
</style>

<div id="content"></div>
