<sinch-button-group [attr.type]="type" [attr.size]="size">
  <sinch-button-group-item
    [attr.text]="text"
    [attr.disabled]="isDisabled"
    [attr.toggled]="isToggled"
    aria-label="Button"
    (-focus)="onFocus()"
    (-blur)="onBlur()"
    (-click)="onClick()"
  >
    <sinch-spinner *ngIf="hasSpinner" slot="icon"></sinch-spinner>
    <sinch-icon icons-version="2" name="fa-arrow-up-right-from-square"
      *ngIf="hasIcon"
      slot="icon"
    ></sinch-icon>
    <sinch-icon icons-version="2" name="fa-angle-down"
      *ngIf="hasRightIcon"
      slot="right-icon"
    ></sinch-icon>
  </sinch-button-group-item>
  <sinch-button-group-item [attr.text]="text" aria-label="Button">
    <sinch-spinner *ngIf="hasSpinner" slot="icon"></sinch-spinner>
    <sinch-icon icons-version="2" name="fa-arrow-up-right-from-square"
      *ngIf="hasIcon"
      slot="icon"
    ></sinch-icon>
    <sinch-icon icons-version="2" name="fa-angle-down"
      *ngIf="hasRightIcon"
      slot="right-icon"
    ></sinch-icon>
  </sinch-button-group-item>
  <sinch-button-group-item [attr.text]="text" aria-label="Button">
    <sinch-spinner *ngIf="hasSpinner" slot="icon"></sinch-spinner>
    <sinch-icon icons-version="2" name="fa-arrow-up-right-from-square"
      *ngIf="hasIcon"
      slot="icon"
    ></sinch-icon>
    <sinch-icon icons-version="2" name="fa-angle-down"
      *ngIf="hasRightIcon"
      slot="right-icon"
    ></sinch-icon
  ></sinch-button-group-item>
</sinch-button-group>
