<style>
:host {
  display: inline;
  outline: none;
}

a {
  font: var(--sinch-font-body);
  font-size: inherit;
  line-height: inherit;
  color: var(--sinch-color-text-link);
  fill: var(--sinch-color-text-link);

  --sinch-size-icon: 1em;
}

#icon {
  display: none;
  margin-left: 0.2em;
  vertical-align: -0.25em;
}

a:hover {
  color: var(--sinch-color-tropical-600);
  fill: var(--sinch-color-tropical-600);
}

:host([disabled]:not([disabled="false"])) a {
  color: var(--sinch-color-tropical-200);
  pointer-events: none;
  cursor: initial;
  fill: var(--sinch-color-tropical-200);
}

:host([external]:not([external="false"])) #icon {
  display: inline-block;
}
</style>

<a>
  <span id="content"></span>
  <sinch-icon-open-in-new id="icon"></sinch-icon-open-in-new>
</a>
