.nectary-theme-base.nectary-theme-dark {
  --sinch-comp-chip-border: var(--sinch-sys-color-basic-pure);
  --sinch-comp-chip-color-blue-default-background-initial: var(--sinch-ref-color-ocean-700);
  --sinch-comp-chip-color-blue-default-foreground-initial: var(--sinch-ref-color-ocean-100);
  --sinch-comp-chip-color-dark-blue-default-background-initial: var(--sinch-ref-color-ocean-800);
  --sinch-comp-chip-color-dark-blue-default-foreground-initial: var(--sinch-ref-color-ocean-100);
  --sinch-comp-chip-color-dark-gray-default-background-initial: var(--sinch-ref-color-neutral-800);
  --sinch-comp-chip-color-dark-gray-default-foreground-initial: var(--sinch-ref-color-neutral-100);
  --sinch-comp-chip-color-dark-green-default-background-initial: var(--sinch-ref-color-grass-800);
  --sinch-comp-chip-color-dark-green-default-foreground-initial: var(--sinch-ref-color-grass-100);
  --sinch-comp-chip-color-dark-orange-default-background-initial: var(--sinch-ref-color-pumpkin-800);
  --sinch-comp-chip-color-dark-orange-default-foreground-initial: var(--sinch-ref-color-pumpkin-200);
  --sinch-comp-chip-color-dark-pink-default-background-initial: var(--sinch-ref-color-candy-800);
  --sinch-comp-chip-color-dark-pink-default-foreground-initial: var(--sinch-ref-color-candy-200);
  --sinch-comp-chip-color-dark-red-default-background-initial: var(--sinch-ref-color-raspberry-800);
  --sinch-comp-chip-color-dark-red-default-foreground-initial: var(--sinch-ref-color-raspberry-200);
  --sinch-comp-chip-color-dark-violet-default-background-initial: var(--sinch-ref-color-violet-800);
  --sinch-comp-chip-color-dark-violet-default-foreground-initial: var(--sinch-ref-color-violet-100);
  --sinch-comp-chip-color-dark-yellow-default-background-initial: var(--sinch-ref-color-honey-800);
  --sinch-comp-chip-color-dark-yellow-default-foreground-initial: var(--sinch-ref-color-honey-100);
  --sinch-comp-chip-color-gray-default-background-initial: var(--sinch-ref-color-neutral-700);
  --sinch-comp-chip-color-gray-default-foreground-initial: var(--sinch-ref-color-neutral-100);
  --sinch-comp-chip-color-green-default-background-initial: var(--sinch-ref-color-grass-700);
  --sinch-comp-chip-color-green-default-foreground-initial: var(--sinch-ref-color-grass-50);
  --sinch-comp-chip-color-light-blue-default-background-initial: var(--sinch-ref-color-ocean-600);
  --sinch-comp-chip-color-light-blue-default-foreground-initial: var(--sinch-ref-color-ocean-50);
  --sinch-comp-chip-color-light-gray-default-background-initial: var(--sinch-ref-color-neutral-600);
  --sinch-comp-chip-color-light-gray-default-foreground-initial: var(--sinch-ref-color-neutral-50);
  --sinch-comp-chip-color-light-green-default-background-initial: var(--sinch-ref-color-grass-500);
  --sinch-comp-chip-color-light-green-default-foreground-initial: var(--sinch-ref-color-grass-50);
  --sinch-comp-chip-color-light-orange-default-background-initial: var(--sinch-ref-color-pumpkin-500);
  --sinch-comp-chip-color-light-orange-default-foreground-initial: var(--sinch-ref-color-pumpkin-50);
  --sinch-comp-chip-color-light-pink-default-background-initial: var(--sinch-ref-color-candy-500);
  --sinch-comp-chip-color-light-pink-default-foreground-initial: var(--sinch-ref-color-candy-50);
  --sinch-comp-chip-color-light-red-default-background-initial: var(--sinch-ref-color-raspberry-600);
  --sinch-comp-chip-color-light-red-default-foreground-initial: var(--sinch-ref-color-raspberry-50);
  --sinch-comp-chip-color-light-violet-default-background-initial: var(--sinch-ref-color-violet-500);
  --sinch-comp-chip-color-light-violet-default-foreground-initial: var(--sinch-ref-color-violet-50);
  --sinch-comp-chip-color-light-yellow-default-background-initial: var(--sinch-ref-color-honey-500);
  --sinch-comp-chip-color-light-yellow-default-foreground-initial: var(--sinch-ref-color-honey-50);
  --sinch-comp-chip-color-neutral-default-background-initial: var(--sinch-ref-color-neutral-700);
  --sinch-comp-chip-color-neutral-default-foreground-initial: var(--sinch-ref-color-neutral-50);
  --sinch-comp-chip-color-orange-default-background-initial: var(--sinch-ref-color-pumpkin-700);
  --sinch-comp-chip-color-orange-default-foreground-initial: var(--sinch-ref-color-pumpkin-50);
  --sinch-comp-chip-color-pink-default-background-initial: var(--sinch-ref-color-candy-700);
  --sinch-comp-chip-color-pink-default-foreground-initial: var(--sinch-ref-color-candy-50);
  --sinch-comp-chip-color-red-default-background-initial: var(--sinch-ref-color-raspberry-700);
  --sinch-comp-chip-color-red-default-foreground-initial: var(--sinch-ref-color-raspberry-50);
  --sinch-comp-chip-color-violet-default-background-initial: var(--sinch-ref-color-violet-700);
  --sinch-comp-chip-color-violet-default-foreground-initial: var(--sinch-ref-color-violet-50);
  --sinch-comp-chip-color-yellow-default-background-initial: var(--sinch-ref-color-honey-700);
  --sinch-comp-chip-color-yellow-default-foreground-initial: var(--sinch-ref-color-honey-100);
}
