.nectary-theme-base.nectary-theme-dark {
  --sinch-comp-date-picker-day-color-default-background-hover: #0060634D;
  --sinch-comp-date-picker-day-color-default-range-background: #0060634D;
  --sinch-comp-date-picker-today-color-default-background-hover: #0060634D;
}
