<style>
:host {
  display: inline;
  outline: none;
}

a {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font: var(--sinch-font-emphasized-body);
  color: var(--sinch-color-tropical-500);
  text-decoration: none;
  outline: none;

  --sinch-color-icon: var(--sinch-color-tropical-500);
  --sinch-size-icon: 24px;
}

a:hover {
  color: var(--sinch-color-tropical-600);
  fill: var(--sinch-color-tropical-600);
}

:host([disabled]:not([disabled="false"])) a {
  color: var(--sinch-color-tropical-300);
  pointer-events: none;
  cursor: initial;

  --sinch-color-icon: var(--sinch-color-tropical-300);
}

span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex-shrink: 1;
}

</style>

<a><span></span><sinch-icon-arrow-forward></sinch-icon-arrow-forward></a>
