<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 68px;
}

#circle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  min-width: 0;
}

#circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--sinch-color-snow-700);
  font: var(--sinch-font-title-s);
  line-height: 32px;
  text-align: center;
  color: var(--sinch-color-stormy-500);
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;

  --sinch-size-icon: 20px;
}

#label-wrapper {
  margin-top: 4px;
  min-width: 0;
  flex: 1;
}

#label {
  font: var(--sinch-font-title-s);
  color: var(--sinch-color-stormy-500);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#description {
  font: var(--sinch-font-text-xs);
  color: var(--sinch-color-stormy-300);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#icon-error,
#icon-success {
  display: none;
}

#content {
  display: none;
  padding: 16px 0 16px 40px;
}

#progress {
  position: absolute;
  width: 1px;
  left: 16px;
  top: 32px;
  bottom: 0;
  background-color: var(--sinch-color-snow-700);
  transform: translateX(-50%);
}

#bar {
  position: absolute;
  width: 1px;
  height: 0;
  background-color: var(--sinch-color-stormy-400);
  left: 0;
  top: 0;
}

:host(:last-of-type) #progress {
  display: none;
}

:host([data-progress="active"]) #content {
  display: block;
}

:host([data-progress="active"]) #circle {
  color: var(--sinch-color-snow-100);
  background-color: var(--sinch-color-stormy-400);
}

:host([data-progress="done"]) #circle {
  border-color: var(--sinch-color-stormy-400);
}

:host([data-progress="done"]:not([status])) #icon-success {
  display: block;
}

:host([data-progress="done"][status="error"]) #circle {
  background-color: var(--sinch-color-feedback-invalid-bg);
  border-color: var(--sinch-color-stormy-400);
}

:host([data-progress="done"][status="error"]) #icon-error {
  display: block;
}

:host([data-progress="done"]:not([status="skip"])) #circle-text {
  display: none;
}

:host([data-progress="done"]) #bar {
  height: 100%;
}
</style>

<div id="wrapper">
  <div id="progress">
    <div id="bar"></div>
  </div>
  <div id="circle-wrapper">
    <div id="circle" aria-hidden="true">
      <sinch-icon id="icon-success"></sinch-icon>
      <sinch-icon id="icon-error"></sinch-icon>
      <span id="circle-text"></span>
    </div>
    <div id="label-wrapper">
      <div id="label"></div>
      <div id="description"></div>
    </div>
  </div>
  <div id="content">
    <slot></slot>
  </div>
</div>
