.code {
  font: var(--sinch-font-text-s);
}

.code-title {
  cursor: pointer;
  user-select: none;
  outline: none;
}

.code-content {
  position: relative;
}

.code-copy {
  position: absolute;
  top: 16px;
  right: 16px;
}
