.nectary-theme-base.cpaas-theme-base.cpaas-theme-mailjet {
  --sinch-sys-color-border-default: var(--sinch-ref-color-neutral-300);
  --sinch-sys-color-border-light: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-border-dark: var(--sinch-ref-color-neutral-500);
  --sinch-sys-color-border-active: var(--sinch-ref-color-tropical-700);
  --sinch-sys-color-border-focus: var(--sinch-ref-color-ocean-400);
  --sinch-sys-color-border-invalid: var(--sinch-ref-color-raspberry-600);
  --sinch-sys-color-container-active: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-container-default: #FFFFFF;
  --sinch-sys-color-container-disabled: #FFFFFF;
  --sinch-sys-color-container-foreground: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-container-hover: var(--sinch-ref-color-neutral-50);
  --sinch-sys-color-cta-active: var(--sinch-ref-color-violet-800);
  --sinch-sys-color-cta-default: var(--sinch-ref-color-violet-700);
  --sinch-sys-color-cta-disabled: #4D4AA866;
  --sinch-sys-color-cta-foreground: #FFFFFF;
  --sinch-sys-color-cta-hover: var(--sinch-ref-color-violet-600);
  --sinch-sys-color-feedback-success-subtle: var(--sinch-ref-color-grass-100);
  --sinch-sys-color-primary-active: #0C333B;
  --sinch-sys-color-primary-default: #006063;
  --sinch-sys-color-primary-disabled: #00606366;
  --sinch-sys-color-primary-foreground: #FFFFFF;
  --sinch-sys-color-primary-hover: #007874;
  --sinch-sys-color-text-default: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-text-disabled: var(--sinch-ref-color-neutral-500);
  --sinch-sys-color-text-invalid: var(--sinch-ref-color-raspberry-600);
  --sinch-sys-color-text-inverted: #FFFFFF;
  --sinch-sys-color-text-link: var(--sinch-ref-color-tropical-700);
  --sinch-sys-color-text-link-disabled: #00606366;
  --sinch-sys-color-text-muted: var(--sinch-ref-color-neutral-200);
}
