.nectary-theme-base.cpaas-theme-base.cpaas-theme-mailjet {
  --sinch-sys-color-analytics-decorative-dark: #645DC2;
  --sinch-sys-color-analytics-decorative-default: #857AEB;
  --sinch-sys-color-analytics-decorative-light: #C1B6FA;
  --sinch-sys-color-analytics-decorative-alt-dark: #A3488E;
  --sinch-sys-color-analytics-decorative-alt-default: #D15CB4;
  --sinch-sys-color-analytics-decorative-alt-light: #FAA5E3;
  --sinch-sys-color-analytics-error-dark: #993138;
  --sinch-sys-color-analytics-error-default: #EB5454;
  --sinch-sys-color-analytics-error-light: #FFBDBD;
  --sinch-sys-color-analytics-informative-dark: #112F57;
  --sinch-sys-color-analytics-informative-default: #0D68D1;
  --sinch-sys-color-analytics-informative-light: #61ABFF;
  --sinch-sys-color-analytics-pending-dark: #EB9605;
  --sinch-sys-color-analytics-pending-default: #FFCA61;
  --sinch-sys-color-analytics-pending-light: #FFDD99;
  --sinch-sys-color-analytics-success-dark: #2B7845;
  --sinch-sys-color-analytics-success-default: #53BD69;
  --sinch-sys-color-analytics-success-light: #99E0A2;
  --sinch-sys-color-analytics-warning-dark: #D66A33;
  --sinch-sys-color-analytics-warning-default: #F58B4E;
  --sinch-sys-color-analytics-warning-light: #FFAD75;
  --sinch-sys-color-border-active: #006063;
  --sinch-sys-color-border-dark: #808A91;
  --sinch-sys-color-border-default: #C9D1D6;
  --sinch-sys-color-border-focus: #61ABFF;
  --sinch-sys-color-border-invalid: #BD3C41;
  --sinch-sys-color-border-light: #DCE2E5;
  --sinch-sys-color-chip-decorative: #E2DBFF;
  --sinch-sys-color-chip-decorative-alt: #FFD6F3;
  --sinch-sys-color-chip-error: #FFD8D6;
  --sinch-sys-color-chip-foreground: #14181C;
  --sinch-sys-color-chip-informative: #C7E5FF;
  --sinch-sys-color-chip-neutral: #DCE2E5;
  --sinch-sys-color-chip-pending: #FCECCB;
  --sinch-sys-color-chip-success: #D7F5D7;
  --sinch-sys-color-chip-warning: #FFD9BD;
  --sinch-sys-color-container-active: #DCE2E5;
  --sinch-sys-color-container-default: #FFFFFF;
  --sinch-sys-color-container-disabled: #FFFFFF;
  --sinch-sys-color-container-foreground: #14181C;
  --sinch-sys-color-container-hover: #F7F9FA;
  --sinch-sys-color-cta-active: #2A2A54;
  --sinch-sys-color-cta-default: #4D4AA8;
  --sinch-sys-color-cta-disabled: #4D4AA866;
  --sinch-sys-color-cta-foreground: #FFFFFF;
  --sinch-sys-color-cta-hover: #645DC2;
  --sinch-sys-color-feedback-success-subtle: #D7F5D7;
  --sinch-sys-color-primary-active: #0C333B;
  --sinch-sys-color-primary-default: #006063;
  --sinch-sys-color-primary-disabled: #00606366;
  --sinch-sys-color-primary-foreground: #FFFFFF;
  --sinch-sys-color-primary-hover: #007874;
  --sinch-sys-color-status-blocked: #14181C;
  --sinch-sys-color-status-clicked: #3D9956;
  --sinch-sys-color-status-delivered: #9EA9B0;
  --sinch-sys-color-status-excluded: #D66A33;
  --sinch-sys-color-status-hard-bounced: #F58B4E;
  --sinch-sys-color-status-opened: #77D486;
  --sinch-sys-color-status-retrying: #808A91;
  --sinch-sys-color-status-sent: #857AEB;
  --sinch-sys-color-status-soft-bounced: #FFC299;
  --sinch-sys-color-status-spam: #BD3C41;
  --sinch-sys-color-status-subscribed: #99E0A2;
  --sinch-sys-color-status-total: #808A91;
  --sinch-sys-color-status-unsubscribed: #A3488E;
  --sinch-sys-color-text-default: #14181C;
  --sinch-sys-color-text-disabled: #DCE2E5;
  --sinch-sys-color-text-invalid: #BD3C41;
  --sinch-sys-color-text-inverted: #FFFFFF;
  --sinch-sys-color-text-link: #006063;
  --sinch-sys-color-text-link-disabled: #00606366;
  --sinch-sys-color-text-muted: #808A91;
}
