<style>
:host {
  display: block;
}

#wrapper {
  height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: var(--sinch-comp-card-color-main-default-background-initial);
  border-radius: var(--sinch-comp-card-shape-radius);
  border: 1px solid var(--sinch-comp-card-color-main-default-border-initial);
}

#scroll {
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 4px 24px;
}
</style>

<div id="wrapper">
  <div id="scroll">
    <slot></slot>
  </div>
</div>
