<style>
:host {
  display: block;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 8px;
  height: 148px;
  min-width: 148px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: var(--sinch-comp-file-drop-shape-radius);
  background-color: var(--sinch-comp-file-drop-color-default-background-initial);
}

/* Border */
#wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px dashed var(--sinch-comp-file-drop-color-default-border-initial);
  border-radius: var(--sinch-comp-file-drop-shape-radius);
  pointer-events: none;
}

#placeholder {
  align-self: center;
  text-align: center;

  --sinch-global-color-text: var(--sinch-comp-file-drop-color-default-placeholder-initial);
  --sinch-comp-text-font: var(--sinch-comp-file-drop-font-placeholder);
}

:host([invalid]) #wrapper {
  background-color: var(--sinch-comp-file-drop-color-invalid-background-initial);
}

:host([invalid]) #wrapper::after {
  border-color: var(--sinch-comp-file-drop-color-invalid-border-initial);
  border-width: 1px;
}

#wrapper.drop::after {
  pointer-events: all;
}

#wrapper.drop.valid {
  background-color: var(--sinch-comp-file-drop-color-default-background-active);
}

#wrapper.drop.valid::after {
  border-color: var(--sinch-comp-file-drop-color-default-border-active);
  border-width: 2px;
}

#wrapper.drop.valid > #placeholder {
  --sinch-global-color-text: var(--sinch-comp-file-drop-color-default-placeholder-active);
}

#wrapper.drop.invalid {
  background-color: var(--sinch-comp-file-drop-color-invalid-background-active);
}

#wrapper.drop.invalid::after {
  border-color: var(--sinch-comp-file-drop-color-invalid-border-active);
  border-width: 2px;
}

#wrapper.drop.invalid > #placeholder {
  --sinch-global-color-text: var(--sinch-comp-file-drop-color-invalid-placeholder-active);
}

:host([disabled]) > #wrapper > #placeholder {
  --sinch-global-color-text: var(--sinch-comp-file-drop-color-disabled-placeholder-initial);
}

:host([disabled]) > #wrapper {
  background-color: var(--sinch-comp-file-drop-color-disabled-background-initial);
}

:host([disabled]) > #wrapper::after {
  border-color: var(--sinch-comp-file-drop-color-disabled-border-initial);
  border-width: 1px;
}
</style>

<div id="wrapper">
  <sinch-text id="placeholder" type="m" aria-hidden="true"></sinch-text>
  <sinch-file-picker id="file-picker">
    <slot></slot>
  </sinch-file-picker>
</div>
