.nectary-theme-base.cpaas-theme-base {
  --sinch-comp-button-shape-radius-size-l: 8px;
  --sinch-comp-button-shape-radius-size-m: 8px;
  --sinch-comp-button-shape-radius-size-s: 8px;
  --sinch-comp-button-shape-radius-size-xs: 8px;
}
