<style>
:host {
  display: block;
  outline: none;

  --sinch-grid-num-columns: 1;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(var(--sinch-grid-num-columns), auto);
  gap: 16px;
  width: fit-content;
}

:host([small]) #wrapper {
  gap: 8px;
}

:host([cols="2"]) {
  --sinch-grid-num-columns: 2;
}

:host([cols="3"]) {
  --sinch-grid-num-columns: 3;
}

:host([cols="4"]) {
  --sinch-grid-num-columns: 4;
}

:host([cols="5"]) {
  --sinch-grid-num-columns: 5;
}

:host([cols="6"]) {
  --sinch-grid-num-columns: 6;
}

:host([cols="7"]) {
  --sinch-grid-num-columns: 7;
}

:host([cols="8"]) {
  --sinch-grid-num-columns: 8;
}

:host([cols="9"]) {
  --sinch-grid-num-columns: 9;
}

:host([cols="10"]) {
  --sinch-grid-num-columns: 10;
}
</style>

<div id="wrapper">
  <slot></slot>
</div>
