<style>
  :host {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
  }

  :host([disabled]) {
    cursor: initial;
  }

  #wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    width: 100%;
    height: var(--sinch-local-size);
    padding: 0 8px 0 12px;
    background-color: var(
      --sinch-comp-select-button-color-default-background-initial
    );
    border-radius: var(--sinch-local-shape-radius);

    --sinch-local-size: var(--sinch-comp-select-button-size-container-m);
    --sinch-global-size-icon: var(--sinch-comp-select-button-size-icon-m);
    --sinch-local-shape-radius: var(
      --sinch-comp-select-button-shape-radius-size-m
    );
    --sinch-global-color-icon: var(
      --sinch-comp-select-button-color-default-icon-initial
    );
  }

  :host([data-size="l"]) > #wrapper {
    --sinch-local-size: var(--sinch-comp-select-button-size-container-l);
    --sinch-global-size-icon: var(--sinch-comp-select-button-size-icon-l);
    --sinch-local-shape-radius: var(
      --sinch-comp-select-button-shape-radius-size-l
    );
  }

  :host([data-size="m"]) > #wrapper {
    --sinch-local-size: var(--sinch-comp-select-button-size-container-m);
    --sinch-global-size-icon: var(--sinch-comp-select-button-size-icon-m);
    --sinch-local-shape-radius: var(
      --sinch-comp-select-button-shape-radius-size-m
    );
  }

  :host([data-size="s"]) > #wrapper {
    --sinch-local-size: var(--sinch-comp-select-button-size-container-s);
    --sinch-global-size-icon: var(--sinch-comp-select-button-size-icon-s);
    --sinch-local-shape-radius: var(
      --sinch-comp-select-button-shape-radius-size-s
    );
  }

  :host([data-size="l"]) #wrapper {
    padding: 0 12px;
  }

  :host([data-size="m"]) #wrapper {
    padding: 0 8px 0 12px;
  }

  :host([data-size="s"]) #wrapper {
    padding: 0 4px 0 12px;
  }

  :host([disabled]) #wrapper {
    --sinch-global-color-icon: var(
      --sinch-comp-select-button-color-disabled-icon-initial
    );
  }

  #text {
    flex: 1;
    min-width: 0;

    --sinch-comp-text-font: var(--sinch-comp-select-button-font-input);
    --sinch-global-color-text: var(
      --sinch-comp-select-button-color-default-text-initial
    );
  }

  #text:empty {
    display: none;
  }

  #placeholder {
    display: none;
    flex: 1;
    min-width: 0;

    --sinch-comp-text-font: var(--sinch-comp-select-button-font-placeholder);
    --sinch-global-color-text: var(
      --sinch-comp-select-button-color-default-placeholder-initial
    );
  }

  #text:empty + #placeholder {
    display: block;
  }

  #border {
    position: absolute;
    border: 1px solid
      var(--sinch-comp-select-button-color-default-border-initial);
    border-radius: var(--sinch-local-shape-radius);
    inset: 0;
    pointer-events: none;
  }

  :host(:focus-visible) #border {
    border-color: var(--sinch-comp-select-button-color-default-border-focus);
    border-width: 2px;
  }

  :host([invalid]) #border {
    border-color: var(--sinch-comp-select-button-color-invalid-border-initial);
  }

  :host([disabled]) #border {
    border-color: var(--sinch-comp-select-button-color-disabled-border-initial);
  }

  :host([disabled]) #text {
    --sinch-global-color-text: var(
      --sinch-comp-select-button-color-disabled-text-initial
    );
  }

  /* stylelint-disable-next-line no-descending-specificity */
  :host([disabled]) #placeholder {
    --sinch-global-color-text: var(
      --sinch-comp-select-button-color-disabled-placeholder-initial
    );
  }

  #left {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    gap: 4px;
    margin-left: -4px;
  }

  #left.empty {
    display: none;
  }

  #dropdown-icon {
    margin-left: -4px;
  }
</style>

<div id="wrapper" inert>
  <div id="border"></div>
  <div id="left">
    <slot name="left"></slot>
  </div>
  <slot name="icon"></slot>
  <sinch-text id="text" type="m" ellipsis></sinch-text>
  <sinch-text id="placeholder" type="m" ellipsis></sinch-text>
  <sinch-icon-fa-chevron-down id="dropdown-icon"></sinch-icon-fa-chevron-down>
</div>
