<style>
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;

  --sinch-size: var(--sinch-size-m);
  --sinch-size-icon: var(--sinch-select-button-icon-size-m);
  --sinch-shape-radius: var(--sinch-shape-radius-m);
}

:host([data-size="l"]) {
  --sinch-size: var(--sinch-size-l);
  --sinch-size-icon: var(--sinch-select-button-icon-size-l);
  --sinch-shape-radius: var(--sinch-shape-radius-l);
}

:host([data-size="m"]) {
  --sinch-size: var(--sinch-size-m);
  --sinch-size-icon: var(--sinch-select-button-icon-size-m);
  --sinch-shape-radius: var(--sinch-shape-radius-m);
}

:host([data-size="s"]) {
  --sinch-size: var(--sinch-size-s);
  --sinch-size-icon: var(--sinch-select-button-icon-size-s);
  --sinch-shape-radius: var(--sinch-shape-radius-s);
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
  height: var(--sinch-size);
  padding: 0 8px 0 12px;
  background-color: var(--sinch-color-bg-primary-light);
  border-radius: var(--sinch-shape-radius);

  --sinch-color-icon: var(--sinch-color-stormy-500);
}

:host([data-size="l"]) #wrapper {
  padding: 0 12px;
}

:host([data-size="m"]) #wrapper {
  padding: 0 8px 0 12px;
}

:host([data-size="s"]) #wrapper {
  padding: 0 4px 0 12px;
}

:host([disabled]:not([disabled="false"])) #wrapper {
  --sinch-color-icon: var(--sinch-color-text-disabled);
}

#button {
  all: initial;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#border {
  position: absolute;
  border: 1px solid var(--sinch-color-border-dark);
  border-radius: var(--sinch-shape-radius);
  inset: 0;
  pointer-events: none;
}

#text {
  flex: 1;
  min-width: 0;

  /* Placeholder color */
  color: var(--sinch-color-text-muted);
}

:host([text]:not([text=""])) #text {
  /* Text color */
  color: var(--sinch-color-text-default);
}

#button:disabled {
  cursor: initial;
}

#button:disabled + #border {
  border-color: var(--sinch-color-border-disabled);
}

#button:focus-visible + #border {
  border-color: var(--sinch-color-border-focus);
  border-width: 2px;
}

:host([invalid]) #button:enabled + #border {
  border-color: var(--sinch-color-text-invalid);
}

#button:disabled ~ #text {
  color: var(--sinch-color-text-disabled);
}

#left {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  gap: 4px;
  margin-left: -4px;
}

#left.empty {
  display: none;
}

#dropdown-icon {
  margin-left: -4px;
}
</style>

<div id="wrapper">
  <button id="button"></button>
  <div id="border"></div>
  <div id="left">
    <slot name="left"></slot>
  </div>
  <slot name="icon"></slot>
  <sinch-text id="text" type="m" ellipsis></sinch-text>
  <sinch-icon id="dropdown-icon"></sinch-icon>
</div>
