<style>
:host {
  display: grid;
  grid-template-columns: repeat(var(--sinch-comp-grid-columns-xl), minmax(0, 1fr));
  grid-column-gap: var(--sinch-comp-grid-gutter-xl);
  grid-row-gap: var(--sinch-comp-grid-gutter-xl);
  padding: var(--sinch-comp-grid-margin-xl);
}

/* L */
@media only screen and (max-width: 1439px) {
  :host {
    grid-template-columns: repeat(var(--sinch-comp-grid-columns-l), minmax(0, 1fr));
    grid-column-gap: var(--sinch-comp-grid-gutter-l);
    grid-row-gap: var(--sinch-comp-grid-gutter-l);
    padding: var(--sinch-comp-grid-margin-l);
  }
}

/* M */
@media only screen and (max-width: 1023px) {
  :host {
    grid-template-columns: repeat(var(--sinch-comp-grid-columns-m), minmax(0, 1fr));
    grid-column-gap: var(--sinch-comp-grid-gutter-m);
    grid-row-gap: var(--sinch-comp-grid-gutter-m);
    padding: var(--sinch-comp-grid-margin-m);
  }
}

/* S */
@media only screen and (max-width: 767px) {
  :host {
    grid-template-columns: repeat(var(--sinch-comp-grid-columns-s), minmax(0, 1fr));
    grid-column-gap: var(--sinch-comp-grid-gutter-s);
    grid-row-gap: var(--sinch-comp-grid-gutter-s);
    padding: var(--sinch-comp-grid-margin-s);
  }
}
</style>

<slot name="item"></slot>
