<style>
:host {
  display: block;
}

#wrapper {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  padding: 4px 10px 4px 6px;
  align-items: center;
  gap: 6px;
  user-select: none;
  cursor: pointer;
}

#text {
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#icon-container {
  position: relative;
  width: 32px;
  height: 32px;
}

/* Border / Background */
#icon-container::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  pointer-events: none;
  background-color: var(--sinch-color-snow-100);
  border: 2px solid var(--sinch-color-stormy-300);
  transition: background-color 0.1s linear;
  box-sizing: border-box;
}

#icon-checkmark {
  position: absolute;
  left: 9px;
  top: 10px;
  transition: opacity 0.1s linear;
  opacity: 0;
  pointer-events: none;
  fill: var(--sinch-color-snow-100);
}

:host([checked]:not([checked="false"])) #icon-container::before {
  background-color: var(--sinch-color-tropical-500);
  border-color: var(--sinch-color-tropical-500);
}

:host([checked]:not([checked="false"])) #icon-checkmark {
  opacity: 1;
}

:host(:hover) > #wrapper,
:host([data-selected]) > #wrapper {
  background-color: var(--sinch-color-snow-500);
}

:host([disabled]:not([disabled="false"])) > #wrapper {
  color: var(--sinch-color-stormy-100);
  cursor: initial;
}

:host([disabled]:not([disabled="false"])) #icon-container::before {
  border-color: var(--sinch-color-stormy-100);
}

@media (prefers-reduced-motion) {
  #icon-checkmark,
  #icon-container::before {
    transition: none;
  }
}
</style>

<div id="wrapper">
  <div id="icon-container">
    <svg id="icon-checkmark" width="14" height="11" aria-hidden="true">
      <path d="M14 1.99999L12.59 0.579987L4.98995 8.17L1.49997 4.5L0.0799694 5.91L4.98995 11L14 1.99999Z"/>
    </svg>
  </div>
  <span id="text"></span>
</div>
