<style>
:host {
  display: block;
}

#wrapper {
  display: flex;
  align-items: center;
  height: 24px;
}

#progress,
#bar {
  height: 8px;
  border-radius: 4px;
}

#progress {
  background-color: var(--sinch-comp-progress-color-default-background-initial);
  flex: 1;
  min-width: 0;
}

#bar {
  background-color: var(--sinch-comp-progress-color-default-bar-initial);
  width: 0;
}

#text {
  display: none;
  width: 46px;

  --sinch-global-color-text: var(--sinch-comp-progress-color-default-text-initial);
}

:host([detailed]) #text {
  display: block;
}
</style>

<div id="wrapper">
  <sinch-text id="text" type="m"></sinch-text>
  <div id="progress">
    <div id="bar"></div>
  </div>
</div>
