
.HomePage{
    display: flex;
    background-color: #e5e5e5;
    flex-direction: row;
    flex: 1;
    margin-top: 0%;
  }
  
  .HomeLeftPage{
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-right: 0%;
  }
  
  .Homesubmenu{
    display: flex;
    flex-direction: row;
  }
  
  
  .HomeRightPage{
    padding-top: 0%;
    padding-left: 10px;
    flex: 10;
    margin: 2%;
  }
  
  .HomeLeftPageTitle{
    font: var(--sinch-font-title-3)
  }
  
  .HomeLeftPageTitleMatter{
    font: var(--sinch-font-extra-small-text);
    margin-top:0%;
  }
  
  .HomeLeftPageContent{
    margin-left: 0%;
  }
  
  .HomeRightPageHeading{
    margin-top: 1%;
  }
  
  .HomeRightPageHeadingMatter{
    margin-top: 0%;
  }
  
  .HomeRightPageContentMatter{
    margin-top: 0%;
  }
  
  .HomeRightPageMiddle{
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #FFFFFF;
    margin-right: 1%;
    border-radius: 1%;
    margin-top: 2%;
  }
  
  .HomeLeftPageMiddleHeading{
    flex: 8;
    margin: 2%;
  }
  
  .HomeRightPageMiddleMatter{
    display: flex;
    flex: 8;
    font: var(--sinch-font-title-3)
  }
  
  .HomeImage{
    display: flex;
    flex: 4;
    flex-direction: row-reverse;
    margin: 2%;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 1%;
  }
  
  .HomeRightPageImage{
    height: 92px;
    width: 142px;
  }
  
  .HomeRightPageCapabilities{
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .HomeRightPageCapabilitiesTitle{
    font: var(--sinch-font-title-3);

  }
  
  .HomeRightPageCapabilitiesBody{  
    display: flex;
    background-color: #FFFFFF;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .HomeIconDivRow{
    display: flex;
    flex-direction: row;
  }
  
  .homeIcon{
    display: flex;
    flex-direction: row;
  }
  .HomeIconDiv{
    margin: 4%;
    margin-left: 10%;
  }
  
  .HomeIconDiv2{
    margin: 4%;
  }
  
  .homeIcon1{
    height: auto;
    width: 50px;
  }
  
  .HomeiconMatter{
    margin-top: 2%;
  }
  .verticle{
    margin-top: 3%;
  }
  .vline{
    height: 50%;
    width: auto;
  }
  
  .HomeIconMatter{
    font: var(--sinch-font-extra-small-text);
    font-weight: bolder;
  }
  
  .HomeRightPageTemplate{
    margin-top: 5%;
    margin-left: 0%;
  }
  
  .Hometabs{
    margin-top: 3%;
  }
  
  .HometabsStyle{
    background-color: #FFFFFF;
  }
  
  .HomeCardsdiv{
      display: flex;
      flex-direction: row;
      flex: 1;
  }

  @media screen and (max-width: 900px){
    .HomeCardsdiv{
      display: flex;
      flex-direction: column;
    }
  }

  .HomeLefttabs{
    display: flex;
    flex-direction: column;
  }

  .quickLeadsConverter{
    display: flex;
    flex-direction: column;
  }


  
