
.HomePage{
    display: flex;
    background-color: #e5e5e5;
    flex-direction: row;
    flex: 1;
    margin-top: 0%;
  }
  
  .HomeLeftPage{
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-right: 0%;
  }
  
  .Homesubmenu{
    display: flex;
    flex-direction: row;
  }
  
  
  .HomeRightPage{
    padding-top: 0%;
    padding-left: 10px;
    flex: 10;
    margin: 2%;
  }
  
  .HomeLeftPageTitle{
    font: var(--sinch-font-title-3)
  }
  
  .HomeLeftPageTitleMatter{
    font: var(--sinch-font-extra-small-text);
    margin-top:0%;
  }
  
  .HomeLeftPageContent{
    margin-left: 0%;
  }
  
  .HomeRightPageHeading{
    margin-top: 1%;
  }
  
  .HomeRightPageHeadingMatter{
    margin-top: 0%;
  }
  
  .HomeRightPageContentMatter{
    margin-top: 0%;
  }
  
  .HomeRightPageMiddle{
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #FFFFFF;
    margin-right: 1%;
    border-radius: 1%;
  }
  
  .HomeLeftPageMiddleHeading{
    flex: 8;
    margin: 2%;
  }
  
  .HomeRightPageMiddleMatter{
    display: flex;
    flex: 8;
    font: var(--sinch-font-title-3)
  }
  
  .HomeImage{
    display: flex;
    flex: 4;
    flex-direction: row-reverse;
    margin: 2%;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 1%;
  }
  
  .HomeRightPageImage{
    height: auto;
    width: 50%;
  }
  
  .HomeRightPageCapabilities{
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .HomeRightPageCapabilitiesTitle{
    font: var(--sinch-font-title-3);
    margin-left: 3%;
  }
  
  .HomeRightPageCapabilitiesBody{  
    display: flex;
    background-color: #FFFFFF;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .HomeIconDivRow{
    display: flex;
    flex-direction: row;
  }
  
  .homeIcon{
    display: flex;
    flex-direction: row;
  }
  .HomeIconDiv{
    margin: 4%;
    margin-left: 10%;
  }
  
  .HomeIconDiv2{
    margin: 4%;
  }
  
  .homeIcon1{
    height: auto;
    width: 50px;
  }
  
  .HomeiconMatter{
    margin-top: 2%;
  }
  .verticle{
    margin-top: 3%;
  }
  .vline{
    height: 50%;
    width: auto;
  }
  
  .HomeIconMatter{
    font: var(--sinch-font-extra-small-text);
    font-weight: bolder;
  }
  
  .HomeRightPageTemplate{
    margin-top: 5%;
  }
  
  .Hometabs{
    margin-top: 3%;
  }
  
  .HometabsStyle{
    background-color: #FFFFFF;
  }
  
  .HomeCardsdiv{
      display: flex;
      flex-direction: row;
      flex: 1;
  }
  
  .HomeContainer1{
    margin-right: 2%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;;
    height: 40%;
    width: 22%;
    background-color: #FFFFFF;
  }
  
  .HomeContainer1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .HomeCard1{
    margin: 0%;
    margin-top: 0%;
    background-color: #007171;
    padding-bottom: 10%;
  }
  
  .HomeCard2{
    margin: 0%;
    margin-top: 0%;
    background-color: #FFCC66;
    padding-bottom: 10%;
  }
  
  .HomeCard3{
    margin: 0%;
    margin-top: 0%;
    background-color: #0A273D;
    padding-bottom: 10%;
  }
  
  .card1{
    height: auto;
    width: 48%;
  }
  
  .card2{
    height: auto;
    width: 48%;
  }
  
  .card3{
    height: auto;
    width: 55%;
  }
  
  .cardimage1{
    align-items: center;
    margin-left: 30%;
    padding-top: 10%;
    margin-bottom: 9%;
  }
  
  .cardimage2{
    align-items: center;
    margin-left: 30%;
    padding-top: 10%;
    margin-bottom: 5%;
  }
  
  .cardimage3{
    align-items: center;
    margin-left: 27%;
    padding-top: 10%;
    margin-bottom: 3%;
  }
  
  .HomeCard1Title{
    color: white;
    margin: 5%;
    font: var(--sinch-font-title-3)
  }
  
  .HomeCard1Body{
    color: white;
    margin: 5%;
    margin-right: 15%;
    font: var(--sinch-font-extra-small-text);
  }
  
  .HomeCard2Title{
    margin: 5%;
    font: var(--sinch-font-title-3)
  }
  
  .HomeCard2Body{
    margin: 5%;
    margin-right: 10%;
    font: var(--sinch-font-extra-small-text);
  }
  
  .HomeCard3Title{
    color: white;
    margin: 5%;
    font: var(--sinch-font-title-3)
  }
  
  .HomeCard3Body{
    color: white;
    margin: 5%;
    margin-right: 13%;
    font: var(--sinch-font-extra-small-text);
  }
  
  .card1Tag{
    margin-left: 50%;
  }
  .Homecard1Matter{
    background-color: #ffffff;
    margin: 10% 5%;
  }
  
  .Homecard1MatterContent{
    margin: 0%;
  }
  
  .Card1Button{
    margin: 15%;
  }
  
  .HomeLefttabs{
    display: flex;
    flex-direction: column;
  }