.onboardingPage{
  background-color: #e5e5e5;
}

.onboardingHeader{
  background-color: #ffffff;
  margin:1%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: var(--sinch-font-title-1);
}

.onboardingBody{
  display: flex;
  flex-direction: row;
}

.onboardingHeading{
flex: 4;
}

.onboardingMatterHeading{
  font:var(--sinch-font-title-2);
  font-size: 30px;
}

.OnboardingCaption{
  font: var(--sinch-font-extra-small-text);
}

.onbaordingLogodiv{
  margin-right: 1%;
  height: auto;
  width: 30px;
}

.onboardingSteps{
  display: flex;
  flex-direction: row;
  flex: 5;
  margin-left: 50px;
  align-items: center;
  font: var(--sinch-font-title-2);
}

.onbaordingLogodiv{
  height:auto;
  width: 90px;
  margin-right: 30px;
}
.quickstartDeal{
  flex:7;
  display: flex;
  flex-direction: row;
  margin: 0% 1%;
  margin-bottom: 1%;
  background-color: #ffffff;
}

.quickstartDeal{
  font: var(--sinch-font-title-2);
}

.onboardingMobile{
  height: auto;
  width: 370px;
  margin: 5%;
  margin-top:10%;
}

.quickstartIdeal{
  margin-top: 10%;
  margin-left: 0%;
  font: var(--sinch-font-title-3)
}

.quickstartIdealTitle{
  margin-bottom: 10%;
}

.iconsDivfirstRow{
  display: flex;
  flex-direction: row;
}


.iconsDivsecondRow{
  display: flex;
  flex-direction: row;
}

.iconDiv{
  margin: 2%;
  flex:4
}

.onboardingIcons{
  height: auto;
  width: 30px;
}

.iconMatter{
  font: var(--sinch-font-extra-small-text);
  margin-top:0%;
}
.features{
  display: flex;
  margin-right: 5px;
  flex-direction: column;
}

.feature{
  font: var(--sinch-font-extra-small-text)
}

.correct{
  height: 10px;
  width:10px;
  margin: 2%;
}

.featureDiv{
  margin: 1%;
  display: flex;
  flex-direction: row;
}

.featuresTitle{
  margin-bottom: 2%;
}

.onboardingStepsDiv{
  flex: 5;
  display: flex;
  flex-direction: column;
  margin: 0% 1%;
  margin-bottom: 1%;
  background-color: #ffffff;
}

.stepsTitle{
  font: var(--sinch-font-title-3);
  margin-top:30px;
  margin-left:50px;
  margin-bottom:20px
}

.stepsParentDiv{
  display: flex;
  flex-direction: row;
}

.stepperImage{
  height: auto;
  width: 20px;
  margin-bottom:50px;
  margin-right: 10px;
}

.stepperDiv{
  display: flex;
  flex-direction: column;
}

.stepperoneText{
  margin-bottom: 40px;
}

.steppertwoText{
  margin-bottom: 40px;
}

.stepperBottom{
  display: flex;
  flex-direction: row;
  font: var(--sinch-font-title-4);
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 70px;
}

.stepperHeading{
  font: var(--sinch-font-extra-small-text);
  font-weight: bolder;
}

.stepperText{
  font: var(--sinch-font-extra-small-text);
  margin:0%;
}

.whatsappLogo{
  margin-top: 10px;
  width: 80px;
}

.integrationsLogo{
  margin-top: 10px;
  width: 80px;
}
.shoppingImage{
  flex: 7;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.shoppingIm{
  height: auto;
  margin-right: 70px;
  margin-left: 50px;
  width: 120px;
}

.onboardingBottom{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 120px;
}

.startnameInput{
  height: 25px;
  width: 300px;
  margin-right:20px;
}

.startnameButton{
  margin-top:25px;
  width:100px;
}




