/* stylelint-disable selector-class-pattern */
* {
  box-sizing: border-box;
  color: #0A273D
}

h2 {
  font: var(--sinch-font-title-1);
  margin-bottom: 0%;
}
.congratsTitle{
   font: var(--sinch-font-title-2);
   margin-top: 0%;
   margin-bottom: 2%;
}

.errorTitle{
   font: var(--sinch-font-title-2);
   margin-top: 0%;
   margin-bottom: 2%;
}

.congratsBody{
   font: var(--sinch-font-title-2);
   margin-top: 0%;
   margin-left: 4%;
   margin-bottom: 2%;
}

.errorBody{
   font: var(--sinch-font-title-2);
   margin-top: 0%;
   margin-left: 4%;
   margin-bottom: 2%;
}

.Congrats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.Error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.congratsimage{
  width:300px;
  height: 250px;
  margin-bottom: 5%;
}

.errorimage{
  width:20%;
  height: auto;
  margin: 5%;
  margin-bottom: 7%;
}


.steps {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}
.botsteps {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.whatsappHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
  padding: 1%;
  border-radius: 2%;
  background-color: #ffffff;
}

.whatsappBody {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 1%;
  margin-bottom: 0%;
  margin-top: 0%;
}
.botwhatsappBody {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0% 1%;
}

.pageWhatsapp {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
}
.botpageWhatsapp {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
}

.mainBodyWhatsapp {
  flex: 10;
  display: flex;
  flex-direction: column;
}
.botmainBodyWhatsapp {
  flex: 10;
  display: flex;
  flex-direction: column;
}

.previewtext {
  font-weight: bold;
  font: var(--sinch-font-extra-small-text);
  color: #e5e5e5;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 6;
  margin: 2%;
  margin-left: 4%;
}

.humanButton{
  margin: 2%;
}

.humanMessages {
  display: flex;
  flex-direction: column;
  flex: 4;
  margin: 2%;
  margin-left: 6%;
}

.botstartingSpace{
  flex:3
}

.bothumanMessages {
  display: flex;
  flex: 7;
  margin: 1%;
  margin-left: 6%;
  margin-right: 10%;
  justify-content: center;
}

.botpreview {
  display: flex;
  margin-right: 10%;
  height: 100%;
  flex: 5;
}

.messagesInput {
  display: flex;
  flex-direction: column;
}
.botmessagesInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1%;
}

.humanHandover{
  display: flex;
  flex: 3;
  margin-top: 27px;
  margin-left: 3%;
  margin-right: 5%;
}

.humanLine{
  height: 55%;
  margin-left: 30px;
  margin-right: 10px;
}

.Input {
  margin: 2%;
}
.agentName{
  width: 100px;
}
.botInput {
  margin: 1%;
}
.messagesParent {
  margin-top: 3%;
  display: flex;
  flex-direction: row;

}
.botmessagesParent {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.whatsappMatterBody {
  font: var(--sinch-font-extra-small-text);
}

.whatsappMatterHeading{
  font:var(--sinch-font-title-2);
  font-size: 30px;
}

.whatsappMatter{
  flex: 4;
}
.preview {
  display: flex;
  flex: 5;
  margin-bottom: 0%;
}

.mobilegif {
  height: 450px;
  width: 250px;
  margin-top: 8%;
}

.botmobilegif {
  display: none;
  height: auto;
  width: 250px;
  margin-top: 8%;
}

.actualLogo {
  margin-right: 10%;
}

.buttons {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 1%;
  margin-bottom: 1%;
}

.backBut {
  margin: 4%;
  margin-top: 0%;
}
.backButhum{
  margin: 4%;
  margin-top: 2%;
}

.saveBut {
  margin: 4%;
  margin-top: 0%;
}

.saveButhum{
  margin: 4%;
  margin-top: 2%;
}

.botGreet {
  margin-left: 1%;
}

.botexclamation {
  background-color: #d5e5f8;
}

.questionBtn{
  display: flex;
  justify-content: center;
  margin-left: 1%;
}

.infoImg{
  height: 5%;
  width: 5%;
  margin: 2%;
}

.infoHead{
  margin-top: 2%;
  margin-bottom: 0%;
}

.infoData{
  display: flex;
  flex-direction: row;
}

.infoBody{
  margin-left:9%;
  margin-top:0%;
}

.validationError{
  font: var(--sinch-font-extra-small-text);
  color: var(--sinch-color-error-500);
}

.botGreetingInput{
  width: 100%;
}

.whatsappDescription{
  font: var(--sinch-font-extra-small-text)
}

.humanDetails{
  margin-top: 20%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.humanName{
  margin-right: 3%;
  flex: 4;
  flex-wrap: wrap;
}
.humanEmail{
  margin-right: 3%;
  flex: 4;
  flex-wrap: wrap;
}
.humanAction{
  margin-right: 3%;
  flex: 4;
}
.humanDetailsbuttons{
  margin:2%;
  display: flex;
  flex-direction: row;
}
.messagesMobile{
  display: flex;
  flex: 1;
  flex-direction: row;
}
.messagesBody{
  display: flex;
  flex-direction: row;
}
.agentDetails{
  margin-left: 15%;
}
.human{
  display: flex;
  flex-direction: row;
}
.humanhidden{
  display: none;
}
.humanValues{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.horizontaLine{
  width: 100%;
  border: '1px solid #999999';
}
.horizontaLinehidden{
  width: 0%;

}

.parentHuman{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
}

td{
  max-width: 100px;
  overflow-wrap: break-word;
}

.hide{
  display: none;
}