/* stylelint-disable selector-class-pattern */
* {
  box-sizing: border-box;
  color: #0A273D
}

h2 {
  font: var(--sinch-font-title-1);
  margin-bottom: 0%;
}

.congratsTitle{
   font: var(--sinch-font-title-2);
}
.Congrats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.congratsText{
  display: flex;
  justify-content: center;
  width:800px;
  margin-top: 0%;
}
.congratsimage{
  width:120%;
height: 120%;
margin-bottom: 10%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.sinchInput{
  width: 80%;
}

.rightSide {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-Regular", sans-serif;
  flex: 8;
  background-color: white;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  background-color: #e5e5e5;
}

.buttonWrapper {
  margin-block-start: auto;
  text-align: end;
}

.parent {
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-top:15px;
  background-color: #ffffff;
  flex: 4;
}

.parentLogin {
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: #ffffff;
  flex: 4;
}

.buttonLarge {
  width: 300px;
}
.signUp {
  display: flex;
  margin-left: 15%;
  flex: 1;
  align-items: stretch;
  flex-direction: column;
}

.signupLogin{
  margin-top: 3%;
}

.signIn {
  display: flex;
  margin-left: 15%;
  flex: 12;
  justify-content: stretch;
  flex-direction: column;
}

.creatrAcc {
  height: 50px;
  width: 300px;
  background-color: chartreuse !important;
}

.loginButton{
  margin-top: 10px;
  width: 100% !important;
  height: 50px !important;
}
.picture {
  background-color: lightblue;
}

.fontName {
  font: var(--sinch-font-title-1);
  margin-bottom: 0%;
  font-size: 64px;
  font-weight: 200;
  color: #0A273D
}

.fontNameTitle{
  font: var(--sinch-font-title-2);
  font-size: 40px;
  margin-top:15px;
  margin-bottom:50px;
  color: #0A273D;
}

.sinchlogo {
  height: auto;
  width: 80px;
  margin: 2%;
  margin-top:45px;
}

.nameAlogo {
  display: flex;
  flex-direction: row;
  margin-top:10px;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
}

.signupDescription{
  display: flex;
  justify-content: center;
}
.signupDescriptionText{
  font: var(--sinch-font-body);
  font-weight: 200;
  margin-left:25px;
  font-size: 22px;
}

.image {
  display: flex;
  justify-content: center;
}

.simage {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.signupImage {
  width: 430px;
  height: auto;
}

.createAccdiv {
  display: flex;
  justify-content: stretch;
}

.createAcc {
  width: 100% !important;
  height: 50px !important;
  background-color: beige !important;
}

.signupFG {
  margin-top: 10%;
  margin-bottom: 5%;
}

.signinFG {
  margin-top: 30%;
  margin-bottom: 20%;
}

.facebookSignup {
  display: flex;
  flex: 0 1 1000px;
  margin-top: 4%;
}

.googleImg {
  height: 30px;
  width: 30px;
}

.signinImage {
  height: 350px;
  width: 630px;
}

.steps {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}
.botsteps {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.whatsappHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
  padding: 1%;
  border-radius: 2%;
  background-color: #ffffff;
}
.botwhatsappHeading {
  display: flex;
  flex-direction: row;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  border-radius: 1%;
  background-color: #ffffff;
}

.whatsappBody {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 1%;
  margin-bottom: 0%;
  margin-top: 0%;
}
.botwhatsappBody {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0% 1%;
}

.pageWhatsapp {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
}
.botpageWhatsapp {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
}

.mainBodyWhatsapp {
  flex: 10;
  display: flex;
  flex-direction: column;
}
.botmainBodyWhatsapp {
  flex: 10;
  display: flex;
  flex-direction: column;
}

.previewtext {
  font-weight: bold;
  font: var(--sinch-font-extra-small-text);
  color: #e5e5e5;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 6;
  margin: 2%;
  margin-left: 4%;
}

.humanButton{
  margin: 2%;
}

.humanMessages {
  display: flex;
  flex-direction: column;
  flex: 4;
  margin: 2%;
  margin-left: 6%;
}

.botstartingSpace{
  flex:3
}

.bothumanMessages {
  display: flex;
  flex: 7;
  margin: 1%;
  margin-left: 6%;
  margin-right: 10%;
  justify-content: center;
}

.botpreview {
  display: flex;
  margin-right: 10%;
  flex: 5;
}

.messagesInput {
  display: flex;
  flex-direction: column;
}
.botmessagesInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1%;
}

.humanHandover{
  display: flex;
  flex: 3;
  margin-top: 27px;
  margin-left: 3%;
  margin-right: 5%;
}

.humanLine{
  height: 55%;
  margin-left: 30px;
  margin-right: 10px;
}

.Input {
  margin: 2%;
}
.agentName{
  width: 100px;
}
.botInput {
  margin: 1%;
}
.messagesParent {
  margin-top: 3%;
  display: flex;
  flex-direction: row;

}
.botmessagesParent {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.whatsappMatterBody {
  font: var(--sinch-font-extra-small-text);
}

.whatsappMatterHeading{
  font:var(--sinch-font-title-2);
  font-size: 30px;
}

.botwhatsappMatterBody {
  font: var(--sinch-font-extra-small-text);
}

.botwhatsappMatter{
  flex:4
}

.whatsappMatter{
  flex: 4;
}

.botpageSteps{
  flex:4;
  align-items: center;
  justify-content: center;
  font: var(--sinch-font-extra-small-text);

}

.chatlayerLogo{
  flex:4
}

.preview {
  display: flex;
  flex: 5;
  margin-bottom: 0%;
}

.mobilegif {
  height: 450px;
  width: 250px;
  margin-top: 8%;
}

.botmobilegif {
  height: 450px;
  width: 250px;
  margin-top: 8%;
}

.chatlayerLogo {
  display: flex;
  flex-direction: row-reverse;
}

.actualLogo {
  margin-right: 10%;
}

.chatLayer {
  height: auto;
  width: 150px;
  margin-bottom: 5%;
}

.poweredBy {
  font: var(--sinch-font-extra-small-text);
}

.buttons {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 1%;
  margin-bottom: 1%;
}

.botbuttons {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 1%;
  margin-bottom: 1%;
}

.backBut {
  margin: 4%;
  margin-top: 0%;
}

.saveBut {
  margin: 4%;
  margin-top: 0%;
}

.botbackBut {
  margin: 4%;
  margin-top: 3%;
}

.botsaveBut {
  margin: 4%;
  margin-top: 3%;
}

.botGreet {
  margin-left: 1%;
}

.botexclamation {
  background-color: #d5e5f8;
}

.MuiStepLabel-labelContainer span {
  font: var(--sinch-font-title-4) !IMPORTANT;
}

.questionBtn{
  display: flex;
  justify-content: center;
  margin-left: 1%;
}

.infoImg{
  height: 5%;
  width: 5%;
  margin: 2%;
}

.infoHead{
  margin-top: 2%;
  margin-bottom: 0%;
}

.infoData{
  display: flex;
  flex-direction: row;
}

.infoBody{
  margin-left:9%;
  margin-top:0%;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: '#FFBE3C',
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: '#FFBE3C',
}

.Mui-disabled .MuiStepIcon-root {
  color: '#D4DADD' 
}

.MuiStepIcon-text{ 
  display: 'none';
  visibility: 'hidden' 
}

.css-qivjh0-MuiStepLabel-label{
   font-weight: '600';
   font-family: 'Gilroy' 
}

.validationError{
  font: var(--sinch-font-extra-small-text);
  color: var(--sinch-color-error-500);
}

.onboardingPage{
  background-color: #e5e5e5;
}

.onboardingHeader{
  background-color: #ffffff;
  margin:1%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: var(--sinch-font-title-1);
}

.onboardingBody{
  display: flex;
  flex-direction: row;
}

.quickstartDeal{
  flex:7;
  display: flex;
  flex-direction: row;
  margin: 0% 1%;
  margin-bottom: 1%;
  background-color: #ffffff;
}

.onboardingStepsDiv{
  flex: 5;
  display: flex;
  flex-direction: column;
  margin: 0% 1%;
  margin-bottom: 1%;
  background-color: #ffffff;
}

.onboardingSteps{
  display: flex;
  flex: 5;
  margin-left: 50px;
  align-items: center;
  flex-direction: column;
}

.stepsTitle{
  font: var(--sinch-font-title-3);
  margin-top:30px;
  margin-left:50px;
  margin-bottom:20px
}

.shoppingImage{
  flex: 7;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.shoppingIm{
  height: auto;
  margin-right: 70px;
  margin-left: 50px;
  width: 120px;
}

.stepperImage{
  height: auto;
  width: 20px;
  margin-bottom:50px;
  margin-right: 10px;
}

.OnboardingCaption{
  font: var(--sinch-font-extra-small-text);
}

.quickstartDeal{
  font: var(--sinch-font-title-2);
}

.onboardingSteps{
  display: flex;
  flex-direction: row;
  font: var(--sinch-font-title-2);
}

.onboardingMobile{
  height: auto;
  width: 370px;
  margin: 5%;
  margin-top:10%;
}

.quickstartIdeal{
  margin-top: 10%;
  margin-left: 0%;
  font: var(--sinch-font-title-3)
}

.onboardingIcons{
  height: auto;
  width: 30px;
}

.iconMatter{
  font: var(--sinch-font-extra-small-text);
  margin-top:0%;
}

.iconsDivfirstRow{
  display: flex;
  flex-direction: row;
}

.quickstartIdealTitle{
  margin-bottom: 10%;
}

.iconsDivsecondRow{
  display: flex;
  flex-direction: row;
}

.iconDiv{
  margin: 2%;
  flex:4
}

.features{
  display: flex;
  margin-right: 5px;
  flex-direction: column;
}

.feature{
  font: var(--sinch-font-extra-small-text)
}

.correct{
  height: 10px;
  width:10px;
  margin: 2%;
}

.featureDiv{
  margin: 1%;
  display: flex;
  flex-direction: row;
}

.featuresTitle{
  margin-bottom: 2%;
}

.onbaordingLogodiv{
  margin-right: 1%;
  height: auto;
  width: 30px;
}

.stepperHeading{
  font: var(--sinch-font-extra-small-text);
  font-weight: bolder;
}

.stepperText{
  font: var(--sinch-font-extra-small-text);
  margin:0%;
}

.stepperDiv{
  display: flex;
  flex-direction: column;
}

.stepperoneText{
  margin-bottom: 40px;
}

.steppertwoText{
  margin-bottom: 40px;
}

.stepperBottom{
  display: flex;
  flex-direction: row;
  font: var(--sinch-font-title-4);
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 70px;
}

.whatsappLogo{
  margin-top: 10px;
  width: 80px;
}

.integrationsLogo{
  margin-top: 10px;
  width: 80px;
}

.stepsParentDiv{
  display: flex;
  flex-direction: row;
}

.onboardingHeading{
flex: 4;
}

.onboardingBottom{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 120px;
}

.startnameInput{
  height: 25px;
  width: 300px;
  margin-right:20px;
}

.startnameButton{
  margin-top:25px;
  width:100px;
}

.onbaordingLogodiv{
  height:auto;
  width: 90px;
  margin-right: 30px;
}

.botGreetingInput{
  width: 100%;
}

.whatsappDescription{
  font: var(--sinch-font-extra-small-text)
}

.botwhatsappMatterHeading{
  font:var(--sinch-font-title-2);
  font-size: 30px;
}

.onboardingMatterHeading{
  font:var(--sinch-font-title-2);
  font-size: 30px;
}

.humanDetails{
  margin-top: 20%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.humanName{
  margin-right: 3%;
  flex: 4;
  flex-wrap: wrap;
}
.humanEmail{
  margin-right: 3%;
  flex: 4;
  flex-wrap: wrap;
}
.humanAction{
  margin-right: 3%;
  flex: 4;
}
.humanDetailsbuttons{
  display: flex;
  flex-direction: row;
}
.messagesMobile{
  display: flex;
  flex: 1;
  flex-direction: row;
}
.messagesBody{
  display: flex;
  flex-direction: row;
}
.agentDetails{
  margin-left: 15%;
}
.human{
  display: flex;
  flex-direction: row;
}
.humanhidden{
  display: none;
}
.humanValues{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.horizontaLine{
  width: 100%;
  border: '1px solid #999999';
}
.horizontaLinehidden{
  width: 0%;

}

.parentHuman{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
}

td{
  max-width: 100px;
  overflow-wrap: break-word;
}