<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  width: 144px;
  min-height: 64px;
  display: flex;
  flex-direction: column;
}

#circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: var(--sinch-local-color-background);
  font: var(--sinch-sys-font-desktop-title-s);
  line-height: 32px;
  text-align: center;
  color: var(--sinch-local-color-text);
  border: 1px solid var(--sinch-local-color-border);
  border-radius: 50%;
  box-sizing: border-box;

  --sinch-local-color-background: var(--sinch-comp-horizontal-stepper-color-background-default);
  --sinch-local-color-border: var(--sinch-comp-horizontal-stepper-color-border-default);
  --sinch-local-color-text: var(--sinch-comp-horizontal-stepper-color-icon-default);
  --sinch-local-color-icon: var(--sinch-comp-horizontal-stepper-color-icon-default);
  --sinch-global-size-icon: 20px;
}

:host([data-progress="active"]) #circle {
  --sinch-local-color-background: var(--sinch-comp-horizontal-stepper-color-background-active);
  --sinch-local-color-border: var(--sinch-comp-horizontal-stepper-color-border-active);
  --sinch-local-color-text: var(--sinch-comp-horizontal-stepper-color-icon-active);
  --sinch-local-color-icon: var(--sinch-comp-horizontal-stepper-color-icon-active);
}

:host([data-progress="done"]) #circle {
  --sinch-local-color-background: var(--sinch-comp-horizontal-stepper-color-background-visited);
  --sinch-local-color-border: var(--sinch-comp-horizontal-stepper-color-border-visited);
  --sinch-local-color-text: var(--sinch-comp-horizontal-stepper-color-icon-visited);
  --sinch-local-color-icon: var(--sinch-comp-horizontal-stepper-color-icon-visited);
}

:host([data-progress="done"][status="error"]) #circle {
  --sinch-local-color-background: var(--sinch-comp-horizontal-stepper-color-background-visited-error);
  --sinch-local-color-border: var(--sinch-comp-horizontal-stepper-color-border-visited-error);
  --sinch-local-color-text: var(--sinch-comp-horizontal-stepper-color-icon-visited-error);
  --sinch-local-color-icon: var(--sinch-comp-horizontal-stepper-color-icon-visited-error);
}

:host([data-progress="done"][status="skip"]) #circle {
  --sinch-local-color-background: var(--sinch-comp-horizontal-stepper-color-background-visited-skip);
  --sinch-local-color-border: var(--sinch-comp-horizontal-stepper-color-border-visited-skip);
  --sinch-local-color-text: var(--sinch-comp-horizontal-stepper-color-icon-visited-skip);
  --sinch-local-color-icon: var(--sinch-comp-horizontal-stepper-color-icon-visited-skip);
}

#icon-error,
#icon-success {
  display: none;
}

:host([data-progress="done"]:not([status])) #icon-success {
  display: block;
}

:host([data-progress="done"][status="error"]) #icon-error {
  display: block;
}

:host([data-progress="done"]:not([status="skip"])) #circle-text {
  display: none;
}

#label {
  text-align: center;
  margin-top: 8px;

  --sinch-global-color-text: var(--sinch-comp-horizontal-stepper-color-label);
}

#description {
  text-align: center;

  --sinch-global-color-text: var(--sinch-comp-horizontal-stepper-color-description);
}
</style>

<div id="wrapper">
  <div id="circle" aria-hidden="true">
    <sinch-icon id="icon-success" name="check"></sinch-icon>
    <sinch-icon id="icon-error" name="exclamation"></sinch-icon>
    <span id="circle-text"></span>
  </div>
  <sinch-title id="label" type="s" ellipsis></sinch-title>
  <sinch-text id="description" type="xs" ellipsis></sinch-text>
</div>
