<style>
:host {
  display: inline-block;
  vertical-align: middle;
}

#input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--sinch-shape-radius-s);
  width: 100%;
  height: 48px;
  background-color: var(--sinch-color-snow-100);

  --sinch-color-icon: var(--sinch-color-stormy-500);
}

#input {
  all: initial;
  flex: 1;
  min-width: 0;
  height: 48px;
  padding: 0 12px 0 44px;
  font: var(--sinch-font-body);
  color: var(--sinch-color-text-default);
}

#input::placeholder {
  font: var(--sinch-font-body);
  color: var(--sinch-color-text-muted);
  opacity: 1;
}

#border {
  position: absolute;
  border: 1px solid var(--sinch-color-stormy-200);
  border-radius: var(--sinch-shape-radius-s);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

:host([invalid]:not([invalid="false"]):not([disabled])) #border {
  border-color: var(--sinch-color-text-invalid);
}

#input:disabled {
  color: var(--sinch-color-stormy-100);
}

#input:disabled::placeholder {
  color: var(--sinch-color-snow-500);
}

#input:disabled + #border {
  border-color: var(--sinch-color-snow-500);
}

#input:focus + #border {
  border-color: var(--sinch-color-stormy-600);
}

#input[type="password"] {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

#icon {
  display: flex;
  position: absolute;
  left: 12px;
  top: 12px;
  pointer-events: none;

  --sinch-icon-size: 24px;
}

#icon.empty {
  display: none;
}

#icon.empty ~ #input {
  padding-left: 12px;
}

#right {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  gap: 4px;
  padding-right: 8px;
}

#right.empty {
  display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
:host([disabled]:not([disabled="false"])) {
  --sinch-color-icon: var(--sinch-color-stormy-100);
}
</style>

<div id="input-wrapper">
  <div id="icon">
    <slot name="icon"></slot>
  </div>
  <input id="input" type="text"/>
  <div id="border"></div>
  <div id="right">
    <slot name="right"></slot>
  </div>
</div>
