<style>
:host {
  all: initial;
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--sinch-local-shape-radius);
  width: 100%;
  height: var(--sinch-local-size);
  background-color: var(--sinch-comp-input-color-default-background-initial);

  /* Default values */
  --sinch-local-size: var(--sinch-comp-input-size-container-m);
  --sinch-global-size-icon: var(--sinch-comp-input-size-icon-m);
  --sinch-local-shape-radius: var(--sinch-comp-input-shape-radius-size-m);
}

:host([data-size="l"]) > #wrapper {
  --sinch-local-size: var(--sinch-comp-input-size-container-l);
  --sinch-global-size-icon: var(--sinch-comp-input-size-icon-l);
  --sinch-local-shape-radius: var(--sinch-comp-input-shape-radius-size-l);
}

:host([data-size="m"]) > #wrapper {
  --sinch-local-size: var(--sinch-comp-input-size-container-m);
  --sinch-global-size-icon: var(--sinch-comp-input-size-icon-m);
  --sinch-local-shape-radius: var(--sinch-comp-input-shape-radius-size-m);
}

:host([data-size="s"]) > #wrapper {
  --sinch-local-size: var(--sinch-comp-input-size-container-s);
  --sinch-global-size-icon: var(--sinch-comp-input-size-icon-s);
  --sinch-local-shape-radius: var(--sinch-comp-input-shape-radius-size-s);
}

#input {
  all: initial;
  flex: 1;
  flex-basis: 0;
  min-width: 0;
  height: 100%;
  padding: 0 12px;
  font: var(--sinch-comp-input-font-input);
  color: var(--sinch-comp-input-color-default-text-initial);
}

/* :host([mask]) #input {
  font: var(--sinch-sys-font-body-monospace-m);
} */

#input::placeholder {
  font: var(--sinch-comp-input-font-placeholder);
  color: var(--sinch-comp-input-color-default-text-placeholder);
  opacity: 1;
}

#border {
  position: absolute;
  border: 1px solid var(--sinch-comp-input-color-default-border-initial);
  border-radius: var(--sinch-local-shape-radius);
  inset: 0;
  pointer-events: none;
}

#input:disabled {
  color: var(--sinch-comp-input-color-disabled-text-initial);
  -webkit-text-fill-color: var(--sinch-comp-input-color-disabled-text-initial);
}

#input:disabled + #border {
  border-color: var(--sinch-comp-input-color-disabled-border-initial);
}

#input:focus + #border {
  border-color: var(--sinch-comp-input-color-default-border-focus);
  border-width: 2px;
}

:host([invalid]:not(:focus-within)) #input:enabled + #border {
  border-color: var(--sinch-comp-input-color-invalid-border-initial);
}

#input[type="password"] {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

#icon-wrapper {
  position: relative;
  height: 100%;
}

#icon {
  position: absolute;
  display: flex;
  align-items: center;
  left: 12px;
  top: 0;
  bottom: 0;
  pointer-events: none;

  --sinch-global-color-icon: var(--sinch-comp-input-color-default-icon-initial);
}

:host([disabled]) #icon {
  --sinch-global-color-icon: var(--sinch-comp-input-color-disabled-icon-initial);
}

#icon-wrapper.empty {
  display: none;
}

#icon-wrapper.empty ~ #input {
  padding-left: 12px;
}

#icon-wrapper:not(.empty) ~ #input {
  padding-left: calc(var(--sinch-global-size-icon) + 20px);
}

#right {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  gap: 4px;
  padding-right: 4px;
}

#right.empty {
  display: none;
}

#left {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  gap: 4px;
  padding-left: 4px;
}

#left.empty {
  display: none;
}
</style>

<div id="wrapper">
  <div id="left">
    <slot name="left"></slot>
  </div>
  <div id="icon-wrapper">
    <div id="icon">
      <slot name="icon"></slot>
    </div>
  </div>
  <input id="input" type="text"/>
  <div id="border"></div>
  <div id="right">
    <slot name="right"></slot>
  </div>
</div>
