<style>
  :host {
    display: inline-block;
    outline: none;
  }

  #wrapper {
    width: 100%;
    box-sizing: border-box;
  }

  #input {
    all: initial;
    border: 1px solid var(--sinch-color-stormy-200);
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 48px;
    margin: 2px 0;
    padding: 0 12px;
    font: var(--sinch-font-body);
    color: var(--sinch-color-text-default);
  }

  #input::placeholder {
    font: var(--sinch-font-body);
    color: var(--sinch-color-text-muted);
  }

  #input:disabled {
    border-color: var(--sinch-color-snow-500);
    color: var(--sinch-color-stormy-100);
  }

  #input:disabled::placeholder {
    color: var(--sinch-color-snow-500);
  }

  #input:focus {
    border-color: var(--sinch-color-stormy-300);
  }

  :host([invalidtext]:not([invalidtext=""])) #input:not(:disabled) {
    border-color: var(--sinch-color-text-invalid);
  }

  #top,
  #bottom {
    display: flex;
    align-items: baseline;
  }

  #top {
    height: 24px;
  }

  #bottom {
    height: 20px;
  }

  #label,
  #optional,
  #additional,
  #invalid {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #label {
    font: var(--sinch-font-title-4);
    color: var(--sinch-color-text-default);
  }

  #optional {
    flex: 1;
    text-align: right;
    font: var(--sinch-font-small-text);
    color: var(--sinch-color-text-muted);
  }

  #additional {
    flex: 1;
    text-align: right;
    font: var(--sinch-font-extra-small-text);
    color: var(--sinch-color-text-muted);
  }

  #invalid {
    font: var(--sinch-font-extra-small-text);
    color: var(--sinch-color-text-invalid);
  }

  ::slotted(sinch-input-tooltip) {
    align-self: center;
    margin: 0 8px;
  }

  :host([disabled]:not([disabled="false"])) :is(#label, #additional, #optional, #invalid) {
    color: var(--sinch-color-stormy-100);
  }

  :host([disabled]:not([disabled="false"])) ::slotted(sinch-input-tooltip) {
    fill: var(--sinch-color-stormy-100);
  }
</style>

<div id="wrapper">
  <div id="top">
    <label id="label" for="input"></label>
    <slot></slot>
    <span id="optional"></span>
  </div>
  <input id="input" type="text"/>
  <div id="bottom">
    <span id="invalid"></span>
    <span id="additional"></span>
  </div>
</div>
