<style>
:host {
  display: contents;

  --sinch-comp-dialog-max-width: 512px;
  --sinch-comp-dialog-max-height: 90vh;
  --sinch-comp-dialog-width: fit-content;
}

#dialog {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  width: var(--sinch-comp-dialog-width);
  max-width: var(--sinch-comp-dialog-max-width);
  max-height: var(--sinch-comp-dialog-max-height);
  border-radius: var(--sinch-comp-dialog-shape-radius);
  box-sizing: border-box;
  contain: content;
  background-color: var(--sinch-comp-dialog-color-default-background-initial);
  border: none;
  box-shadow: var(--sinch-comp-dialog-shadow);
  outline: none;
}

#dialog:not([open]) {
  display: none;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.55;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 12px;
  padding: 0 24px;
  gap: 8px;

  --sinch-global-size-icon: 24px;
  --sinch-global-color-icon: var(--sinch-comp-dialog-color-default-icon-initial);
}

#caption {
  --sinch-global-color-text: var(--sinch-comp-dialog-color-default-title-initial);
  --sinch-comp-title-font: var(--sinch-comp-dialog-font-title);
}

#content {
  min-height: 0;
  overflow: auto;
  padding: 4px 24px;
}

#action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
  padding: 0 24px;
}

#action.empty {
  display: none;
}

#close {
  position: relative;
  left: 4px;
  top: -4px;
  margin-left: auto;
}
</style>

<dialog id="dialog">
  <div id="header">
    <slot id="icon" name="icon"></slot>
    <sinch-title id="caption" type="m" level="3"></sinch-title>
    <sinch-icon-button id="close" size="s">
      <sinch-icon id="icon-close" slot="icon" name="close"></sinch-icon>
    </sinch-icon-button>
  </div>
  <div id="content">
    <sinch-stop-events events="close">
      <slot name="content"></slot>
    </sinch-stop-events>
  </div>
  <div id="action">
    <sinch-stop-events events="close">
      <slot name="buttons"></slot>
    </sinch-stop-events>
  </div>
</dialog>
