<style>
:host {
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
  width: fit-content;
  background-color: var(--sinch-color-snow-100);
  border-radius: calc(var(--sinch-avatar-badge-size) / 2);
  padding: 1px;
  box-sizing: border-box;
}

#text {
  width: calc(var(--sinch-avatar-badge-size) - 2px);
  height: calc(var(--sinch-avatar-badge-size) - 2px);
  font: var(--sinch-avatar-badge-font);
  color: var(--sinch-color-snow-100);
  text-align: center;
  background-color: var(--sinch-color-raspberry-500);
  border-radius: calc(var(--sinch-avatar-badge-size) / 2 - 1px);
}

#text.long {
  width: fit-content;
  padding: 0 calc(var(--sinch-avatar-badge-size) / 4);
}
</style>

<div id="wrapper">
  <div id="text"></div>
</div>
