<style>
:host {
  display: block;
  font: var(--sinch-font-text-m);
}

:host([size="s"]) {
  font: var(--sinch-font-text-s);
}

:host([size="xs"]) {
  font: var(--sinch-font-text-xs);
}

:host([size="xxs"]) {
  font: var(--sinch-font-text-xxs);
}

.em1 {
  font-style: italic;
}

.em2 {
  font-weight: 700;
}

.em3 {
  font-style: italic;
  font-weight: 700;
}

.strikethrough {
  text-decoration: line-through;
}

.link {
  color: var(--sinch-color-tropical-500);
}

.code {
  border: 1px solid var(--sinch-color-border-light);
  background-color: var(--sinch-color-bg-primary-contrast);
  padding: 0 0.25em;
  border-radius: var(--sinch-shape-radius-xs);
}

.paragraph {
  margin: 0;
}

.paragraph + .paragraph {
  margin-top: 12px;
}
</style>

<div id="wrapper"></div>
