<style>
:host {
  display: block;

  --sinch-comp-rich-text-font: var(--sinch-sys-font-body-m);
}

:host([size="s"]) {
  --sinch-comp-rich-text-font: var(--sinch-sys-font-body-s);
}

:host([size="xs"]) {
  --sinch-comp-rich-text-font: var(--sinch-sys-font-body-xs);
}

:host([size="xxs"]) {
  --sinch-comp-rich-text-font: var(--sinch-sys-font-body-xxs);
}

#wrapper {
  font: var(--sinch-comp-rich-text-font);
  color: var(--sinch-global-color-text, var(--sinch-sys-color-text-default));
}

.em1 {
  font-style: italic;
}

.em2 {
  font-weight: var(--sinch-ref-typography-font-weight-700);
}

.strikethrough {
  text-decoration: line-through;
}

.link {
  font: var(--sinch-comp-link-default-font-initial);
  color: var(--sinch-comp-link-color-default-text-initial);
  text-decoration: underline;
}

.link:hover {
  color: var(--sinch-comp-link-color-default-text-hover);
  text-decoration: none;
}

.code {
  font: var(--sinch-comp-code-tag-font-text);
  line-height: inherit;
  font-size: inherit;
  border: 1px solid var(--sinch-comp-code-tag-color-default-border-initial);
  background-color: var(--sinch-comp-code-tag-color-default-background-initial);
  padding: 0 0.25em;
  border-radius: var(--sinch-comp-code-tag-shape-radius);
}

.emoji {
  --sinch-global-size-icon: 1em;
  --sinch-comp-emoji-vertical-align: -0.2em;
}

.p,
.ul,
.ol {
  margin: 0;
}

.ul,
.ol {
  padding-left: 1.5em;
}

.p + .p,
.p + .ul,
.p + .ol,
.ol + .p,
.ul + .p {
  margin-top: 0.5em;
}

.li > .p + .ul,
.li > .p + .ol {
  margin-top: 0;
}
</style>

<div id="wrapper"></div>
