<style>
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:host {
  display: block;

  --sinch-size-icon: var(--sinch-spinner-size-m);
  --sinch-spinner-thickness: 3px;
}

:host([data-size="l"]) {
  --sinch-size-icon: var(--sinch-spinner-size-l);
  --sinch-spinner-thickness: 4px;
}

:host([data-size="m"]) {
  --sinch-size-icon: var(--sinch-spinner-size-m);
  --sinch-spinner-thickness: 3px;
}

:host([data-size="s"]) {
  --sinch-size-icon: var(--sinch-spinner-size-s);
  --sinch-spinner-thickness: 2px;
}

#wrapper {
  position: relative;
  height: var(--sinch-size-icon);
  width: var(--sinch-size-icon);
}

#bg {
  position: absolute;
  inset: 1px;
  border: solid var(--sinch-spinner-thickness) var(--sinch-color-icon);
  border-radius: 50%;
  opacity: 0.3;
}

#fg {
  position: absolute;
  inset: 1px;
  border: solid var(--sinch-spinner-thickness) transparent;
  border-bottom-color: var(--sinch-color-icon);
  border-radius: 50%;
  will-change: transform;
  animation: 1.5s linear infinite spinner;
  animation-play-state: running;
}
</style>

<div id="wrapper">
  <div id="bg"></div>
  <div id="fg"></div>
</div>
