<style>
:host {
  display: inline-block;
  vertical-align: middle;

  --sinch-size: var(--sinch-size-m);
  --sinch-size-icon: var(--sinch-button-icon-size-m);
  --sinch-shape-radius: var(--sinch-shape-radius-m);
  --sinch-button-font: var(--sinch-button-font-m);
}

:host([data-size="l"]) {
  --sinch-size: var(--sinch-size-l);
  --sinch-size-icon: var(--sinch-button-icon-size-l);
  --sinch-shape-radius: var(--sinch-shape-radius-l);
  --sinch-button-font: var(--sinch-button-font-l);
}

:host([data-size="m"]) {
  --sinch-size: var(--sinch-size-m);
  --sinch-size-icon: var(--sinch-button-icon-size-m);
  --sinch-shape-radius: var(--sinch-shape-radius-m);
  --sinch-button-font: var(--sinch-button-font-m);
}

:host([data-size="s"]) {
  --sinch-size: var(--sinch-size-s);
  --sinch-size-icon: var(--sinch-button-icon-size-s);
  --sinch-shape-radius: var(--sinch-shape-radius-s);
  --sinch-button-font: var(--sinch-button-font-s);
}

:host([type="primary"]) {
  --sinch-button-color-background: var(--sinch-button-primary-color-background);
  --sinch-button-color-background-hover: var(--sinch-button-primary-color-background-hover);
  --sinch-button-color-background-active: var(--sinch-button-primary-color-background-active);
  --sinch-button-color-background-disabled: var(--sinch-button-primary-color-background-disabled);
  --sinch-button-color-border: var(--sinch-button-primary-color-border);
  --sinch-button-color-border-hover: var(--sinch-button-primary-color-border-hover);
  --sinch-button-color-border-active: var(--sinch-button-primary-color-border-active);
  --sinch-button-color-border-disabled: var(--sinch-button-primary-color-border-disabled);
  --sinch-button-color-text: var(--sinch-button-primary-color-text);
  --sinch-button-color-text-hover: var(--sinch-button-primary-color-text-hover);
  --sinch-button-color-text-active: var(--sinch-button-primary-color-text-active);
  --sinch-button-color-text-disabled: var(--sinch-button-primary-color-text-disabled);
  --sinch-button-color-icon: var(--sinch-button-primary-color-icon);
  --sinch-button-color-icon-hover: var(--sinch-button-primary-color-icon-hover);
  --sinch-button-color-icon-active: var(--sinch-button-primary-color-icon-active);
  --sinch-button-color-icon-disabled: var(--sinch-button-primary-color-icon-disabled);
  --sinch-button-mix-blend-mode: var(--sinch-button-primary-mix-blend-mode);
  --sinch-elevation-level: var(--sinch-elevation-level-1);
}

:host([type="secondary"]) {
  --sinch-button-color-background: var(--sinch-button-secondary-color-background);
  --sinch-button-color-background-hover: var(--sinch-button-secondary-color-background-hover);
  --sinch-button-color-background-active: var(--sinch-button-secondary-color-background-active);
  --sinch-button-color-background-disabled: var(--sinch-button-secondary-color-background-disabled);
  --sinch-button-color-border: var(--sinch-button-secondary-color-border);
  --sinch-button-color-border-hover: var(--sinch-button-secondary-color-border-hover);
  --sinch-button-color-border-active: var(--sinch-button-secondary-color-border-active);
  --sinch-button-color-border-disabled: var(--sinch-button-secondary-color-border-disabled);
  --sinch-button-color-text: var(--sinch-button-secondary-color-text);
  --sinch-button-color-text-hover: var(--sinch-button-secondary-color-text-hover);
  --sinch-button-color-text-active: var(--sinch-button-secondary-color-text-active);
  --sinch-button-color-text-disabled: var(--sinch-button-secondary-color-text-disabled);
  --sinch-button-color-icon: var(--sinch-button-secondary-color-icon);
  --sinch-button-color-icon-hover: var(--sinch-button-secondary-color-icon-hover);
  --sinch-button-color-icon-active: var(--sinch-button-secondary-color-icon-active);
  --sinch-button-color-icon-disabled: var(--sinch-button-secondary-color-icon-disabled);
  --sinch-button-mix-blend-mode: var(--sinch-button-secondary-mix-blend-mode);
  --sinch-elevation-level: var(--sinch-elevation-level-1);
}

:host([type="tertiary"]) {
  --sinch-button-color-background: var(--sinch-button-tertiary-color-background);
  --sinch-button-color-background-hover: var(--sinch-button-tertiary-color-background-hover);
  --sinch-button-color-background-active: var(--sinch-button-tertiary-color-background-active);
  --sinch-button-color-background-disabled: var(--sinch-button-tertiary-color-background-disabled);
  --sinch-button-color-border: var(--sinch-button-tertiary-color-border);
  --sinch-button-color-border-hover: var(--sinch-button-tertiary-color-border-hover);
  --sinch-button-color-border-active: var(--sinch-button-tertiary-color-border-active);
  --sinch-button-color-border-disabled: var(--sinch-button-tertiary-color-border-disabled);
  --sinch-button-color-text: var(--sinch-button-tertiary-color-text);
  --sinch-button-color-text-hover: var(--sinch-button-tertiary-color-text-hover);
  --sinch-button-color-text-active: var(--sinch-button-tertiary-color-text-active);
  --sinch-button-color-text-disabled: var(--sinch-button-tertiary-color-text-disabled);
  --sinch-button-color-icon: var(--sinch-button-tertiary-color-icon);
  --sinch-button-color-icon-hover: var(--sinch-button-tertiary-color-icon-hover);
  --sinch-button-color-icon-active: var(--sinch-button-tertiary-color-icon-active);
  --sinch-button-color-icon-disabled: var(--sinch-button-tertiary-color-icon-disabled);
  --sinch-button-mix-blend-mode: var(--sinch-button-tertiary-mix-blend-mode);
  --sinch-elevation-level: var(--sinch-elevation-level-0);
}

:host([type="cta-primary"]) {
  --sinch-button-color-background: var(--sinch-button-cta-primary-color-background);
  --sinch-button-color-background-hover: var(--sinch-button-cta-primary-color-background-hover);
  --sinch-button-color-background-active: var(--sinch-button-cta-primary-color-background-active);
  --sinch-button-color-background-disabled: var(--sinch-button-cta-primary-color-background-disabled);
  --sinch-button-color-border: var(--sinch-button-cta-primary-color-border);
  --sinch-button-color-border-hover: var(--sinch-button-cta-primary-color-border-hover);
  --sinch-button-color-border-active: var(--sinch-button-cta-primary-color-border-active);
  --sinch-button-color-border-disabled: var(--sinch-button-cta-primary-color-border-disabled);
  --sinch-button-color-text: var(--sinch-button-cta-primary-color-text);
  --sinch-button-color-text-hover: var(--sinch-button-cta-primary-color-text-hover);
  --sinch-button-color-text-active: var(--sinch-button-cta-primary-color-text-active);
  --sinch-button-color-text-disabled: var(--sinch-button-cta-primary-color-text-disabled);
  --sinch-button-color-icon: var(--sinch-button-cta-primary-color-icon);
  --sinch-button-color-icon-hover: var(--sinch-button-cta-primary-color-icon-hover);
  --sinch-button-color-icon-active: var(--sinch-button-cta-primary-color-icon-active);
  --sinch-button-color-icon-disabled: var(--sinch-button-cta-primary-color-icon-disabled);
  --sinch-button-mix-blend-mode: var(--sinch-button-cta-primary-mix-blend-mode);
  --sinch-elevation-level: var(--sinch-elevation-level-1);
}

:host([type="cta-secondary"]) {
  --sinch-button-color-background: var(--sinch-button-cta-secondary-color-background);
  --sinch-button-color-background-hover: var(--sinch-button-cta-secondary-color-background-hover);
  --sinch-button-color-background-active: var(--sinch-button-cta-secondary-color-background-active);
  --sinch-button-color-background-disabled: var(--sinch-button-cta-secondary-color-background-disabled);
  --sinch-button-color-border: var(--sinch-button-cta-secondary-color-border);
  --sinch-button-color-border-hover: var(--sinch-button-cta-secondary-color-border-hover);
  --sinch-button-color-border-active: var(--sinch-button-cta-secondary-color-border-active);
  --sinch-button-color-border-disabled: var(--sinch-button-cta-secondary-color-border-disabled);
  --sinch-button-color-text: var(--sinch-button-cta-secondary-color-text);
  --sinch-button-color-text-hover: var(--sinch-button-cta-secondary-color-text-hover);
  --sinch-button-color-text-active: var(--sinch-button-cta-secondary-color-text-active);
  --sinch-button-color-text-disabled: var(--sinch-button-cta-secondary-color-text-disabled);
  --sinch-button-color-icon: var(--sinch-button-cta-secondary-color-icon);
  --sinch-button-color-icon-hover: var(--sinch-button-cta-secondary-color-icon-hover);
  --sinch-button-color-icon-active: var(--sinch-button-cta-secondary-color-icon-active);
  --sinch-button-color-icon-disabled: var(--sinch-button-cta-secondary-color-icon-disabled);
  --sinch-button-mix-blend-mode: var(--sinch-button-cta-secondary-mix-blend-mode);
  --sinch-elevation-level: var(--sinch-elevation-level-1);
}

:host([type="destructive"]) {
  --sinch-button-color-background: var(--sinch-button-destructive-color-background);
  --sinch-button-color-background-hover: var(--sinch-button-destructive-color-background-hover);
  --sinch-button-color-background-active: var(--sinch-button-destructive-color-background-active);
  --sinch-button-color-background-disabled: var(--sinch-button-destructive-color-background-disabled);
  --sinch-button-color-border: var(--sinch-button-destructive-color-border);
  --sinch-button-color-border-hover: var(--sinch-button-destructive-color-border-hover);
  --sinch-button-color-border-active: var(--sinch-button-destructive-color-border-active);
  --sinch-button-color-border-disabled: var(--sinch-button-destructive-color-border-disabled);
  --sinch-button-color-text: var(--sinch-button-destructive-color-text);
  --sinch-button-color-text-hover: var(--sinch-button-destructive-color-text-hover);
  --sinch-button-color-text-active: var(--sinch-button-destructive-color-text-active);
  --sinch-button-color-text-disabled: var(--sinch-button-destructive-color-text-disabled);
  --sinch-button-color-icon: var(--sinch-button-destructive-color-icon);
  --sinch-button-color-icon-hover: var(--sinch-button-destructive-color-icon-hover);
  --sinch-button-color-icon-active: var(--sinch-button-destructive-color-icon-active);
  --sinch-button-color-icon-disabled: var(--sinch-button-destructive-color-icon-disabled);
  --sinch-button-mix-blend-mode: var(--sinch-button-destructive-mix-blend-mode);
  --sinch-elevation-level: var(--sinch-elevation-level-1);
}

#button {
  all: initial;
  display: block;
  position: relative;
  width: 100%;
  height: var(--sinch-size);
  font: var(--sinch-button-font);
  color: var(--sinch-button-color-text);
  cursor: pointer;

  --sinch-color-icon: var(--sinch-button-color-icon);
}

/* Border */
#button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--sinch-button-color-background);
  border: 1px solid var(--sinch-button-color-border);
  border-radius: var(--sinch-shape-radius);
  box-shadow: var(--sinch-elevation-level);
  pointer-events: none;
  mix-blend-mode: var(--sinch-button-mix-blend-mode);
}

#button:focus-visible::after {
  position: absolute;
  content: "";
  inset: -3px;
  border: 2px solid var(--sinch-color-border-focus);
  border-radius: calc(var(--sinch-shape-radius) + 3px);
  pointer-events: none;
}

#button:disabled {
  color: var(--sinch-button-color-text-disabled);
  cursor: initial;

  --sinch-color-icon: var(--sinch-button-color-icon-disabled);
}

#button:disabled::before {
  background-color: var(--sinch-button-color-background-disabled);
  border-color: var(--sinch-button-color-border-disabled);
  box-shadow: var(--sinch-elevation-level-0);
}

#button:enabled:hover {
  --sinch-color-icon: var(--sinch-button-color-icon-hover);
}

#button:enabled:hover::before {
  background-color: var(--sinch-button-color-background-hover);
  border-color: var(--sinch-button-color-border-hover);
}

#button:enabled:active {
  --sinch-color-icon: var(--sinch-button-color-icon-active);
}

#button:enabled:active::before {
  background-color: var(--sinch-button-color-background-active);
  border-color: var(--sinch-button-color-border-active);
  border-width: 2px;
  box-shadow: var(--sinch-elevation-level-0);
}

#content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
  width: 100%;
  height: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  pointer-events: none;
}

#text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
  min-width: 0;
}
</style>

<button id="button">
  <div id="content">
    <slot name="left-icon"></slot>
    <span id="text"></span>
    <slot name="right-icon"></slot>
  </div>
</button>
