<style>
/* stylelint-disable no-descending-specificity */
:host {
  --sinch-color-button-background: var(--sinch-color-tropical-500);
  --sinch-color-button-background-hover: var(--sinch-color-tropical-400);
  --sinch-color-button-background-focus: var(--sinch-color-tropical-500);
  --sinch-color-button-background-active: var(--sinch-color-tropical-600);
  --sinch-color-button-background-disabled: var(--sinch-color-tropical-100);
  --sinch-color-button-text: var(--sinch-color-text-inverted);
  --sinch-color-button-text-disabled: var(--sinch-color-text-inverted);
  --sinch-color-button-border: var(--sinch-color-transparent);
  --sinch-color-button-border-hover: var(--sinch-color-transparent);
  --sinch-color-button-border-focus: var(--sinch-color-tropical-700);
  --sinch-color-button-border-active: var(--sinch-color-transparent);
  --sinch-color-button-border-disabled: var(--sinch-color-transparent);
  --sinch-color-spinner-bg: var(--sinch-color-tropical-300);
  --sinch-color-spinner-fg: var(--sinch-color-snow-100);
  --sinch-color-icon: var(--sinch-color-text-inverted);

  display: inline-block;
  vertical-align: middle;
  outline: none;
}

:host([type="secondary"]) {
  --sinch-color-button-background: var(--sinch-color-snow-100);
  --sinch-color-button-background-hover: var(--sinch-color-tropical-100);
  --sinch-color-button-background-focus: var(--sinch-color-snow-100);
  --sinch-color-button-background-active: var(--sinch-color-tropical-100);
  --sinch-color-button-background-disabled: var(--sinch-color-snow-100);
  --sinch-color-button-text: var(--sinch-color-tropical-500);
  --sinch-color-button-text-disabled: var(--sinch-color-tropical-100);
  --sinch-color-button-border: var(--sinch-color-tropical-500);
  --sinch-color-button-border-hover: var(--sinch-color-tropical-500);
  --sinch-color-button-border-focus: var(--sinch-color-tropical-700);
  --sinch-color-button-border-active: var(--sinch-color-tropical-500);
  --sinch-color-button-border-disabled: var(--sinch-color-tropical-100);
  --sinch-color-spinner-bg: var(--sinch-color-tropical-100);
  --sinch-color-spinner-fg: var(--sinch-color-tropical-500);
  --sinch-color-icon: var(--sinch-color-tropical-500);
}

:host([type="secondary"]) button:is(:hover, :active) {
  --sinch-color-spinner-bg: var(--sinch-color-tropical-300);
  --sinch-color-spinner-fg: var(--sinch-color-snow-100);
}

:host([type="secondary"]) button:disabled {
  --sinch-color-spinner-bg: var(--sinch-color-tropical-200);
  --sinch-color-spinner-fg: var(--sinch-color-tropical-400);
}

:host([type="cta-primary"]) {
  --sinch-color-button-background: var(--sinch-color-honey-500);
  --sinch-color-button-background-hover: var(--sinch-color-honey-400);
  --sinch-color-button-background-focus: var(--sinch-color-honey-500);
  --sinch-color-button-background-active: var(--sinch-color-honey-600);
  --sinch-color-button-background-disabled: var(--sinch-color-honey-100);
  --sinch-color-button-text: var(--sinch-color-text-default);
  --sinch-color-button-text-disabled: var(--sinch-color-stormy-300);
  --sinch-color-button-border: var(--sinch-color-transparent);
  --sinch-color-button-border-hover: var(--sinch-color-transparent);
  --sinch-color-button-border-focus: var(--sinch-color-text-default);
  --sinch-color-button-border-active: var(--sinch-color-transparent);
  --sinch-color-button-border-disabled: var(--sinch-color-transparent);
  --sinch-color-spinner-bg: var(--sinch-color-honey-700);
  --sinch-color-spinner-fg: var(--sinch-color-stormy-600);
  --sinch-color-icon: var(--sinch-color-text-default);
}

:host([type="cta-primary"]) button:disabled {
  --sinch-color-spinner-bg: var(--sinch-color-snow-100);
  --sinch-color-spinner-fg: var(--sinch-color-stormy-300);
}

:host([type="cta-secondary"]) {
  --sinch-color-button-background: var(--sinch-color-snow-100);
  --sinch-color-button-background-hover: var(--sinch-color-snow-500);
  --sinch-color-button-background-focus: var(--sinch-color-snow-100);
  --sinch-color-button-background-active: var(--sinch-color-snow-500);
  --sinch-color-button-background-disabled: var(--sinch-color-snow-100);
  --sinch-color-button-text: var(--sinch-color-stormy-500);
  --sinch-color-button-text-disabled: var(--sinch-color-stormy-200);
  --sinch-color-button-border: var(--sinch-color-stormy-500);
  --sinch-color-button-border-hover: var(--sinch-color-stormy-500);
  --sinch-color-button-border-focus: var(--sinch-color-stormy-500);
  --sinch-color-button-border-active: var(--sinch-color-stormy-500);
  --sinch-color-button-border-disabled: var(--sinch-color-stormy-200);
  --sinch-color-spinner-bg: var(--sinch-color-snow-800);
  --sinch-color-spinner-fg: var(--sinch-color-stormy-600);
  --sinch-color-icon: var(--sinch-color-stormy-500);
}

:host([type="cta-secondary"]) button:disabled {
  --sinch-color-spinner-bg: var(--sinch-color-snow-600);
  --sinch-color-spinner-fg: var(--sinch-color-stormy-200);
  --sinch-color-icon: var(--sinch-color-stormy-200);
}

:host([type="destructive"]) {
  --sinch-color-button-background: var(--sinch-color-snow-100);
  --sinch-color-button-background-hover: var(--sinch-color-error-200);
  --sinch-color-button-background-focus: var(--sinch-color-snow-100);
  --sinch-color-button-background-active: var(--sinch-color-error-200);
  --sinch-color-button-background-disabled: var(--sinch-color-snow-100);
  --sinch-color-button-text: var(--sinch-color-text-invalid);
  --sinch-color-button-text-disabled: var(--sinch-color-error-200);
  --sinch-color-button-border: var(--sinch-color-error-500);
  --sinch-color-button-border-hover: var(--sinch-color-error-500);
  --sinch-color-button-border-focus: var(--sinch-color-error-800);
  --sinch-color-button-border-active: var(--sinch-color-error-500);
  --sinch-color-button-border-disabled: var(--sinch-color-error-200);
  --sinch-color-spinner-bg: var(--sinch-color-raspberry-100);
  --sinch-color-spinner-fg: var(--sinch-color-raspberry-500);
  --sinch-color-icon: var(--sinch-color-text-invalid);
}

:host([type="destructive"]) button:is(:hover, :active) {
  --sinch-color-spinner-bg: var(--sinch-color-raspberry-200);
  --sinch-color-spinner-fg: var(--sinch-color-raspberry-500);
}

:host([type="destructive"]) button:disabled {
  --sinch-color-spinner-bg: var(--sinch-color-raspberry-100);
  --sinch-color-spinner-fg: var(--sinch-color-raspberry-500);
}

button {
  all: initial;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 4px;
  font: var(--sinch-font-title-s);
  color: var(--sinch-color-button-text);
  background-color: var(--sinch-color-button-background);
  cursor: pointer;

  --sinch-size-icon: 24px;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid var(--sinch-color-button-border);
  border-radius: 4px;
}

button:focus {
  background-color: var(--sinch-color-button-background-focus);
}

button:focus::before {
  border-color: var(--sinch-color-button-border-focus);
  border-width: 2px;
}

button:hover {
  background-color: var(--sinch-color-button-background-hover);
}

button:hover::before {
  border-color: var(--sinch-color-button-border-hover);
}

button:active {
  background-color: var(--sinch-color-button-background-active);
}

button:active::before {
  border-color: var(--sinch-color-button-border-active);
  border-width: 2px;
}

button:disabled {
  color: var(--sinch-color-button-text-disabled);
  background-color: var(--sinch-color-button-background-disabled);
  cursor: initial;

  --sinch-color-spinner-bg: var(--sinch-color-snow-100);
  --sinch-color-spinner-fg: var(--sinch-color-tropical-200);
  --sinch-color-icon: var(--sinch-color-button-text-disabled);
}

button:disabled::before {
  border-color: var(--sinch-color-button-border-disabled);
}

button > * {
  pointer-events: none;
}

#text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;
}

:host([text]:not([text=""])) #text {
  display: initial;
}

:host([text]:not([text=""])) button {
  padding: 12px 24px;
}

:host([small]:not([small="false"])) > button {
  height: 32px;
  padding: 8px;
  line-height: 16px;
  font-size: 14px;
  gap: 8px;

  --sinch-size-icon: 16px;
}

:host([text]:not([text=""])[small]:not([small="false"])) button {
  padding: 8px 16px;
}
</style>

<button>
  <slot name="left-icon"></slot>
  <span id="text"></span>
  <slot name="right-icon"></slot>
</button>
