<style>
  :host {
    display: inline-block;
  }

  :host([type="primary"]) {
    --sinch-color-button-background: var(--sinch-color-tropical-500);
    --sinch-color-button-background-hover: var(--sinch-color-tropical-400);
    --sinch-color-button-background-focus: var(--sinch-color-tropical-500);
    --sinch-color-button-background-active: var(--sinch-color-tropical-600);
    --sinch-color-button-background-disabled: var(--sinch-color-tropical-100);
    --sinch-color-button-text: var(--sinch-color-text-inverted);
    --sinch-color-button-text-disabled: var(--sinch-color-text-inverted);
    --sinch-color-button-border: var(--sinch-color-transparent);
    --sinch-color-button-border-hover: var(--sinch-color-transparent);
    --sinch-color-button-border-focus: var(--sinch-color-tropical-700);
    --sinch-color-button-border-active: var(--sinch-color-transparent);
    --sinch-color-button-border-disabled: var(--sinch-color-transparent);
  }

  :host([type="secondary"]) {
    --sinch-color-button-background: var(--sinch-color-snow-100);
    --sinch-color-button-background-hover: var(--sinch-color-tropical-100);
    --sinch-color-button-background-focus: var(--sinch-color-snow-100);
    --sinch-color-button-background-active: var(--sinch-color-tropical-100);
    --sinch-color-button-background-disabled: var(--sinch-color-snow-100);
    --sinch-color-button-text: var(--sinch-color-tropical-500);
    --sinch-color-button-text-disabled: var(--sinch-color-tropical-100);
    --sinch-color-button-border: var(--sinch-color-tropical-500);
    --sinch-color-button-border-hover: var(--sinch-color-tropical-500);
    --sinch-color-button-border-focus: var(--sinch-color-tropical-700);
    --sinch-color-button-border-active: var(--sinch-color-tropical-500);
    --sinch-color-button-border-disabled: var(--sinch-color-tropical-100);
  }

  :host([type="cta"]) {
    --sinch-color-button-background: var(--sinch-color-honey-500);
    --sinch-color-button-background-hover: var(--sinch-color-honey-400);
    --sinch-color-button-background-focus: var(--sinch-color-honey-500);
    --sinch-color-button-background-active: var(--sinch-color-honey-600);
    --sinch-color-button-background-disabled: var(--sinch-color-honey-100);
    --sinch-color-button-text: var(--sinch-color-text-default);
    --sinch-color-button-text-disabled: var(--sinch-color-stormy-300);
    --sinch-color-button-border: var(--sinch-color-transparent);
    --sinch-color-button-border-hover: var(--sinch-color-transparent);
    --sinch-color-button-border-focus: var(--sinch-color-text-default);
    --sinch-color-button-border-active: var(--sinch-color-transparent);
    --sinch-color-button-border-disabled: var(--sinch-color-transparent);
  }

  :host([type="destructive"]) {
    --sinch-color-button-background: var(--sinch-color-snow-100);
    --sinch-color-button-background-hover: var(--sinch-color-snow-100);
    --sinch-color-button-background-focus: var(--sinch-color-snow-100);
    --sinch-color-button-background-active: var(--sinch-color-error-200);
    --sinch-color-button-background-disabled: var(--sinch-color-snow-100);
    --sinch-color-button-text: var(--sinch-color-text-invalid);
    --sinch-color-button-text-disabled: var(--sinch-color-error-200);
    --sinch-color-button-border: var(--sinch-color-error-500);
    --sinch-color-button-border-hover: var(--sinch-color-error-500);
    --sinch-color-button-border-focus: var(--sinch-color-error-800);
    --sinch-color-button-border-active: var(--sinch-color-error-500);
    --sinch-color-button-border-disabled: var(--sinch-color-error-200);
  }

  button {
    all: initial;
    font: var(--sinch-font-title-4);
    font-weight: 600;
    color: var(--sinch-color-button-text);
    fill: var(--sinch-color-button-text);
    background-color: var(--sinch-color-button-background);
    box-shadow: 0 0 0 1px var(--sinch-color-button-border) inset;
    border-radius: 4px;
    line-height: 48px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
  }

  button:hover {
    background-color: var(--sinch-color-button-background-hover);
    box-shadow: 0 0 0 1px var(--sinch-color-button-border-hover) inset;
  }

  button:focus {
    background-color: var(--sinch-color-button-background-focus);
    box-shadow: 0 0 0 2px var(--sinch-color-button-border-focus) inset;
  }

  button:active {
    background-color: var(--sinch-color-button-background-active);
    box-shadow: 0 0 0 2px var(--sinch-color-button-border-active) inset;
  }

  button[disabled] {
    color: var(--sinch-color-button-text-disabled);
    fill: var(--sinch-color-button-text-disabled);
    background-color: var(--sinch-color-button-background-disabled);
    box-shadow: 0 0 0 1px var(--sinch-color-button-border-disabled) inset;
  }

  #text-wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  :host([small]:not([type="cta"])) > button {
    line-height: 32px;
    padding: 0 16px;
    font-size: 14px;
  }

  ::slotted(*) {
    margin-right: 16px;
  }

  :host([small]:not([type="cta"])) ::slotted(*) {
    margin-right: 12px;
  }
</style>

<button>
  <slot></slot>
  <div id="text-wrapper">
    <span id="text"></span>
  </div>
</button>
