<style>
:host {
  display: block;
  outline: none;

  --sinch-comp-vertical-stepper-color-background-default: var(--sinch-sys-color-container-contrast-primary-default);
  --sinch-comp-vertical-stepper-color-background-visited-skip: var(--sinch-sys-color-container-contrast-primary-default);
  --sinch-comp-vertical-stepper-color-background-active: var(--sinch-ref-color-main-stormy-400);
  --sinch-comp-vertical-stepper-color-background-visited: var(--sinch-ref-color-main-snow-700);
  --sinch-comp-vertical-stepper-color-background-visited-error: var(--sinch-sys-color-feedback-invalid-background);
  --sinch-comp-vertical-stepper-color-border-default: transparent;
  --sinch-comp-vertical-stepper-color-border-visited-skip: var(--sinch-ref-color-main-stormy-400);
  --sinch-comp-vertical-stepper-color-border-active: transparent;
  --sinch-comp-vertical-stepper-color-border-visited: var(--sinch-ref-color-main-stormy-400);
  --sinch-comp-vertical-stepper-color-border-visited-error: var(--sinch-ref-color-main-stormy-400);
  --sinch-comp-vertical-stepper-color-icon-default: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-vertical-stepper-color-icon-visited-skip: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-vertical-stepper-color-icon-active: var(--sinch-ref-color-main-snow-100);
  --sinch-comp-vertical-stepper-color-icon-visited: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-vertical-stepper-color-icon-visited-error: var(--sinch-ref-color-main-stormy-700);
  --sinch-comp-vertical-stepper-color-label: var(--sinch-sys-color-text-default);
  --sinch-comp-vertical-stepper-color-description: var(--sinch-sys-color-text-muted);
  --sinch-comp-vertical-stepper-color-progress: var(--sinch-ref-color-main-snow-700);
  --sinch-comp-vertical-stepper-color-progress-visited: var(--sinch-ref-color-main-stormy-400);
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
</style>

<div id="wrapper">
  <slot></slot>
</div>
