.token-properties-wrapper {
  width: 100%;
  height: auto;
  background-color: var(--sinch-sys-color-surface-tertiary-default);
  border-radius: 14px;
  margin-top: 24px;
}

.theming-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 16px;
  background-color: var(--sinch-sys-color-surface-tertiary-default);
  border-radius: 14px;
  text-align: center;
}

.token-consistency-wrapper {
  margin-top: 16px;
  padding-left: 85px;
  padding-right: 85px;
  background-color: var(--sinch-sys-color-surface-tertiary-default);
  border-radius: 14px;
}

.tokens-in-nectary-wrapper {
  margin-top: 16px;
  padding-left: 85px;
  padding-right: 85px;
  background-color: var(--sinch-sys-color-surface-tertiary-default);
  border-radius: 14px;
}

.token-flow-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 16px;
  padding-left: 85px;
  padding-right: 85px;
  background-color: var(--sinch-sys-color-surface-tertiary-default);
  border-radius: 14px;
}

.token-wrapper {
  margin-top: 16px;
  border-radius: 14px;
  background-color: var(--sinch-sys-color-surface-tertiary-default);
}

.color-type-wrapper {
  margin: auto;
  background-color: var(--sinch-sys-color-surface-tertiary-default);
  border-radius: 14px;
}
