<sinch-action-menu
  [attr.open]="isOpen"
  [attr.modal]="isModal"
  [attr.maxvisibleitems]="maxVisibleItems"
  [attr.orientation]="orientation"
  (-close)="onClose()">
  <sinch-input
    slot="target"
    label="Input"
    aria-label="Input"
    [value]="value"
    (-change)="onValueChange($event)"
  >
    <sinch-button
      slot="right"
      small
      type="cta-secondary"
      text="Open"
      aria-label="Open"
      (-click)="onOpen()"
    ></sinch-button>
  </sinch-input>
  <sinch-action-menu-option (-click)="onClick('Option 1 value long long long')" text="Option 1 value long long long" slot="option">
    <sinch-icon-open-in-new slot="icon"></sinch-icon-open-in-new>
  </sinch-action-menu-option>
  <sinch-action-menu-option (-click)="onClick('Option 2 value')" text="Option 2 value" slot="option" disabled>
    <sinch-icon-open-in-new slot="icon"></sinch-icon-open-in-new>
  </sinch-action-menu-option>
  <sinch-action-menu-option (-click)="onClick('Option 3 value')" text="Option 3 value" slot="option"></sinch-action-menu-option>
  <sinch-action-menu-option (-click)="onClick('Option 4 value')" text="Option 4 value" slot="option"></sinch-action-menu-option>
</sinch-action-menu>
