<style>
  :host {
    text-align: var(--sinch-comp-text-align);
    display: block;
    font: var(--sinch-comp-text-font);
    color: var(--sinch-global-color-text, var(--sinch-sys-color-text-default));

    --sinch-comp-text-font: var(--sinch-sys-font-body-m);
    --sinch-comp-text-align: unset;
  }

  :host([inline]) {
    display: inline;
  }

  :host([type="s"]) {
    --sinch-comp-text-font: var(--sinch-sys-font-body-s);
  }

  :host([type="xs"]) {
    --sinch-comp-text-font: var(--sinch-sys-font-body-xs);
  }

  :host([type="xxs"]) {
    --sinch-comp-text-font: var(--sinch-sys-font-body-xxs);
  }

  :host([type="m"][emphasized]) {
    --sinch-comp-text-font: var(--sinch-sys-font-body-emphasize);
  }

  :host([type="s"][emphasized]) {
    --sinch-comp-text-font: var(--sinch-sys-font-body-emphasize-s);
  }

  :host([ellipsis]) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    --sinch-global-text-white-space: nowrap;
  }
</style>

<slot></slot>