<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  position: relative;
  width: 56px;
  height: 32px;
  padding: 3px 16px;
  box-sizing: border-box;
  border: 1px solid var(--sinch-color-snow-600);
  border-left-width: 0;
  border-right-width: 0;
  color: var(--sinch-color-stormy-500);
  background-color: var(--sinch-color-snow-100);

  --sinch-color-icon: var(--sinch-color-stormy-500);
  --sinch-size-icon: 24px;
}

#wrapper:hover {
  background-color: var(--sinch-color-snow-400);
}

:host(:first-child) #wrapper {
  border-left-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

:host(:last-child) #wrapper {
  border-right-width: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

:host([data-checked]) #wrapper {
  border-color: var(--sinch-color-stormy-500);
}

:host([data-checked]:not(:first-child)) #wrapper::before {
  content: "";
  width: 1px;
  background-color: var(--sinch-color-stormy-500);
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
}

:host([data-checked]:not(:last-child)) #wrapper::after {
  content: "";
  width: 1px;
  background-color: var(--sinch-color-stormy-500);
  position: absolute;
  right: 0;
  top: -1px;
  bottom: -1px;
}

#button {
  all: initial;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

#button:disabled {
  cursor: unset;
}

#button:focus::before {
  content: "";
  position: absolute;
  left: -4px;
  right: -3px;
  top: -4px;
  bottom: -4px;
  border-style: solid;
  border-color: var(--sinch-color-border-focus);
  border-width: 0;
}

#button:focus-visible::before {
  border-width: 2px;
}

:host(:first-child) #button:focus::before {
  left: -4px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

:host(:last-child) #button:focus::before {
  right: -4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

:host([disabled]:not([disabled="false"])) #wrapper {
  background-color: var(--sinch-color-snow-100);
  color: var(--sinch-color-stormy-100);

  --sinch-color-icon: var(--sinch-color-stormy-100);
}

::slotted(*) {
  display: block;
}
</style>

<div id="wrapper">
  <slot name="icon"></slot>
  <button id="button"></button>
</div>
