<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  position: relative;
  width: 56px;
  height: 32px;
  padding: 3px 16px;
  box-sizing: border-box;
  background-color: var(--sinch-local-color-background);
  cursor: pointer;

  --sinch-global-color-icon: var(--sinch-comp-segmented-control-color-default-icon-initial);
  --sinch-global-size-icon: var(--sinch-comp-segmented-control-size-icon);
  --sinch-local-shape-radius: var(--sinch-comp-segmented-control-shape-radius);
  --sinch-local-color-border: var(--sinch-comp-segmented-control-color-default-border-initial);
  --sinch-local-color-background: var(--sinch-comp-segmented-control-color-default-background-initial);
}

:host(:hover) {
  --sinch-local-color-background: var(--sinch-comp-segmented-control-color-default-background-hover);
}

:host(:first-child) #wrapper {
  border-top-left-radius: var(--sinch-local-shape-radius);
  border-bottom-left-radius: var(--sinch-local-shape-radius);
}

:host(:last-child) #wrapper {
  border-top-right-radius: var(--sinch-local-shape-radius);
  border-bottom-right-radius: var(--sinch-local-shape-radius);
}

:host([data-checked]) #wrapper {
  --sinch-global-color-icon: var(--sinch-comp-segmented-control-color-checked-icon-initial);
  --sinch-local-color-border: var(--sinch-comp-segmented-control-color-checked-border-initial);
  --sinch-local-color-background: var(--sinch-comp-segmented-control-color-checked-background-initial);
}

:host([disabled]) #wrapper {
  --sinch-global-color-icon: var(--sinch-comp-segmented-control-color-disabled-icon-initial);
  --sinch-local-color-border: var(--sinch-comp-segmented-control-color-disabled-border-initial);
  --sinch-local-color-background: var(--sinch-comp-segmented-control-color-disabled-background-initial);

  cursor: initial;
}

#border {
  position: absolute;
  inset: 0;
  border: 1px solid var(--sinch-local-color-border);
  pointer-events: none;
  box-sizing: border-box;
}

:host(:first-child) #border {
  border-top-left-radius: var(--sinch-local-shape-radius);
  border-bottom-left-radius: var(--sinch-local-shape-radius);
}

:host(:last-child) #border {
  border-top-right-radius: var(--sinch-local-shape-radius);
  border-bottom-right-radius: var(--sinch-local-shape-radius);
}

:host(:not(:first-child)) #border {
  border-left-width: 0;
}

:host([data-checked]) #border {
  border-width: 2px;
}

:host([data-checked]:not(:first-child)) #border {
  left: -1px;
}

#outline {
  display: none;
  position: absolute;
  inset: -3px;
  border: 2px solid var(--sinch-comp-segmented-control-color-default-outline-focus);
  pointer-events: none;
  box-sizing: border-box;
  z-index: 1;
}

:host(:focus-visible) #outline {
  display: block;
}

:host(:first-child) #outline {
  border-top-left-radius: calc(var(--sinch-local-shape-radius) + 3px);
  border-bottom-left-radius: calc(var(--sinch-local-shape-radius) + 3px);
}

:host(:last-child) #outline {
  border-top-right-radius: calc(var(--sinch-local-shape-radius) + 3px);
  border-bottom-right-radius: calc(var(--sinch-local-shape-radius) + 3px);
}

:host(:not(:first-child)) #outline {
  left: -4px;
}

::slotted(*) {
  display: block;
  pointer-events: none;
}
</style>

<div id="wrapper">
  <slot name="icon"></slot>
  <div id="border"></div>
  <div id="outline"></div>
</div>
