<style>
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

#wrapper {
  position: relative;
  width: var(--sinch-local-size);
  height: var(--sinch-local-size);
  background-color: var(--sinch-comp-avatar-border-color-default-initial);
  border-radius: var(--sinch-comp-avatar-shape-radius);

  --sinch-local-size: var(--sinch-comp-avatar-size-m);
}

:host([size="l"]) #wrapper {
  --sinch-local-size: var(--sinch-comp-avatar-size-l);
}

:host([size="s"]) #wrapper {
  --sinch-local-size: var(--sinch-comp-avatar-size-s);
}

#text {
  display: block;
  width: 100%;
  height: 100%;
  font: var(--sinch-comp-avatar-container-font-size-m-text);
  line-height: calc(var(--sinch-local-size) - 2px);
  text-transform: uppercase;
  text-align: center;
}

:host([size="l"]) #text {
  font: var(--sinch-comp-avatar-container-font-size-l-text);
  line-height: calc(var(--sinch-local-size) - 2px);
}

:host([size="s"]) #text {
  font: var(--sinch-comp-avatar-container-font-size-s-text);
  line-height: calc(var(--sinch-local-size) - 2px);
}

#circle {
  position: relative;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  border-radius: 50%;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: linear-gradient(#fff, #000);
  mask: linear-gradient(#fff, #000);
  background-color: var(--sinch-comp-avatar-container-color-default-background);
  color: var(--sinch-comp-avatar-container-color-default-foreground);
}

#image {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:host([src]:not([src=""])) #image {
  display: block;
}

#status-wrapper {
  position: absolute;
  left: calc(85% - 5px);
  top: calc(85% - 5px);
  width: 10px;
  height: 10px;
  padding: 1px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--sinch-comp-avatar-border-color-default-initial);
  display: none;
  pointer-events: none;
}

#status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

:host([status="online"]) #status-wrapper,
:host([status="away"]) #status-wrapper,
:host([status="busy"]) #status-wrapper,
:host([status="offline"]) #status-wrapper {
  display: block;
}

:host([status="online"]) #status {
  background-color: var(--sinch-comp-avatar-status-color-online-default-background);
}

:host([status="away"]) #status {
  background-color: var(--sinch-comp-avatar-status-color-away-default-background);
}

:host([status="busy"]) #status {
  background-color: var(--sinch-comp-avatar-status-color-busy-default-background);
}

:host([status="offline"]) #status {
  background-color: var(--sinch-comp-avatar-status-color-offline-default-background);
}
</style>

<div id="wrapper">
  <div id="circle">
    <span id="text"></span>
    <img id="image" alt=""/>
  </div>
  <div id="status-wrapper">
    <div id="status"></div>
  </div>
</div>
