<style>
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

#wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  font: var(--sinch-font-title-s);
  line-height: 38px;
  color: var(--sinch-color-text-default);
  background-color: var(--sinch-color-snow-700);
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--sinch-color-snow-100);
  box-sizing: border-box;
  text-transform: uppercase;

  --sinch-avatar-badge-size: 16px;
  --sinch-avatar-badge-font: 700 12px/14px "Gilroy", "Arial", "sans-serif";
}

:host([background="blue"]) #wrapper {
  background-color: var(--sinch-color-stormy-500);
  color: var(--sinch-color-snow-100);
}

:host([background="yellow"]) #wrapper {
  background-color: var(--sinch-color-honey-500);
}

:host([size="l"]) #wrapper {
  width: 56px;
  height: 56px;
  font: var(--sinch-font-title-m);
  line-height: 54px;

  --sinch-avatar-badge-size: 20px;
  --sinch-avatar-badge-font: 700 12px/18px "Gilroy", "Arial", "sans-serif";
}

:host([size="s"]) #wrapper {
  width: 24px;
  height: 24px;
  font: var(--sinch-font-extra-small-text);
  line-height: 22px;

  --sinch-avatar-badge-size: 11px;
  --sinch-avatar-badge-font: 500 8px/9px "Gilroy", "Arial", "sans-serif";
}

#text {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}

:host([src]:not([src=""])) #image {
  display: block;
}

::slotted(sinch-avatar-badge) {
  position: absolute;
  top: -2px;
  left: calc(100% - 15px);
}

:host([size="l"]) ::slotted(sinch-avatar-badge) {
  left: calc(100% - 19px);
}

:host([size="s"]) ::slotted(sinch-avatar-badge) {
  left: calc(100% - 9px);
}

::slotted(sinch-avatar-status) {
  position: absolute;
  bottom: -2px;
  right: -2px;
}

:host([size="l"]) ::slotted(sinch-avatar-status) {
  bottom: 2px;
  right: 2px;
}
</style>

<div id="wrapper">
  <span id="text"></span>
  <img id="image" alt=""/>
  <slot name="badge"></slot>
  <slot name="status"></slot>
</div>
