<style>
  :host {
    --sinch-color-button-cta-background: var(--sinch-color-honey-500);
    --sinch-color-button-cta-background-hover: var(--sinch-color-honey-400);
    --sinch-color-button-cta-background-focus: var(--sinch-color-honey-500);
    --sinch-color-button-cta-background-active: var(--sinch-color-honey-600);
    --sinch-color-button-cta-background-disabled: var(--sinch-color-honey-100);
    --sinch-color-button-cta-text: var(--sinch-color-text-default);
    --sinch-color-button-cta-text-hover: var(--sinch-color-text-default);
    --sinch-color-button-cta-text-focus: var(--sinch-color-text-default);
    --sinch-color-button-cta-text-active: var(--sinch-color-text-default);
    --sinch-color-button-cta-text-disabled: var(--sinch-color-stormy-300);
    --sinch-color-button-cta-border: var(--sinch-color-transparent);
    --sinch-color-button-cta-border-hover: var(--sinch-color-transparent);
    --sinch-color-button-cta-border-focus: var(--sinch-color-text-default);
    --sinch-color-button-cta-border-active: var(--sinch-color-transparent);
    --sinch-color-button-cta-border-disabled: var(--sinch-color-transparent);
  }

  button {
    all: initial;
    font-family: var(--sinch-font-family-title);
    font-weight: 600;
    padding: 0 24px;
    line-height: 48px;
    color: var(--sinch-color-button-cta-text);
    background-color: var(--sinch-color-button-cta-background);
    box-shadow: 0 0 0 1px var(--sinch-color-button-cta-border) inset;
    border-radius: 4px;
  }

  button:hover {
    color: var(--sinch-color-button-cta-text-hover);
    background-color: var(--sinch-color-button-cta-background-hover);
    box-shadow: 0 0 0 1px var(--sinch-color-button-cta-border-hover) inset;
  }

  button:focus {
    color: var(--sinch-color-button-cta-text-focus);
    background-color: var(--sinch-color-button-cta-background-focus);
    box-shadow: 0 0 0 2px var(--sinch-color-button-cta-border-focus) inset;
  }

  button:active {
    color: var(--sinch-color-button-cta-text-active);
    background-color: var(--sinch-color-button-cta-background-active);
    box-shadow: 0 0 0 2px var(--sinch-color-button-cta-border-active) inset;
  }

  button[disabled] {
    color: var(--sinch-color-button-cta-text-disabled);
    background-color: var(--sinch-color-button-cta-background-disabled);
    box-shadow: 0 0 0 1px var(--sinch-color-button-cta-border-disabled) inset;
  }

  :host([small]) > button {
    line-height: 32px;
    padding: 0 16px;
  }
</style>

<button/>
