<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 32px;
  padding: 0 16px;
  box-sizing: border-box;
  color: var(--sinch-local-color-text);
  background-color: var(--sinch-local-color-background);

  --sinch-local-color-text: var(--sinch-comp-segmented-control-color-default-text-initial);
  --sinch-local-shape-radius: var(--sinch-comp-segmented-control-shape-radius);
  --sinch-local-color-border: var(--sinch-comp-segmented-control-color-default-border-initial);
  --sinch-local-color-background: var(--sinch-comp-segmented-control-color-default-background-initial);
  --sinch-global-color-icon: var(--sinch-comp-segmented-control-color-default-icon-initial);
  --sinch-global-size-icon: var(--sinch-comp-segmented-control-size-icon);
}

#wrapper:hover {
  --sinch-local-color-background: var(--sinch-comp-segmented-control-color-default-background-hover);
}

:host(:first-child) #wrapper {
  border-top-left-radius: var(--sinch-local-shape-radius);
  border-bottom-left-radius: var(--sinch-local-shape-radius);
}

:host(:last-child) #wrapper {
  border-top-right-radius: var(--sinch-local-shape-radius);
  border-bottom-right-radius: var(--sinch-local-shape-radius);
}

:host([data-checked]) #wrapper {
  --sinch-local-color-text: var(--sinch-comp-segmented-control-color-checked-text-initial);
  --sinch-global-color-icon: var(--sinch-comp-segmented-control-color-checked-icon-initial);
  --sinch-local-color-border: var(--sinch-comp-segmented-control-color-checked-border-initial);
  --sinch-local-color-background: var(--sinch-comp-segmented-control-color-checked-background-initial);
}

#border {
  position: absolute;
  inset: 0;
  border: 1px solid var(--sinch-local-color-border);
  border-right-width: 0;
  pointer-events: none;
  box-sizing: border-box;
}

:host(:first-child) #border {
  border-top-left-radius: var(--sinch-local-shape-radius);
  border-bottom-left-radius: var(--sinch-local-shape-radius);
}

:host(:last-child) #border {
  border-right-width: 1px;
  border-top-right-radius: var(--sinch-local-shape-radius);
  border-bottom-right-radius: var(--sinch-local-shape-radius);
}

:host(:not(:first-child)) #border {
  left: -1px;
}

:host(:not(:last-child)) #border {
  right: -1px;
}

:host([data-checked]) #border {
  border-width: 2px;
  z-index: 1;
}

#button {
  all: initial;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}

#button:disabled {
  cursor: unset;
}

#button:focus-visible::before {
  content: "";
  position: absolute;
  inset: -4px;
  border: 2px solid var(--sinch-comp-segmented-control-color-default-outline-focus);
}

:host(:first-child) #button:focus-visible::before {
  border-top-left-radius: calc(var(--sinch-local-shape-radius) + 3px);
  border-bottom-left-radius: calc(var(--sinch-local-shape-radius) + 3px);
}

:host(:last-child) #button:focus-visible::before {
  border-top-right-radius: calc(var(--sinch-local-shape-radius) + 3px);
  border-bottom-right-radius: calc(var(--sinch-local-shape-radius) + 3px);
}

:host([disabled]) #wrapper {
  --sinch-local-color-text: var(--sinch-comp-segmented-control-color-disabled-text-initial);
  --sinch-global-color-icon: var(--sinch-comp-segmented-control-color-disabled-icon-initial);
  --sinch-local-color-border: var(--sinch-comp-segmented-control-color-disabled-border-initial);
  --sinch-local-color-background: var(--sinch-comp-segmented-control-color-disabled-background-initial);
}

#content {
  font: var(--sinch-comp-segmented-control-font-label);
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::slotted(*) {
  display: block;
}
</style>

<div id="wrapper">
  <slot name="icon"></slot>
  <label for="button" id="content"></label>
  <div id="border"></div>
  <button id="button"></button>
</div>
