<sinch-popover
  orientation="bottom"
  [attr.open]="isOpen"
  (-close)="onClose()"
>
  <sinch-field slot="target" label="Label">
    <sinch-input
      slot="input"
      aria-label="Search input"
      placeholder="Search input"
      [value]="value"
      (-change)="onChange($event)"
      (-focus)="onFocus()"
      (-blur)="onBlur()">
      <sinch-icon-search slot="icon"></sinch-icon-search>
      <sinch-icon-button
        slot="right"
        small
        aria-label="Clear search"
        (-click)="onClear()">
        <sinch-icon-close slot="icon"></sinch-icon-close>
      </sinch-icon-button>
    </sinch-input>
  </sinch-field>
  <sinch-action-menu slot="content" aria-label="Search autocomplete">
    <sinch-action-menu-option
      *ngFor="let text of options"
      [attr.text]="text"
      [attr.aria-label]="text"
      (-click)="onOptionClick(text)"
    ></sinch-action-menu-option>
  </sinch-action-menu>
</sinch-popover>
