<style>
:host {
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
  width: var(--sinch-global-size-icon, 32px);
  height: var(--sinch-global-size-icon, 32px);
  border-radius: 50%;
}

#wrapper.no-color {
  background:
    linear-gradient(
      45deg,
      var(--sinch-ref-color-complementary-orange-200),
      var(--sinch-ref-color-complementary-bolt-200),
      var(--sinch-ref-color-complementary-grass-200),
      var(--sinch-ref-color-complementary-night-200),
      var(--sinch-ref-color-complementary-violet-200)
    );
}
</style>

<div id="wrapper"></div>
