<style>
:host {
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
  width: var(--sinch-size-icon, 32px);
  height: var(--sinch-size-icon, 32px);
  border-radius: 50%;
}

#wrapper.no-color {
  background:
    linear-gradient(
      45deg,
      var(--sinch-color-map-light-orange-bg),
      var(--sinch-color-map-light-yellow-bg),
      var(--sinch-color-map-light-green-bg),
      var(--sinch-color-map-light-blue-bg),
      var(--sinch-color-map-light-violet-bg)
    );
}
</style>

<div id="wrapper"></div>
