
.page{
    display: flex;
    background-color: #e5e5e5;
    flex-direction: row;
    flex: 1;
    margin-top: 0%;
  }

  .rightPage{
    padding-top: 0%;
    padding-left: 10px;
    flex: 10;
    margin: 2%;
  }

  
  .rightPageHeading{
    margin-top: 1%;
  }
  
  .rightPageHeadingMatter{
    margin-top: 0%;
  }
  
  .HomeRightPageContentMatter{
    margin-top: 0%;
  }
  
  .rightPageMiddle{
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #FFFFFF;
    margin-right: 1%;
    border-radius: 1%;
    margin-top: 2%;
  }
  
  .leftPageMiddleHeading{
    flex: 8;
    margin: 2%;
  }
  
  .rightPageMiddleMatter{
    display: flex;
    flex: 8;
    font: var(--sinch-font-title-3)
  }
  
  .image{
    display: flex;
    flex: 4;
    flex-direction: row-reverse;
    margin: 2%;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 1%;
  }
  
  .rightPageImage{
    height: 92px;
    width: 142px;
  }
  
  .rightPageCapabilities{
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .rightPageCapabilitiesTitle{
    font: var(--sinch-font-title-3);

  }

  
  .rightPageTemplate{
    margin-top: 5%;
    margin-left: 0%;
  }
  
  .cardsdiv{
      display: flex;
      flex-direction: row;
      flex: 1;
  }

  @media screen and (max-width: 900px){
    .cardsdiv{
      display: flex;
      flex-direction: column;
    }
  }



  
