.buttons {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 1%;
    margin-bottom: 1%;
}

.backBut {
    margin: 4%;
    margin-top: 3%;
}

.saveBut {
    margin: 4%;
    margin-top: 3%;
}