<style>
:host {
  display: block;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

:host([card]:not([card="false"])) > #wrapper {
  padding: 16px;
  background-color: var(--sinch-sys-color-container-main-default);
  border-radius: var(--sinch-sys-shape-radius-l);
  border: 1px solid var(--sinch-sys-color-border-light);
}

#shimmer {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(
      90deg,
      transparent 0,
      var(--sinch-sys-color-container-contrast-primary-default) 100px,
      transparent 200px
    );
  clip-path: url("#clip");
}

#svg {
  display: block;
  width: 0;
  height: 0;
}
</style>

<svg id="svg">
  <defs>
    <clipPath id="clip"></clipPath>
  </defs>
</svg>
<div id="wrapper">
  <slot></slot>
  <div id="shimmer"></div>
</div>
