<div style="position: relative;">
  <sinch-grid>
    <sinch-grid-item slot="item" xl="3" l="4" m="4" s="4">
      <sinch-card slot="content" header="Card" [text]="text">
        <sinch-illustration-phone-and-cat slot="illustration"></sinch-illustration-phone-and-cat>
      </sinch-card>
    </sinch-grid-item>
    <sinch-grid-item slot="item" xl="3" l="4" m="4" s="4">
      <sinch-card slot="content" header="Card" [text]="text">
        <sinch-icon-branded-chatbot slot="icon"></sinch-icon-branded-chatbot>
      </sinch-card>
    </sinch-grid-item>
    <sinch-grid-item slot="item" xl="3" l="4" m="4" s="2">
      <sinch-card slot="content" header="Card" [text]="text">
        <sinch-card-link href="#" text="Link" slot="action"></sinch-card-link>
      </sinch-card>
    </sinch-grid-item>
    <sinch-grid-item slot="item" xl="3" l="4" m="4" s="2">
      <sinch-card slot="content" header="Card" [text]="text">
        <sinch-card-button text="Button" slot="action"></sinch-card-button>
      </sinch-card>
    </sinch-grid-item>
  </sinch-grid>
  <sinch-grid-debug></sinch-grid-debug>
</div>
