<style>
#circle {
  width: 10px;
  height: 10px;
  border: 1px solid var(--sinch-color-snow-100);
  border-radius: 50%;
}

:host([color="grey"]) #circle {
  background-color: var(--sinch-color-snow-600);
}

:host([color="yellow"]) #circle {
  background-color: var(--sinch-color-honey-500);
}

:host([color="red"]) #circle {
  background-color: var(--sinch-color-raspberry-500);
}

:host([color="green"]) #circle {
  background-color: var(--sinch-color-grass-400);
}
</style>

<div id="circle"></div>
