<style>
:host {
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
  width: 10px;
  height: 10px;
  padding: 1px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--sinch-color-snow-100);
}

#circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

:host([color="grey"]) #circle {
  background-color: var(--sinch-color-snow-600);
}

:host([color="yellow"]) #circle {
  background-color: var(--sinch-color-honey-500);
}

:host([color="red"]) #circle {
  background-color: var(--sinch-color-raspberry-500);
}

:host([color="green"]) #circle {
  background-color: var(--sinch-color-grass-400);
}
</style>

<div id="wrapper">
  <div id="circle"></div>
</div>
