<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  min-height: 24px;

  --sinch-local-color-background: var(--sinch-comp-radio-color-default-background-initial);
  --sinch-local-color-background-hover: var(--sinch-comp-radio-color-default-background-hover);
  --sinch-local-color-background-active: var(--sinch-comp-radio-color-default-background-active);
  --sinch-local-color-border: var(--sinch-comp-radio-color-default-border-initial);
  --sinch-local-color-border-hover: var(--sinch-comp-radio-color-default-border-hover);
  --sinch-local-color-border-active: var(--sinch-comp-radio-color-default-border-active);
  --sinch-local-color-knob: var(--sinch-comp-radio-color-checked-knob-initial);
  --sinch-local-color-knob-hover: var(--sinch-comp-radio-color-checked-knob-hover);
  --sinch-local-color-knob-active: var(--sinch-comp-radio-color-checked-knob-active);
  --sinch-local-color-text: var(--sinch-comp-radio-color-default-label-initial);
}

:host([data-invalid]) > #wrapper {
  --sinch-local-color-border: var(--sinch-comp-radio-color-invalid-border-initial);
  --sinch-local-color-border-hover: var(--sinch-comp-radio-color-invalid-border-hover);
  --sinch-local-color-border-active: var(--sinch-comp-radio-color-invalid-border-active);
  --sinch-local-color-text: var(--sinch-comp-radio-color-invalid-label-initial);
}

:host([checked]) > #wrapper {
  --sinch-local-color-border: var(--sinch-comp-radio-color-checked-border-initial);
  --sinch-local-color-border-hover: var(--sinch-comp-radio-color-checked-border-hover);
  --sinch-local-color-border-active: var(--sinch-comp-radio-color-checked-border-active);
}

:host([disabled]) > #wrapper {
  --sinch-local-color-background: var(--sinch-comp-radio-color-disabled-background-initial);
  --sinch-local-color-border: var(--sinch-comp-radio-color-disabled-border-initial);
  --sinch-local-color-text: var(--sinch-comp-radio-color-disabled-label-initial);
}

:host([disabled][checked]) > #wrapper {
  --sinch-local-color-border: var(--sinch-comp-radio-color-checked-disabled-border-initial);
  --sinch-local-color-knob: var(--sinch-comp-radio-color-checked-disabled-knob-initial);
  --sinch-local-color-text: var(--sinch-comp-radio-color-checked-disabled-label-initial);
}

#input {
  all: initial;
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

:host([disabled]) #input {
  cursor: initial;
}

#input-wrapper {
  position: relative;
  width: 18px;
  height: 18px;
  align-self: flex-start;
  margin-top: 3px;
}

/* Outline */
#input::before {
  content: "";
  position: absolute;
  inset: -3px;
  border: 2px solid var(--sinch-comp-radio-color-default-outline-focus);
  border-radius: 50%;
  transition: opacity 0.1s linear;
  opacity: 0;
  box-sizing: border-box;
  pointer-events: none;
}

:host(:focus-visible) #input::before {
  opacity: 1;
}

/* Circle Border / Background */
#input::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  inset: 0;
  margin: auto;
  background-color: var(--sinch-local-color-background);
  border: 1px solid var(--sinch-local-color-border);
  border-radius: 50%;
  box-sizing: border-box;
  pointer-events: none;
}

:host(:hover:not([disabled])) #input::after {
  background-color: var(--sinch-local-color-background-hover);
  border-color: var(--sinch-local-color-border-hover);
}

:host(:active:not([disabled])) #input::after {
  background-color: var(--sinch-local-color-background-active);
  border-color: var(--sinch-local-color-border-active);
}

#knob {
  position: absolute;
  width: 10px;
  height: 10px;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  transition: opacity 0.1s linear;
  opacity: 0;
  background-color: var(--sinch-local-color-knob);
  pointer-events: none;
}

:host([checked]) #knob {
  opacity: 1;
}

:host(:hover:not([disabled])) #knob {
  background-color: var(--sinch-local-color-knob-hover);
}

:host(:active:not([disabled])) #knob {
  background-color: var(--sinch-local-color-knob-active);
}

@media (prefers-reduced-motion) {
  #knob,
  #input::before,
  #input::after {
    transition: none;
  }
}

#label {
  flex: 1;
  align-self: center;
  padding-left: 8px;
  font: var(--sinch-comp-radio-font-label);
  color: var(--sinch-local-color-text);
  cursor: pointer;
}

#label:empty {
  display: none;
}

:host([disabled]) #label {
  cursor: initial;
}

</style>

<div id="wrapper">
  <div id="input-wrapper">
    <div id="input"></div>
    <div id="knob"></div>
  </div>
  <span id="label"></span>
</div>
