<sinch-input
  aria-label="Input"
  [attr.placeholder]="placeholderText"
  [attr.disabled]="isDisabled"
  [attr.invalid]="isInvalid"
  [attr.type]="type"
  [value]="value"
  (-focus)="onFocus()"
  (-blur)="onBlur()"
  (-change)="onChange($event)">
  <sinch-icon-search *ngIf="hasIcon" slot="icon"></sinch-icon-search>
  <sinch-help-tooltip *ngIf="tooltipText != null" [attr.text]="tooltipText" slot="tooltip"></sinch-help-tooltip>
  <sinch-tag *ngIf="hasRight" slot="right" text="text" color="light-grey"></sinch-tag>
  <sinch-icon-button *ngIf="hasRight" slot="right" small>
    <sinch-icon-close slot="icon"></sinch-icon-close>
  </sinch-icon-button>
</sinch-input>
