<sinch-input
  [attr.label]="labelText"
  [attr.optionaltext]="optionalText"
  [attr.additionaltext]="additionalText"
  [attr.invalidtext]="invalidText"
  [attr.placeholder]="placeholderText"
  [attr.disabled]="isDisabled"
  [attr.type]="type"
  [value]="value"
  (focusin)="onFocus()"
  (focusout)="onBlur()"
  (change)="onChange($event)">
  <sinch-icon-search *ngIf="hasIcon"></sinch-icon-search>
  <sinch-help-tooltip *ngIf="tooltipText != null" [attr.text]="tooltipText" slot="tooltip"></sinch-help-tooltip>
  <sinch-icon-button *ngIf="hasRightButton" slot="right" small>
    <sinch-icon-close slot="icon"></sinch-icon-close>
  </sinch-icon-button>
</sinch-input>
