<sinch-input
  aria-label="Input"
  [attr.placeholder]="placeholderText"
  [attr.mask]="mask"
  [attr.disabled]="isDisabled"
  [attr.invalid]="isInvalid"
  [attr.type]="type"
  [attr.size]="size"
  [value]="value"
  (-copy)="onCopy($event)"
  (-cut)="onCut($event)"
  (-paste)="onPaste($event)"
  (-focus)="onFocus()"
  (-blur)="onBlur()"
  (-change)="onChange($event)"
>
  <sinch-select-button
    *ngIf="hasLeft"
    slot="left"
    text="+0"
    placeholder=""
    aria-label=""
  ></sinch-select-button>
  <sinch-icon name="fa-magnifying-glass"
    *ngIf="hasIcon"
    slot="icon"
  ></sinch-icon>
  <sinch-tag *ngIf="hasRight" slot="right" text="tag"></sinch-tag>
  <sinch-chip *ngIf="hasRight" slot="right" text="chip"></sinch-chip>
</sinch-input>
