<style>
:host {
  display: block;
  outline: none;
}

#listbox {
  overflow-y: auto;
}

#search {
  display: none;
  margin: 10px;
}

#search.active {
  display: block;
}

#search-clear:not(.active) {
  display: none;
}

#not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  pointer-events: none;
  user-select: none;

  --sinch-comp-text-font: var(--sinch-comp-select-menu-font-not-found-text);
  --sinch-global-color-text: var(--sinch-comp-select-menu-color-default-not-found-text-initial);
}

#not-found:not(.active) {
  display: none;
}

::slotted(.hidden) {
  display: none;
}
</style>

<sinch-input id="search" size="s" placeholder="Search">
  <sinch-icon id="icon-search" slot="icon" name="search"></sinch-icon>
  <sinch-button id="search-clear" slot="right">
    <sinch-icon slot="icon" name="close"></sinch-icon>
  </sinch-button>
</sinch-input>
<div id="not-found">
  <sinch-text type="m">No results</sinch-text>
</div>
<div id="listbox" role="presentation">
  <slot></slot>
</div>
