<sinch-select
  [attr.label]="labelText"
  [attr.optionaltext]="optionalText"
  [attr.additionaltext]="additionalText"
  [attr.invalidtext]="invalidText"
  [attr.placeholder]="placeholderText"
  [attr.disabled]="isDisabled"
  [attr.maxvisibleitems]="maxVisibleItems"
  (focusin)="onFocus()"
  (focusout)="onBlur()"
  [value]="value"
  (-change)="onChange($event)">
  <sinch-help-tooltip *ngIf="tooltipText != null" [text]="tooltipText" slot="tooltip"></sinch-help-tooltip>
  <sinch-select-option value="1" text="Option 1 value" slot="option">
    <sinch-icon-open-in-new slot="icon"></sinch-icon-open-in-new>
  </sinch-select-option>
  <sinch-select-option value="2" text="Option 2 value" slot="option" disabled>
    <sinch-icon-open-in-new slot="icon"></sinch-icon-open-in-new>
  </sinch-select-option>
  <sinch-select-option value="3" text="Option 3 value" slot="option"></sinch-select-option>
  <sinch-select-option value="4" text="Option 4 value" slot="option"></sinch-select-option>
</sinch-select>
