<sinch-popover
  [attr.open]="isOpen"
  orientation="bottom"
  modal
  (-close)="onClose()"
>
  <sinch-field
    slot="target"
    label="Select"
    [attr.disabled]="isDisabled"
    [attr.invalidtext]="isInvalid ? 'Invalid option selected' : ''">
    <sinch-select-button
      slot="input"
      placeholder="Select option"
      [attr.text]="options[value] != null ? options[value].text : ''"
      [attr.disabled]="isDisabled"
      [attr.invalid]="isInvalid"
      (-click)="onClick()"
      (-focus)="onFocus()"
      (-blur)="onBlur()">
      <sinch-icon-open-in-new *ngIf="options[value] != null && options[value].icon === '1'" slot="icon"></sinch-icon-open-in-new>
      <sinch-icon-keyboard-arrow-down slot="right"></sinch-icon-keyboard-arrow-down>
    </sinch-select-button>
    </sinch-field>
  <sinch-select-menu
    slot="content"
    [attr.rows]="rows"
    [value]="value"
    (-change)="onChange($event)">
    <sinch-select-menu-option
      *ngFor="let opt of options | keyvalue"
      [value]="opt.key"
      [attr.text]="opt.value.text"
      [attr.disabled]="opt.value.isDisabled"
    >
      <sinch-icon-open-in-new *ngIf="opt.value.icon === '1'" slot="icon"></sinch-icon-open-in-new>
    </sinch-select-menu-option>
  </sinch-select-menu>
</sinch-popover>
