.navigation-item {
}

.navigation-link {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  text-decoration: none;
  color: var(--sinch-color-stormy-500);
  border-radius: var(--sinch-shape-radius-m);
}

.navigation-link:hover {
  background-color: var(--sinch-color-bg-hover);
}

.navigation-link:active {
  background-color: var(--sinch-color-bg-active);
}

.navigation-link.selected {
  background-color: var(--sinch-color-honey-200);
}

.navigation-link.selected:hover {
  background-color: var(--sinch-color-honey-300);
}
