.navigation-item {
}

.navigation-link {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  text-decoration: none;
  color: var(--sinch-sys-color-text-default);
  border-radius: 5px;
  background-color: var(--sinch-sys-color-container-transparent-default);
}

.navigation-link:hover {
  background-color: var(--sinch-sys-color-container-transparent-hover);
}

.navigation-link:active {
  background-color: var(--sinch-sys-color-container-transparent-active);
}

.navigation-link.selected {
  background-color: var(--sinch-sys-color-container-complement-secondary-active);
}

.navigation-link.selected:hover {
  background-color: var(--sinch-sys-color-container-complement-secondary-hover);
}

.navigation-link.selected:active {
  background-color: var(--sinch-sys-color-container-complement-secondary-active);
}
