<style>
:host {
  display: block;
}

#title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#title-text {
  font: var(--sinch-comp-card-v2-font-title);
  color: var(--sinch-comp-card-v2-color-default-title-initial);
}

#title-icon {
  display: flex;
}

:host([orientation="vertical"]) #title {
  align-items: start;
  flex-direction: column;
}

:host([disabled]:not([disabled="false"])) #title-text {
  color: var(--sinch-comp-card-v2-color-default-title-disabled);
}

:host([selected]:not([selected="false"])[disabled]:not([disabled="false"])) #title-text {
  color: var(--sinch-comp-card-v2-color-selected-title-disabled);
}

::slotted([slot="icon"]) {
  --sinch-global-color-icon: var(--sinch-comp-card-v2-color-default-icon-initial);
  --sinch-global-size-icon: var(--sinch-comp-card-v2-size-icon);

  margin-right: 8px;
  margin-bottom: 0;
}

:host([orientation="vertical"]) ::slotted([slot="icon"]) {
  margin-right: 0;
  margin-bottom: 8px;
}

:host([selected]:not([selected="false"])) ::slotted([slot="icon"]) {
  --sinch-global-color-icon: var(--sinch-comp-card-v2-color-selected-icon-initial);
}

:host([disabled]:not([disabled="false"])) ::slotted([slot="icon"]) {
  --sinch-global-color-icon: var(--sinch-comp-card-v2-color-default-icon-disabled);
}

:host([selected]:not([selected="false"])[disabled]:not([disabled="false"])) ::slotted([slot="icon"]) {
  --sinch-global-color-icon: var(--sinch-comp-card-v2-color-selected-icon-disabled);
}

</style>

<div id="title">
  <div id="title-icon">
    <slot name="icon"></slot>
  </div>
  <sinch-text id="title-text" type="m"></sinch-text>
</div>
