.nectary-theme-base.nectary-theme-dark {
  --sinch-sys-color-basic-pure: #000000;
  --sinch-sys-color-basic-pure-inverted: #FFFFFF;
  --sinch-sys-color-border-default: var(--sinch-ref-color-neutral-700);
  --sinch-sys-color-border-disabled: var(--sinch-ref-color-neutral-900);
  --sinch-sys-color-border-strong: var(--sinch-ref-color-neutral-600);
  --sinch-sys-color-border-subtle: var(--sinch-ref-color-neutral-800);
  --sinch-sys-color-feedback-danger-default: var(--sinch-ref-color-raspberry-500);
  --sinch-sys-color-feedback-danger-strong: var(--sinch-ref-color-raspberry-300);
  --sinch-sys-color-feedback-danger-subtle: var(--sinch-ref-color-raspberry-800);
  --sinch-sys-color-feedback-info-default: var(--sinch-ref-color-ocean-500);
  --sinch-sys-color-feedback-info-strong: var(--sinch-ref-color-ocean-300);
  --sinch-sys-color-feedback-info-subtle: var(--sinch-ref-color-ocean-800);
  --sinch-sys-color-feedback-neutral-default: var(--sinch-ref-color-neutral-500);
  --sinch-sys-color-feedback-neutral-strong: var(--sinch-ref-color-neutral-300);
  --sinch-sys-color-feedback-neutral-subtle: var(--sinch-ref-color-neutral-800);
  --sinch-sys-color-feedback-success-default: var(--sinch-ref-color-grass-400);
  --sinch-sys-color-feedback-success-strong: var(--sinch-ref-color-grass-300);
  --sinch-sys-color-feedback-success-subtle: var(--sinch-ref-color-grass-800);
  --sinch-sys-color-feedback-warning-default: var(--sinch-ref-color-pumpkin-400);
  --sinch-sys-color-feedback-warning-strong: var(--sinch-ref-color-pumpkin-300);
  --sinch-sys-color-feedback-warning-subtle: var(--sinch-ref-color-pumpkin-800);
  --sinch-sys-color-primary-active: var(--sinch-ref-color-tropical-600);
  --sinch-sys-color-primary-default: var(--sinch-ref-color-tropical-500);
  --sinch-sys-color-primary-disabled: var(--sinch-ref-color-tropical-700);
  --sinch-sys-color-primary-hover: var(--sinch-ref-color-tropical-400);
  --sinch-sys-color-surface-canvas: var(--sinch-ref-color-neutral-900);
  --sinch-sys-color-surface-primary-active: var(--sinch-ref-color-neutral-900);
  --sinch-sys-color-surface-primary-default: var(--sinch-sys-color-basic-pure);
  --sinch-sys-color-surface-primary-disabled: var(--sinch-sys-color-basic-pure);
  --sinch-sys-color-surface-primary-hover: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-surface-secondary-active: var(--sinch-ref-color-neutral-800);
  --sinch-sys-color-surface-secondary-default: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-surface-secondary-disabled: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-surface-secondary-hover: var(--sinch-ref-color-neutral-900);
  --sinch-sys-color-surface-tertiary-active: var(--sinch-ref-color-neutral-700);
  --sinch-sys-color-surface-tertiary-default: var(--sinch-ref-color-neutral-900);
  --sinch-sys-color-surface-tertiary-disabled: var(--sinch-ref-color-neutral-900);
  --sinch-sys-color-surface-tertiary-hover: var(--sinch-ref-color-neutral-800);
  --sinch-sys-color-surface-transparent-active: #EBEEF033;
  --sinch-sys-color-surface-transparent-hover: #EBEEF01A;
  --sinch-sys-color-text-caption: var(--sinch-ref-color-neutral-300);
  --sinch-sys-color-text-default: var(--sinch-ref-color-neutral-50);
  --sinch-sys-color-text-disabled: var(--sinch-ref-color-neutral-600);
  --sinch-sys-color-text-muted: var(--sinch-ref-color-neutral-400);
}
