<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  width: 44px;
  height: 56px;
  padding: 12px 6px;
  box-sizing: border-box;

  --sinch-global-color-icon: var(--sinch-color-menu-color-icon);
}

#swatch-wrapper {
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

#swatch-wrapper::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  inset: -3px;
  border: 2px solid transparent;
  border-radius: 50%;
  pointer-events: none;
}

:host([data-selected]:not([data-checked])) #swatch-wrapper::after {
  border-color: var(--sinch-comp-color-swatch-color-outline-focus);
}

#check {
  display: none;
  position: absolute;
  left: 4px;
  top: 4px;
  pointer-events: none;

  --sinch-global-size-icon: 24px;
}

:host([data-checked]) #check {
  display: block;
}
</style>

<div id="wrapper">
  <sinch-tooltip id="tooltip">
    <div id="swatch-wrapper">
      <sinch-color-swatch id="swatch"></sinch-color-swatch>
      <sinch-icon id="check" name="check"></sinch-icon>
    </div>
  </sinch-tooltip>
</div>
