<sinch-progress-stepper
  *ngIf="example != 'single'"
  [value]="value"
  [attr.progressvalue]="progressValue"
  (-change)="onChange($event)"
  aria-label="Stepper">
  <sinch-progress-stepper-item value="1" [attr.invalid]="invalidValue === '1'" text="Shipping address" aria-label="1"/>
  <sinch-progress-stepper-item value="2" [attr.invalid]="invalidValue === '2'" text="Payment method" aria-label="2"/>
  <sinch-progress-stepper-item value="3" [attr.invalid]="invalidValue === '3'" text="Item and shipping" aria-label="3"/>
  <sinch-progress-stepper-item value="4" [attr.invalid]="invalidValue === '4'" text="Final" aria-label="4"/>
</sinch-progress-stepper>
<sinch-progress-stepper
  *ngIf="example == 'single'"
  [value]="value"
  aria-label="Stepper">
  <sinch-progress-stepper-item
    aria-label="1"
    text="Shipping address"
    value="1"
    [attr.invalid]="invalidValue === '1'">
  </sinch-progress-stepper-item>
</sinch-progress-stepper>
