<style>
:host {
  display: block;
  outline: none;
}

#button {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 8px 4px 4px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: var(--sinch-comp-progress-stepper-step-shape-radius);
}

:host([data-status="inactive"]) > #button {
  cursor: not-allowed;
}

:host([data-status="incomplete"]:hover) > #button {
  background-color: var(--sinch-comp-progress-stepper-step-color-incomplete-background-hover);
}

:host([data-status="complete"]:hover) > #button {
  background-color: var(--sinch-comp-progress-stepper-step-color-complete-background-hover);
}

:host([data-status="invalid"]:hover) > #button {
  background-color: var(--sinch-comp-progress-stepper-step-color-invalid-background-hover);
}

#outline {
  position: absolute;
  inset: -2px;
  border: 2px solid var(--sinch-comp-progress-stepper-step-color-outline-focus);
  border-radius: calc(var(--sinch-comp-progress-stepper-step-shape-radius) + 2px);
  pointer-events: none;
  opacity: 0;
}

:host(:focus-visible) #outline {
  opacity: 1;
}

#text {
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 0;
  transform: translate(0, 0);
  will-change: transform;
  transition: transform 0.25s ease-out;
  padding-right: 24px;
}

:host([data-status="incomplete"]) #text {
  --sinch-global-color-text: var(--sinch-comp-progress-stepper-step-color-incomplete-label-default);
  --sinch-comp-text-font: var(--sinch-comp-progress-stepper-step-font-incomplete-label);
}

:host([data-status="complete"]) #text {
  --sinch-global-color-text: var(--sinch-comp-progress-stepper-step-color-complete-label-default);
  --sinch-comp-text-font: var(--sinch-comp-progress-stepper-step-font-complete-label);
}

:host([data-status="inactive"]) #text {
  --sinch-global-color-text: var(--sinch-comp-progress-stepper-step-color-inactive-label-default);
  --sinch-comp-text-font: var(--sinch-comp-progress-stepper-step-font-inactive-label);
}

:host([invalid]) #text {
  --sinch-global-color-text: var(--sinch-comp-progress-stepper-step-color-invalid-label-default);
  --sinch-comp-text-font: var(--sinch-comp-progress-stepper-step-font-invalid-label);

  transform: translate(24px, 0);
}

:host([data-status="incomplete"][data-checked]) #text {
  --sinch-global-color-text: var(--sinch-comp-progress-stepper-step-color-incomplete-current-label-default);
  --sinch-comp-text-font: var(--sinch-comp-progress-stepper-step-font-incomplete-current-label);
}

:host([data-status="complete"][data-checked]) #text {
  --sinch-global-color-text: var(--sinch-comp-progress-stepper-step-color-complete-current-label-default);
  --sinch-comp-text-font: var(--sinch-comp-progress-stepper-step-font-complete-current-label);
}

:host([invalid][data-checked]) #text {
  --sinch-global-color-text: var(--sinch-comp-progress-stepper-step-color-invalid-label-default);
  --sinch-comp-text-font: var(--sinch-comp-progress-stepper-step-font-invalid-current-label);
}

#icon-error {
  position: absolute;
  left: 0;
  top: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  --sinch-global-color-icon: var(--sinch-comp-progress-stepper-step-color-invalid-icon-default);
  --sinch-global-size-icon: 16px;
}

:host([invalid]) #icon-error {
  opacity: 1;
}

#progress {
  height: 8px;
  border-radius: 4px;
  transition: background-color 0.25s ease-in-out;
}

:host([data-status="incomplete"]) #progress {
  background-color: var(--sinch-comp-progress-stepper-step-color-incomplete-progress-background);
}

:host([data-status="complete"]) #progress {
  background-color: var(--sinch-comp-progress-stepper-step-color-complete-progress-background);
}

:host([data-status="inactive"]) #progress {
  background-color: var(--sinch-comp-progress-stepper-step-color-inactive-progress-background);
}

:host([invalid]) #progress {
  background-color: var(--sinch-comp-progress-stepper-step-color-invalid-progress-background);
}

#bar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  opacity: 0;
  transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

:host([data-status="incomplete"]) #bar {
  background-color: var(--sinch-comp-progress-stepper-step-color-incomplete-progress-bar);
}

:host([data-status="complete"]) #bar {
  background-color: var(--sinch-comp-progress-stepper-step-color-complete-progress-bar);
  width: 100%;
}

:host([data-status="incomplete"]:not([invalid])) #bar,
:host([data-status="complete"]:not([invalid])) #bar {
  opacity: 1;
}

#label-bar {
  position: relative;
}
</style>

<div id="button">
  <div id="progress">
    <div id="bar"></div>
  </div>
  <div id="label-bar">
    <sinch-icon id="icon-error" name="report_problem" aria-hidden="true"></sinch-icon>
    <sinch-text id="text" type="m"></sinch-text>
  </div>
  <div id="outline"></div>
</div>
