<sinch-card
  [attr.header]="header"
  [attr.text]="text"
  [attr.label]="label"
  [attr.disabled]="isDisabled"
>
  <sinch-icon-chatbot *ngIf="hasIcon" slot="icon"></sinch-icon-chatbot>
  <sinch-illustration-phone-and-cat *ngIf="hasIllustration" [attr.size]="290" slot="illustration"></sinch-illustration-phone-and-cat>
  <sinch-card-button *ngIf="buttonText !== null" slot="action" [attr.text]="buttonText"></sinch-card-button>
  <sinch-card-link *ngIf="linkText !== null" slot="action" [attr.text]="linkText"></sinch-card-link>
</sinch-card>
