<sinch-card
  [attr.caption]="header"
  [attr.text]="text"
  [attr.label]="label"
>
  <sinch-icon-branded-chatbot *ngIf="hasIcon" slot="icon"></sinch-icon-branded-chatbot>
  <sinch-illustration-phone-and-cat *ngIf="hasIllustration" [attr.size]="290" [attr.background]="background" valign="top" slot="illustration"></sinch-illustration-phone-and-cat>
  <sinch-button
    *ngIf="buttonText !== null"
    slot="action"
    type="primary"
    [attr.text]="buttonText"
  ></sinch-button>
  <sinch-link
    *ngIf="linkText !== null"
    slot="action"
    standalone
    preventdefault
    [attr.text]="linkText"
  ></sinch-link>
</sinch-card>
