<sinch-segment [caption]="caption" [attr.collapsed]="isCollapsed" style="flex: 1;min-height: 0;">
  <sinch-segment-collapse *ngIf="hasCollapse" slot="collapse" [value]="isCollapsed" (-change)="onCollapse($event)" (focus)="onCollapseFocus()" (blur)="onCollapseBlur()"></sinch-segment-collapse>
  <div *ngIf="hasContent" slot="content" style="display: flex; flex-direction: column; gap: 16px;">
    <sinch-text type="m">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</sinch-text>
    <sinch-field slot="content" label="Label">
      <sinch-input slot="input" aria-label="Input" value=""></sinch-input>
    </sinch-field>
    <sinch-field slot="content" label="Label">
      <sinch-input slot="input" aria-label="Input" value=""></sinch-input>
    </sinch-field>
  </div>
  <sinch-icon-branded-chatbot *ngIf="hasIcon" size="32" slot="icon"></sinch-icon-branded-chatbot>
  <sinch-tag *ngIf="hasInfo" text="Label" slot="info"></sinch-tag>
  <sinch-button *ngIf="hasInfo" size="s" slot="info">
    <sinch-icon-apps slot="icon"></sinch-icon-apps>
  </sinch-button>
  <div *ngIf="hasPreview" slot="preview" class="preview-content">
    <sinch-text type="m">Replace me!</sinch-text>
    <sinch-text type="xs">Im a template component</sinch-text>
  </div>
  <sinch-checkbox *ngIf="hasAction" text="Checkbox" slot="action"></sinch-checkbox>
  <sinch-button *ngIf="hasAction" text="Cancel" type="secondary" slot="action" size="s"></sinch-button>
  <sinch-button *ngIf="hasAction" text="Ok" type="primary" slot="action" size="s"></sinch-button>
</sinch-segment>
