<style>
:host {
  display: block;
}

#text {
  letter-spacing: -2%;
}

:host([type="xl"]) #text {
  font: var(--sinch-font-title-xl);
}

:host([type="l"]) #text {
  font: var(--sinch-font-title-l);
}

:host([type="m"]) #text {
  font: var(--sinch-font-title-m);
}

:host([type="s"]) #text {
  font: var(--sinch-font-title-s);
}

:host([type="xs"]) #text {
  font: var(--sinch-font-title-xs);
}

:host([ellipsis]:not([ellipsis="false"])) #text {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>

<span id="text"></span>
