<style>
:host {
  display: block;

  --sinch-comp-title-font: var(--sinch-sys-font-desktop-title-m);
}

:host([type="xl"]) {
  --sinch-comp-title-font: var(--sinch-sys-font-desktop-title-xl);
}

:host([type="l"]) {
  --sinch-comp-title-font: var(--sinch-sys-font-desktop-title-l);
}

:host([type="m"]) {
  --sinch-comp-title-font: var(--sinch-sys-font-desktop-title-m);
}

:host([type="s"]) {
  --sinch-comp-title-font: var(--sinch-sys-font-desktop-title-s);
}

:host([type="xs"]) {
  --sinch-comp-title-font: var(--sinch-sys-font-desktop-title-xs);
}

#text {
  letter-spacing: -2%;
  color: var(--sinch-global-color-text, var(--sinch-sys-color-text-default));
  font: var(--sinch-comp-title-font);
}

:host([ellipsis]) #text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>

<span id="text"></span>
