<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  position: relative;
  padding: 12px 16px;
  border-radius: 16px;
  max-width: 595px;
  box-sizing: border-box;
}

:host([data-type="customer"]) > #wrapper {
  background-color: var(--sinch-sys-color-container-contrast-default);
  border-top-left-radius: 0;
}

:host([data-type="agent-prev"]) > #wrapper {
  background-color: var(--sinch-sys-color-container-contrast-active);
  border-top-right-radius: 0;
}

:host([data-type="agent"]) > #wrapper {
  background-color: var(--sinch-sys-color-container-complement-1-hover);
  border-top-right-radius: 0;
}

#text {
  --sinch-global-color-text: var(--sinch-sys-color-text-default);
}

#icon-sending,
#icon-sent,
#icon-received,
#icon-seen,
#icon-error {
  display: none;
  position: absolute;
  right: 16px;
  bottom: 12px;

  --sinch-global-size-icon: 16px;
  --sinch-comp-icon-font-variation-settings: "FILL" 0;
}

#icon-sending {
  --sinch-global-color-icon: var(--sinch-sys-color-text-default);
}

#icon-sent {
  --sinch-global-color-icon: var(--sinch-sys-color-text-default);
}

#icon-received {
  --sinch-global-color-icon: var(--sinch-sys-color-text-default);
}

#icon-seen {
  --sinch-global-color-icon: var(--sinch-sys-color-feedback-success-contrast);
}

#icon-error {
  --sinch-global-color-icon: var(--sinch-sys-color-feedback-invalid-contrast);
}

:host([status="sending"]) #icon-sending,
:host([status="sent"]) #icon-sent,
:host([status="received"]) #icon-received,
:host([status="seen"]) #icon-seen,
:host([status="error"]) #icon-error {
  display: block;
}

:host([status]:not([status=""])) #wrapper {
  padding-right: 42px;
}
</style>

<div id="wrapper">
  <sinch-text id="text" type="m"></sinch-text>
  <sinch-icon id="icon-sending" name="query_builder"></sinch-icon>
  <sinch-icon id="icon-sent" name="check"></sinch-icon>
  <sinch-icon id="icon-received" name="done_all"></sinch-icon>
  <sinch-icon id="icon-seen" name="done_all"></sinch-icon>
  <sinch-icon id="icon-error" name="error_outline"></sinch-icon>
</div>
