<style>
:host {
  display: block;
  outline: none;
}

#wrapper {
  position: relative;
  padding: 12px 16px;
  border-radius: 16px;
  max-width: 595px;
  box-sizing: border-box;
}

:host([data-type="customer"]) > #wrapper {
  background-color: var(--sinch-color-snow-500);
  border-top-left-radius: 0;
}

:host([data-type="agent-prev"]) > #wrapper {
  background-color: var(--sinch-color-snow-700);
  border-top-right-radius: 0;
}

:host([data-type="agent"]) > #wrapper {
  background-color: var(--sinch-color-honey-200);
  border-top-right-radius: 0;
}

#text {
  font: var(--sinch-font-text-m);
  color: var(--sinch-color-stormy-500);
}

#icon {
  display: none;
  position: absolute;
  right: 16px;
  bottom: 12px;

  --sinch-size-icon: 16px;
  --sinch-color-icon: var(--sinch-color-stormy-500);
  --sinch-icon-font-variation-settings: var(--sinch-chat-icon-font-variation-settings);
}

:host([status="sending"]) #icon,
:host([status="sent"]) #icon,
:host([status="received"]) #icon,
:host([status="seen"]) #icon,
:host([status="error"]) #icon {
  display: block;
}

:host([status="seen"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-success-icon);
}

:host([status="error"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-invalid-icon);
}

:host([status]:not([status=""])) #wrapper {
  padding-right: 42px;
}
</style>

<div id="wrapper">
  <span id="text"></span>
  <sinch-icon id="icon"></sinch-icon>
</div>
