<style>
:host {
  display: block;
  outline: none;
  min-height: 48px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid var(--sinch-color-stormy-200);

  --sinch-size-icon: 16px;
}

#button {
  all: initial;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 12px 8px;
  font: var(--sinch-font-title-s);
  color: var(--sinch-color-text-default);
  fill: var(--sinch-color-stormy-500);
}

#button > * {
  pointer-events: none;
}

#button:disabled {
  cursor: initial;
  color: var(--sinch-color-stormy-100);
  fill: var(--sinch-color-stormy-100);
}

#button::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 8px;
}

:host([status="success"]) #button::before {
  content: "";
  background-color: var(--sinch-color-success-500);
}

:host([status="warn"]) #button::before {
  content: "";
  background-color: var(--sinch-color-warning-500);
}

:host([status="error"]) #button::before {
  content: "";
  background-color: var(--sinch-color-error-500);
}

:host([status="info"]) #button::before {
  content: "";
  background-color: var(--sinch-color-informative-500);
}

#title {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#content {
  display: none;
  overflow-y: auto;
  flex-shrink: 1;
  min-height: 0;
  padding: 0 8px 18px;
  font: var(--sinch-font-text-m);
  color: var(--sinch-color-text-default);
}

#dropdown-icon {
  --sinch-size-icon: 24px;
}

#button[aria-expanded="true"] > #dropdown-icon {
  transform: rotate(180deg);
}

#button[aria-expanded="true"] + #content {
  display: block;
}

#optional {
  font: var(--sinch-font-text-s);
  color: var(--sinch-color-stormy-300);
}
</style>

<div id="wrapper">
  <button id="button" aria-controls="content" aria-expanded="false">
    <slot name="icon"></slot>
    <span id="title"></span>
    <span id="optional"></span>
    <sinch-icon-keyboard-arrow-down id="dropdown-icon"></sinch-icon-keyboard-arrow-down>
  </button>
  <div id="content" role="region" aria-labelledby="button">
    <slot name="content"></slot>
  </div>
</div>
