<style>
:host {
  display: block;
  outline: none;
  min-height: 48px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid var(--sinch-comp-accordion-color-default-border-initial);
}

#button {
  all: initial;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 12px 8px;

  --sinch-global-color-icon: var(--sinch-comp-accordion-color-default-icon-initial);
  --sinch-global-size-icon: var(--sinch-comp-accordion-size-icon);
}

#button > * {
  pointer-events: none;
}

#button:disabled {
  cursor: initial;

  --sinch-global-color-icon: var(--sinch-comp-accordion-color-disabled-icon-initial);
}

#button::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 8px;
}

:host([status="success"]) #button::before {
  content: "";
  background-color: var(--sinch-comp-accordion-color-default-status-success);
}

:host([status="warn"]) #button::before {
  content: "";
  background-color: var(--sinch-comp-accordion-color-default-status-warning);
}

:host([status="error"]) #button::before {
  content: "";
  background-color: var(--sinch-comp-accordion-color-default-status-error);
}

:host([status="info"]) #button::before {
  content: "";
  background-color: var(--sinch-comp-accordion-color-default-status-info);
}

#title {
  flex: 1;
  min-width: 0;

  --sinch-comp-title-font: var(--sinch-comp-accordion-font-title);
  --sinch-global-color-text: var(--sinch-comp-accordion-color-default-title-initial);
}

#button:disabled > #title {
  --sinch-global-color-text: var(--sinch-comp-accordion-color-disabled-title-initial);
}

#content {
  display: none;
  overflow-y: auto;
  flex-shrink: 1;
  min-height: 0;
  padding: 0 8px 18px;
}

#dropdown-icon {
  transform: rotate(0deg);
}

#button[aria-expanded="true"] > #dropdown-icon {
  transform: rotate(180deg);
}

#button[aria-expanded="true"] + #content {
  display: block;
}

#optional {
  --sinch-comp-text-font: var(--sinch-comp-accordion-font-optional-text);
  --sinch-global-color-text: var(--sinch-comp-accordion-color-default-optional-text-initial);
}

#button:disabled > #optional {
  --sinch-global-color-text: var(--sinch-comp-accordion-color-disabled-optional-text-initial);
}
</style>

<div id="wrapper">
  <button id="button" aria-controls="content" aria-expanded="false">
    <slot name="icon"></slot>
    <sinch-title id="title" level="3" type="m" ellipsis></sinch-title>
    <sinch-text id="optional" type="m"></sinch-text>
    <sinch-icon id="dropdown-icon" name="keyboard_arrow_down"></sinch-icon>
  </button>
  <div id="content" role="region" aria-labelledby="button">
    <slot name="content"></slot>
  </div>
</div>
