<style>
/* stylelint-disable no-descending-specificity */
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

button {
  all: initial;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: var(--sinch-local-size);
  height: var(--sinch-local-size);
  padding: 16px 8px 8px;
  border-radius: var(--sinch-local-shape-radius);
  background-color: var(--sinch-local-color-background);
  box-shadow: var(--sinch-local-shadow);
  cursor: pointer;

  --sinch-local-color-background: var(--sinch-comp-tile-control-color-default-background-initial);
  --sinch-local-color-border: var(--sinch-comp-tile-control-color-default-border-initial);
  --sinch-local-color-text: var(--sinch-comp-tile-control-color-default-text-initial);
  --sinch-local-color-icon: var(--sinch-comp-tile-control-color-default-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-tile-control-shadow-initial);
  --sinch-local-shape-radius: var(--sinch-comp-tile-control-shape-radius-l);
  --sinch-local-size: 88px;
  --sinch-local-size-icon: var(--sinch-comp-tile-control-size-m-icon);
}

/* Border */
button::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--sinch-local-color-border);
  border-radius: var(--sinch-local-shape-radius);
  pointer-events: none;
}

/* Focus outline */
button:focus-visible::after {
  position: absolute;
  content: "";
  inset: -4px;
  padding: 2px;
  border: 2px solid var(--sinch-comp-tile-control-color-default-outline-focus);
  border-radius: calc(var(--sinch-local-shape-radius) + 4px);
  pointer-events: none;
}

:host([data-small]) > button {
  padding: 12px 4px 4px;

  --sinch-local-shape-radius: var(--sinch-comp-tile-control-shape-radius-s);
  --sinch-local-size: 64px;
  --sinch-local-size-icon: var(--sinch-comp-tile-control-size-s-icon);
}

button:enabled:hover {
  --sinch-local-color-background: var(--sinch-comp-tile-control-color-default-background-hover);
  --sinch-local-color-border: var(--sinch-comp-tile-control-color-default-border-hover);
  --sinch-local-shadow: var(--sinch-comp-tile-control-shadow-hover);
}

:host([data-checked]) > button:enabled,
button:enabled:active {
  --sinch-local-color-background: var(--sinch-comp-tile-control-color-checked-background-initial);
  --sinch-local-color-border: var(--sinch-comp-tile-control-color-checked-border-initial);
  --sinch-local-color-text: var(--sinch-comp-tile-control-color-checked-text-initial);
  --sinch-local-color-icon: var(--sinch-comp-tile-control-color-checked-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-tile-control-shadow-active);
}

:host([data-checked]) > button:enabled::before,
button:enabled:active::before {
  border-width: 2px;
}

button:disabled {
  cursor: initial;

  --sinch-local-color-background: var(--sinch-comp-tile-control-color-disabled-background-initial);
  --sinch-local-color-border: var(--sinch-comp-tile-control-color-disabled-border-initial);
  --sinch-local-color-text: var(--sinch-comp-tile-control-color-disabled-text-initial);
  --sinch-local-color-icon: var(--sinch-comp-tile-control-color-disabled-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-tile-control-shadow-disabled);
}

#text {
  display: inline-block;
  min-height: 20px;
  text-align: center;
  font: var(--sinch-comp-tile-control-font-label);
  color: var(--sinch-local-color-text);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#icon {
  width: var(--sinch-local-size-icon);
  height: var(--sinch-local-size-icon);
  align-self: center;

  --sinch-global-size-icon: var(--sinch-local-size-icon);
  --sinch-global-color-icon: var(--sinch-local-color-icon);
}
</style>

<button>
  <div id="icon">
    <slot name="icon"></slot>
  </div>
  <span id="text"></span>
</button>
