<style>
:host {
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 328px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: var(--sinch-shape-radius-l);
  box-shadow: var(--sinch-elevation-level-3);
}

#text {
  color: var(--sinch-color-stormy-500);
  padding: 4px 0 4px 4px;
  flex: 1;
  min-width: 0;
}

#icon {
  align-self: flex-start;
  margin: 4px 0;
}

:host([type="success"]) #wrapper {
  background-color: var(--sinch-color-feedback-success-bg);
}

:host([type="warn"]) #wrapper {
  background-color: var(--sinch-color-feedback-warning-bg);
}

:host([type="error"]) #wrapper {
  background-color: var(--sinch-color-feedback-invalid-bg);
}

:host([type="info"]) #wrapper {
  background-color: var(--sinch-color-feedback-info-bg);
}

:host([type="success"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-success-icon);
}

:host([type="warn"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-warning-icon);
}

:host([type="error"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-invalid-icon);
}

:host([type="info"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-info-icon);
}
</style>

<div id="wrapper">
  <sinch-icon id="icon"></sinch-icon>
  <sinch-text id="text" type="m"></sinch-text>
  <slot name="action"></slot>
  <slot name="close"></slot>
</div>
