:root,
:host {
  --sinch-theme: 1;
  --sinch-color-honey-700: #CC8800;
  --sinch-color-honey-600: #FFAA00;
  --sinch-color-honey-500: #FFBE3C;
  --sinch-color-honey-400: #FFCC66;
  --sinch-color-honey-300: #FFDD99;
  --sinch-color-honey-200: #FFEECC;
  --sinch-color-honey-100: #FFF7E6;
  --sinch-color-tropical-700: #003D3D;
  --sinch-color-tropical-600: #005757;
  --sinch-color-tropical-500: #007171;
  --sinch-color-tropical-400: #338D8D;
  --sinch-color-tropical-300: #66AAAA;
  --sinch-color-tropical-200: #99C6C6;
  --sinch-color-tropical-100: #CCE3E3;
  --sinch-color-stormy-600: #061927;
  --sinch-color-stormy-500: #0A273D;
  --sinch-color-stormy-400: #3B5264;
  --sinch-color-stormy-300: #677784;
  --sinch-color-stormy-200: #7F8F99;
  --sinch-color-stormy-100: #9CA8B0;
  --sinch-color-snow-800: #C6CDD2;
  --sinch-color-snow-700: #D4DADD;
  --sinch-color-snow-600: #E3E6E8;
  --sinch-color-snow-500: #F1F3F4;
  --sinch-color-snow-100: #FFFFFF;
  --sinch-color-raspberry-700: #881125;
  --sinch-color-raspberry-600: #B61631;
  --sinch-color-raspberry-500: #E31C3D;
  --sinch-color-raspberry-400: #E94964;
  --sinch-color-raspberry-300: #EE778B;
  --sinch-color-raspberry-200: #F4A4B1;
  --sinch-color-raspberry-100: #F9D2D8;
  --sinch-color-text-default: #0A273D;
  --sinch-color-text-inverted: #FFFFFF;
  --sinch-color-text-muted: #677784;
  --sinch-color-text-link: #007171;
  --sinch-color-text-invalid: #E31C3D;
  --sinch-color-error-800: #57000E;
  --sinch-color-error-500: #E31C3D;
  --sinch-color-error-200: #FCD7D4;
  --sinch-color-success-700: #005419;
  --sinch-color-success-500: #2E8540;
  --sinch-color-success-200: #D7F1D8;
  --sinch-color-informative-700: #003B7E;
  --sinch-color-informative-500: #2071CE;
  --sinch-color-informative-200: #D5E5F8;
  --sinch-color-warning-700: #9C2E00;
  --sinch-color-warning-500: #F35B1C;
  --sinch-color-warning-200: #FFE8D6;
  --sinch-color-night-400: #3247E9;
  --sinch-color-night-200: #D1D6FA;
  --sinch-color-aqua-400: #3DAED8;
  --sinch-color-aqua-200: #AADBEE;
  --sinch-color-grass-400: #39B93D;
  --sinch-color-grass-200: #B4E4B5;
  --sinch-color-dirt-400: #828282;
  --sinch-color-dirt-200: #E0DDDC;
  --sinch-color-berry-400: #F95252;
  --sinch-color-berry-200: #FCA7A7;
  --sinch-color-candy-400: #E467C3;
  --sinch-color-candy-200: #F6CBEA;
  --sinch-color-mud-400: #8B6559;
  --sinch-color-mud-200: #D7C6C1;
  --sinch-color-orange-400: #FF8C34;
  --sinch-color-orange-200: #FFD4B3;
  --sinch-color-bolt-400: #FFBE3C;
  --sinch-color-bolt-200: #FFE6B3;
  --sinch-color-transparent: transparent;
  --sinch-font-hero: 700 56px/72px "Gilroy", "Arial", "sans-serif";
  --sinch-font-title-1: 600 40px/48px "Gilroy", "Arial", "sans-serif";
  --sinch-font-title-2: 600 24px/32px "Gilroy", "Arial", "sans-serif";
  --sinch-font-title-3: 600 20px/24px "Gilroy", "Arial", "sans-serif";
  --sinch-font-title-4: 600 16px/24px "Gilroy", "Arial", "sans-serif";
  --sinch-font-title-5: 700 14px/22px "Gilroy", "Arial", "sans-serif";
  --sinch-font-body: 400 16px/24px "Gilroy", "Arial", "sans-serif";
  --sinch-font-emphasized-body: 600 16px/24px "Gilroy", "Arial", "sans-serif";
  --sinch-font-small-text: 400 14px/22px "Gilroy", "Arial", "sans-serif";
  --sinch-font-extra-small-text: 400 12px/20px "Gilroy", "Arial", "sans-serif";
  --sinch-font-monospace: 400 16px/24px "monospace";
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilroy-Regular"),
    url("https://d2vu40klajma73.cloudfront.net/Gilroy-Regular.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilroy-SemiBold"),
    url("https://d2vu40klajma73.cloudfront.net/Gilroy-SemiBold.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilroy-Bold"),
    url("https://d2vu40klajma73.cloudfront.net/Gilroy-Bold.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/Gilroy-Bold.woff") format("woff");
}
