@import "theme/palette.css";
@import "theme/fonts.css";
@import "theme/typography.css";
@import "theme/shapes.css";
@import "theme/elevation.css";

/* Components */
@import "theme/avatar.css";
@import "theme/badge.css";
@import "theme/chip.css";
@import "theme/color-swatch.css";
@import "theme/tag.css";
@import "theme/emoji.css";
@import "theme/icon.css";

:root,
:host {
  --sinch-theme: 1;

  /* Contextual */
  --sinch-color-bg-primary-light: var(--sinch-color-snow-100);
  --sinch-color-bg-primary-contrast: var(--sinch-color-snow-200);
  --sinch-color-bg-comp-green: var(--sinch-color-tropical-100);
  --sinch-color-bg-comp-blue: var(--sinch-color-ocean-100);
  --sinch-color-bg-comp-yellow: var(--sinch-color-honey-200);
  --sinch-color-bg-comp-red: var(--sinch-color-raspberry-100);
  --sinch-color-text-default: var(--sinch-color-stormy-700);
  --sinch-color-text-inverted: var(--sinch-color-snow-100);
  --sinch-color-text-muted: var(--sinch-color-stormy-300);
  --sinch-color-text-disabled: var(--sinch-color-stormy-100);
  --sinch-color-text-link: var(--sinch-color-tropical-500);
  --sinch-color-text-link-disabled: var(--sinch-color-tropical-100);
  --sinch-color-text-invalid: var(--sinch-color-raspberry-600);
  --sinch-color-text-invalid-disabled: var(--sinch-color-raspberry-100);
  --sinch-color-border-default: var(--sinch-color-snow-700);
  --sinch-color-border-light: var(--sinch-color-snow-500);
  --sinch-color-border-dark: var(--sinch-color-stormy-100);
  --sinch-color-border-active: var(--sinch-color-stormy-500);
  --sinch-color-border-disabled: var(--sinch-color-snow-400);
  --sinch-color-border-focus: var(--sinch-color-ocean-500);
  --sinch-color-border-invalid: var(--sinch-color-raspberry-600);

  /* Deprecated */
  --sinch-font-hero: 700 56px/72px var(--sinch-font-family);
  --sinch-font-body: 400 16px/24px var(--sinch-font-family);
  --sinch-font-emphasized-body: 600 16px/24px var(--sinch-font-family);
  --sinch-font-small-text: 400 14px/22px var(--sinch-font-family);
  --sinch-font-extra-small-text: 400 12px/20px var(--sinch-font-family);
  --sinch-font-monospace: 400 16px/24px "monospace";
}
