.nectary-theme-base.cpaas-theme-base.cpaas-theme-dashboard {
  --sinch-sys-color-primary-active: var(--sinch-ref-color-ocean-800);
  --sinch-sys-color-primary-default: var(--sinch-ref-color-ocean-700);
  --sinch-sys-color-primary-disabled: #1454A866;
  --sinch-sys-color-primary-hover: var(--sinch-ref-color-ocean-600);
}
