#app {
  display: flex;
  flex: 1;
}

#app-sidebar {
  width: 200px;
  box-sizing: border-box;
  padding: 12px 0;
  border-right: 1px solid var(--sinch-color-snow-600);
}

#app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 24px;
  max-width: 800px;
  box-sizing: border-box;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  margin-inline-start: -20px;
}

.title-anchor {
  font: var(--sinch-font-text-m);
  color: var(--sinch-color-text-default);
  text-decoration: none;
  width: 20px;
  text-align: center;
  visibility: hidden;
}

.title:hover > .title-anchor {
  visibility: visible;
}

.paragraph + .title,
.title + .paragraph {
  margin-block-start: 16px;
}

.title + .title {
  margin-block-start: 8px;
}

.paragraph + .paragraph {
  margin-block-start: 8px;
}

.paragraph + .code,
.paragraph + .example {
  margin-block-start: 16px;
}

.title + .example {
  margin-block-start: 16px;
}

.example + .title,
.example-code + .title {
  margin-block-start: 16px;
}

.example-container + .code {
  margin-block-start: 16px;
}

.list {
  font: var(--sinch-font-text-m);
  color: var(--sinch-color-text-default);
  padding: 0;
  padding-inline-start: 16px;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.list .list {
  margin: 0;
}

.table {
  font: var(--sinch-font-text-s);
  width: 100%;
  margin-block: 16px;
}

sinch-table-head-cell:nth-child(1) {
  width: 200px;
}

sinch-table-head-cell:nth-child(2) {
  width: 250px;
}

.code-inline {
  font-family: monospace;
  background-color: #EFF6F6;
  outline: 1px solid var(--sinch-color-tropical-500);
  border-radius: 2px;
  padding-inline: 4px;
}
