<div *ngIf="hasOffset" style="display: flex;">
  <div style="width: 50px; background-color: red;"></div>
  <sinch-popover [attr.open]="isOpen" (-close)="onClose()">
    <sinch-button
      slot="target"
      type="cta-secondary"
      text="Some content"
      aria-label="Button"
      (-click)="onOpen()"
      style="margin: 0 0 20px -20px; position: relative; left: 20px; transform: translate(0, 20px);"
    ></sinch-button>
    <section slot="content" style="max-width: 240px; padding: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</section>
  </sinch-popover>
  <div style="width: 50px; background-color: red;"></div>
</div>
<sinch-popover
  *ngIf="!hasOffset"
  [attr.open]="isOpen"
  [attr.modal]="isModal"
  [attr.orientation]="orientation"
  (-close)="onClose()">
  <sinch-button
    slot="target"
    type="cta-secondary"
    text="Some content"
    aria-label="Button"
    (-click)="onOpen()">
  </sinch-button>
  <section slot="content" style="max-width: 240px; padding: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</section>
</sinch-popover>
