<style>
:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.empty {
  display: none !important;
}

#card {
  border-radius: var(--sinch-comp-card-v2-shape-radius);
  border: 1px solid var(--sinch-comp-card-v2-color-default-border-initial);
  background-color: var(--sinch-comp-card-v2-color-default-background-initial);
  box-shadow: var(--sinch-comp-card-v2-shadow-initial);
  overflow: hidden;
  transition: 0.15s linear;
}

#card-media {
  display: block;
  overflow: hidden;
}

#body {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  align-self: stretch;
}

#card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

#card-content {
  display: flex;
  gap: 10px;
  align-self: stretch;
}

#card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

:host([selected]:not([selected="false"])) #card {
  background-color: var(--sinch-comp-card-v2-color-selected-background-initial);
  border-color: var(--sinch-comp-card-v2-color-selected-border-initial);
  cursor: pointer;
}

:host([clickable]:not([clickable="false"])) #card {
  cursor: pointer;
}

:host([disabled]:not([disabled="false"])) #card {
  box-shadow: var(--sinch-comp-card-v2-shadow-disabled);
  background-color: var(--sinch-comp-card-v2-color-default-background-disabled);
  border-color: var(--sinch-comp-card-v2-color-default-border-disabled);
  cursor: not-allowed;
}

:host([clickable]:not([clickable="false"]):is(:not([disabled]), [disabled="false"]):hover) #card {
  background-color: var(--sinch-comp-card-v2-color-default-background-hover);
  border-color: var(--sinch-comp-card-v2-color-default-border-hover);
  box-shadow: var(--sinch-comp-card-v2-shadow-hover);
}

:host([clickable]:not([clickable="false"]):is(:not([disabled]), [disabled="false"]):active) #card {
  background-color: var(--sinch-comp-card-v2-color-default-background-active);
  border-color: var(--sinch-comp-card-v2-color-default-border-active);
  box-shadow: var(--sinch-comp-card-v2-shadow-active);
}

:host([selected]:not([selected="false"]):is(:not([disabled]), [disabled="false"]):hover) #card {
  background-color: var(--sinch-comp-card-v2-color-selected-background-hover);
  border-color: var(--sinch-comp-card-v2-color-selected-border-hover);
}

:host([selected]:not([selected="false"]):is(:not([disabled]), [disabled="false"]):active) #card {
  background-color: var(--sinch-comp-card-v2-color-selected-background-active);
  border-color: var(--sinch-comp-card-v2-color-selected-border-active);
}

:host([selected]:not([selected="false"])[disabled]:not([disabled="false"])) #card {
  background-color: var(--sinch-comp-card-v2-color-selected-background-disabled);
  border-color: var(--sinch-comp-card-v2-color-selected-border-disabled);
}

::slotted([slot="content"]) {
  max-width: 100%;
  color: var(--sinch-comp-card-v2-color-default-description-initial);
  font-size: var(--sinch-comp-card-v2-font-description);
}

::slotted([slot="title"]) {
  max-width: 100%;
}

::slotted([slot="footer"]) {
  max-width: 100%;
}

:host([selected]:not([selected="false"])) ::slotted([slot="content"]) {
  color: var(--sinch-comp-card-v2-color-selected-description-initial);
}

:host([disabled]:not([disabled="false"])) ::slotted([slot="content"]) {
  color: var(--sinch-comp-card-v2-color-default-description-disabled);
}

:host([selected]:not([selected="false"])[disabled]:not([disabled="false"])) ::slotted([slot="content"]) {
  color: var(--sinch-comp-card-v2-color-selected-description-disabled);
}

</style>

<div id="card">
  <div id="card-media">
    <slot name="media"></slot>
  </div>
  <div id="body">
    <div id="card-title">
      <slot name="title"></slot>
    </div>
    <div id="card-content">
      <slot name="content"></slot>
    </div>
    <div id="card-footer">
      <slot name="footer"></slot>
    </div>
  </div>
</div>
