.root {
  display: flex;
  flex-direction: column;
  background: var(--sinch-sys-color-surface-primary-default);
  border: 1px solid var(--sinch-sys-color-border-subtle, #DCE2E5);
  border-radius: var(--sinch-radius-l);
  box-shadow: var(--sinch-shadow-1, 1px 2px 6px #0A273D1A);
  padding: 16px;
  gap: 8px;
  overflow: hidden;
  transition: background-color 150ms ease, border-color 150ms ease, box-shadow 150ms ease;
}

.clickable {
  cursor: pointer;
}

.clickable:hover:not([data-disabled]) {
  background: var(--sinch-sys-color-surface-primary-hover);
  box-shadow: var(--sinch-shadow-2, 1px 4px 8px #0A273D1A);
}

.clickable:active:not([data-disabled]) {
  background: var(--sinch-sys-color-surface-primary-active);
}

.selected {
  border-color: var(--sinch-color-action-primary, #006063);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
