<sinch-button
  [attr.type]="type"
  [attr.form-type]="formType"
  [attr.text]="text"
  [attr.disabled]="isDisabled"
  [attr.toggled]="isToggled"
  [attr.size]="size"
  aria-label="Button"
  (-focus)="onFocus()"
  (-blur)="onBlur()"
  (-click)="onClick()"
>
  <sinch-spinner *ngIf="hasSpinner" slot="icon"></sinch-spinner>
  <sinch-icon icons-version="2" name="fa-arrow-up-right-from-square"
    *ngIf="hasIcon"
    slot="icon"
  ></sinch-icon>
  <sinch-icon icons-version="2" name="fa-angle-down"
    *ngIf="hasRightIcon"
    slot="right-icon"
  ></sinch-icon>
</sinch-button>
