<style>
  :host {
    display: inline-block;
    height: 16px;
  }

  #text {
    position: absolute;
    pointer-events: none;
    padding: 5px 8px;
    font: var(--sinch-font-small-text);
    color: var(--sinch-color-text-default);
    opacity: 0%;
    transition: opacity 0.2s linear 0.2s;
  }

  #tooltip-icon {
    fill: var(--sinch-color-stormy-500);
  }

  :host-context([disabled]) #tooltip-icon {
    fill: var(--sinch-color-stormy-100);
  }

  :host(:hover) #text {
    opacity: 100%;
  }
</style>

<sinch-icon-tooltip id="tooltip-icon" size="16"></sinch-icon-tooltip>
<span id="text"></span>