<sinch-textarea
  [attr.placeholder]="placeholderText"
  [attr.invalid]="isInvalid"
  [attr.disabled]="isDisabled"
  [attr.resizable]="isResizable"
  [attr.rows]="rows"
  (-focus)="onFocus()"
  (-blur)="onBlur()"
  [value]="value"
  (-change)="onChange($event)">
  <ng-container *ngIf="hasBottom; then bottom"></ng-container>
  <ng-template #bottom>
    <sinch-icon-button slot="bottom" aria-label="Paperclip">
      <sinch-icon-attach-file slot="icon"></sinch-icon-attach-file>
    </sinch-icon-button>
    <sinch-icon-button slot="bottom" aria-label="Emoji">
      <sinch-icon-mood slot="icon"></sinch-icon-mood>
    </sinch-icon-button>
    <sinch-icon-button slot="bottom" aria-label="Variables">
      <sinch-icon-search slot="icon"></sinch-icon-search>
    </sinch-icon-button>
    <sinch-icon-button slot="bottom" aria-label="Comment">
      <sinch-icon-add-comment slot="icon"></sinch-icon-add-comment>
    </sinch-icon-button>
    <sinch-icon-button slot="bottom" aria-label="Comment">
      <sinch-icon-more-horiz slot="icon"></sinch-icon-more-horiz>
    </sinch-icon-button>
    <sinch-tag
      slot="bottom"
      text="400"
      color="olive"
      style="margin-left: auto;"
    ></sinch-tag>
    <sinch-button
      slot="bottom"
      type="primary"
      aria-label="Send"
      text="Send"
    >
      <sinch-icon-send slot="right-icon"></sinch-icon-send>
    </sinch-button>
  </ng-template>
</sinch-textarea>
