<sinch-textarea
  [attr.placeholder]="placeholderText"
  [attr.invalid]="isInvalid"
  [attr.disabled]="isDisabled"
  [attr.resizable]="isResizable"
  [attr.rows]="rows"
  [attr.minrows]="minrows"
  (-focus)="onFocus()"
  (-blur)="onBlur()"
  [value]="value"
  (-change)="onChange($event)"
>
  <ng-container *ngIf="hasBottom; then bottom"></ng-container>
  <ng-template #bottom>
    <sinch-button slot="bottom" aria-label="Paperclip">
      <sinch-icon icons-version="2" name="fa-paperclip-vertical"
        slot="icon"
      ></sinch-icon>
    </sinch-button>
    <sinch-button slot="bottom" aria-label="Emoji">
      <sinch-icon icons-version="2" name="fa-face-laugh" slot="icon"></sinch-icon>
    </sinch-button>
    <sinch-button slot="bottom" aria-label="Variables">
      <sinch-icon icons-version="2" name="fa-magnifying-glass"
        slot="icon"
      ></sinch-icon>
    </sinch-button>
    <sinch-button slot="bottom" aria-label="Comment">
      <sinch-icon icons-version="2" name="fa-comment-plus" slot="icon"></sinch-icon>
    </sinch-button>
    <sinch-button slot="bottom" aria-label="Comment">
      <sinch-icon icons-version="2" name="fa-ellipsis" slot="icon"></sinch-icon>
    </sinch-button>
    <sinch-tag
      slot="bottom"
      text="400"
      color="success"
      style="margin-left: auto;"
    ></sinch-tag>
    <sinch-button slot="bottom" type="primary" aria-label="Send" text="Send">
      <sinch-icon icons-version="2" name="fa-paper-plane-top"
        slot="right-icon"
      ></sinch-icon>
    </sinch-button>
  </ng-template>
</sinch-textarea>
