<style>
  :host {
    display: block;
  }

  #wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    box-sizing: border-box;
    min-height: 48px;
    min-width: 148px;
    border-radius: var(--sinch-comp-file-status-shape-radius);
  }

  :host([type="error"]) #wrapper {
    background-color: var(--sinch-comp-file-status-color-error-background);
  }

  :host([type="success"]) #wrapper {
    background-color: var(--sinch-comp-file-status-color-success-background);
  }

  :host([type="pending"]) #wrapper {
    background-color: var(--sinch-comp-file-status-color-pending-background);
  }

  :host([type="progress"]) #wrapper {
    background-color: var(--sinch-comp-file-status-color-progress-background);
  }

  :host([type="loading"]) #wrapper {
    background-color: var(--sinch-comp-file-status-color-loading-background);
  }

  #content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-width: 0;
    min-height: 24px;
    margin-left: 16px;
  }

  :host([type="error"]) #filename {
    --sinch-global-color-text: var(--sinch-comp-file-status-color-error-text);
  }

  :host([type="success"]) #filename {
    --sinch-global-color-text: var(--sinch-comp-file-status-color-success-text);
  }

  :host([type="pending"]) #filename {
    --sinch-global-color-text: var(--sinch-comp-file-status-color-pending-text);
  }

  :host([type="progress"]) #filename {
    --sinch-global-color-text: var(
      --sinch-comp-file-status-color-progress-text
    );
  }

  :host([type="loading"]) #filename {
    --sinch-global-color-text: var(--sinch-comp-file-status-color-loading-text);
  }

  #action {
    display: flex;
    gap: 4px;
    height: 32px;
    margin-top: -4px;
    margin-bottom: -4px;
  }

  #icon-pending,
  #icon-progress,
  #icon-success,
  #icon-error,
  #icon-loading {
    display: none;
  }

  #icon-pending {
    --sinch-global-color-icon: var(--sinch-comp-file-status-color-pending-icon);
  }

  #icon-success {
    --sinch-global-color-icon: var(--sinch-comp-file-status-color-success-icon);
  }

  #icon-progress {
    --sinch-global-color-icon: var(
      --sinch-comp-file-status-color-progress-icon
    );
  }

  #icon-error {
    --sinch-global-color-icon: var(--sinch-comp-file-status-color-error-icon);
  }

  #icon-loading {
    --sinch-global-color-icon: var(--sinch-comp-file-status-color-loading-icon);
  }

  :host([type="success"]) #icon-success,
  :host([type="progress"]) #icon-progress,
  :host([type="error"]) #icon-error,
  :host([type="pending"]) #icon-pending,
  :host([type="loading"]) #icon-loading {
    display: block;
  }
</style>

<div id="wrapper">
  <sinch-spinner id="icon-loading" size="m"></sinch-spinner>
  <sinch-icon-fa-clipboard-question
    id="icon-pending"
  ></sinch-icon-fa-clipboard-question>
  <sinch-icon-circle-check id="icon-success"></sinch-icon-circle-check>
  <sinch-icon-fa-file-lines id="icon-progress"></sinch-icon-fa-file-lines>
  <sinch-icon-octagon-exclamation
    id="icon-error"
  ></sinch-icon-octagon-exclamation>
  <div id="content-wrapper">
    <sinch-text id="filename" type="m" ellipsis></sinch-text>
    <slot name="content"></slot>
  </div>
  <div id="action">
    <slot name="action"></slot>
  </div>
</div>
