<style>
:host {
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  box-sizing: border-box;
  min-height: 48px;
  min-width: 148px;
  background-color: var(--sinch-color-bg-primary-contrast);
  border-radius: var(--sinch-shape-radius-m);
}

:host([type="error"]) #wrapper {
  background-color: var(--sinch-color-error-200);
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-width: 0;
  min-height: 24px;
  margin-left: 16px;
  color: var(--sinch-color-stormy-500);
}

#icon-pending,
#icon-loading,
#icon-progress,
#icon-success,
#icon-error {
  display: none;

  --sinch-color-icon: var(--sinch-color-stormy-500);
}

#action {
  display: flex;
  gap: 4px;
  height: 32px;
  margin-top: -4px;
  margin-bottom: -4px;
}

:host([type="pending"]) #icon-pending,
:host([type="loading"]) #icon-loading,
:host([type="progress"]) #icon-progress,
:host([type="success"]) #icon-success,
:host([type="error"]) #icon-error {
  display: block;
}

:host([type="success"]) #icon-success {
  --sinch-color-icon: var(--sinch-color-success-500);
}

:host([type="error"]) #icon-error {
  --sinch-color-icon: var(--sinch-color-error-500);
}
</style>

<div id="wrapper">
  <sinch-spinner id="icon-loading" size="m"></sinch-spinner>
  <sinch-icon-check-circle id="icon-success"></sinch-icon-check-circle>
  <sinch-icon-report id="icon-error"></sinch-icon-report>
  <sinch-icon-pending-actions id="icon-pending"></sinch-icon-pending-actions>
  <sinch-icon-text-snippet id="icon-progress"></sinch-icon-text-snippet>
  <div id="content-wrapper">
    <sinch-text id="filename" type="m" ellipsis></sinch-text>
    <slot name="content"></slot>
  </div>
  <div id="action">
    <slot name="action"></slot>
  </div>
</div>
