<style>
/* stylelint-disable no-descending-specificity */
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

button {
  all: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: var(--sinch-shape-radius-s);
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  --sinch-size-icon: 24px;
  --sinch-color-icon: var(--sinch-icon-button-color, var(--sinch-color-stormy-500));
}

button:focus {
  border-color: var(--sinch-color-stormy-500);
}

button:hover {
  background-color: var(--sinch-color-snow-500);
}

button:active {
  background-color: var(--sinch-color-snow-600);
}

button:disabled {
  background-color: transparent;
  cursor: initial;

  --sinch-color-spinner-bg: var(--sinch-color-snow-200);
  --sinch-color-spinner-fg: var(--sinch-color-stormy-200);
  --sinch-color-icon: var(--sinch-color-stormy-100);
}

:host([small]:not([small="false"])) > button {
  width: 32px;
  height: 32px;
}

button > * {
  pointer-events: none;
}
</style>

<button>
  <slot name="icon"></slot>
</button>
