<style>
/* stylelint-disable no-descending-specificity */
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

#button {
  all: initial;
  display: block;
  position: relative;
  width: var(--sinch-local-size);
  height: var(--sinch-local-size);
  cursor: pointer;
  contain: size;

  --sinch-global-color-icon: var(--sinch-local-color-icon);
}

#button:disabled {
  cursor: initial;
}

:host([data-size="l"]) #button {
  --sinch-local-size: var(--sinch-comp-icon-button-size-container-l);
  --sinch-global-size-icon: var(--sinch-comp-icon-button-size-icon-l);
  --sinch-local-shape-radius: var(--sinch-comp-icon-button-shape-radius-size-l);
}

#button,
:host([data-size="m"]) #button {
  --sinch-local-size: var(--sinch-comp-icon-button-size-container-m);
  --sinch-global-size-icon: var(--sinch-comp-icon-button-size-icon-m);
  --sinch-local-shape-radius: var(--sinch-comp-icon-button-shape-radius-size-m);
}

:host([data-size="s"]) #button {
  --sinch-local-size: var(--sinch-comp-icon-button-size-container-s);
  --sinch-global-size-icon: var(--sinch-comp-icon-button-size-icon-s);
  --sinch-local-shape-radius: var(--sinch-comp-icon-button-shape-radius-size-s);
}

:host([data-size="xs"]) #button {
  --sinch-local-size: var(--sinch-comp-icon-button-size-container-xs);
  --sinch-global-size-icon: var(--sinch-comp-icon-button-size-icon-xs);
  --sinch-local-shape-radius: var(--sinch-comp-icon-button-shape-radius-size-xs);
}

:host([type="primary"]) #button {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-primary-default-background-initial);
  --sinch-local-color-border: var(--sinch-comp-icon-button-color-primary-default-border-initial);
  --sinch-local-color-icon: var(--sinch-comp-icon-button-color-primary-default-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-primary-initial);
  --sinch-local-color-outline: var(--sinch-comp-icon-button-color-primary-default-outline-focus);
}

:host([type="secondary"]) #button {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-secondary-default-background-initial);
  --sinch-local-color-border: var(--sinch-comp-icon-button-color-secondary-default-border-initial);
  --sinch-local-color-icon: var(--sinch-comp-icon-button-color-secondary-default-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-secondary-initial);
  --sinch-local-color-outline: var(--sinch-comp-icon-button-color-secondary-default-outline-focus);
}

#button,
:host([type="tertiary"]) #button {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-tertiary-default-background-initial);
  --sinch-local-color-border: var(--sinch-comp-icon-button-color-tertiary-default-border-initial);
  --sinch-local-color-icon: var(--sinch-comp-icon-button-color-tertiary-default-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-tertiary-initial);
  --sinch-local-color-outline: var(--sinch-comp-icon-button-color-tertiary-default-outline-focus);
}

:host([type="primary"]) #button:disabled {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-primary-disabled-background-initial);
  --sinch-local-color-border: var(--sinch-comp-icon-button-color-primary-disabled-border-initial);
  --sinch-local-color-icon: var(--sinch-comp-icon-button-color-primary-disabled-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-primary-disabled);
}

:host([type="secondary"]) #button:disabled {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-secondary-disabled-background-initial);
  --sinch-local-color-border: var(--sinch-comp-icon-button-color-secondary-disabled-border-initial);
  --sinch-local-color-icon: var(--sinch-comp-icon-button-color-secondary-disabled-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-secondary-disabled);
}

#button:disabled,
:host([type="tertiary"]) #button:disabled {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-tertiary-disabled-background-initial);
  --sinch-local-color-border: var(--sinch-comp-icon-button-color-tertiary-disabled-border-initial);
  --sinch-local-color-icon: var(--sinch-comp-icon-button-color-tertiary-disabled-icon-initial);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-tertiary-disabled);
}

:host([type="primary"]) #button:focus {
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-primary-focus);
}

:host([type="secondary"]) #button:focus {
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-secondary-focus);
}

#button:focus,
:host([type="tertiary"]) #button:focus {
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-tertiary-focus);
}

:host([type="primary"]) #button:enabled:hover {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-primary-default-background-hover);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-primary-hover);
}

:host([type="secondary"]) #button:enabled:hover {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-secondary-default-background-hover);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-secondary-hover);
}

#button:enabled:hover,
:host([type="tertiary"]) #button:enabled:hover {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-tertiary-default-background-hover);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-tertiary-hover);
}

:host([type="primary"]) #button:enabled:active {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-primary-default-background-active);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-primary-active);
}

:host([type="secondary"]) #button:enabled:active {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-secondary-default-background-active);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-secondary-active);
}

#button:enabled:active,
:host([type="tertiary"]) #button:enabled:active {
  --sinch-local-color-background: var(--sinch-comp-icon-button-color-tertiary-default-background-active);
  --sinch-local-shadow: var(--sinch-comp-icon-button-shadow-tertiary-active);
}

/* Border / Background */
#button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--sinch-local-color-background);
  border: 1px solid var(--sinch-local-color-border);
  border-radius: var(--sinch-local-shape-radius);
  box-shadow: var(--sinch-local-shadow);
  pointer-events: none;
}

/* Outline */
#button:focus-visible::after {
  content: "";
  position: absolute;
  inset: -3px;
  border: 2px solid var(--sinch-local-color-outline);
  border-radius: calc(var(--sinch-local-shape-radius) + 3px);
  pointer-events: none;
}

#content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(100%);
  height: var(100%);
}
</style>

<sinch-tooltip id="tooltip">
  <button id="button">
    <div id="content">
      <slot name="icon"></slot>
    </div>
  </button>
</sinch-tooltip>
