:root,
:host {
  --sinch-ref-color-main-honey-100: #FFF7E6;
  --sinch-ref-color-main-honey-200: #FCECCB;
  --sinch-ref-color-main-honey-300: #FFDF9E;
  --sinch-ref-color-main-honey-400: #FFCC66;
  --sinch-ref-color-main-honey-500: #FFBE3C;
  --sinch-ref-color-main-honey-600: #FFAA00;
  --sinch-ref-color-main-honey-700: #CC8800;
  --sinch-ref-color-main-tropical-50: #F5FAF6;
  --sinch-ref-color-main-tropical-100: #DCEDE1;
  --sinch-ref-color-main-tropical-200: #A7D5C2;
  --sinch-ref-color-main-tropical-300: #63B9A4;
  --sinch-ref-color-main-tropical-400: #059688;
  --sinch-ref-color-main-tropical-500: #007171;
  --sinch-ref-color-main-tropical-600: #005757;
  --sinch-ref-color-main-tropical-700: #003D3D;
  --sinch-ref-color-main-stormy-100: #A6A6A6;
  --sinch-ref-color-main-stormy-200: #8C8C8C;
  --sinch-ref-color-main-stormy-300: #767676;
  --sinch-ref-color-main-stormy-400: #595959;
  --sinch-ref-color-main-stormy-500: #404040;
  --sinch-ref-color-main-stormy-600: #303030;
  --sinch-ref-color-main-stormy-700: #242424;
  --sinch-ref-color-main-stormy-800: #191919;
  --sinch-ref-color-main-stormy-900: #000000;
  --sinch-ref-color-main-snow-100: #FFFFFF;
  --sinch-ref-color-main-snow-200: #F8F8F8;
  --sinch-ref-color-main-snow-400: #F2F2F2;
  --sinch-ref-color-main-snow-500: #E0E0E0;
  --sinch-ref-color-main-snow-600: #D9D9D9;
  --sinch-ref-color-main-snow-700: #CCCCCC;
  --sinch-ref-color-main-raspberry-50: #FFF6F5;
  --sinch-ref-color-main-raspberry-100: #FFE8E4;
  --sinch-ref-color-main-raspberry-200: #FBD5D5;
  --sinch-ref-color-main-raspberry-300: #FFB8B8;
  --sinch-ref-color-main-raspberry-400: #F38686;
  --sinch-ref-color-main-raspberry-500: #EF5858;
  --sinch-ref-color-main-raspberry-600: #D13D42;
  --sinch-ref-color-main-raspberry-700: #882024;
  --sinch-ref-color-main-ocean-50: #F3FAFE;
  --sinch-ref-color-main-ocean-100: #DEF2FF;
  --sinch-ref-color-main-ocean-200: #C8E6F9;
  --sinch-ref-color-main-ocean-300: #A1D5F5;
  --sinch-ref-color-main-ocean-400: #6EBBEE;
  --sinch-ref-color-main-ocean-500: #3AA7EA;
  --sinch-ref-color-main-ocean-600: #1686CB;
  --sinch-ref-color-main-ocean-700: #1B3E65;
  --sinch-ref-color-complementary-violet-200: #DECBF6;
  --sinch-ref-color-complementary-violet-400: #9E67E4;
  --sinch-ref-color-complementary-violet-700: #4F1B98;
  --sinch-ref-color-complementary-night-200: #D1D6FA;
  --sinch-ref-color-complementary-night-400: #3247E9;
  --sinch-ref-color-complementary-night-700: #1223A1;
  --sinch-ref-color-complementary-grass-200: #B4E4B5;
  --sinch-ref-color-complementary-grass-400: #39B93D;
  --sinch-ref-color-complementary-grass-700: #006602;
  --sinch-ref-color-complementary-bolt-200: #FFE6B3;
  --sinch-ref-color-complementary-bolt-400: #FFBE3C;
  --sinch-ref-color-complementary-bolt-700: #805500;
  --sinch-ref-color-complementary-orange-200: #FFD4B3;
  --sinch-ref-color-complementary-orange-400: #FF8C34;
  --sinch-ref-color-complementary-orange-700: #974302;
  --sinch-ref-color-complementary-candy-200: #F6CBEA;
  --sinch-ref-color-complementary-candy-400: #E467C3;
  --sinch-ref-color-complementary-candy-700: #981B77;
  --sinch-ref-color-complementary-mud-200: #D7C6C1;
  --sinch-ref-color-complementary-mud-400: #8B6559;
  --sinch-ref-color-complementary-mud-700: #6D4E46;
  --sinch-ref-color-complementary-dirt-200: #E0DDDC;
  --sinch-ref-color-complementary-dirt-400: #828282;
  --sinch-ref-color-complementary-dirt-700: #363230;
  --sinch-ref-color-complementary-olive-200: #D7F1D8;
  --sinch-ref-color-complementary-olive-400: #46A65A;
  --sinch-ref-color-complementary-olive-700: #275D33;
  --sinch-ref-color-complementary-celtic-200: #D5E5F8;
  --sinch-ref-color-complementary-celtic-400: #2071CE;
  --sinch-ref-color-complementary-celtic-700: #003B7E;
  --sinch-ref-color-complementary-jasper-200: #FFCDD2;
  --sinch-ref-color-complementary-jasper-400: #F44336;
  --sinch-ref-color-complementary-jasper-700: #B71C1C;
  --sinch-ref-color-complementary-pumpkin-200: #FFE8D6;
  --sinch-ref-color-complementary-pumpkin-400: #F35B1C;
  --sinch-ref-color-complementary-pumpkin-700: #9C2E00;
  --sinch-ref-shadow-level-0: none;
  --sinch-ref-shadow-level-1: 1px 2px 6px #0A273D1A;
  --sinch-ref-shadow-level-2: 1px 4px 8px #0A273D1A;
  --sinch-ref-shadow-level-3: 1px 6px 12px #0A273D26;
  --sinch-ref-shadow-level-4: 0 8px 16px #0A273D1A;
  --sinch-ref-typography-font-family-main: "DM Sans", "Arial", sans-serif;
  --sinch-ref-typography-font-family-mono: "DM Mono", monospace;
  --sinch-ref-typography-line-height-14: 14px;
  --sinch-ref-typography-line-height-16: 16px;
  --sinch-ref-typography-line-height-20: 20px;
  --sinch-ref-typography-line-height-22: 22px;
  --sinch-ref-typography-line-height-24: 24px;
  --sinch-ref-typography-line-height-28: 28px;
  --sinch-ref-typography-line-height-32: 32px;
  --sinch-ref-typography-line-height-48: 48px;
  --sinch-ref-typography-line-height-72: 72px;
  --sinch-ref-typography-font-weight-300: 300;
  --sinch-ref-typography-font-weight-400: 400;
  --sinch-ref-typography-font-weight-500: 500;
  --sinch-ref-typography-font-weight-600: 600;
  --sinch-ref-typography-font-weight-700: 700;
  --sinch-ref-typography-font-size-10: 10px;
  --sinch-ref-typography-font-size-12: 12px;
  --sinch-ref-typography-font-size-14: 14px;
  --sinch-ref-typography-font-size-16: 16px;
  --sinch-ref-typography-font-size-18: 18px;
  --sinch-ref-typography-font-size-20: 20px;
  --sinch-ref-typography-font-size-24: 24px;
  --sinch-ref-typography-font-size-40: 40px;
  --sinch-ref-typography-font-size-56: 56px;
  --sinch-ref-typography-letter-spacing-title: -2%;
  --sinch-ref-typography-letter-spacing-body: 0;
  --sinch-ref-typography-paragraph-spacing-0: 0;
  --sinch-ref-typography-paragraph-spacing-1: 12;
  --sinch-ref-typography-text-case-none: none;
  --sinch-ref-typography-text-decoration-none: none;
  --sinch-ref-typography-text-decoration-underline: underline;
  --sinch-ref-shape-radius-0: 0;
  --sinch-ref-shape-radius-1: 1px;
  --sinch-ref-shape-radius-2: 2px;
  --sinch-ref-shape-radius-3: 3px;
  --sinch-ref-shape-radius-4: 4px;
  --sinch-ref-shape-radius-5: 5px;
  --sinch-ref-shape-radius-6: 6px;
  --sinch-ref-shape-radius-7: 7px;
  --sinch-ref-shape-radius-8: 8px;
  --sinch-ref-shape-radius-9: 9px;
  --sinch-ref-shape-radius-10: 10px;
  --sinch-ref-shape-radius-11: 11px;
  --sinch-ref-shape-radius-12: 12px;
  --sinch-ref-shape-radius-13: 13px;
  --sinch-ref-shape-radius-14: 14px;
  --sinch-ref-shape-radius-15: 15px;
  --sinch-ref-shape-radius-16: 16px;
  --sinch-ref-shape-radius-17: 17px;
  --sinch-ref-shape-radius-18: 18px;
  --sinch-ref-shape-radius-19: 19px;
  --sinch-ref-shape-radius-20: 20px;
  --sinch-ref-shape-radius-full: 9999px;
}
