:root,
:host {
  --sinch-sys-font-desktop-title-hero: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-56)/var(--sinch-ref-typography-line-height-72) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-xl: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-40)/var(--sinch-ref-typography-line-height-48) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-l: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-24)/var(--sinch-ref-typography-line-height-32) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-m: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-20)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-s: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-xs: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-14)/var(--sinch-ref-typography-line-height-22) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-m: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-emphasize: var(--sinch-ref-typography-font-weight-700) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-emphasize-s: var(--sinch-ref-typography-font-weight-700) var(--sinch-ref-typography-font-size-14)/var(--sinch-ref-typography-line-height-20) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-s: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-14)/var(--sinch-ref-typography-line-height-22) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-xs: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-12)/var(--sinch-ref-typography-line-height-20) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-emphasize-xs: var(--sinch-ref-typography-font-weight-700) var(--sinch-ref-typography-font-size-12)/var(--sinch-ref-typography-line-height-20) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-xxs: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-10)/var(--sinch-ref-typography-line-height-16) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-link: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-monospace-m: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-mono);
  --sinch-sys-font-body-monospace-s: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-14)/var(--sinch-ref-typography-line-height-16) var(--sinch-ref-typography-font-family-mono);
  --sinch-sys-font-body-monospace-xs: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-12)/var(--sinch-ref-typography-line-height-14) var(--sinch-ref-typography-font-family-mono);
  --sinch-sys-color-text-default: var(--sinch-ref-color-main-stormy-700);
  --sinch-sys-color-text-muted: var(--sinch-ref-color-main-stormy-300);
  --sinch-sys-color-text-link: var(--sinch-sys-color-primary-default);
  --sinch-sys-color-text-link-disabled: var(--sinch-sys-color-primary-disabled);
  --sinch-sys-color-text-inverted: var(--sinch-ref-color-main-snow-100);
  --sinch-sys-color-text-invalid: var(--sinch-ref-color-main-raspberry-600);
  --sinch-sys-color-text-disabled: var(--sinch-ref-color-main-stormy-100);
  --sinch-sys-color-border-default: var(--sinch-ref-color-main-snow-700);
  --sinch-sys-color-border-light: var(--sinch-ref-color-main-snow-500);
  --sinch-sys-color-border-dark: var(--sinch-ref-color-main-stormy-100);
  --sinch-sys-color-border-active: var(--sinch-sys-color-primary-default);
  --sinch-sys-color-border-disabled: var(--sinch-ref-color-main-snow-400);
  --sinch-sys-color-border-focus: var(--sinch-ref-color-main-ocean-500);
  --sinch-sys-color-border-invalid: var(--sinch-ref-color-main-raspberry-600);
  --sinch-sys-color-feedback-invalid-foreground: var(--sinch-ref-color-complementary-jasper-700);
  --sinch-sys-color-feedback-invalid-contrast: var(--sinch-ref-color-complementary-jasper-400);
  --sinch-sys-color-feedback-invalid-background: var(--sinch-ref-color-complementary-jasper-200);
  --sinch-sys-color-feedback-success-foreground: var(--sinch-ref-color-complementary-olive-700);
  --sinch-sys-color-feedback-success-contrast: var(--sinch-ref-color-complementary-olive-400);
  --sinch-sys-color-feedback-success-background: var(--sinch-ref-color-complementary-olive-200);
  --sinch-sys-color-feedback-info-foreground: var(--sinch-ref-color-complementary-celtic-700);
  --sinch-sys-color-feedback-info-contrast: var(--sinch-ref-color-complementary-celtic-400);
  --sinch-sys-color-feedback-info-background: var(--sinch-ref-color-complementary-celtic-200);
  --sinch-sys-color-feedback-warning-foreground: var(--sinch-ref-color-complementary-pumpkin-700);
  --sinch-sys-color-feedback-warning-contrast: var(--sinch-ref-color-complementary-pumpkin-400);
  --sinch-sys-color-feedback-warning-background: var(--sinch-ref-color-complementary-pumpkin-200);
  --sinch-sys-color-skintone-default: #FFCC4D;
  --sinch-sys-color-skintone-light: #F7DECE;
  --sinch-sys-color-skintone-light-medium: #F3D2A2;
  --sinch-sys-color-skintone-medium: #D4AB88;
  --sinch-sys-color-skintone-medium-dark: #AF7E57;
  --sinch-sys-color-skintone-dark: #7C533E;
  --sinch-sys-color-primary-hover: var(--sinch-ref-color-main-tropical-400);
  --sinch-sys-color-primary-active: var(--sinch-ref-color-main-tropical-600);
  --sinch-sys-color-primary-disabled: var(--sinch-ref-color-main-tropical-200);
  --sinch-sys-color-primary-foreground: var(--sinch-ref-color-main-snow-100);
  --sinch-sys-color-primary-default: var(--sinch-ref-color-main-tropical-500);
  --sinch-sys-color-cta-hover: var(--sinch-ref-color-main-honey-400);
  --sinch-sys-color-cta-active: var(--sinch-ref-color-main-honey-600);
  --sinch-sys-color-cta-disabled: var(--sinch-ref-color-main-honey-200);
  --sinch-sys-color-cta-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-sys-color-cta-default: var(--sinch-ref-color-main-honey-500);
  --sinch-sys-color-container-main-default: var(--sinch-ref-color-main-snow-100);
  --sinch-sys-color-container-main-hover: var(--sinch-ref-color-main-snow-200);
  --sinch-sys-color-container-main-active: var(--sinch-ref-color-main-snow-400);
  --sinch-sys-color-container-main-disabled: var(--sinch-ref-color-main-snow-100);
  --sinch-sys-color-container-main-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-sys-color-container-contrast-default: var(--sinch-ref-color-main-snow-400);
  --sinch-sys-color-container-contrast-hover: var(--sinch-ref-color-main-snow-500);
  --sinch-sys-color-container-contrast-active: var(--sinch-ref-color-main-snow-600);
  --sinch-sys-color-container-contrast-disabled: var(--sinch-ref-color-main-snow-400);
  --sinch-sys-color-container-contrast-foreground: var(--sinch-ref-color-main-stormy-600);
  --sinch-sys-color-container-complement-1-default: var(--sinch-ref-color-main-honey-100);
  --sinch-sys-color-container-complement-1-disabled: var(--sinch-ref-color-main-honey-100);
  --sinch-sys-color-container-complement-1-hover: var(--sinch-ref-color-main-honey-200);
  --sinch-sys-color-container-complement-1-active: var(--sinch-ref-color-main-honey-300);
  --sinch-sys-color-container-complement-1-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-sys-color-container-complement-2-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-sys-color-container-complement-2-default: var(--sinch-ref-color-main-tropical-50);
  --sinch-sys-color-container-complement-2-disabled: var(--sinch-ref-color-main-tropical-50);
  --sinch-sys-color-container-complement-2-hover: var(--sinch-ref-color-main-tropical-100);
  --sinch-sys-color-container-complement-2-active: var(--sinch-ref-color-main-tropical-200);
  --sinch-sys-color-container-complement-3-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-sys-color-container-complement-3-default: var(--sinch-ref-color-main-ocean-100);
  --sinch-sys-color-container-complement-3-disabled: var(--sinch-ref-color-main-ocean-100);
  --sinch-sys-color-container-complement-3-hover: var(--sinch-ref-color-main-ocean-200);
  --sinch-sys-color-container-complement-3-active: var(--sinch-ref-color-main-ocean-300);
  --sinch-sys-color-container-complement-4-foreground: var(--sinch-ref-color-main-stormy-700);
  --sinch-sys-color-container-complement-4-default: var(--sinch-ref-color-main-raspberry-50);
  --sinch-sys-color-container-complement-4-disabled: var(--sinch-ref-color-main-raspberry-50);
  --sinch-sys-color-container-complement-4-hover: var(--sinch-ref-color-main-raspberry-100);
  --sinch-sys-color-container-complement-4-active: var(--sinch-ref-color-main-raspberry-200);
  --sinch-sys-color-container-transparent-default: transparent;
  --sinch-sys-color-container-transparent-hover: #2424241A;
  --sinch-sys-color-container-transparent-active: #24242433;
  --sinch-sys-color-container-transparent-disabled: transparent;
  --sinch-sys-color-background-default: var(--sinch-ref-color-main-snow-200);
  --sinch-sys-color-status-busy-foreground: var(--sinch-ref-color-complementary-jasper-700);
  --sinch-sys-color-status-busy-contrast: var(--sinch-ref-color-complementary-jasper-400);
  --sinch-sys-color-status-busy-background: var(--sinch-ref-color-complementary-jasper-200);
  --sinch-sys-color-status-online-foreground: var(--sinch-ref-color-complementary-olive-700);
  --sinch-sys-color-status-online-contrast: var(--sinch-ref-color-complementary-olive-400);
  --sinch-sys-color-status-online-background: var(--sinch-ref-color-complementary-olive-200);
  --sinch-sys-color-status-offline-foreground: var(--sinch-ref-color-complementary-dirt-700);
  --sinch-sys-color-status-offline-contrast: var(--sinch-ref-color-complementary-dirt-400);
  --sinch-sys-color-status-offline-background: var(--sinch-ref-color-complementary-dirt-200);
  --sinch-sys-color-status-away-foreground: var(--sinch-ref-color-complementary-bolt-700);
  --sinch-sys-color-status-away-contrast: var(--sinch-ref-color-complementary-bolt-400);
  --sinch-sys-color-status-away-background: var(--sinch-ref-color-complementary-bolt-200);
  --sinch-sys-shape-radius-full: var(--sinch-ref-shape-radius-full);
  --sinch-sys-shape-radius-l: var(--sinch-ref-shape-radius-14);
  --sinch-sys-shape-radius-m: var(--sinch-ref-shape-radius-10);
  --sinch-sys-shape-radius-s: var(--sinch-ref-shape-radius-6);
  --sinch-sys-shape-radius-xs: var(--sinch-ref-shape-radius-2);
  --sinch-sys-size-l: 48px;
  --sinch-sys-size-m: 40px;
  --sinch-sys-size-s: 32px;
  --sinch-sys-size-xs: 24px;
}
