.nectary-theme-base {
  --sinch-sys-color-basic-pure: #FFFFFF;
  --sinch-sys-color-basic-pure-inverted: #000000;
  --sinch-sys-color-basic-transparent: transparent;
  --sinch-sys-color-border-default: var(--sinch-ref-color-neutral-350);
  --sinch-sys-color-border-disabled: var(--sinch-ref-color-neutral-100);
  --sinch-sys-color-border-strong: var(--sinch-ref-color-neutral-400);
  --sinch-sys-color-border-subtle: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-feedback-danger-default: var(--sinch-ref-color-raspberry-500);
  --sinch-sys-color-feedback-danger-strong: var(--sinch-ref-color-raspberry-700);
  --sinch-sys-color-feedback-danger-subtle: var(--sinch-ref-color-raspberry-200);
  --sinch-sys-color-feedback-info-default: var(--sinch-ref-color-ocean-500);
  --sinch-sys-color-feedback-info-strong: var(--sinch-ref-color-ocean-700);
  --sinch-sys-color-feedback-info-subtle: var(--sinch-ref-color-ocean-200);
  --sinch-sys-color-feedback-neutral-default: var(--sinch-ref-color-neutral-500);
  --sinch-sys-color-feedback-neutral-strong: var(--sinch-ref-color-neutral-700);
  --sinch-sys-color-feedback-neutral-subtle: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-feedback-success-default: var(--sinch-ref-color-grass-400);
  --sinch-sys-color-feedback-success-strong: var(--sinch-ref-color-grass-700);
  --sinch-sys-color-feedback-success-subtle: var(--sinch-ref-color-grass-200);
  --sinch-sys-color-feedback-warning-default: var(--sinch-ref-color-pumpkin-400);
  --sinch-sys-color-feedback-warning-strong: var(--sinch-ref-color-pumpkin-700);
  --sinch-sys-color-feedback-warning-subtle: var(--sinch-ref-color-pumpkin-200);
  --sinch-sys-color-focus: var(--sinch-ref-color-ocean-400);
  --sinch-sys-color-primary-active: var(--sinch-ref-color-tropical-800);
  --sinch-sys-color-primary-default: var(--sinch-ref-color-tropical-700);
  --sinch-sys-color-primary-disabled: var(--sinch-ref-color-tropical-400);
  --sinch-sys-color-primary-foreground: var(--sinch-sys-color-basic-pure);
  --sinch-sys-color-primary-hover: var(--sinch-ref-color-tropical-600);
  --sinch-sys-color-surface-canvas: var(--sinch-ref-color-neutral-100);
  --sinch-sys-color-surface-primary-active: var(--sinch-ref-color-neutral-100);
  --sinch-sys-color-surface-primary-default: var(--sinch-sys-color-basic-pure);
  --sinch-sys-color-surface-primary-disabled: var(--sinch-sys-color-basic-pure);
  --sinch-sys-color-surface-primary-hover: var(--sinch-ref-color-neutral-50);
  --sinch-sys-color-surface-secondary-active: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-surface-secondary-default: var(--sinch-ref-color-neutral-50);
  --sinch-sys-color-surface-secondary-disabled: var(--sinch-ref-color-neutral-50);
  --sinch-sys-color-surface-secondary-hover: var(--sinch-ref-color-neutral-100);
  --sinch-sys-color-surface-tertiary-active: var(--sinch-ref-color-neutral-300);
  --sinch-sys-color-surface-tertiary-default: var(--sinch-ref-color-neutral-100);
  --sinch-sys-color-surface-tertiary-disabled: var(--sinch-ref-color-neutral-50);
  --sinch-sys-color-surface-tertiary-hover: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-surface-transparent-active: #1A212633;
  --sinch-sys-color-surface-transparent-default: var(--sinch-sys-color-basic-transparent);
  --sinch-sys-color-surface-transparent-disabled: var(--sinch-sys-color-basic-transparent);
  --sinch-sys-color-surface-transparent-hover: #1A21261A;
  --sinch-sys-color-text-caption: var(--sinch-ref-color-neutral-700);
  --sinch-sys-color-text-default: var(--sinch-ref-color-neutral-900);
  --sinch-sys-color-text-disabled: var(--sinch-ref-color-neutral-400);
  --sinch-sys-color-text-muted: var(--sinch-ref-color-neutral-600);
  --sinch-sys-font-body-emphasize: var(--sinch-ref-typography-font-weight-700) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-emphasize-s: var(--sinch-ref-typography-font-weight-700) var(--sinch-ref-typography-font-size-14)/var(--sinch-ref-typography-line-height-22) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-emphasize-xs: var(--sinch-ref-typography-font-weight-700) var(--sinch-ref-typography-font-size-12)/var(--sinch-ref-typography-line-height-20) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-link: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-m: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-monospace-m: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-mono);
  --sinch-sys-font-body-monospace-s: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-14)/var(--sinch-ref-typography-line-height-22) var(--sinch-ref-typography-font-family-mono);
  --sinch-sys-font-body-monospace-xs: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-12)/var(--sinch-ref-typography-line-height-20) var(--sinch-ref-typography-font-family-mono);
  --sinch-sys-font-body-monospace-xxs: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-10)/var(--sinch-ref-typography-line-height-16) var(--sinch-ref-typography-font-family-mono);
  --sinch-sys-font-body-s: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-14)/var(--sinch-ref-typography-line-height-22) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-xs: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-12)/var(--sinch-ref-typography-line-height-20) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-body-xxs: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-10)/var(--sinch-ref-typography-line-height-16) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-hero: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-56)/var(--sinch-ref-typography-line-height-72) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-l: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-24)/var(--sinch-ref-typography-line-height-32) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-m: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-20)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-s: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-16)/var(--sinch-ref-typography-line-height-24) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-xl: var(--sinch-ref-typography-font-weight-400) var(--sinch-ref-typography-font-size-40)/var(--sinch-ref-typography-line-height-48) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-font-desktop-title-xs: var(--sinch-ref-typography-font-weight-500) var(--sinch-ref-typography-font-size-14)/var(--sinch-ref-typography-line-height-22) var(--sinch-ref-typography-font-family-main);
  --sinch-sys-shape-radius-full: 9999px;
  --sinch-sys-shape-radius-l: 14px;
  --sinch-sys-shape-radius-m: 10px;
  --sinch-sys-shape-radius-s: 6px;
  --sinch-sys-shape-radius-xs: 2px;
  --sinch-sys-size-l: 48px;
  --sinch-sys-size-m: 40px;
  --sinch-sys-size-s: 32px;
  --sinch-sys-size-xs: 24px;
}
