#navmenu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.navmenu-title {
  padding-top: 24px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.navmenu-link {
  display: block;
  position: relative;
  font: var(--sinch-sys-font-body-m);
  color: var(--sinch-sys-color-text-default);
  background-color: var(--sinch-sys-color-container-main-default);
  line-height: 36px;
  padding-left: 16px;
  text-decoration: none;
  margin-left: 1px;
}

.navmenu-link:hover {
  background-color: var(--sinch-sys-color-container-main-hover);
}

.navmenu-link.level-1 {
  padding-left: 32px;
}

.navmenu-link.level-2 {
  padding-left: 48px;
}

.navmenu-link.level-3 {
  padding-left: 64px;
}

.navmenu-link.level-4 {
  padding-left: 80px;
}

.navmenu-link.active {
  font: var(--sinch-sys-font-body-emphasize);
  line-height: 36px;
}

.navmenu-link.active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: 4px;
  background-color: var(--sinch-sys-color-primary-default);
  border-radius: 2px;
}
