<style>
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

#wrapper {
  position: relative;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  outline: none;
  font: var(--sinch-font-body);
  color: var(--sinch-color-text-default);
  background-color: var(--sinch-color-snow-100);
  box-shadow: var(--sinch-elevation-level-2);
  border: 1px solid var(--sinch-color-snow-500);
  border-radius: var(--sinch-shape-radius-s);
  contain: content;
  padding: 0;
  box-sizing: border-box;
  max-width: unset;
  max-height: unset;
}

dialog:not([open]) {
  display: none;
}

dialog::backdrop {
  background-color: transparent;
}

/* Dialog Polyfill */
dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

/* Dialog Polyfill */
dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

/* Dialog Polyfill */
/* stylelint-disable-next-line selector-class-pattern */
._dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#target {
  display: flex;
  flex-direction: column;
}
</style>

<div id="wrapper">
  <div id="target" aria-haspopup="dialog" aria-expanded="false">
    <slot name="target"></slot>
  </div>
  <dialog id="dialog" tabindex="-1">
    <slot name="content"></slot>
  </dialog>
</div>
