<style>
:host {
  display: contents;
}

#content-wrapper {
  position: relative;
  padding-top: 4px;
  width: fit-content;
  min-width: 100%;
}

:host([tip]) #content-wrapper {
  padding-top: 12px;
  filter: drop-shadow(var(--sinch-comp-popover-shadow));
}

:host([orientation^="top"]) #content-wrapper {
  padding-top: 0;
  padding-bottom: 4px;
}

:host([orientation="left"]) #content-wrapper {
  padding-top: 0;
  padding-right: 4px;
}

:host([orientation="right"]) #content-wrapper {
  padding-top: 0;
  padding-left: 4px;
}

:host([orientation^="top"][tip]) #content-wrapper {
  padding-top: 0;
  padding-bottom: 12px;
}

:host([orientation="left"][tip]) #content-wrapper {
  padding-top: 0;
  padding-right: 12px;
}

:host([orientation="right"][tip]) #content-wrapper {
  padding-top: 0;
  padding-left: 12px;
}

#content {
  background-color: var(--sinch-comp-popover-color-default-background-initial);
  border: 1px solid var(--sinch-comp-popover-color-default-border-initial);
  border-radius: var(--sinch-comp-popover-shape-radius);
  box-shadow: var(--sinch-comp-popover-shadow);
  overflow: hidden;
}

:host([tip]) #content {
  box-shadow: none;
}

#tip {
  position: absolute;
  left: 50%;
  top: 13px;
  transform: translateX(-50%) rotate(180deg);
  transform-origin: top center;
  fill: var(--sinch-comp-popover-color-default-background-initial);
  stroke: var(--sinch-comp-popover-color-default-border-initial);
  stroke-linecap: square;
  pointer-events: none;
  display: none;
}

:host([orientation^="top"]) #tip {
  transform: translateX(-50%) rotate(0deg);
  top: calc(100% - 13px);
}

:host([orientation="left"]) #tip {
  transform: translateX(-50%) rotate(-90deg);
  top: calc(50%);
  left: calc(100% - 13px);
}

:host([orientation="right"]) #tip {
  transform: translateX(-50%) rotate(90deg);
  top: calc(50%);
  left: 13px;
}

:host([tip]) #tip:not(.hidden) {
  display: block;
}
</style>

<sinch-pop id="pop" inset="4">
  <slot name="target" slot="target"></slot>
  <div id="content-wrapper" slot="content">
    <div id="content">
      <slot name="content"></slot>
    </div>
    <svg id="tip" width="16" height="9" aria-hidden="true">
      <path d="m0 0 8 8 8 -8"/>
    </svg>
  </div>
</sinch-pop>
