<style>
:host {
  display: contents;
}

#content-wrapper {
  padding-top: 4px;
}

#content {
  font: var(--sinch-font-body);
  color: var(--sinch-color-text-default);
  background-color: var(--sinch-color-snow-100);
  box-shadow: var(--sinch-elevation-level-2);
  border: 1px solid var(--sinch-color-snow-500);
  border-radius: var(--sinch-shape-radius-m);
  overflow: hidden;
}

:host([orientation^="top"]) #content-wrapper {
  padding-top: 0;
  padding-bottom: 4px;
}
</style>

<sinch-pop id="pop" inset="4">
  <slot name="target" slot="target"></slot>
  <div id="content-wrapper" slot="content">
    <div id="content">
      <slot name="content"></slot>
    </div>
  </div>
</sinch-pop>
