.nectary-theme-base.cpaas-theme-base.cpaas-theme-mailgun {
  --sinch-sys-color-analytics-decorative-dark: #645DC2;
  --sinch-sys-color-analytics-decorative-default: #857AEB;
  --sinch-sys-color-analytics-decorative-light: #C1B6FA;
  --sinch-sys-color-analytics-decorative-alt-dark: #A3488E;
  --sinch-sys-color-analytics-decorative-alt-default: #D15CB4;
  --sinch-sys-color-analytics-decorative-alt-light: #FAA5E3;
  --sinch-sys-color-analytics-error-dark: #993138;
  --sinch-sys-color-analytics-error-default: #EB5454;
  --sinch-sys-color-analytics-error-light: #FFBDBD;
  --sinch-sys-color-analytics-informative-dark: #112F57;
  --sinch-sys-color-analytics-informative-default: #0D68D1;
  --sinch-sys-color-analytics-informative-light: #61ABFF;
  --sinch-sys-color-analytics-pending-dark: #EB9605;
  --sinch-sys-color-analytics-pending-default: #FFCA61;
  --sinch-sys-color-analytics-pending-light: #FFDD99;
  --sinch-sys-color-analytics-success-dark: #2B7845;
  --sinch-sys-color-analytics-success-default: #53BD69;
  --sinch-sys-color-analytics-success-light: #99E0A2;
  --sinch-sys-color-analytics-warning-dark: #D66A33;
  --sinch-sys-color-analytics-warning-default: #F58B4E;
  --sinch-sys-color-analytics-warning-light: #FFAD75;
  --sinch-sys-color-border-active: #1454A8;
  --sinch-sys-color-border-dark: #808A91;
  --sinch-sys-color-border-default: #C9D1D6;
  --sinch-sys-color-border-focus: #61ABFF;
  --sinch-sys-color-border-invalid: #BD3C41;
  --sinch-sys-color-border-light: #DCE2E5;
  --sinch-sys-color-chip-decorative: #E2DBFF;
  --sinch-sys-color-chip-decorative-alt: #FFD6F3;
  --sinch-sys-color-chip-error: #FFD8D6;
  --sinch-sys-color-chip-foreground: #14181C;
  --sinch-sys-color-chip-informative: #C7E5FF;
  --sinch-sys-color-chip-neutral: #DCE2E5;
  --sinch-sys-color-chip-pending: #FCECCB;
  --sinch-sys-color-chip-success: #D7F5D7;
  --sinch-sys-color-chip-warning: #FFD9BD;
  --sinch-sys-color-container-active: #DCE2E5;
  --sinch-sys-color-container-default: #FFFFFF;
  --sinch-sys-color-container-disabled: #FFFFFF;
  --sinch-sys-color-container-foreground: #14181C;
  --sinch-sys-color-container-hover: #F7F9FA;
  --sinch-sys-color-cta-active: #BD3C41;
  --sinch-sys-color-cta-default: #EB5454;
  --sinch-sys-color-cta-disabled: #EB545466;
  --sinch-sys-color-cta-foreground: #FFFFFF;
  --sinch-sys-color-cta-hover: #FF8080;
  --sinch-sys-color-feedback-success-subtle: #D7F5D7;
  --sinch-sys-color-primary-active: #112F57;
  --sinch-sys-color-primary-default: #1454A8;
  --sinch-sys-color-primary-disabled: #1454A866;
  --sinch-sys-color-primary-foreground: #FFFFFF;
  --sinch-sys-color-primary-hover: #0D68D1;
  --sinch-sys-color-reporting-accepted-count: #53BD69;
  --sinch-sys-color-reporting-accepted-incoming-count: #61ABFF;
  --sinch-sys-color-reporting-bounced-count: #D66A33;
  --sinch-sys-color-reporting-bounced-rate: #FF8080;
  --sinch-sys-color-reporting-clicked-count: #993138;
  --sinch-sys-color-reporting-clicked-rate: #23613C;
  --sinch-sys-color-reporting-complained-count: #FFAD75;
  --sinch-sys-color-reporting-complained-rate: #857AEB;
  --sinch-sys-color-reporting-critical-bounce-count: #F58B4E;
  --sinch-sys-color-reporting-critical-bounce-rate: #F58B4E;
  --sinch-sys-color-reporting-critical-delay-count: #51B8A6;
  --sinch-sys-color-reporting-critical-delay-rate: #51B8A6;
  --sinch-sys-color-reporting-delayed-first-attempt: #006063;
  --sinch-sys-color-reporting-delayed-rate: #4B575E;
  --sinch-sys-color-reporting-delivered-count: #824703;
  --sinch-sys-color-reporting-delivered-first-attempt: #8F3D1F;
  --sinch-sys-color-reporting-delivered-http-count: #626C73;
  --sinch-sys-color-reporting-delivered-optimized-count: #06998B;
  --sinch-sys-color-reporting-delivered-rate: #0D68D1;
  --sinch-sys-color-reporting-delivered-smtp-count: #A89BFA;
  --sinch-sys-color-reporting-delivered-subsequent: #1454A8;
  --sinch-sys-color-reporting-fail-rate: #14181C;
  --sinch-sys-color-reporting-failed-count: #BD3C41;
  --sinch-sys-color-reporting-hard-bounces-count: #4D4AA8;
  --sinch-sys-color-reporting-non-critical-bounce-count: #A89BFA;
  --sinch-sys-color-reporting-non-critical-bounce-rate: #A89BFA;
  --sinch-sys-color-reporting-opened-count: #EB9605;
  --sinch-sys-color-reporting-opened-rate: #3D9956;
  --sinch-sys-color-reporting-optimized-count: #FFBE3C;
  --sinch-sys-color-reporting-permanent-failed-count: #FFA8A8;
  --sinch-sys-color-reporting-processed-count: #4B575E;
  --sinch-sys-color-reporting-sent-count: #3089F0;
  --sinch-sys-color-reporting-stored-count: #80CFBC;
  --sinch-sys-color-reporting-suppressed-bounce-count: #808A91;
  --sinch-sys-color-reporting-suppressed-unsubscribed-count: #51B8A6;
  --sinch-sys-color-reporting-temporary-failed-count: #C77904;
  --sinch-sys-color-reporting-temporary-failed-esp-block-count: #F58B4E;
  --sinch-sys-color-reporting-unique-clicked-count: #AD4E24;
  --sinch-sys-color-reporting-unique-clicked-rate: #9E5A00;
  --sinch-sys-color-reporting-unique-opened-count: #2B7845;
  --sinch-sys-color-reporting-unique-opened-rate: #645DC2;
  --sinch-sys-color-reporting-unsubscribed-count: #EB5454;
  --sinch-sys-color-reporting-unsubscribed-rate: #9EA9B0;
  --sinch-sys-color-reporting-webhook-count: #007874;
  --sinch-sys-color-text-default: #14181C;
  --sinch-sys-color-text-disabled: #DCE2E5;
  --sinch-sys-color-text-invalid: #BD3C41;
  --sinch-sys-color-text-inverted: #FFFFFF;
  --sinch-sys-color-text-link: #1454A8;
  --sinch-sys-color-text-link-disabled: #1454A866;
}
