.nectary-theme-base.cpaas-theme-base.cpaas-theme-mailgun {
  --sinch-sys-color-analytics-decorative-light: var(--sinch-ref-color-violet-350);
  --sinch-sys-color-analytics-decorative-default: var(--sinch-ref-color-violet-500);
  --sinch-sys-color-analytics-decorative-dark: var(--sinch-ref-color-violet-600);
  --sinch-sys-color-analytics-decorativeAlt-light: var(--sinch-ref-color-candy-350);
  --sinch-sys-color-analytics-decorativeAlt-default: var(--sinch-ref-color-candy-500);
  --sinch-sys-color-analytics-decorativeAlt-dark: var(--sinch-ref-color-candy-600);
  --sinch-sys-color-analytics-error-light: var(--sinch-ref-color-raspberry-300);
  --sinch-sys-color-analytics-error-default: var(--sinch-ref-color-raspberry-500);
  --sinch-sys-color-analytics-error-dark: var(--sinch-ref-color-raspberry-700);
  --sinch-sys-color-analytics-informative-light: var(--sinch-ref-color-ocean-400);
  --sinch-sys-color-analytics-informative-default: var(--sinch-ref-color-ocean-600);
  --sinch-sys-color-analytics-informative-dark: var(--sinch-ref-color-ocean-800);
  --sinch-sys-color-analytics-pending-light: var(--sinch-ref-color-honey-200);
  --sinch-sys-color-analytics-pending-default: var(--sinch-ref-color-honey-300);
  --sinch-sys-color-analytics-pending-dark: var(--sinch-ref-color-honey-400);
  --sinch-sys-color-analytics-success-light: var(--sinch-ref-color-grass-300);
  --sinch-sys-color-analytics-success-default: var(--sinch-ref-color-grass-400);
  --sinch-sys-color-analytics-success-dark: var(--sinch-ref-color-grass-500);
  --sinch-sys-color-analytics-warning-light: var(--sinch-ref-color-pumpkin-350);
  --sinch-sys-color-analytics-warning-default: var(--sinch-ref-color-pumpkin-400);
  --sinch-sys-color-analytics-warning-dark: var(--sinch-ref-color-pumpkin-400);
  --sinch-sys-color-border-default: var(--sinch-ref-color-neutral-300);
  --sinch-sys-color-border-light: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-border-dark: var(--sinch-ref-color-neutral-500);
  --sinch-sys-color-border-active: var(--sinch-ref-color-ocean-700);
  --sinch-sys-color-border-focus: var(--sinch-ref-color-ocean-400);
  --sinch-sys-color-border-invalid: var(--sinch-ref-color-raspberry-600);
  --sinch-sys-color-chip-decorative: var(--sinch-ref-color-violet-200);
  --sinch-sys-color-chip-decorativeAlt: var(--sinch-ref-color-candy-200);
  --sinch-sys-color-chip-error: var(--sinch-ref-color-raspberry-200);
  --sinch-sys-color-chip-foreground: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-chip-informative: var(--sinch-ref-color-ocean-200);
  --sinch-sys-color-chip-neutral: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-chip-pending: var(--sinch-ref-color-honey-100);
  --sinch-sys-color-chip-success: var(--sinch-ref-color-grass-100);
  --sinch-sys-color-chip-warning: var(--sinch-ref-color-pumpkin-200);
  --sinch-sys-color-container-active: var(--sinch-ref-color-neutral-200);
  --sinch-sys-color-container-default: #FFFFFF;
  --sinch-sys-color-container-disabled: #FFFFFF;
  --sinch-sys-color-container-foreground: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-container-hover: var(--sinch-ref-color-neutral-50);
  --sinch-sys-color-cta-active: var(--sinch-ref-color-raspberry-600);
  --sinch-sys-color-cta-default: var(--sinch-ref-color-raspberry-500);
  --sinch-sys-color-cta-disabled: #EB545466;
  --sinch-sys-color-cta-foreground: #FFFFFF;
  --sinch-sys-color-cta-hover: var(--sinch-ref-color-raspberry-400);
  --sinch-sys-color-feedback-success-subtle: var(--sinch-ref-color-grass-100);
  --sinch-sys-color-primary-active: var(--sinch-ref-color-ocean-800);
  --sinch-sys-color-primary-default: var(--sinch-ref-color-ocean-700);
  --sinch-sys-color-primary-disabled: #1454A866;
  --sinch-sys-color-primary-foreground: #FFFFFF;
  --sinch-sys-color-primary-hover: var(--sinch-ref-color-ocean-600);
  --sinch-sys-color-reporting-acceptedCount: var(--sinch-ref-color-grass-400);
  --sinch-sys-color-reporting-acceptedIncomingCount: var(--sinch-ref-color-ocean-400);
  --sinch-sys-color-reporting-bouncedCount: var(--sinch-ref-color-pumpkin-500);
  --sinch-sys-color-reporting-bouncedRate: var(--sinch-ref-color-raspberry-400);
  --sinch-sys-color-reporting-clickedCount: var(--sinch-ref-color-raspberry-700);
  --sinch-sys-color-reporting-clickedRate: var(--sinch-ref-color-grass-700);
  --sinch-sys-color-reporting-complainedCount: var(--sinch-ref-color-pumpkin-350);
  --sinch-sys-color-reporting-complainedRate: var(--sinch-ref-color-violet-500);
  --sinch-sys-color-reporting-criticalBounceCount: var(--sinch-ref-color-pumpkin-400);
  --sinch-sys-color-reporting-criticalBounceRate: var(--sinch-ref-color-pumpkin-400);
  --sinch-sys-color-reporting-criticalDelayCount: var(--sinch-ref-color-tropical-400);
  --sinch-sys-color-reporting-criticalDelayRate: var(--sinch-ref-color-tropical-400);
  --sinch-sys-color-reporting-delayedFirstAttempt: var(--sinch-ref-color-tropical-700);
  --sinch-sys-color-reporting-delayedRate: var(--sinch-ref-color-neutral-700);
  --sinch-sys-color-reporting-deliveredCount: var(--sinch-ref-color-honey-700);
  --sinch-sys-color-reporting-deliveredRate: var(--sinch-ref-color-ocean-600);
  --sinch-sys-color-reporting-deliveredSmtpCount: var(--sinch-ref-color-violet-400);
  --sinch-sys-color-reporting-deliveredSubsequent: var(--sinch-ref-color-ocean-700);
  --sinch-sys-color-reporting-deliveredOptimizedCount: var(--sinch-ref-color-tropical-500);
  --sinch-sys-color-reporting-deliveredFirstAttempt: var(--sinch-ref-color-pumpkin-700);
  --sinch-sys-color-reporting-deliveredHttpCount: var(--sinch-ref-color-neutral-600);
  --sinch-sys-color-reporting-failedCount: var(--sinch-ref-color-raspberry-600);
  --sinch-sys-color-reporting-failRate: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-reporting-hardBouncesCount: var(--sinch-ref-color-violet-700);
  --sinch-sys-color-reporting-nonCriticalBounceCount: var(--sinch-ref-color-violet-400);
  --sinch-sys-color-reporting-nonCriticalBounceRate: var(--sinch-ref-color-violet-400);
  --sinch-sys-color-reporting-openedCount: var(--sinch-ref-color-honey-400);
  --sinch-sys-color-reporting-openedRate: var(--sinch-ref-color-grass-500);
  --sinch-sys-color-reporting-optimizedCount: var(--sinch-ref-color-honey-350);
  --sinch-sys-color-reporting-permanentFailedCount: var(--sinch-ref-color-raspberry-350);
  --sinch-sys-color-reporting-processedCount: var(--sinch-ref-color-neutral-700);
  --sinch-sys-color-reporting-sentCount: var(--sinch-ref-color-ocean-500);
  --sinch-sys-color-reporting-suppressedBounceCount: var(--sinch-ref-color-neutral-500);
  --sinch-sys-color-reporting-suppressedUnsubscribedCount: var(--sinch-ref-color-tropical-400);
  --sinch-sys-color-reporting-storedCount: var(--sinch-ref-color-tropical-350);
  --sinch-sys-color-reporting-temporaryFailedCount: var(--sinch-ref-color-honey-500);
  --sinch-sys-color-reporting-temporaryFailedEspBlockCount: var(--sinch-ref-color-pumpkin-400);
  --sinch-sys-color-reporting-uniqueClickedCount: var(--sinch-ref-color-pumpkin-600);
  --sinch-sys-color-reporting-uniqueClickedRate: var(--sinch-ref-color-honey-600);
  --sinch-sys-color-reporting-uniqueOpenedCount: var(--sinch-ref-color-grass-600);
  --sinch-sys-color-reporting-uniqueOpenedRate: var(--sinch-ref-color-violet-600);
  --sinch-sys-color-reporting-unsubscribedCount: var(--sinch-ref-color-raspberry-500);
  --sinch-sys-color-reporting-unsubscribedRate: var(--sinch-ref-color-neutral-400);
  --sinch-sys-color-reporting-webhookCount: var(--sinch-ref-color-tropical-600);
  --sinch-sys-color-text-default: var(--sinch-ref-color-neutral-950);
  --sinch-sys-color-text-disabled: var(--sinch-ref-color-neutral-500);
  --sinch-sys-color-text-invalid: var(--sinch-ref-color-raspberry-600);
  --sinch-sys-color-text-inverted: #FFFFFF;
  --sinch-sys-color-text-link: var(--sinch-ref-color-ocean-700);
  --sinch-sys-color-text-link-disabled: #1454A866;
  --sinch-sys-color-text-muted: var(--sinch-ref-color-neutral-200);
}
