<style>
  :host {
    display: contents;

    --sinch-sheet-close-button-display: unset;
  }

  #top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    gap: 8px;
  }

  #text {
    --sinch-global-color-text: var(--sinch-comp-sheet-color-title);
    --sinch-comp-title-font: var(--sinch-comp-sheet-font-title);
  }

  #description {
    --sinch-global-color-text: var(--sinch-comp-sheet-color-description);
    --sinch-comp-title-font: var(--sinch-comp-sheet-font-description);
  }

  #close {
    display: var(--sinch-sheet-close-button-display, initial);
    margin-left: auto;
  }
</style>

<div id="title">
  <div id="top">
    <slot id="icon" name="icon"></slot>
    <sinch-title id="text" type="m" level="3"></sinch-title>
    <sinch-button id="close" size="s" aria-label="Close">
      <sinch-icon icons-version="2" name="fa-xmark" id="icon-close" slot="icon"></sinch-icon>
    </sinch-button>
  </div>
  <sinch-text id="description" type="m"></sinch-text>
</div>
