.example-container {
  padding: 24px 16px;
  background-color: var(--sinch-color-bg-primary-contrast);
  border-radius: var(--sinch-shape-radius-l);
}

.example-container.inverted {
  background-color: var(--sinch-color-stormy-500);
}
