<style>
:host {
  display: block;
}

#wrapper {
  width: 384px;
  max-height: 504px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0;

  --sinch-comp-icon-font-variation-settings: "FILL" 0;
}

#toolbar {
  display: flex;
  gap: 8px;
  padding: 0 12px;
}

#input {
  flex: 1;
}

#list-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  width: 384px;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

#list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 4px 12px 0;
  width: 384px;
  box-sizing: border-box;
}

#not-found {
  display: none;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;

  --sinch-global-color-text: var(--sinch-comp-emoji-picker-color-default-text-not-found);
  --sinch-comp-text-font: var(--sinch-comp-emoji-picker-font-not-found);
}

#not-found.active {
  display: flex;
}
</style>

<div id="wrapper">
  <div id="toolbar">
    <sinch-input id="input" size="l" aria-label="Search emojis">
      <sinch-icon id="icon-search" slot="icon" name="search"></sinch-icon>
    </sinch-input>
    <sinch-popover id="skin-popover" orientation="bottom-left" aria-label="Emoji skin tone select">
      <sinch-icon-button id="skin-button" slot="target" size="l" aria-label="Select emoji skin tones">
        <sinch-color-swatch id="skin-swatch" slot="icon" name="skintone-default"></sinch-color-swatch>
      </sinch-icon-button>
      <sinch-color-menu
        id="skin-menu"
        slot="content"
        cols="1"
        value="skintone-default"
        colors="skintone-default,skintone-light,skintone-light-medium,skintone-medium,skintone-medium-dark,skintone-dark"
        aria-label="Emoji skin tone menu"
      ></sinch-color-menu>
    </sinch-popover>
  </div>
  <sinch-tabs id="tabs" aria-label="Emoji groups"></sinch-tabs>
  <div id="list-wrapper">
    <div id="list"></div>
    <div id="not-found">
      <sinch-text type="m">No results</sinch-text>
    </div>
  </div>
</div>
