<style>
:host {
  display: inline;
}

#content {
  font: var(--sinch-comp-code-tag-font-text);
  font-size: inherit;
  line-height: inherit;
  color: var(--sinch-comp-code-tag-color-default-text-initial);
  border: 1px solid var(--sinch-comp-code-tag-color-default-border-initial);
  background-color: var(--sinch-comp-code-tag-color-default-background-initial);
  padding: 0 0.25em;
  border-radius: var(--sinch-comp-code-tag-shape-radius);
  white-space: var(--sinch-global-text-white-space, normal);
}
</style>

<span id="content"></span>
