#page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--sinch-sys-color-container-main-default);
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0);
}

.scrollable::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.scrollable::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
