<style>
:host {
  all: initial;
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--sinch-comp-textarea-color-default-background-initial);
  border-radius: var(--sinch-local-shape-radius);
  padding-right: 2px;
  padding-bottom: 2px;
  overflow: hidden;

  --sinch-local-shape-radius: var(--sinch-comp-textarea-shape-radius);
}

#input {
  all: initial;
  display: block;
  font: var(--sinch-comp-textarea-font-input);
  color: var(--sinch-comp-textarea-color-default-text-initial);
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 8px 10px 8px 12px;
  border: none;
  box-sizing: border-box;
}

#input::placeholder {
  color: var(--sinch-comp-textarea-color-default-text-placeholder);
  opacity: 1;
}

#input:disabled {
  color: var(--sinch-comp-textarea-color-disabled-text-initial);
  -webkit-text-fill-color: var(--sinch-comp-textarea-color-disabled-text-initial);
}

:host([resizable]) #input {
  resize: vertical;
}

#border {
  position: absolute;
  border: 1px solid var(--sinch-comp-textarea-color-default-border-initial);
  border-radius: var(--sinch-local-shape-radius);
  inset: 0;
  pointer-events: none;
}

:host([invalid]) #border {
  border-color: var(--sinch-comp-textarea-color-invalid-border-initial);
}

#input:focus + #border {
  border-color: var(--sinch-comp-textarea-color-default-border-focus);
  border-width: 2px;
}

#input:disabled + #border {
  border-color: var(--sinch-comp-textarea-color-disabled-border-initial);
}

#bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 10px 10px 12px;
}

#bottom.empty {
  display: none;
}
</style>

<div id="wrapper">
  <textarea id="input"></textarea>
  <div id="border"></div>
  <div id="bottom">
    <slot name="bottom"></slot>
  </div>
</div>
