<style>
:host {
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#top,
#bottom {
  display: flex;
  align-items: baseline;
}

#top {
  height: 24px;
  margin-bottom: 2px;
}

#label,
#optional,
#additional,
#invalid {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#label {
  font: var(--sinch-comp-field-font-label);
  color: var(--sinch-comp-field-color-default-label-initial);
}

#optional {
  flex: 1;
  font: var(--sinch-comp-field-font-optional);
  color: var(--sinch-comp-field-color-default-optional-initial);
  text-align: right;
}

#additional {
  flex: 1;
  text-align: right;
  font: var(--sinch-comp-field-font-additional);
  color: var(--sinch-comp-field-color-default-additional-initial);
  line-height: 20px;
  margin-top: 2px;
}

#additional:empty {
  display: none;
}

#invalid {
  font: var(--sinch-comp-field-font-invalid);
  color: var(--sinch-comp-field-color-invalid-text-initial);
  line-height: 20px;
  margin-top: 2px;
}

#invalid:empty {
  display: none;
}

#tooltip {
  align-self: center;
  margin: 0 8px;
  display: flex;
}

#tooltip.empty {
  display: none;
}

:host([disabled]) #label {
  color: var(--sinch-comp-field-color-disabled-label-initial);
}

:host([disabled]) #additional {
  color: var(--sinch-comp-field-color-disabled-additional-initial);
}

:host([disabled]) #optional {
  color: var(--sinch-comp-field-color-disabled-optional-initial);
}

.display-none{
  display: none;
}

</style>

<div id="wrapper">
  <div id="top">
    <label id="label" for="input"></label>
    <div id="tooltip">
      <slot name="tooltip"></slot>
    </div>
    <span id="optional"></span>
  </div>
  <slot name="input"></slot>
  <div id="bottom">
    <div id="invalid"></div>
    <div id="additional"></div>
  </div>
</div>
