<ng-template #singleTemplate>
  <sinch-segmented-icon-control-option value="1">
    <sinch-icon icons-version="2" name="fa-align-right" slot="icon"></sinch-icon>
  </sinch-segmented-icon-control-option>
</ng-template>
<ng-template #multipleTemplate>
  <sinch-segmented-icon-control-option value="1">
    <sinch-icon icons-version="2" name="fa-align-right" slot="icon"></sinch-icon>
  </sinch-segmented-icon-control-option>
  <sinch-segmented-icon-control-option disabled value="2">
    <sinch-icon icons-version="2" name="fa-align-center" slot="icon"></sinch-icon>
  </sinch-segmented-icon-control-option>
  <sinch-segmented-icon-control-option value="3">
    <sinch-icon icons-version="2" name="fa-align-left" slot="icon"></sinch-icon>
  </sinch-segmented-icon-control-option>
  <sinch-segmented-icon-control-option value="4">
    <sinch-icon icons-version="2" name="fa-align-justify" slot="icon"></sinch-icon>
  </sinch-segmented-icon-control-option>
</ng-template>
<sinch-segmented-icon-control
  [attr.multiple]="isMultiple"
  [value]="value"
  (-change)="onChange($event)"
>
  <ng-container
    *ngIf="isSingleOption; then singleTemplate; else multipleTemplate"
  ></ng-container>
</sinch-segmented-icon-control>
