<ng-template #singleTemplate>
  <sinch-segmented-icon-control-option value="1">
    <sinch-icon-fa-align-right slot="icon"></sinch-icon-fa-align-right>
  </sinch-segmented-icon-control-option>
</ng-template>
<ng-template #multipleTemplate>
  <sinch-segmented-icon-control-option value="1">
    <sinch-icon-fa-align-right slot="icon"></sinch-icon-fa-align-right>
  </sinch-segmented-icon-control-option>
  <sinch-segmented-icon-control-option disabled value="2">
    <sinch-icon-fa-align-center slot="icon"></sinch-icon-fa-align-center>
  </sinch-segmented-icon-control-option>
  <sinch-segmented-icon-control-option value="3">
    <sinch-icon-fa-align-left slot="icon"></sinch-icon-fa-align-left>
  </sinch-segmented-icon-control-option>
  <sinch-segmented-icon-control-option value="4">
    <sinch-icon-fa-align-justify slot="icon"></sinch-icon-fa-align-justify>
  </sinch-segmented-icon-control-option>
</ng-template>
<sinch-segmented-icon-control
  [attr.multiple]="isMultiple"
  [value]="value"
  (-change)="onChange($event)"
>
  <ng-container
    *ngIf="isSingleOption; then singleTemplate; else multipleTemplate"
  ></ng-container>
</sinch-segmented-icon-control>
