<sinch-sheet
  open
  [attr.caption]="title"
  [attr.aria-label]="title"
  close-aria-label="Close"
  [attr.placement]="placement"
  [attr.overlay]="overlay"
  (-close)="onClose($event)"
>
  <sinch-icon icons-version="2" name="fa-face-smile-plus" *ngIf="icon" slot="icon" />
  <div *ngIf="content !== null" slot="content">
    <sinch-text type="m">{{ content }}</sinch-text>
  </div>
  <ng-container *ngIf="buttons">
    <sinch-button text="Cancel" type="secondary" slot="buttons"></sinch-button>
    <sinch-button text="Ok" type="primary" slot="buttons"></sinch-button>
  </ng-container>
</sinch-sheet>
