<style>
:host {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

#badge-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: fit-content;
  border-radius: 11px;
  padding: 1px;
  pointer-events: none;
  background-color: var(--sinch-color-snow-100);
}

#badge {
  box-sizing: border-box;
  color: var(--sinch-badge-color-default-fg);
  background-color: var(--sinch-badge-color-default-bg);
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#badge.long {
  width: fit-content;
  padding: 0 5px;
}

#text {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: var(--sinch-font-mono-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-rendering: optimizelegibility;
}

:host([size="m"]) #badge-wrapper {
  left: calc(100% - 8px);
  top: -8px;
}

:host([size="m"]) #badge {
  width: 14px;
  height: 14px;
}

:host([size="m"]) #badge.long {
  width: fit-content;
  padding: 0 3px;
}

:host([size="m"]) #text {
  font-size: 12px;
  line-height: 14px;
}

:host([size="s"]) #badge {
  width: 8px;
  height: 8px;
  padding: 0;
}

:host([size="s"]) #text {
  display: none;
}

:host([hidden]:not([hidden="false"])) #badge-wrapper {
  display: none;
}
</style>

<slot id="slot"></slot>
<div id="badge-wrapper">
  <div id="badge">
    <span id="text"></span>
  </div>
</div>
