<sinch-card-v2
  [attr.selected]="selected"
  [attr.disabled]="disabled"
  [attr.clickable]="clickable"
  (click)="clickable ? handleCardClick() : null"
>
  <sinch-illustration-cat-texting
    *ngIf="hasIllustration"
    [attr.size]="290"
    [attr.background]="background"
    valign="top"
    slot="media"
  ></sinch-illustration-cat-texting>

  <sinch-card-v2-title [attr.text]="title" slot="title" ellipsis>
    <sinch-icon-branded-chatbot
      *ngIf="hasIcon"
      slot="icon"
    ></sinch-icon-branded-chatbot>
  </sinch-card-v2-title>

  <sinch-text slot="content" type="m">{{content}}</sinch-text>

  <sinch-button
    *ngIf="buttonText"
    slot="footer"
    type="primary"
    [attr.text]="buttonText"
    aria-label="Button"
    (click)="handleButtonClick()"
  ></sinch-button>

  <sinch-link
    *ngIf="linkText"
    slot="footer"
    href="#"
    standalone
    preventDefault
    [attr.text]="linkText"
    aria-label="Link"
  ></sinch-link>
</sinch-card-v2>
