<style>
  :host {
    display: contents;
  }

  #dialog {
    position: fixed;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: var(--sinch-comp-sheet-size-padding);
    gap: var(--sinch-comp-sheet-size-gap);
    max-width: unset;
    max-height: unset;
    box-sizing: border-box;
    contain: content;
    background-color: var(--sinch-comp-sheet-color-background);
    border: none;
    outline: none;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: var(--sinch-comp-sheet-animation-duration), calc(var(--sinch-comp-sheet-animation-duration) / 2.5);
    transition-timing-function: var(--sinch-comp-sheet-animation-easing);
  }

  #dialog.overlay-push {
    opacity: 0.5;
  }

  #dialog[open],
  #dialog[open].placement-right,
  #dialog[open].placement-left,
  #dialog[open].placement-top,
  #dialog[open].placement-bottom {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }

  #dialog.placement-right {
    top: 0;
    right: 0;
    margin-left: auto;
    height: 100dvh;
    transform: translateX(100%);
    max-width: var(--sinch-comp-sheet-size-max-horizontal);
  }

  #dialog.placement-left {
    top: 0;
    left: 0;
    margin-right: auto;
    height: 100dvh;
    transform: translateX(-100%);
    max-width: var(--sinch-comp-sheet-size-max-horizontal);
  }

  #dialog.placement-top {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-100%);
    max-height: var(--sinch-comp-sheet-size-max-vertical);
  }

  #dialog.placement-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: auto;
    transform: translateY(100%);
    max-height: var(--sinch-comp-sheet-size-max-vertical);
  }

  #dialog::backdrop {
    display: block;
    background: linear-gradient(var(--sinch-comp-sheet-color-backdrop-from), var(--sinch-comp-sheet-color-backdrop-to));
    backdrop-filter: blur(var(--sinch-comp-sheet-size-backdrop-blur));
  }

  #content {
    min-height: 0;
    overflow: auto;
    overscroll-behavior: contain;
  }

  #action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
  }

  #action.empty {
    display: none;
  }

  @media screen and (max-width: 576px) {
    #dialog.placement-right,
    #dialog.placement-left {
      max-width: 100dvw;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    #dialog {
      transition-duration: 0.01ms;
    }
  }
</style>

<dialog id="dialog" aria-labelledby="title" aria-describedby="content">
  <slot id="title" name="title"></slot>
  <div id="content">
    <sinch-stop-events events="close">
      <slot name="content"></slot>
    </sinch-stop-events>
  </div>
  <div id="action">
    <sinch-stop-events events="close">
      <slot name="footer"></slot>
    </sinch-stop-events>
  </div>
</dialog>
