<sinch-toast-manager [attr.origin]="origin">
  <sinch-toast
    *ngFor="let t of state; index as i"
    [attr.type]="typeValues[i % typeValues.length]"
    [attr.text]="t"
    [attr.persistent]="i !== 0"
    (-timeout)="onTimeout()"
  >
    <sinch-button
      *ngIf="(i + 1) % 3 !== 0"
      slot="close"
      size="s"
      (-click)="onClose()"
    >
      <sinch-icon name="fa-xmark" slot="icon"></sinch-icon>
    </sinch-button>
    <sinch-button
      *ngIf="(i + 1) % 2 === 0"
      slot="action"
      type="cta-secondary"
      size="s"
      text="Undo"
      (-click)="onAction()"
    >
    </sinch-button>
  </sinch-toast>
</sinch-toast-manager>
