<sinch-toast-manager>
  <sinch-toast
    *ngFor="let t of state; index as i"
    [attr.type]="typeValues[i % typeValues.length]"
    [attr.text]="t"
    (-timeout)="onTimeout(i)">
    <sinch-icon-button
      *ngIf="(i + 1) % 3 !== 0"
      slot="close"
      size="s"
      (-click)="onClose(i)">
      <sinch-icon-close slot="icon"></sinch-icon-close>
    </sinch-icon-button>
    <sinch-button
      *ngIf="(i + 1) % 2 === 0"
      slot="action"
      type="cta-secondary"
      size="s"
      text="Undo"
      (-click)="onAction()">
    </sinch-button>
  </sinch-toast>
</sinch-toast-manager>
