.root {
  display: inline-flex;
  flex-direction: row;
  gap: 0;
}

.vertical {
  flex-direction: column;
}

/* Remove intermediate border-radius for adjacent buttons */
.root :global(button:not(:first-child):not(:last-child)) {
  border-radius: 0;
}
.root :global(button:first-child):not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.root :global(button:last-child):not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.vertical :global(button:first-child):not(:last-child) {
  border-radius: unset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.vertical :global(button:last-child):not(:first-child) {
  border-radius: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
