#page-container {
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid var(--sinch-sys-color-border-subtle);
  padding: 1rem;
  border-radius: 1rem;
  overflow-x: auto;
}

#page-container:not(:last-child) {
  margin-bottom: 2rem;
}

.table + .title {
  padding-block-start: 0;
  margin-block-start: 0;
}

.title + .title {
  padding-block-start: 0;
  margin-block-start: 0;
  margin-top: 1rem;
}

.title + div > .title {
  margin-top: 1rem;
}
