<sinch-table>
  <sinch-table-head>
    <sinch-table-row>
      <sinch-table-head-cell *ngFor="let cell of state.head" [text]="cell.text" [align]="cell.align" [fit]="cell.isFit">
        <sinch-checkbox *ngIf="cell.isCheckbox" slot="checkbox"></sinch-checkbox>
        <sinch-icon-button *ngIf="cell.isSortable" size="s" slot="right">
          <sinch-icon-north slot="icon"></sinch-icon-north>
        </sinch-icon-button>
        <sinch-icon-button *ngIf="cell.isFilterable" size="s" slot="left">
          <sinch-icon-filter-list slot="icon"></sinch-icon-filter-list>
        </sinch-icon-button>
        <sinch-help-tooltip *ngIf="cell.tooltip != null" slot="tooltip" [text]="cell.tooltip"></sinch-help-tooltip>
      </sinch-table-head-cell>
    </sinch-table-row>
  </sinch-table-head>
  <sinch-table-body>
    <sinch-table-row *ngFor="let row of state.body; index as i" [attr.selected]="i == 0">
      <sinch-table-cell *ngFor="let cell of row" [align]="cell.align">
        <sinch-checkbox *ngIf="cell.isCheckbox"></sinch-checkbox>
        <sinch-button *ngIf="cell.isButton" type="secondary" [text]="cell.text"></sinch-button>
        <sinch-toggle *ngIf="cell.isToggle"></sinch-toggle>
        <sinch-link *ngIf="cell.isLink" [text]="cell.text" href="#"></sinch-link>
        <sinch-icon-open-in-new *ngIf="cell.isIcon && cell.iconType === 'open-in-new'"></sinch-icon-open-in-new>
        <sinch-icon-more-vert *ngIf="cell.isIcon && cell.iconType === 'more-vert'"></sinch-icon-more-vert>
        <span *ngIf="!cell.isCheckbox && !cell.isButton && !cell.isToggle && !cell.isLink && !cell.isIcon">{{cell.text}}</span>
      </sinch-table-cell>
    </sinch-table-row>
  </sinch-table-body>
</sinch-table>
