<sinch-table>
  <sinch-table-head>
    <sinch-table-row>
      <sinch-table-head-cell *ngFor="let cell of state.head" [attr.text]="cell.text" [attr.align]="cell.align" [attr.fit]="cell.isFit">
        <sinch-checkbox *ngIf="cell.isCheckbox" slot="checkbox"></sinch-checkbox>
        <sinch-button *ngIf="cell.isSortable" slot="right" size="s" filter="Sort">
          <sinch-icon name="fa-arrow-up-long" slot="icon"></sinch-icon>
        </sinch-button>
        <sinch-button *ngIf="cell.isFilterable" slot="left" size="s" aria-label="Filter">
          <sinch-icon name="fa-bars-filter" slot="icon"></sinch-icon>
        </sinch-button>
        <sinch-help-tooltip *ngIf="cell.tooltip != null" slot="tooltip" [attr.text]="cell.tooltip"></sinch-help-tooltip>
      </sinch-table-head-cell>
    </sinch-table-row>
  </sinch-table-head>
  <sinch-table-body>
    <sinch-table-row *ngFor="let row of state.body; index as i" [attr.selected]="i == 0">
      <sinch-table-cell *ngFor="let cell of row" [attr.align]="cell.align">
        <sinch-checkbox *ngIf="cell.isCheckbox"></sinch-checkbox>
        <sinch-button *ngIf="cell.isButton" type="secondary" [attr.text]="cell.text"></sinch-button>
        <sinch-toggle *ngIf="cell.isToggle"></sinch-toggle>
        <sinch-link *ngIf="cell.isLink" [attr.text]="cell.text" href="#"></sinch-link>
        <sinch-button *ngIf="cell.isIcon" aria-label="button">
          <sinch-icon name="fa-ellipsis-vertical" *ngIf="cell.iconName == 'ellipsis'" slot="icon"></sinch-icon>
          <sinch-icon name="fa-arrow-up-right-from-square" *ngIf="cell.iconName == 'open'" slot="icon"></sinch-icon>
        </sinch-button>
        <sinch-text *ngIf="!cell.isCheckbox && !cell.isButton && !cell.isToggle && !cell.isLink && !cell.isIcon" type="m">{{cell.text}}</sinch-text>
      </sinch-table-cell>
    </sinch-table-row>
  </sinch-table-body>
</sinch-table>
