<style>
  :host {
    display: block;

    --sinch-local-divider-color:
      var(
        --sinch-comp-button-color-secondary-default-text-initial
      );
  }

  #wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* divider */
  :host(:is(:not(:first-of-type))) #wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--sinch-local-divider-color);
    opacity: 0.3;
    pointer-events: none;
    z-index: 2;
    top: 10%;
    bottom: 10%;
    left: -0.5px;
    width: 1px;
  }

  :host([type="primary"]) #wrapper::before {
    --sinch-local-divider-color:
      var(
        --sinch-comp-button-color-primary-default-text-initial
      );
  }

  :host([type="secondary"]) #wrapper::before {
    --sinch-local-divider-color:
      var(
        --sinch-comp-button-color-secondary-default-text-initial
      );
  }

  :host([type="subtle-primary"]) #wrapper::before {
    --sinch-local-divider-color:
      var(
        --sinch-comp-button-color-subtle-primary-default-text-initial
      );
  }

  :host([type="subtle-secondary"]) #wrapper::before {
    --sinch-local-divider-color:
      var(
        --sinch-comp-button-color-subtle-secondary-default-text-initial
      );
  }

  :host([type="cta-primary"]) #wrapper::before {
    --sinch-local-divider-color:
      var(
        --sinch-comp-button-color-cta-primary-default-text-initial
      );
  }

  :host([type="cta-secondary"]) #wrapper::before {
    --sinch-local-divider-color:
      var(
        --sinch-comp-button-color-cta-secondary-default-text-initial
      );
  }

  :host([type="destructive"]) #wrapper::before {
    --sinch-local-divider-color:
      var(
        --sinch-comp-button-color-danger-default-text-initial
      );
  }

  /* fix border */
  #sinch-button-element {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    --sinch-local-shape-radius-base: 0;
  }

  :host(:is(:not(:first-of-type, :last-of-type))) #sinch-button-element {
    --sinch-local-shape-radius-base: 0;
  }

  :host(:is(:first-of-type)) #sinch-button-element {
    --sinch-local-shape-radius-top-left:
      var(
        --sinch-comp-button-shape-radius-size-m
      );
    --sinch-local-shape-radius-bottom-left:
      var(
        --sinch-comp-button-shape-radius-size-m
      );
  }

  :host(:is(:last-of-type)) #sinch-button-element {
    --sinch-local-shape-radius-top-right:
      var(
        --sinch-comp-button-shape-radius-size-m
      );
    --sinch-local-shape-radius-bottom-right:
      var(
        --sinch-comp-button-shape-radius-size-m
      );
  }

  :host(:is(:not(:first-of-type, :last-of-type))) #sinch-button-element:not(:active) {
    --sinch-local-border-left: none;
    --sinch-local-border-right: none;
  }

  :host(:is(:first-of-type)) #sinch-button-element:not(:active) {
    --sinch-local-border-right: none;
  }

  :host(:is(:last-of-type)) #sinch-button-element:not(:active) {
    --sinch-local-border-left: none;
  }

  /* icon-button */
  :host(:is([text=""], :not([text]))) :is(#left-icon, #right-icon, #text) {
    display: none;
  }

  ::slotted(*) {
    display: block;
  }
</style>

<div id="wrapper">
  <sinch-button id="sinch-button-element">
    <div slot="left-icon"><slot id="left-icon" name="left-icon"></slot></div>
    <div slot="icon"><slot id="icon" name="icon"></slot></div>
    <div slot="right-icon"><slot id="right-icon" name="right-icon"></slot></div>
  </sinch-button>
</div>
