<style>
:host {
  display: block;
}

* {
  pointer-events: none;
}

#wrapper {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 6px 12px;
  width: 100%;
  align-items: center;
  gap: 12px;
}

#content {
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host(:hover) > #wrapper,
:host([data-selected]) > #wrapper {
  background-color: var(--sinch-color-snow-500);
}

:host([checked]) > #wrapper {
  padding-right: 36px;
}

:host([checked]) > #wrapper::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 11px;
  width: 18px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17 1.83 7 .41 8.41 6 14 18 2 16.59.59 6 11.17Z' fill='%230A273D'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
}

:host([disabled]:not([disabled="false"])) > #wrapper {
  color: var(--sinch-color-stormy-100);

  --sinch-color-icon: var(--sinch-color-stormy-100);
}
</style>

<div id="wrapper">
  <slot name="icon"></slot>
  <span id="content"></span>
</div>
