<sinch-card-v2>
  <form slot="content" class="form-container" (submit)="handleSubmit($event)">
    <sinch-field label="Email" name="field-email">
      <input-component slot="input" searchPrefix="input-email"></input-component>
    </sinch-field>
    <sinch-field label="Password" name="field-password">
      <input-component slot="input" searchPrefix="input-password"></input-component>
    </sinch-field>
    <checkbox-component searchPrefix="checkbox-default"></checkbox-component>
    <checkbox-component searchPrefix="checkbox-value"></checkbox-component>
    <radio-component></radio-component>
    <select-menu-component></select-menu-component>
    <date-picker-component></date-picker-component>
    <textarea-component></textarea-component>
    <button-component searchPrefix="button-submit"></button-component>
    <button-component searchPrefix="button-reset"></button-component>
  </form>
</sinch-card-v2>
