<sinch-inline-alert
  [attr.type]="type"
  [attr.text]="text"
  [attr.caption]="caption">
  <sinch-icon-button
    *ngIf="hasClose"
    slot="close"
    small
    (-click)="onCloseClick()"
    (-focus)="onCloseFocus()"
    (-blur)="onCloseBlur()"
  >
    <sinch-icon-close slot="icon"></sinch-icon-close>
  </sinch-icon-button>
  <sinch-button
    *ngIf="hasAction"
    slot="action"
    type="cta-secondary"
    small
    text="This is a Button!"
    (-click)="onButtonClick()"
    (-focus)="onButtonFocus()"
    (-blur)="onButtonBlur()"
  ></sinch-button>
</sinch-inline-alert>
