<div [ngStyle]="style" [ngSwitch]="pathname">
  <accordion-component *ngSwitchCase="'/accordion'"></accordion-component>
  <action-menu-component *ngSwitchCase="'/action-menu'"></action-menu-component>
  <alert-component *ngSwitchCase="'/alert'"></alert-component>
  <avatar-component *ngSwitchCase="'/avatar'"></avatar-component>
  <button-component *ngSwitchCase="'/button'"></button-component>
  <card-component *ngSwitchCase="'/card'"></card-component>
  <card-container-component *ngSwitchCase="'/card-container'"></card-container-component>
  <chat-component *ngSwitchCase="'/chat'"></chat-component>
  <checkbox-component *ngSwitchCase="'/checkbox'"></checkbox-component>
  <date-picker-component *ngSwitchCase="'/date-picker'"></date-picker-component>
  <dialog-component *ngSwitchCase="'/dialog'"></dialog-component>
  <dropdown-component *ngSwitchCase="'/dropdown'"></dropdown-component>
  <grid-component *ngSwitchCase="'/grid'"></grid-component>
  <horizontal-stepper-component *ngSwitchCase="'/horizontal-stepper'"></horizontal-stepper-component>
  <icon-button-component *ngSwitchCase="'/icon-button'"></icon-button-component>
  <input-component *ngSwitchCase="'/input'"></input-component>
  <link-component *ngSwitchCase="'/link'"></link-component>
  <list-component *ngSwitchCase="'/list'"></list-component>
  <pagination-component *ngSwitchCase="'/pagination'"></pagination-component>
  <popover-component *ngSwitchCase="'/popover'"></popover-component>
  <radio-component *ngSwitchCase="'/radio'"></radio-component>
  <search-component *ngSwitchCase="'/search'"></search-component>
  <segment-component *ngSwitchCase="'/segment'"></segment-component>
  <segmented-control-component *ngSwitchCase="'/segmented-control'"></segmented-control-component>
  <segmented-icon-control-component *ngSwitchCase="'/segmented-icon-control'"></segmented-icon-control-component>
  <select-component *ngSwitchCase="'/select'"></select-component>
  <spinner-component *ngSwitchCase="'/spinner'"></spinner-component>
  <table-component *ngSwitchCase="'/table'"></table-component>
  <tabs-component *ngSwitchCase="'/tabs'"></tabs-component>
  <tag-component *ngSwitchCase="'/tag'"></tag-component>
  <text-component *ngSwitchCase="'/text'"></text-component>
  <textarea-component *ngSwitchCase="'/textarea'"></textarea-component>
  <tile-control-component *ngSwitchCase="'/tile-control'"></tile-control-component>
  <time-picker-component *ngSwitchCase="'/time-picker'"></time-picker-component>
  <title-component *ngSwitchCase="'/title'"></title-component>
  <toggle-component *ngSwitchCase="'/toggle'"></toggle-component>
  <tooltip-component *ngSwitchCase="'/tooltip'"></tooltip-component>
</div>
