.nectary-theme-base.cpaas-theme-base.cpaas-theme-mailjet {
  --sinch-comp-button-color-cta-primary-default-background-active: var(--sinch-sys-color-cta-active);
  --sinch-comp-button-color-cta-primary-default-background-hover: var(--sinch-sys-color-cta-hover);
  --sinch-comp-button-color-cta-primary-default-background-initial: var(--sinch-sys-color-cta-default);
  --sinch-comp-button-color-cta-primary-default-icon-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-button-color-cta-primary-default-text-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-button-color-cta-primary-disabled-background-initial: var(--sinch-sys-color-cta-disabled);
  --sinch-comp-button-color-cta-primary-disabled-icon-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-button-color-cta-primary-disabled-text-initial: var(--sinch-sys-color-basic-pure);
  --sinch-comp-button-color-cta-secondary-default-background-active: var(--sinch-ref-color-neutral-200);
  --sinch-comp-button-color-cta-secondary-default-background-hover: var(--sinch-ref-color-neutral-100);
  --sinch-comp-button-color-cta-secondary-default-border-initial: transparent;
  --sinch-comp-button-color-cta-secondary-default-icon-initial: var(--sinch-ref-color-tropical-700);
  --sinch-comp-button-color-cta-secondary-default-text-initial: var(--sinch-ref-color-tropical-700);
  --sinch-comp-button-color-cta-secondary-disabled-border-initial: transparent;
  --sinch-comp-button-color-cta-secondary-disabled-icon-initial: #00606366;
  --sinch-comp-button-color-cta-secondary-disabled-text-initial: #00606366;
  --sinch-comp-button-color-danger-default-background-active: #EB545433;
  --sinch-comp-button-color-danger-default-background-hover: #EB54541A;
  --sinch-comp-button-color-danger-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-button-color-danger-disabled-border-initial: #EB545466;
  --sinch-comp-button-color-secondary-default-background-active: var(--sinch-ref-color-neutral-200);
  --sinch-comp-button-color-secondary-default-background-hover: var(--sinch-ref-color-neutral-300);
  --sinch-comp-button-color-secondary-default-background-initial: var(--sinch-ref-color-neutral-100);
  --sinch-comp-button-color-secondary-default-border-initial: transparent;
  --sinch-comp-button-color-secondary-default-icon-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-button-color-secondary-default-text-initial: var(--sinch-sys-color-text-default);
  --sinch-comp-button-color-secondary-disabled-background-initial: #DCE2E566;
  --sinch-comp-button-color-secondary-disabled-border-initial: transparent;
  --sinch-comp-button-color-secondary-disabled-icon-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-button-color-secondary-disabled-text-initial: var(--sinch-sys-color-text-disabled);
  --sinch-comp-button-color-subtle-primary-default-background-active: #145A8F33;
  --sinch-comp-button-color-subtle-primary-default-background-hover: #145A8F33;
  --sinch-comp-button-color-subtle-primary-default-border-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-button-color-subtle-primary-default-text-initial: var(--sinch-sys-color-primary-default);
  --sinch-comp-button-color-subtle-primary-disabled-border-initial: var(--sinch-sys-color-primary-disabled);
  --sinch-comp-button-color-subtle-primary-disabled-text-initial: #00606366;
  --sinch-comp-button-color-subtle-secondary-default-background-active: var(--sinch-ref-color-neutral-300);
  --sinch-comp-button-color-subtle-secondary-default-background-hover: var(--sinch-ref-color-neutral-200);
  --sinch-comp-button-color-subtle-secondary-default-border-initial: var(--sinch-ref-color-neutral-950);
  --sinch-comp-button-color-subtle-secondary-default-icon-initial: var(--sinch-ref-color-neutral-950);
  --sinch-comp-button-color-subtle-secondary-default-text-initial: var(--sinch-ref-color-neutral-950);
  --sinch-comp-button-color-subtle-secondary-disabled-border-initial: #14181C66;
  --sinch-comp-button-color-subtle-secondary-disabled-icon-initial: #14181C66;
  --sinch-comp-button-color-subtle-secondary-disabled-text-initial: #14181C66;
}
