:root,
:host {
  --sinch-comp-button-color-secondary-default-background-active: #A1D5F5;
  --sinch-comp-button-color-secondary-default-background-hover: #C8E6F9;
  --sinch-comp-button-color-secondary-default-background-initial: #DEF2FF;
  --sinch-comp-button-color-secondary-default-border-initial: transparent;
  --sinch-comp-button-color-secondary-default-text-initial: #0A5D9A;
  --sinch-comp-button-color-secondary-disabled-background-initial: #F3FAFE;
  --sinch-comp-button-color-secondary-disabled-border-initial: transparent;
  --sinch-comp-button-color-secondary-disabled-text-initial: #A1D5F5;
  --sinch-comp-button-color-tertiary-default-background-active: #CCCCCC;
  --sinch-comp-button-color-tertiary-default-background-hover: #E0E0E0;
  --sinch-comp-button-color-tertiary-default-background-initial: transparent;
  --sinch-comp-button-color-tertiary-default-border-initial: transparent;
  --sinch-comp-button-color-tertiary-default-text-initial: #0A5D9A;
  --sinch-comp-button-color-tertiary-disabled-background-initial: transparent;
  --sinch-comp-button-color-tertiary-disabled-border-initial: transparent;
  --sinch-comp-button-color-tertiary-disabled-text-initial: #A1D5F5;
  --sinch-comp-button-shadow-cta-primary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-primary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-primary-focus: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-primary-hover: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-primary-initial: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-secondary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-secondary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-secondary-focus: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-secondary-hover: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-cta-secondary-initial: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-danger-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-danger-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-danger-focus: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-danger-hover: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-danger-initial: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-primary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-primary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-primary-focus: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-primary-hover: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-primary-initial: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-secondary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-secondary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-secondary-focus: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-secondary-hover: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-secondary-initial: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-active: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-disabled: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-focus: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-hover: var(--sinch-ref-shadow-level-0);
  --sinch-comp-button-shadow-tertiary-initial: var(--sinch-ref-shadow-level-0);
}
