<style>
  :host {
    display: inline-block;
    vertical-align: middle;
    outline: none;
  }

  #button {
    all: initial;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: var(--sinch-comp-chip-size-container-m);
    padding: 0 5px 0 9px;
    border-radius: var(--sinch-comp-chip-shape-radius);
    background-color:
      var(
        --sinch-comp-chip-color-neutral-default-background-initial
      );
    box-sizing: border-box;

    --sinch-global-color-text:
      var(
        --sinch-comp-chip-color-neutral-default-foreground-initial
      );
    --sinch-global-color-icon:
      var(
        --sinch-comp-chip-color-neutral-default-foreground-initial
      );
    --sinch-global-size-icon: var(--sinch-comp-chip-size-icon-m);
  }

  :host(:not([icon])) #icon-start {
    display: none;
  }

  #text {
    flex: 1;

    --sinch-comp-text-font: var(--sinch-comp-chip-font-size-m-label);
  }

  :host([readonly]) #button {
    padding-right: 9px;
  }

  #icon-close {
    cursor: pointer;
  }

  :host([readonly]) #icon-close {
    display: none;
  }
</style>

<div id="button">
  <sinch-icon icons-version="2" id="icon-start"></sinch-icon>
  <sinch-text id="text" type="xs" ellipsis></sinch-text>
  <sinch-icon icons-version="2" name="circle-cross" id="icon-close"></sinch-icon>
</div>
