<sinch-badge text="8" [attr.size]="size" mode="circle">
  <sinch-avatar
    ngIf="hasBadge"
    [attr.src]="src"
    [attr.alt]="alt"
    [attr.size]="size"
    [attr.background]="background"
  >
    <sinch-avatar-status *ngIf="statusColor != null" slot="status" [attr.color]="statusColor"></sinch-avatar-status>
  </sinch-avatar>
</sinch-badge>
<sinch-avatar
  ngIf="!hasBadge"
  [attr.src]="src"
  [attr.alt]="alt"
  [attr.size]="size"
  [attr.background]="background"
>
  <sinch-avatar-status *ngIf="statusColor != null" slot="status" [attr.color]="statusColor"></sinch-avatar-status>
</sinch-avatar>
