#app {
  display: flex;
  flex: 1;
}

#app-sidebar {
  width: 200px;
}

#app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  margin-inline-start: -20px;
}

.title-anchor {
  font: var(--sinch-font-text-m);
  color: var(--sinch-color-text-default);
  text-decoration: none;
  width: 20px;
  text-align: center;
  visibility: hidden;
}

.title:hover > .title-anchor {
  visibility: visible;
}

.paragraph + .title,
.title + .paragraph {
  margin-block-start: 16px;
}

.title + .title {
  margin-block-start: 8px;
}

.paragraph + .paragraph {
  margin-block-start: 8px;
}

.paragraph + .example-code {
  margin-block-start: 16px;
}

.title + .example {
  margin-block-start: 16px;
}

.example + .title,
.example-code + .title {
  margin-block-start: 16px;
}

.example-container + .example-code {
  margin-block-start: 16px;
}

.list {
  font: var(--sinch-font-text-m);
  color: var(--sinch-color-text-default);
  margin: 0;
  padding: 0;
  padding-inline-start: 16px;
  margin-block-start: 16px;
  margin-block-end: 16px;
}
