:root,
:host {
  --sinch-avatar-color-light-blue-bg: var(--sinch-color-night-200);
  --sinch-avatar-color-light-blue-fg: var(--sinch-color-night-700);
  --sinch-avatar-color-light-brown-bg: var(--sinch-color-mud-200);
  --sinch-avatar-color-light-brown-fg: var(--sinch-color-mud-700);
  --sinch-avatar-color-light-gray-bg: var(--sinch-color-dirt-200);
  --sinch-avatar-color-light-gray-fg: var(--sinch-color-dirt-700);
  --sinch-avatar-color-light-green-bg: var(--sinch-color-grass-200);
  --sinch-avatar-color-light-green-fg: var(--sinch-color-grass-700);
  --sinch-avatar-color-light-orange-bg: var(--sinch-color-orange-200);
  --sinch-avatar-color-light-orange-fg: var(--sinch-color-orange-700);
  --sinch-avatar-color-light-pink-bg: var(--sinch-color-candy-200);
  --sinch-avatar-color-light-pink-fg: var(--sinch-color-candy-700);
  --sinch-avatar-color-light-violet-bg: var(--sinch-color-violet-200);
  --sinch-avatar-color-light-violet-fg: var(--sinch-color-violet-700);
  --sinch-avatar-color-light-yellow-bg: var(--sinch-color-bolt-200);
  --sinch-avatar-color-light-yellow-fg: var(--sinch-color-bolt-700);
  --sinch-avatar-color-default-bg: var(--sinch-avatar-color-light-gray-bg);
  --sinch-avatar-color-default-fg: var(--sinch-avatar-color-light-gray-fg);
  --sinch-avatar-status-color-online: var(--sinch-color-grass-400);
  --sinch-avatar-status-color-away: var(--sinch-color-honey-500);
  --sinch-avatar-status-color-busy: var(--sinch-color-raspberry-500);
  --sinch-avatar-status-color-offline: var(--sinch-color-stormy-200);
}
