:root,
:host {
  --sinch-badge-color-yellow-bg: var(--sinch-color-bolt-400);
  --sinch-badge-color-yellow-fg: var(--sinch-color-stormy-500);
  --sinch-badge-color-red-bg: var(--sinch-color-raspberry-500);
  --sinch-badge-color-red-fg: var(--sinch-color-snow-100);
  --sinch-badge-color-black-bg: var(--sinch-color-stormy-500);
  --sinch-badge-color-black-fg: var(--sinch-color-snow-100);
  --sinch-badge-color-gray-bg: var(--sinch-color-snow-500);
  --sinch-badge-color-gray-fg: var(--sinch-color-stormy-500);
  --sinch-badge-color-green-bg: var(--sinch-color-grass-400);
  --sinch-badge-color-green-fg: var(--sinch-color-snow-100);
  --sinch-badge-color-default-bg: var(--sinch-badge-color-red-bg);
  --sinch-badge-color-default-fg: var(--sinch-badge-color-red-fg);
}
