:root,
:host {
  /* Primary */
  --sinch-button-primary-color-background: var(--sinch-color-tropical-500);
  --sinch-button-primary-color-background-hover: var(--sinch-color-tropical-400);
  --sinch-button-primary-color-background-active: var(--sinch-color-tropical-600);
  --sinch-button-primary-color-background-disabled: var(--sinch-color-tropical-200);
  --sinch-button-primary-color-border: transparent;
  --sinch-button-primary-color-border-hover: transparent;
  --sinch-button-primary-color-border-active: transparent;
  --sinch-button-primary-color-border-disabled: transparent;
  --sinch-button-primary-color-text: var(--sinch-color-snow-100);
  --sinch-button-primary-color-text-hover: var(--sinch-color-snow-100);
  --sinch-button-primary-color-text-active: var(--sinch-color-snow-100);
  --sinch-button-primary-color-text-disabled: var(--sinch-color-snow-100);
  --sinch-button-primary-color-icon: var(--sinch-color-snow-100);
  --sinch-button-primary-color-icon-hover: var(--sinch-color-snow-100);
  --sinch-button-primary-color-icon-active: var(--sinch-color-snow-100);
  --sinch-button-primary-color-icon-disabled: var(--sinch-color-snow-100);
  --sinch-button-primary-mix-blend-mode: initial;

  /* Secondary */
  --sinch-button-secondary-color-background: var(--sinch-color-snow-100);
  --sinch-button-secondary-color-background-hover: var(--sinch-color-tropical-100);
  --sinch-button-secondary-color-background-active: var(--sinch-color-tropical-200);
  --sinch-button-secondary-color-background-disabled: var(--sinch-color-snow-100);
  --sinch-button-secondary-color-border: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-border-hover: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-border-active: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-border-disabled: var(--sinch-color-tropical-200);
  --sinch-button-secondary-color-text: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-text-hover: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-text-active: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-text-disabled: var(--sinch-color-tropical-200);
  --sinch-button-secondary-color-icon: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-icon-hover: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-icon-active: var(--sinch-color-tropical-500);
  --sinch-button-secondary-color-icon-disabled: var(--sinch-color-tropical-200);
  --sinch-button-secondary-mix-blend-mode: initial;

  /* Tertiary */
  --sinch-button-tertiary-color-background: transparent;
  --sinch-button-tertiary-color-background-hover: var(--sinch-color-bg-hover);
  --sinch-button-tertiary-color-background-active: var(--sinch-color-bg-active);
  --sinch-button-tertiary-color-background-disabled: transparent;
  --sinch-button-tertiary-color-border: transparent;
  --sinch-button-tertiary-color-border-hover: transparent;
  --sinch-button-tertiary-color-border-active: transparent;
  --sinch-button-tertiary-color-border-disabled: transparent;
  --sinch-button-tertiary-color-text: var(--sinch-color-tropical-500);
  --sinch-button-tertiary-color-text-hover: var(--sinch-color-tropical-500);
  --sinch-button-tertiary-color-text-active: var(--sinch-color-tropical-500);
  --sinch-button-tertiary-color-text-disabled: var(--sinch-color-tropical-200);
  --sinch-button-tertiary-color-icon: var(--sinch-color-tropical-500);
  --sinch-button-tertiary-color-icon-hover: var(--sinch-color-tropical-500);
  --sinch-button-tertiary-color-icon-active: var(--sinch-color-tropical-500);
  --sinch-button-tertiary-color-icon-disabled: var(--sinch-color-tropical-200);
  --sinch-button-tertiary-mix-blend-mode: multiply;

  /* Cta Primary */
  --sinch-button-cta-primary-color-background: var(--sinch-color-honey-500);
  --sinch-button-cta-primary-color-background-hover: var(--sinch-color-honey-400);
  --sinch-button-cta-primary-color-background-active: var(--sinch-color-honey-600);
  --sinch-button-cta-primary-color-background-disabled: var(--sinch-color-honey-200);
  --sinch-button-cta-primary-color-border: transparent;
  --sinch-button-cta-primary-color-border-hover: transparent;
  --sinch-button-cta-primary-color-border-active: transparent;
  --sinch-button-cta-primary-color-border-disabled: transparent;
  --sinch-button-cta-primary-color-text: var(--sinch-color-stormy-500);
  --sinch-button-cta-primary-color-text-hover: var(--sinch-color-stormy-500);
  --sinch-button-cta-primary-color-text-active: var(--sinch-color-stormy-500);
  --sinch-button-cta-primary-color-text-disabled: var(--sinch-color-stormy-300);
  --sinch-button-cta-primary-color-icon: var(--sinch-color-stormy-500);
  --sinch-button-cta-primary-color-icon-hover: var(--sinch-color-stormy-500);
  --sinch-button-cta-primary-color-icon-active: var(--sinch-color-stormy-500);
  --sinch-button-cta-primary-color-icon-disabled: var(--sinch-color-stormy-300);
  --sinch-button-cta-primary-mix-blend-mode: initial;

  /* Cta Secondary */
  --sinch-button-cta-secondary-color-background: var(--sinch-color-snow-100);
  --sinch-button-cta-secondary-color-background-hover: var(--sinch-color-snow-200);
  --sinch-button-cta-secondary-color-background-active: var(--sinch-color-snow-400);
  --sinch-button-cta-secondary-color-background-disabled: var(--sinch-color-snow-100);
  --sinch-button-cta-secondary-color-border: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-border-hover: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-border-active: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-border-disabled: var(--sinch-color-stormy-100);
  --sinch-button-cta-secondary-color-text: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-text-hover: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-text-active: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-text-disabled: var(--sinch-color-stormy-100);
  --sinch-button-cta-secondary-color-icon: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-icon-hover: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-icon-active: var(--sinch-color-stormy-500);
  --sinch-button-cta-secondary-color-icon-disabled: var(--sinch-color-stormy-100);
  --sinch-button-cta-secondary-mix-blend-mode: initial;

  /* Destructive */
  --sinch-button-destructive-color-background: var(--sinch-color-snow-100);
  --sinch-button-destructive-color-background-hover: var(--sinch-color-raspberry-100);
  --sinch-button-destructive-color-background-active: var(--sinch-color-raspberry-100);
  --sinch-button-destructive-color-background-disabled: var(--sinch-color-snow-100);
  --sinch-button-destructive-color-border: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-border-hover: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-border-active: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-border-disabled: var(--sinch-color-raspberry-200);
  --sinch-button-destructive-color-text: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-text-hover: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-text-active: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-text-disabled: var(--sinch-color-raspberry-200);
  --sinch-button-destructive-color-icon: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-icon-hover: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-icon-active: var(--sinch-color-raspberry-500);
  --sinch-button-destructive-color-icon-disabled: var(--sinch-color-raspberry-200);
  --sinch-button-destructive-mix-blend-mode: initial;

  /* Default */
  --sinch-button-color-background: var(--sinch-button-primary-color-background);
  --sinch-button-color-background-hover: var(--sinch-button-primary-color-background-hover);
  --sinch-button-color-background-active: var(--sinch-button-primary-color-background-active);
  --sinch-button-color-background-disabled: var(--sinch-button-primary-color-background-disabled);
  --sinch-button-color-border: var(--sinch-button-primary-color-border);
  --sinch-button-color-border-hover: var(--sinch-button-primary-color-border-hover);
  --sinch-button-color-border-active: var(--sinch-button-primary-color-border-active);
  --sinch-button-color-border-disabled: var(--sinch-button-primary-color-border-disabled);
  --sinch-button-color-text: var(--sinch-button-primary-color-text);
  --sinch-button-color-text-hover: var(--sinch-button-primary-color-text-hover);
  --sinch-button-color-text-active: var(--sinch-button-primary-color-text-active);
  --sinch-button-color-text-disabled: var(--sinch-button-primary-color-text-disabled);
  --sinch-button-color-icon: var(--sinch-button-primary-color-icon);
  --sinch-button-color-icon-hover: var(--sinch-button-primary-color-icon-hover);
  --sinch-button-color-icon-active: var(--sinch-button-primary-color-icon-active);
  --sinch-button-color-icon-disabled: var(--sinch-button-primary-color-icon-disabled);
  --sinch-button-mix-blend-mode: var(--sinch-button-primary-mix-blend-mode);

  /* Font */
  --sinch-button-font-l: 700 16px/24px var(--sinch-font-family);
  --sinch-button-font-m: 700 16px/24px var(--sinch-font-family);
  --sinch-button-font-s: 700 14px/20px var(--sinch-font-family);
  --sinch-button-font: var(--sinch-button-font-m);

  /* Icon Size */
  --sinch-button-icon-size-l: 24px;
  --sinch-button-icon-size-m: 24px;
  --sinch-button-icon-size-s: 16px;
}
