:root,
:host {
  --sinch-color-swatch-color-default-bg: var(--sinch-color-snow-500);
  --sinch-color-swatch-color-default-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-light-blue-bg: var(--sinch-color-night-200);
  --sinch-color-swatch-color-light-blue-fg: var(--sinch-color-night-700);
  --sinch-color-swatch-color-light-brown-bg: var(--sinch-color-mud-200);
  --sinch-color-swatch-color-light-brown-fg: var(--sinch-color-mud-700);
  --sinch-color-swatch-color-light-gray-bg: var(--sinch-color-dirt-200);
  --sinch-color-swatch-color-light-gray-fg: var(--sinch-color-dirt-700);
  --sinch-color-swatch-color-light-green-bg: var(--sinch-color-grass-200);
  --sinch-color-swatch-color-light-green-fg: var(--sinch-color-grass-700);
  --sinch-color-swatch-color-light-orange-bg: var(--sinch-color-orange-200);
  --sinch-color-swatch-color-light-orange-fg: var(--sinch-color-orange-700);
  --sinch-color-swatch-color-light-pink-bg: var(--sinch-color-candy-200);
  --sinch-color-swatch-color-light-pink-fg: var(--sinch-color-candy-700);
  --sinch-color-swatch-color-light-violet-bg: var(--sinch-color-violet-200);
  --sinch-color-swatch-color-light-violet-fg: var(--sinch-color-violet-700);
  --sinch-color-swatch-color-light-yellow-bg: var(--sinch-color-bolt-200);
  --sinch-color-swatch-color-light-yellow-fg: var(--sinch-color-bolt-700);
  --sinch-color-swatch-color-dark-blue-bg: var(--sinch-color-night-700);
  --sinch-color-swatch-color-dark-blue-fg: var(--sinch-color-night-200);
  --sinch-color-swatch-color-dark-brown-bg: var(--sinch-color-mud-700);
  --sinch-color-swatch-color-dark-brown-fg: var(--sinch-color-mud-200);
  --sinch-color-swatch-color-dark-gray-bg: var(--sinch-color-dirt-700);
  --sinch-color-swatch-color-dark-gray-fg: var(--sinch-color-dirt-200);
  --sinch-color-swatch-color-dark-green-bg: var(--sinch-color-grass-700);
  --sinch-color-swatch-color-dark-green-fg: var(--sinch-color-grass-200);
  --sinch-color-swatch-color-dark-orange-bg: var(--sinch-color-orange-700);
  --sinch-color-swatch-color-dark-orange-fg: var(--sinch-color-orange-200);
  --sinch-color-swatch-color-dark-pink-bg: var(--sinch-color-candy-700);
  --sinch-color-swatch-color-dark-pink-fg: var(--sinch-color-candy-200);
  --sinch-color-swatch-color-dark-violet-bg: var(--sinch-color-violet-700);
  --sinch-color-swatch-color-dark-violet-fg: var(--sinch-color-violet-200);
  --sinch-color-swatch-color-dark-yellow-bg: var(--sinch-color-bolt-700);
  --sinch-color-swatch-color-dark-yellow-fg: var(--sinch-color-bolt-200);
  --sinch-color-swatch-color-blue-bg: var(--sinch-color-night-400);
  --sinch-color-swatch-color-blue-fg: var(--sinch-color-snow-100);
  --sinch-color-swatch-color-brown-bg: var(--sinch-color-mud-400);
  --sinch-color-swatch-color-brown-fg: var(--sinch-color-snow-100);
  --sinch-color-swatch-color-gray-bg: var(--sinch-color-dirt-400);
  --sinch-color-swatch-color-gray-fg: var(--sinch-color-snow-100);
  --sinch-color-swatch-color-green-bg: var(--sinch-color-grass-400);
  --sinch-color-swatch-color-green-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-orange-bg: var(--sinch-color-orange-400);
  --sinch-color-swatch-color-orange-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-pink-bg: var(--sinch-color-candy-400);
  --sinch-color-swatch-color-pink-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-violet-bg: var(--sinch-color-violet-400);
  --sinch-color-swatch-color-violet-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-yellow-bg: var(--sinch-color-bolt-400);
  --sinch-color-swatch-color-yellow-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-skin-tone-0-bg: var(--sinch-color-skin-tone-0);
  --sinch-color-swatch-color-skin-tone-0-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-skin-tone-10-bg: var(--sinch-color-skin-tone-10);
  --sinch-color-swatch-color-skin-tone-10-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-skin-tone-20-bg: var(--sinch-color-skin-tone-20);
  --sinch-color-swatch-color-skin-tone-20-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-skin-tone-30-bg: var(--sinch-color-skin-tone-30);
  --sinch-color-swatch-color-skin-tone-30-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-skin-tone-40-bg: var(--sinch-color-skin-tone-40);
  --sinch-color-swatch-color-skin-tone-40-fg: var(--sinch-color-stormy-500);
  --sinch-color-swatch-color-skin-tone-50-bg: var(--sinch-color-skin-tone-50);
  --sinch-color-swatch-color-skin-tone-50-fg: var(--sinch-color-snow-100);
}
