:root,
:host {
  /* Contextual */
  --sinch-color-bg-primary-light: var(--sinch-color-snow-100);
  --sinch-color-bg-primary-contrast: var(--sinch-color-snow-200);
  --sinch-color-bg-secondary-green: var(--sinch-color-tropical-100);
  --sinch-color-bg-secondary-blue: var(--sinch-color-ocean-100);
  --sinch-color-bg-secondary-yellow: var(--sinch-color-honey-200);
  --sinch-color-bg-secondary-red: var(--sinch-color-raspberry-100);
  --sinch-color-bg-hover: var(--sinch-color-snow-200);
  --sinch-color-bg-active: var(--sinch-color-snow-400);
  --sinch-color-border-default: var(--sinch-color-snow-700);
  --sinch-color-border-light: var(--sinch-color-snow-500);
  --sinch-color-border-dark: var(--sinch-color-stormy-100);
  --sinch-color-border-active: var(--sinch-color-stormy-500);
  --sinch-color-border-disabled: var(--sinch-color-snow-400);
  --sinch-color-border-focus: var(--sinch-color-ocean-500);
  --sinch-color-border-invalid: var(--sinch-color-raspberry-600);
  --sinch-color-text-default: var(--sinch-color-stormy-700);
  --sinch-color-text-inverted: var(--sinch-color-snow-100);
  --sinch-color-text-muted: var(--sinch-color-stormy-300);
  --sinch-color-text-disabled: var(--sinch-color-stormy-100);
  --sinch-color-text-link: var(--sinch-color-tropical-500);
  --sinch-color-text-link-disabled: var(--sinch-color-tropical-100);
  --sinch-color-text-invalid: var(--sinch-color-raspberry-600);
  --sinch-color-text-invalid-disabled: var(--sinch-color-raspberry-100);
  --sinch-color-feedback-info-contrast: var(--sinch-color-celtic-700);
  --sinch-color-feedback-info-icon: var(--sinch-color-celtic-400);
  --sinch-color-feedback-info-bg: var(--sinch-color-celtic-200);
  --sinch-color-feedback-success-contrast: var(--sinch-color-olive-700);
  --sinch-color-feedback-success-icon: var(--sinch-color-olive-400);
  --sinch-color-feedback-success-bg: var(--sinch-color-olive-200);
  --sinch-color-feedback-warning-contrast: var(--sinch-color-pumpkin-700);
  --sinch-color-feedback-warning-icon: var(--sinch-color-pumpkin-400);
  --sinch-color-feedback-warning-bg: var(--sinch-color-pumpkin-200);
  --sinch-color-feedback-invalid-contrast: var(--sinch-color-jasper-700);
  --sinch-color-feedback-invalid-icon: var(--sinch-color-jasper-400);
  --sinch-color-feedback-invalid-bg: var(--sinch-color-jasper-200);
  --sinch-color-icon: var(--sinch-color-stormy-500);
}
