:root,
:host {
  --sinch-emoji-picker-icon-font-variation-settings: "FILL" 0;
  --sinch-emoji-picker-icon-search: search;
  --sinch-emoji-picker-icon-emoji-emotions: sentiment_satisfied;
  --sinch-emoji-picker-icon-emoji-people: emoji_people;
  --sinch-emoji-picker-icon-emoji-animals-nature: pets;
  --sinch-emoji-picker-icon-emoji-food-drinks: emoji_food_beverage;
  --sinch-emoji-picker-icon-emoji-travel-places: emoji_transportation;
  --sinch-emoji-picker-icon-emoji-sports-activities: sports_tennis;
  --sinch-emoji-picker-icon-emoji-objects: emoji_objects;
  --sinch-emoji-picker-icon-emoji-symbols-flags: emoji_symbols;
}
