@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("DMSans-Regular"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-400.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-400.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local("DMSans-Medium"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-500.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-500.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("DMSans-Bold"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-700.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-700.woff") format("woff");
}

@font-face {
  font-family: "DM Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("DMMono-Regular"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Mono-400.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Mono-400.woff") format("woff");
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src:
    url("https://fonts.gstatic.com/s/materialsymbolsoutlined/v63/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD_dY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/materialsymbolsoutlined/v63/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD_dY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOelbd5zrDAt.woff") format("woff");
}
