@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("DMSans-Regular"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-400.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-400.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local("DMSans-Medium"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-500.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-500.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("DMSans-Bold"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-700.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-700.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    local("DMSans-Italic"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-400-italic.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-400-italic.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src:
    local("DMSans-MediumItalic"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-500-italic.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-500-italic.woff") format("woff");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    local("DMSans-BoldItalic"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-700-italic.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Sans-700-italic.woff") format("woff");
}

@font-face {
  font-family: "DM Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("DMMono-Regular"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Mono-400.woff2") format("woff2"),
    url("https://d2vu40klajma73.cloudfront.net/DM-Mono-400.woff") format("woff");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:
    local("MaterialSymbolsRounded24pt-Regular"),
    url("https://fonts.gstatic.com/s/materialsymbolsrounded/v76/syl7-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvLgyidOK7BDB_Qb9vUdV6_gjDK-P3JuF_Zs-obHph2-jOcZTKPq8a9A5M.woff2") format("woff2");
}
