:root,
:host {
  /* Primary */
  --sinch-icon-button-primary-color-background: var(--sinch-color-tropical-500);
  --sinch-icon-button-primary-color-background-hover: var(--sinch-color-tropical-400);
  --sinch-icon-button-primary-color-background-active: var(--sinch-color-tropical-600);
  --sinch-icon-button-primary-color-background-disabled: var(--sinch-color-tropical-200);
  --sinch-icon-button-primary-color-border: transparent;
  --sinch-icon-button-primary-color-border-hover: transparent;
  --sinch-icon-button-primary-color-border-active: transparent;
  --sinch-icon-button-primary-color-border-disabled: transparent;
  --sinch-icon-button-primary-color-icon: var(--sinch-color-snow-100);
  --sinch-icon-button-primary-color-icon-hover: var(--sinch-color-snow-100);
  --sinch-icon-button-primary-color-icon-active: var(--sinch-color-snow-100);
  --sinch-icon-button-primary-color-icon-disabled: var(--sinch-color-snow-100);
  --sinch-icon-button-primary-mix-blend-mode: initial;

  /* Secondary */
  --sinch-icon-button-secondary-color-background: var(--sinch-color-snow-100);
  --sinch-icon-button-secondary-color-background-hover: var(--sinch-color-tropical-100);
  --sinch-icon-button-secondary-color-background-active: var(--sinch-color-tropical-200);
  --sinch-icon-button-secondary-color-background-disabled: var(--sinch-color-snow-100);
  --sinch-icon-button-secondary-color-border: var(--sinch-color-tropical-500);
  --sinch-icon-button-secondary-color-border-hover: var(--sinch-color-tropical-500);
  --sinch-icon-button-secondary-color-border-active: var(--sinch-color-tropical-500);
  --sinch-icon-button-secondary-color-border-disabled: var(--sinch-color-tropical-200);
  --sinch-icon-button-secondary-color-icon: var(--sinch-color-tropical-500);
  --sinch-icon-button-secondary-color-icon-hover: var(--sinch-color-tropical-500);
  --sinch-icon-button-secondary-color-icon-active: var(--sinch-color-tropical-500);
  --sinch-icon-button-secondary-color-icon-disabled: var(--sinch-color-tropical-200);
  --sinch-icon-button-secondary-mix-blend-mode: initial;

  /* Tertiary */
  --sinch-icon-button-tertiary-color-background: transparent;
  --sinch-icon-button-tertiary-color-background-hover: var(--sinch-color-bg-hover);
  --sinch-icon-button-tertiary-color-background-active: var(--sinch-color-bg-active);
  --sinch-icon-button-tertiary-color-background-disabled: transparent;
  --sinch-icon-button-tertiary-color-border: transparent;
  --sinch-icon-button-tertiary-color-border-hover: transparent;
  --sinch-icon-button-tertiary-color-border-active: transparent;
  --sinch-icon-button-tertiary-color-border-disabled: transparent;
  --sinch-icon-button-tertiary-color-icon: var(--sinch-color-stormy-500);
  --sinch-icon-button-tertiary-color-icon-hover: var(--sinch-color-stormy-500);
  --sinch-icon-button-tertiary-color-icon-active: var(--sinch-color-stormy-500);
  --sinch-icon-button-tertiary-color-icon-disabled: var(--sinch-color-stormy-100);
  --sinch-icon-button-tertiary-mix-blend-mode: multiply;

  /* Default */
  --sinch-icon-button-color-background: var(--sinch-icon-button-tertiary-color-background);
  --sinch-icon-button-color-background-hover: var(--sinch-icon-button-tertiary-color-background-hover);
  --sinch-icon-button-color-background-active: var(--sinch-icon-button-tertiary-color-background-active);
  --sinch-icon-button-color-background-disabled: var(--sinch-icon-button-tertiary-color-background-disabled);
  --sinch-icon-button-color-border: var(--sinch-icon-button-tertiary-color-border);
  --sinch-icon-button-color-border-hover: var(--sinch-icon-button-tertiary-color-border-hover);
  --sinch-icon-button-color-border-active: var(--sinch-icon-button-tertiary-color-border-active);
  --sinch-icon-button-color-border-disabled: var(--sinch-icon-button-tertiary-color-border-disabled);
  --sinch-icon-button-color-icon: var(--sinch-icon-button-tertiary-color-icon);
  --sinch-icon-button-color-icon-hover: var(--sinch-icon-button-tertiary-color-icon-hover);
  --sinch-icon-button-color-icon-active: var(--sinch-icon-button-tertiary-color-icon-active);
  --sinch-icon-button-color-icon-disabled: var(--sinch-icon-button-tertiary-color-icon-disabled);
  --sinch-icon-button-mix-blend-mode: var(--sinch-icon-button-tertiary-mix-blend-mode);

  /* Icon Size */
  --sinch-icon-button-icon-size-l: 24px;
  --sinch-icon-button-icon-size-m: 24px;
  --sinch-icon-button-icon-size-s: 24px;
  --sinch-icon-button-icon-size-xs: 16px;
}
