:root,
:host {
  --sinch-tag-color-default-bg: var(--sinch-color-snow-500);
  --sinch-tag-color-default-fg: var(--sinch-color-stormy-500);
  --sinch-tag-color-light-blue-bg: var(--sinch-color-night-200);
  --sinch-tag-color-light-blue-fg: var(--sinch-color-night-700);
  --sinch-tag-color-light-brown-bg: var(--sinch-color-mud-200);
  --sinch-tag-color-light-brown-fg: var(--sinch-color-mud-700);
  --sinch-tag-color-light-gray-bg: var(--sinch-color-dirt-200);
  --sinch-tag-color-light-gray-fg: var(--sinch-color-dirt-700);
  --sinch-tag-color-light-green-bg: var(--sinch-color-grass-200);
  --sinch-tag-color-light-green-fg: var(--sinch-color-grass-700);
  --sinch-tag-color-light-orange-bg: var(--sinch-color-orange-200);
  --sinch-tag-color-light-orange-fg: var(--sinch-color-orange-700);
  --sinch-tag-color-light-pink-bg: var(--sinch-color-candy-200);
  --sinch-tag-color-light-pink-fg: var(--sinch-color-candy-700);
  --sinch-tag-color-light-violet-bg: var(--sinch-color-violet-200);
  --sinch-tag-color-light-violet-fg: var(--sinch-color-violet-700);
  --sinch-tag-color-light-yellow-bg: var(--sinch-color-bolt-200);
  --sinch-tag-color-light-yellow-fg: var(--sinch-color-bolt-700);
  --sinch-tag-color-dark-blue-bg: var(--sinch-color-night-700);
  --sinch-tag-color-dark-blue-fg: var(--sinch-color-night-200);
  --sinch-tag-color-dark-brown-bg: var(--sinch-color-mud-700);
  --sinch-tag-color-dark-brown-fg: var(--sinch-color-mud-200);
  --sinch-tag-color-dark-gray-bg: var(--sinch-color-dirt-700);
  --sinch-tag-color-dark-gray-fg: var(--sinch-color-dirt-200);
  --sinch-tag-color-dark-green-bg: var(--sinch-color-grass-700);
  --sinch-tag-color-dark-green-fg: var(--sinch-color-grass-200);
  --sinch-tag-color-dark-orange-bg: var(--sinch-color-orange-700);
  --sinch-tag-color-dark-orange-fg: var(--sinch-color-orange-200);
  --sinch-tag-color-dark-pink-bg: var(--sinch-color-candy-700);
  --sinch-tag-color-dark-pink-fg: var(--sinch-color-candy-200);
  --sinch-tag-color-dark-violet-bg: var(--sinch-color-violet-700);
  --sinch-tag-color-dark-violet-fg: var(--sinch-color-violet-200);
  --sinch-tag-color-dark-yellow-bg: var(--sinch-color-bolt-700);
  --sinch-tag-color-dark-yellow-fg: var(--sinch-color-bolt-200);
  --sinch-tag-color-blue-bg: var(--sinch-color-night-400);
  --sinch-tag-color-blue-fg: var(--sinch-color-snow-100);
  --sinch-tag-color-brown-bg: var(--sinch-color-mud-400);
  --sinch-tag-color-brown-fg: var(--sinch-color-snow-100);
  --sinch-tag-color-gray-bg: var(--sinch-color-dirt-400);
  --sinch-tag-color-gray-fg: var(--sinch-color-snow-100);
  --sinch-tag-color-green-bg: var(--sinch-color-grass-400);
  --sinch-tag-color-green-fg: var(--sinch-color-stormy-500);
  --sinch-tag-color-orange-bg: var(--sinch-color-orange-400);
  --sinch-tag-color-orange-fg: var(--sinch-color-stormy-500);
  --sinch-tag-color-pink-bg: var(--sinch-color-candy-400);
  --sinch-tag-color-pink-fg: var(--sinch-color-stormy-500);
  --sinch-tag-color-violet-bg: var(--sinch-color-violet-400);
  --sinch-tag-color-violet-fg: var(--sinch-color-stormy-500);
  --sinch-tag-color-yellow-bg: var(--sinch-color-bolt-400);
  --sinch-tag-color-yellow-fg: var(--sinch-color-stormy-500);
  --sinch-tag-color-celtic-bg: var(--sinch-color-feedback-info-bg);
  --sinch-tag-color-celtic-fg: var(--sinch-color-feedback-info-contrast);
  --sinch-tag-color-olive-bg: var(--sinch-color-feedback-success-bg);
  --sinch-tag-color-olive-fg: var(--sinch-color-feedback-success-contrast);
  --sinch-tag-color-pumpkin-bg: var(--sinch-color-feedback-warning-bg);
  --sinch-tag-color-pumpkin-fg: var(--sinch-color-feedback-warning-contrast);
  --sinch-tag-color-jasper-bg: var(--sinch-color-feedback-invalid-bg);
  --sinch-tag-color-jasper-fg: var(--sinch-color-feedback-invalid-contrast);
}
