:root,
:host {
  --sinch-font-family: "Gilroy", "Arial", "sans-serif";
  --sinch-font-weight-emphasized: 600;
  --sinch-font-title-xl: 600 40px/48px var(--sinch-font-family);
  --sinch-font-title-l: 600 24px/32px var(--sinch-font-family);
  --sinch-font-title-m: 600 20px/24px var(--sinch-font-family);
  --sinch-font-title-s: 600 16px/24px var(--sinch-font-family);
  --sinch-font-title-xs: 600 14px/22px var(--sinch-font-family);
  --sinch-font-text-m: 400 16px/24px var(--sinch-font-family);
  --sinch-font-text-s: 400 14px/22px var(--sinch-font-family);
  --sinch-font-text-xs: 400 12px/20px var(--sinch-font-family);
  --sinch-font-text-xxs: 400 10px/16px var(--sinch-font-family);
  --sinch-font-mono-family: "DM Mono", "monospace";
  --sinch-font-mono-text-s: 400 16px/24px var(--sinch-font-mono-family);
}
