<style>
  :host {
    display: block;
    outline: none;

    --sinch-comp-vertical-stepper-color-background-default:
      var(
        --sinch-sys-color-surface-tertiary-default
      );
    --sinch-comp-vertical-stepper-color-background-visited-skip:
      var(
        --sinch-sys-color-surface-tertiary-default
      );
    --sinch-comp-vertical-stepper-color-background-active:
      var(
        --sinch-ref-color-neutral-700
      );
    --sinch-comp-vertical-stepper-color-background-visited:
      var(
        --sinch-ref-color-neutral-350
      );
    --sinch-comp-vertical-stepper-color-background-visited-error:
      var(
        --sinch-sys-color-feedback-danger-strong
      );
    --sinch-comp-vertical-stepper-color-border-default: transparent;
    --sinch-comp-vertical-stepper-color-border-visited-skip:
      var(
        --sinch-ref-color-neutral-700
      );
    --sinch-comp-vertical-stepper-color-border-active: transparent;
    --sinch-comp-vertical-stepper-color-border-visited:
      var(
        --sinch-ref-color-neutral-700
      );
    --sinch-comp-vertical-stepper-color-border-visited-error:
      var(
        --sinch-ref-color-neutral-700
      );
    --sinch-comp-vertical-stepper-color-icon-default:
      var(
        --sinch-ref-color-neutral-900
      );
    --sinch-comp-vertical-stepper-color-icon-visited-skip:
      var(
        --sinch-ref-color-neutral-900
      );
    --sinch-comp-vertical-stepper-color-icon-active:
      var(
        --sinch-sys-color-basic-pure
      );
    --sinch-comp-vertical-stepper-color-icon-visited:
      var(
        --sinch-ref-color-neutral-900
      );
    --sinch-comp-vertical-stepper-color-icon-visited-error:
      var(
        --sinch-ref-color-neutral-900
      );
    --sinch-comp-vertical-stepper-color-label:
      var(
        --sinch-sys-color-text-default
      );
    --sinch-comp-vertical-stepper-color-description:
      var(
        --sinch-sys-color-text-muted
      );
    --sinch-comp-vertical-stepper-color-progress:
      var(
        --sinch-ref-color-neutral-350
      );
    --sinch-comp-vertical-stepper-color-progress-visited:
      var(
        --sinch-ref-color-neutral-700
      );
  }

  #wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
</style>

<div id="wrapper">
  <slot></slot>
</div>
