.nectary-theme-base.cpaas-theme-base.cpaas-theme-dashboard {
  --sinch-comp-button-color-cta-primary-default-background-active: var(--sinch-ref-color-honey-400);
  --sinch-comp-button-color-cta-primary-default-background-hover: var(--sinch-ref-color-honey-300);
  --sinch-comp-button-color-cta-primary-default-background-initial: var(--sinch-ref-color-honey-350);
  --sinch-comp-button-color-cta-primary-default-border-initial: var(--sinch-sys-color-basic-transparent);
  --sinch-comp-button-color-cta-primary-disabled-background-initial: #FFBE3C66;
  --sinch-comp-button-color-cta-primary-disabled-border-initial: var(--sinch-sys-color-basic-transparent);
  --sinch-comp-button-color-cta-secondary-default-background-active: var(--sinch-ref-color-neutral-300);
  --sinch-comp-button-color-cta-secondary-default-background-hover: var(--sinch-ref-color-neutral-100);
  --sinch-comp-button-color-cta-secondary-default-background-initial: var(--sinch-ref-color-neutral-200);
  --sinch-comp-button-color-cta-secondary-default-border-initial: var(--sinch-sys-color-basic-transparent);
  --sinch-comp-button-color-cta-secondary-disabled-background-initial: #DCE2E566;
  --sinch-comp-button-color-cta-secondary-disabled-border-initial: var(--sinch-sys-color-basic-transparent);
  --sinch-comp-button-color-danger-default-background-active: var(--sinch-ref-color-raspberry-100);
  --sinch-comp-button-color-danger-default-background-hover: var(--sinch-ref-color-raspberry-50);
  --sinch-comp-button-color-danger-default-background-initial: var(--sinch-sys-color-surface-primary-default);
  --sinch-comp-button-color-danger-default-border-initial: var(--sinch-ref-color-raspberry-600);
  --sinch-comp-button-color-danger-default-icon-initial: var(--sinch-ref-color-raspberry-600);
  --sinch-comp-button-color-danger-default-outline-focus: var(--sinch-sys-color-focus);
  --sinch-comp-button-color-danger-default-text-initial: var(--sinch-ref-color-raspberry-600);
  --sinch-comp-button-color-danger-disabled-background-initial: var(--sinch-sys-color-surface-primary-disabled);
  --sinch-comp-button-color-danger-disabled-border-initial: {ref.color.raspberry.600};
  --sinch-comp-button-color-danger-disabled-icon-initial: {ref.color.raspberry.600};
  --sinch-comp-button-color-danger-disabled-text-initial: {ref.color.raspberry.600};
  --sinch-comp-button-color-secondary-default-background-active: #1454A826;
  --sinch-comp-button-color-secondary-default-background-hover: #1454A81A;
  --sinch-comp-button-color-secondary-default-border-initial: var(--sinch-ref-color-ocean-700);
  --sinch-comp-button-color-secondary-default-text-initial: var(--sinch-ref-color-ocean-700);
  --sinch-comp-button-color-secondary-disabled-border-initial: #1454A866;
  --sinch-comp-button-color-secondary-disabled-text-initial: #1454A866;
  --sinch-comp-button-color-subtle-primary-default-background-active: var(--sinch-ref-color-neutral-200);
  --sinch-comp-button-color-subtle-primary-default-background-hover: var(--sinch-ref-color-neutral-100);
  --sinch-comp-button-color-subtle-secondary-default-background-active: var(--sinch-ref-color-neutral-200);
  --sinch-comp-button-color-subtle-secondary-default-background-hover: var(--sinch-ref-color-neutral-100);
}
