<style>
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 24px;
  padding: 0 12px;
  border-radius: 12px;
  color: var(--sinch-color-text-default);
  box-sizing: border-box;

  --sinch-color-icon: var(--sinch-color-stormy-500);
  --sinch-size-icon: 16px;
}

#wrapper.no-color {
  background-color: var(--sinch-color-snow-500);
}

#wrapper.inverted {
  color: var(--sinch-color-text-inverted);

  --sinch-color-icon: var(--sinch-color-snow-100);
}

#text {
  flex: 1;
}

:host([small]:not([small="false"])) #wrapper {
  height: 20px;
  border-radius: 10px;
  padding: 0 8px;
}

::slotted(*) {
  margin-left: -4px;
}

:host([small]:not([small="false"])) ::slotted(*) {
  margin-left: -2px;
}
</style>

<div id="wrapper">
  <slot name="icon"></slot>
  <sinch-text id="text" type="xs" ellipsis></sinch-text>
</div>
