<style>
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: var(--sinch-comp-tag-size-container-m);
  padding: 0 9px;
  border-radius: var(--sinch-comp-tag-shape-radius);
  background-color: var(--sinch-comp-tag-color-default-background);
  box-sizing: border-box;
  user-select: none;
  position: relative;

  --sinch-global-color-text: var(--sinch-comp-tag-color-default-foreground);
  --sinch-global-color-icon: var(--sinch-comp-tag-color-default-foreground);
  --sinch-global-size-icon: var(--sinch-comp-tag-size-icon-m);
}

:host([small]) #wrapper {
  height: var(--sinch-comp-tag-size-container-s);
  padding: 0 8px;

  --sinch-global-size-icon: var(--sinch-comp-tag-size-icon-s);
}

#text {
  flex: 1;

  --sinch-comp-text-font: var(--sinch-comp-tag-font-size-m-label);
}

:host([small]) #text {
  --sinch-comp-text-font: var(--sinch-comp-tag-font-size-s-label);
}

::slotted(*) {
  margin-left: -4px;
}

#wrapper #tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 7px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  word-wrap: break-word;
  max-width: 300px;
  opacity: 0;
  transition: opacity 0.3s;
}

#wrapper #tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent;
}

:host(:not([no-truncate])) #wrapper.show-tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}

:host(:not([no-truncate])) #text {
  text-overflow: ellipsis;
}

</style>

<div id="wrapper">
  <slot name="icon"></slot>
      <sinch-text id="tooltiptext" type="s"></sinch-text>
      <sinch-text id="text" type="s" ellipsis></sinch-text>
</div>
