<style>
:host {
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
}

#text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--sinch-color-stormy-500);
  flex: 1;
  min-width: 0;
}

:host([type="warn"]) #wrapper {
  background-color: var(--sinch-color-feedback-warning-bg);
}

:host([type="error"]) #wrapper {
  background-color: var(--sinch-color-feedback-invalid-bg);
}

:host([type="info"]) #wrapper {
  background-color: var(--sinch-color-feedback-info-bg);
}

:host([type="warn"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-warning-icon);
}

:host([type="error"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-invalid-icon);
}

:host([type="info"]) #icon {
  --sinch-color-icon: var(--sinch-color-feedback-info-icon);
}
</style>

<div id="wrapper">
  <sinch-icon id="icon"></sinch-icon>
  <sinch-rich-text id="text"></sinch-rich-text>
  <slot name="action"></slot>
  <slot name="close"></slot>
</div>
