<style>
  :host {
    display: block;
  }

  #wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    min-height: 48px;
  }

  :host([type="warn"]) #wrapper {
    background-color: var(--sinch-comp-alert-color-warning-default-background);
  }

  :host([type="error"]) #wrapper {
    background-color: var(--sinch-comp-alert-color-error-default-background);
  }

  :host([type="info"]) #wrapper {
    background-color: var(--sinch-comp-alert-color-info-default-background);
  }

  #icon-info,
  #icon-warn,
  #icon-error {
    display: none;
  }

  #icon-warn {
    --sinch-global-color-icon: var(
      --sinch-comp-alert-color-warning-default-icon
    );
  }

  #icon-error {
    --sinch-global-color-icon: var(--sinch-comp-alert-color-error-default-icon);
  }

  #icon-info {
    --sinch-global-color-icon: var(--sinch-comp-alert-color-info-default-icon);
  }

  :host([type="warn"]) #icon-warn,
  :host([type="error"]) #icon-error,
  :host([type="info"]) #icon-info {
    display: block;
  }

  #text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-width: 0;

    --sinch-comp-rich-text-font: var(--sinch-comp-alert-font-body);
  }

  :host([type="warn"]) #text {
    --sinch-global-color-text: var(
      --sinch-comp-alert-color-warning-default-text
    );
  }

  :host([type="error"]) #text {
    --sinch-global-color-text: var(--sinch-comp-alert-color-error-default-text);
  }

  :host([type="info"]) #text {
    --sinch-global-color-text: var(--sinch-comp-alert-color-info-default-text);
  }
</style>

<div id="wrapper">
  <sinch-icon-circle-info id="icon-info"></sinch-icon-circle-info>
  <sinch-icon-triangle-exclamation
    id="icon-warn"
  ></sinch-icon-triangle-exclamation>
  <sinch-icon-octagon-exclamation
    id="icon-error"
  ></sinch-icon-octagon-exclamation>
  <sinch-rich-text id="text"></sinch-rich-text>
  <slot name="action"></slot>
  <slot name="close"></slot>
</div>
