<style>
:host {
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
}

#text {
  color: var(--sinch-color-stormy-500);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
}

#icon-info,
#icon-warn,
#icon-error {
  display: none;
}

:host([type="warn"]) #wrapper {
  background-color: var(--sinch-color-warning-200);
}

:host([type="error"]) #wrapper {
  background-color: var(--sinch-color-error-200);
}

:host([type="info"]) #wrapper {
  background-color: var(--sinch-color-informative-200);
}

:host([type="warn"]) #icon-warn {
  display: block;

  --sinch-color-icon: var(--sinch-color-warning-500);
}

:host([type="error"]) #icon-error {
  display: block;

  --sinch-color-icon: var(--sinch-color-error-500);
}

:host([type="info"]) #icon-info {
  display: block;

  --sinch-color-icon: var(--sinch-color-informative-500);
}
</style>

<div id="wrapper">
  <sinch-icon-info id="icon-info"></sinch-icon-info>
  <sinch-icon-report-problem id="icon-warn"></sinch-icon-report-problem>
  <sinch-icon-report id="icon-error"></sinch-icon-report>
  <sinch-text id="text" type="m"></sinch-text>
  <slot name="action"></slot>
  <slot name="close"></slot>
</div>
