<style>
:host {
  display: contents;
  position: relative;
}

dialog {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  outline: none;
  padding: 0;
  border: none;
  box-sizing: border-box;
  max-width: unset;
  max-height: unset;
  z-index: 1;
  background: none;
  overflow: visible;
}

dialog:not([open]) {
  display: none;
}

dialog::backdrop {
  background-color: transparent;
}

#content {
  position: relative;
  z-index: 1;
}

#target-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}

#focus {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
}
</style>

<slot id="target" name="target" aria-haspopup="dialog" aria-expanded="false"></slot>
<div id="focus" tabindex="-1"></div>
<dialog id="dialog">
  <div id="content">
    <slot name="content"></slot>
  </div>
  <div id="target-open">
    <slot name="target-open"></slot>
  </div>
</dialog>
