<style>
:host {
  display: inline-block;
}

#icon {
  display: block;
  font-family: var(--sinch-icon-font-family);
  font-weight: var(--sinch-icon-font-weight);
  font-size: var(--sinch-size-icon, 24px);
  font-feature-settings: var(--sinch-icon-font-feature-settings);
  font-variation-settings: var(--sinch-icon-font-variation-settings);
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  white-space: nowrap;
  width: var(--sinch-size-icon, 24px);
  height: var(--sinch-size-icon, 24px);
  color: var(--sinch-color-icon, var(--sinch-color-stormy-500));
  user-select: none;
}
</style>

<span id="icon" role="img"></span>
