<style>
:host {
  display: inline-block;
}

#icon {
  display: block;
  font-weight: var(--sinch-comp-icon-font-weight);
  font-size: var(--sinch-global-size-icon, 24px);
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  white-space: nowrap;
  width: var(--sinch-global-size-icon, 24px);
  height: var(--sinch-global-size-icon, 24px);
  color: var(--sinch-global-color-icon, var(--sinch-sys-color-text-default));
  user-select: none;
}

:host([icons-version="1"]) {
  font-family: var(--sinch-comp-icon-font-family-v1);
  font-feature-settings: var(--sinch-comp-icon-font-feature-settings-v1);
}

.zero-to-d {
  font-family: var(--sinch-comp-icon-font-family-zero-to-d);
}

.e-to-o {
  font-family: var(--sinch-comp-icon-font-family-e-to-o);
}

.p-to-z {
  font-family: var(--sinch-comp-icon-font-family-p-to-z);
}
</style>

<span id="icon" role="img"></span>
