<style>
:host {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

* {
  pointer-events: none;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100%;
  height: 42px;
  padding: 8px 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 var(--sinch-color-stormy-100);
  color: var(--sinch-color-stormy-500);

  --sinch-color-icon: var(--sinch-color-stormy-500);
}

#content {
  font: var(--sinch-font-title-4);
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host([checked]) #wrapper {
  box-shadow: 0 2px 0 0 var(--sinch-color-stormy-500);
}

input {
  all: initial;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

:host([disabled]:not([disabled="false"])) #wrapper {
  color: var(--sinch-color-stormy-100);

  --sinch-color-icon: var(--sinch-color-stormy-100);
}

input:disabled {
  cursor: unset;
}
</style>

<div id="wrapper">
  <slot name="icon"></slot>
  <label for="input" id="content" aria-hidden="true"></label>
  <input id="input" type="radio" aria-hidden="true"/>
</div>
