<style>
:host {
  display: block;
}

#wrapper {
  all: initial;
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  user-select: none;
  cursor: pointer;
  color: var(--sinch-color-text-default);

  --sinch-color-icon: var(--sinch-color-stormy-500);
  --sinch-size-icon: 24px;
}

#content {
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host(:hover:not([disabled])) > #wrapper,
:host([data-selected]) > #wrapper {
  background-color: var(--sinch-color-snow-400);
}

:host([disabled]) > #wrapper {
  cursor: initial;
  pointer-events: none;
  color: var(--sinch-color-text-disabled);

  --sinch-color-icon: var(--sinch-color-stormy-100);
}

::slotted(*) {
  margin-left: -6px;
}
</style>

<div id="wrapper">
  <slot name="icon"></slot>
  <sinch-text id="content" type="m" ellipsis></sinch-text>
</div>
