<style>
:host {
  display: block;
}

#wrapper {
  all: initial;
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  user-select: none;
  cursor: pointer;
  background-color: var(--sinch-comp-action-menu-color-default-background-initial);

  --sinch-global-color-text: var(--sinch-comp-action-menu-color-default-text-initial);
  --sinch-global-color-icon: var(--sinch-comp-action-menu-color-default-icon-initial);
  --sinch-global-size-icon: var(--sinch-comp-action-menu-size-icon);
}

:host([data-selected]) > #wrapper {
  background-color: var(--sinch-comp-action-menu-color-default-background-selected);
}

:host(:hover) > #wrapper {
  background-color: var(--sinch-comp-action-menu-color-default-background-hover);
}

:host([disabled]) > #wrapper {
  cursor: initial;
  pointer-events: none;
  background-color: var(--sinch-comp-action-menu-color-disabled-background-initial);

  --sinch-global-color-text: var(--sinch-comp-action-menu-color-disabled-text-initial);
  --sinch-global-color-icon: var(--sinch-comp-action-menu-color-disabled-icon-initial);
}

#content {
  flex: 1;
  min-width: 0;

  --sinch-comp-text-font: var(--sinch-comp-action-menu-font-option);
}

::slotted(*) {
  margin-left: -6px;
}
</style>

<div id="wrapper">
  <slot name="icon"></slot>
  <sinch-text id="content" type="m" ellipsis></sinch-text>
</div>
