<sinch-alert [attr.type]="type" [attr.text]="text">
  <sinch-button
    *ngIf="hasClose"
    slot="close"
    size="s"
    (-click)="onCloseClick()"
    (-focus)="onCloseFocus()"
    (-blur)="onCloseBlur()"
  >
    <sinch-icon icons-version="2" name="fa-xmark" slot="icon"></sinch-icon>
  </sinch-button>
  <sinch-button
    *ngIf="hasAction"
    slot="action"
    type="cta-secondary"
    size="s"
    text="This is a Button!"
    (-click)="onButtonClick()"
    (-focus)="onButtonFocus()"
    (-blur)="onButtonBlur()"
  ></sinch-button>
</sinch-alert>
