<style>
:host {
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--sinch-comp-segment-color-default-border-initial);
  border-radius: var(--sinch-comp-segment-shape-radius);
  box-sizing: border-box;
  background-color: var(--sinch-comp-segment-color-default-background-initial);
  padding: 8px 0 16px;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  gap: 8px;
  padding: 0 24px;
}

#icon {
  --sinch-global-size-icon: 32px;
}

#caption {
  min-width: 1em;

  --sinch-comp-title-font: var(--sinch-comp-segment-font-size-m-title);
}

:host([size="l"]) #caption {
  --sinch-comp-title-font: var(--sinch-comp-segment-font-size-l-title);
}

:host([size="s"]) #caption {
  --sinch-comp-title-font: var(--sinch-comp-segment-font-size-s-title);
}

#info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  align-self: stretch;
}

#info.empty {
  display: none;
}

#preview {
  flex: 1;
  flex-basis: auto;
  height: 48px;
  min-width: 0;
  overflow: hidden;
  margin-left: 24px;
}

#preview.empty {
  display: none;
}

#info.empty + #collapse {
  margin-left: auto;
}

#collapse.empty {
  display: none;
}

#preview:not(.empty) + #info:not(.empty),
#preview:not(.empty) + #info.empty + #collapse:not(.empty) {
  margin-left: 24px;
}

#content-wrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 4px 24px;
}

#action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  padding: 0 24px;
}

#action.empty {
  display: none;
}

:host([collapsed]) :is(#content-wrapper, #action) {
  display: none;
}

:host([collapsed]) #wrapper {
  padding-bottom: 8px;
}

::slotted([slot="icon"]) {
  margin-right: 8px;
}
</style>

<div id="wrapper">
  <div id="header">
    <slot id="icon" name="icon"></slot>
    <sinch-title id="caption" level="3" type="m" ellipsis></sinch-title>
    <div id="preview">
      <slot name="preview"></slot>
    </div>
    <div id="info">
      <slot name="info"></slot>
    </div>
    <div id="collapse">
      <slot name="collapse"></slot>
    </div>
  </div>
  <div id="content-wrapper">
    <slot name="content"></slot>
  </div>
  <div id="action">
    <slot name="action"></slot>
  </div>
</div>
